[2020-12-15 13:42] SyfaCollins opened #35463 "Hello @SyfaCollins, congratulations! You've successfully submitted a pull request. 🎉"
the link to Slack ``https://firstcontributors.slack.com/join/shared_invite/zt-hfcq788y-QaXzXT5clBBWukXQyBhH4w#/`` is no longer active

[2020-12-15 19:25] AnjangMawar opened #35471 "Hello @zinebfadili, congratulations! You've successfully submitted a pull request. 🎉"
Hello @zinebfadili, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
    - Join our

[2020-12-17 21:27] khmrahman opened #35509 "Khm-2"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-12-17 21:29] khmrahman commented on #35509
![Uploading image.jpg…]()

[2020-12-17 21:31] khmrahman commented on #35509
If they are still up to going then I’ll just take them long time with this one.

[2020-12-18 07:10] maifeeulasad opened #35518 "Add git flow articles"
🐞 **Problem**

To article on `git flow`.

🎯 **Goal**

To get the most out of version controlling, learning `git flow` is necessary. So publish an article on `git flow`. How to install and use it.

💡 **Possible solutions**

We can write some articles ?!

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull r

[2020-12-18 13:35] harsh6768-svg commented on #35054
yes git remote add will be a useful one fir newcomers

[2020-12-18 23:08] #35471 closed

[2020-12-18 23:11] AnjangMawar opened #35535 "@mmoiyadi @Roshanjossey Will this still be valid since we are moving assets to a different repo now?"
@mmoiyadi @Roshanjossey Will this still be valid since we are moving assets to a different repo now?

_Originally posted by @sara-02 in https://github.com/firstcontributions/first-contributions/issues/30087#issuecomment-704270267_

[2020-12-20 22:47] Roshanjossey commented on #35054
@nikhilreddyx , @harsh6768-svg , did either of you have a problem where the remote wasn't added?

[2020-12-20 22:48] Roshanjossey commented on #35509
Not sure what's happening here. Please write in more detail if you want to report an issue.

[2020-12-20 22:48] #35509 closed

[2020-12-21 03:35] nikhilreddyx commented on #35054
Nope. Not really, the whole process was straight forward in this first contribution.
But I have faced some problems previously while pushing from locally.

Atleast we can mention there that remote adding is not necessary in a clone project.

[2020-12-21 05:36] harsh6768-svg commented on #35054
in the project it is necessary to mention that remote adding is not required in the clone projects

[2020-12-21 12:17] Roshanjossey commented on #35054
In that case, I feel like we're trying to solve a problem that doesn't exist.
This issue is about adding another step in the tutorial to add remote. From what I understand from your replies, you agree that such a step is not necessary.

I think this shouldn't be in the main tutorial. This is part of explaining what's happening when you go through each step. This should ideally exist as a separate

[2020-12-22 04:36] harsh6768-svg commented on #21159
Advanced Git version would be the best choice i guess

[2020-12-22 04:37] harsh6768-svg commented on #21159
@Roshanjossey  please make changes to the new name

[2020-12-22 04:39] harsh6768-svg commented on #21159
@Roshanjossey  advanced git version or techniques would be the best choice please try to change the name if possible because while reading the content name is not looking appropriate
thanks
@harsh6768-svg

[2020-12-22 04:43] harsh6768-svg commented on #34688
@Roshanjossey  if adding translation then we should look each and every language is important why only odiya translation
thanks
@harsh6768-svg

[2020-12-22 09:23] codeakki commented on #35399
i can fix this issue

[2020-12-22 10:37] BobinMathew commented on #35399
I gave a PR to them with my code, but they are not responding.

[2020-12-22 14:11] zchazc commented on #35399
Take a look at [Comment1](https://github.com/firstcontributions/first-contributions/issues/29034#issuecomment-662969843)&[Comment2](https://github.com/firstcontributions/first-contributions/issues/29034#issuecomment-663042669) maybe help you.

[2020-12-22 14:35] codeakki commented on #35399
okay i will try my best give me pr

[2020-12-22 14:36] codeakki commented on #35399
give me PR with ur code

[2020-12-22 15:17] BobinMathew commented on #35399
This makes sense

[2020-12-22 15:28] BobinMathew commented on #35399
I don't think their is any use in continuing this issue; so I am closing this.

If you want to continue to contribute check this repo [freeCodeCamp/how-to-contribute-to-open-source](https://github.com/freeCodeCamp/how-to-contribute-to-open-source)

[2020-12-22 15:28] #35399 closed

[2020-12-22 21:14] Roshanjossey commented on #35399
Thank you for for linking the comments here @zchazc 🖖

Basically, that's pretty much my thoughts on this issue. Also, I don't think the solution suggested (ctrl +f) has much to do with contributing to open source. It's something very specific to this repo. We should reduce things specific to this repo and have guidelines that helps with contributing to open source projects in general

[2020-12-24 10:57] ShadyZekry commented on #35518
I don't think this should be in the main tutorial. It is not necessary to learn Git flow to make your first open-source contribution.

[2020-12-24 11:31] maifeeulasad commented on #35518
@ShadyZekry but this is important, when you're trying to get the most out of it and make your work more readable to the most.

[2020-12-27 03:12] nikhilreddyx commented on #10823
okay, I'm on it.

[2020-12-27 19:32] #35535 closed

[2020-12-28 20:47] Roshanjossey commented on #35518
I agree with @ShadyZerky. It shouldn't be on the main tutorial. Main tutorial should be kept brief.

As this is an advanced topic, we could have it in [additional material](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/additional-material.md)

[2020-12-30 11:09] itayweb commented on #34826
Currently working on improving the Hebrew README file, I hope that's ok 😄

[2020-12-30 11:10] itayweb commented on #34826
Currently working on improving the Hebrew README file, I hope that's ok 😄

[2020-12-31 07:10] SoloNoah commented on #34826
fine by me :) though I'm still waiting on #34828 :(

[2021-01-02 17:44] itsdeekay commented on #35054
Hi Roshan

The purpose of remote add is to rebase the master branch so that any changes committed to main repository is in sync with local master. Rebasing should be added as a step. What's your view on this?

[2021-01-03 08:42] siddhanth339 commented on #34612
@Roshan the assets for the tutorials have been moved to https://github.com/firstcontributions/assets, right?
If yes, then the example you have given above should be:
<img style="left;" src="../assets/dt1-clonetodesktop.png" alt="clone this repository" />
⬇️
<img style="left;" src=**"https://github.com/firstcontributions/assets/blob/master/gui-tool-tutorials/github-desktop-old-version-tutorial/dt1-

[2021-01-03 10:34] dilipkn007 commented on #34612
review my PR @Roshanjossey

[2021-01-03 15:24] Sakhil2014 opened #35814 "Slack invite not working"
am getting the attached error while tring to join the slack team![Screenshot_20210103-205254.jpg](https://user-images.githubusercontent.com/59551125/103482250-d200c180-4e05-11eb-8b91-17fd5512c530.jpg)

[2021-01-03 21:39] capitaldoctor commented on #21159
"Advanced Reading".

[2021-01-03 23:10] caprica-Six commented on #21159
Advanced Git Tutorials

[2021-01-04 03:03] kronos2003 opened #35830 "Guys I want you all to check out our first git project at aloner pro-steno"

[2021-01-05 01:24] jyz0309 opened #35880 "Maybe we can add some open source projects as recommendations?"
🐞 **Problem**
Maybe we can add some open source projects **with active communities** as recommendations?

🎯 **Goal**
- To make contributor contribute their code better.
- And give them more choices.

💡 **Possible solutions**
- Add some open source projects such as CockroahDB, TiDB

[2021-01-05 02:25] bossedupbhudda20 opened #35881 "Repository"

[2021-01-05 06:57] Roshanjossey commented on #35054
@itsdeekay, is it [this](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/keeping-your-fork-synced-with-this-repository.md)? If so, I don't think it should be part of the main tutorial.

[2021-01-05 07:22] itsdeekay commented on #35054
Hi Roshan

Well this is part of main tutorial. This is mandatory to make your master
synch with remote so that you make a updated pull request. This may not be
applicable in your project but certainly required for other projects.

On Tue, Jan 5, 2021, 12:27 PM Roshan Jossy <notifications@github.com> wrote:

[2021-01-05 07:33] Roshanjossey commented on #35054
I disagree. Most projects don't mention this in their contributing guidelines.

[2021-01-05 07:35] itsdeekay commented on #35054
Yes, I agree. But that's good and recommended practice amd they assume you
know how to work with GIT.

On Tue, Jan 5, 2021, 1:03 PM Roshan Jossy <notifications@github.com> wrote:

[2021-01-05 07:43] Roshanjossey commented on #35054
It's a good practice, but it's not necessary. That's why it's not in the main tutorial but as an additional material. One design choice with the main tutorial i to keep it brief. (So somebody new can finish it in 5 minutes) That's why some details are not in the main tutorial. This worked really well for us.

[2021-01-05 07:45] #35881 closed

[2021-01-05 07:46] Roshanjossey commented on #35880
We have suggestions in firstcontributions.github.io

We link to our web app in multiple places too (Readme.md, pull request comments etc)

[2021-01-05 07:50] Roshanjossey commented on #30831
@sara-02, let's keep this pinned. Issues is one of the places people check when they run into problems. Also, I think having more visibility for this issue could result in us understanding more problems users are facing.

[2021-01-05 07:50] itsdeekay commented on #35054
Thank you for the clarification. But it's good to have the step to minimise
conflicts and a link as optional but recommended step can be added for
information

On Tue, Jan 5, 2021, 1:14 PM Roshan Jossy <notifications@github.com> wrote:

[2021-01-05 08:13] Roshanjossey opened #35892 "Design decisions for the tutorials (Please read this before suggesting changes)"
This is not an issue, but more of a documentation of the design choices we made for the tutorials and what we learned from community feedback.

### 1. Keep the tutorial short

I think this is one of the most important aspects that helped this project grow. Getting a pay-off within five minutes of learning something is remarkable. For brevity, we have to compromise on details. A lot of details are

[2021-01-05 08:41] #35830 closed

[2021-01-05 09:04] #34826 closed

[2021-01-05 16:35] shittusaheed01 commented on #35814
I was just about to make my first issue about this. I hope the maintainers fix this soon.

[2021-01-06 01:03] Roshanjossey commented on #34612
@dilipkn007, I've merged your pull request.

[2021-01-06 01:11] Roshanjossey commented on #34612
@siddhanth339 , I've set up GitHub pages for assets repo. By doing that, I can use asset urls for the hosted webpages.

Try using the following code in markdown.

`<img style="left;" src="https://firstcontributions.github.io/assets/gui-tool-tutorials/github-desktop-tutorial/dt1-clonetodesktop.png" alt="clone this repository" />`

`<img style="left;" src="https://github.com/firstcontributions/asset

[2021-01-06 02:09] jyz0309 commented on #35880
ok, I see it. thx

[2021-01-06 02:09] #35880 closed

[2021-01-06 06:58] siddhanth339 commented on #34612
The difference is that the first URL **https://firstcontributions.github.io/assets/gui-tool-tutorials/github-desktop-tutorial/dt1-clonetodesktop.png** points to the image whereas the second URL **https://github.com/firstcontributions/assets/blob/master/gui-tool-tutorials/github-desktop-old-version-tutorial/dt1-clonetodesktop.png** points to the GitHub page containing that image.
I understood my mi

[2021-01-06 08:50] Roshanjossey commented on #34612
@siddhanth339, you didn't make a mistake. You asked a question because you didn't understand something. You figured it out too. Your explanation is on point. You don't have to apologise for asking questions. Keep asking questions. That's how you learn.

Why have you used the first one if the assets are moved to https://github.com/firstcontributions/assets

I don't quite understand the question her

[2021-01-06 16:43] Roshanjossey commented on #35814
I've created a new link https://join.slack.com/t/firstcontributors/shared_invite/zt-kpbyrmkk-JDkRtchcvRvQ0qK4iPmyvA

[2021-01-07 05:42] ChinmayMhatre opened #35977 "Question / Merge conflicts during adding in main branch"
## I have a question regarding how the contributor.md of the repo is maintained.

when a new person adds his or her name in the repo  how are the conflicts managed if 2 people added the names on the same line?

[2021-01-07 08:04] Roshanjossey commented on #35977
Generally, I resolve conflicts manually

[2021-01-07 12:51] ChinmayMhatre commented on #35977
Oh okay , do you know if there is a work around?🤔

[2021-01-07 13:08] siddhanth339 commented on #34612
@Roshanjossey please review my Pull Request and let me know if there are any changes to be made.

[2021-01-07 13:33] Roshanjossey commented on #35977
I guess I could use @firstcontributions-bot to automate resolving merge conflicts. It would take some time to make those changes. Also, it's possible that things go wrong with it. I'm not thinking about spending time on it as long as I've time to fix it myself.

[2021-01-07 13:45] Roshanjossey commented on #34612
@siddhanth339, I think I didn't explain it well well.

I'd like the assets URLs in the format  https://firstcontributions.github.io/assets/<directory>/<directory>/<filename>

Please change from format `https://github.com/firstcontributions/assets/blob/master/<directory>/<directory>/<filename>?raw=true`. to

I get that both works and both are from the same repo (assets), but as the first is from we

[2021-01-07 17:55] ChinmayMhatre commented on #35977
Ok thanks!

[2021-01-07 20:33] Roshanjossey commented on #35977
Closing this as it's resolved.

[2021-01-07 20:33] #35977 closed

[2021-01-07 23:26] Adekunle27 opened #36002 "Slack Link not working"
The Slack Group Invite link is not working when it is clicked

[2021-01-08 10:10] Roshanjossey commented on #36002
Duplicate of #35814. Please read the comments there if you're interested in fixing this.

[2021-01-08 10:10] #36002 closed

[2021-01-08 10:24] Adekunle27 commented on #36002
It has been Fixed now

[2021-01-09 04:30] siddhanth339 commented on #34612
@Roshanjossey, the URLs have been changed to the required format: `https://firstcontributions.github.io/assets/<directory>/<directory>/<filename>`, please review my PR #36018.
Thanks.

[2021-01-09 04:40] siddhanth339 commented on #21159
Can it be "More on Git"?

[2021-01-09 07:32] Roshanjossey commented on #34612
Good job @siddhanth339. :vulcan_salute: I've merged your pull request

[2021-01-09 07:38] siddhanth339 commented on #34612
Thank you so much!!!

[2021-01-09 08:21] Roshanjossey commented on #34612
All asset URLs are changed to asset repo ones now. assets directory is deleted.

Closing this issue. I appreciate the help of everyone who participated :)

[2021-01-09 08:21] #34612 closed

[2021-01-09 08:28] Roshanjossey commented on #10499
Almost 7 months later, the size is 36MB now. I've moved assets to a different repo.
I'll do another reset. This time, we should be able to bring the total size under 10 MB

[2021-01-10 11:23] Roshanjossey commented on #35814
link is fixed in main readme with https://github.com/firstcontributions/first-contributions/pull/36003/. Feel free to fix other ones as well

[2021-01-11 05:57] shittusaheed01 commented on #35814
Alright, I have just joined the link. See you

[2021-01-12 05:21] siddhanth339 commented on #10823
@Roshanjossey please review my PR #36102.
I have added more precise details to the [undoing-a-commit.md](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/undoing-a-commit.md) file.
Thanks.

[2021-01-16 16:59] harshkumar02 commented on #35814
Hi, I would like to solve this issue.
I have cloned repository to my local PC.
Anyone kindly guide me up!

[2021-01-21 08:17] AkhilChoubey commented on #35054
kk

[2021-01-22 22:29] pavelpolcr opened #36360 "Link to slack group in bot automatic comment on first contribution is not active."
The link to slack group in bots automatic comment is not active. It needs to be renewed.

Original comment from bot below:

Hello @pavelpolcr, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c

[2021-01-22 22:37] #36360 closed

[2021-01-22 22:38] pavelpolcr commented on #36360
Realized later it has been already issued.

[2021-01-25 20:51] sahil-777 commented on #35814
[This link](https://firstcontributors.slack.com/join/shared_invite/zt-hfcq788y-QaXzXT5clBBWukXQyBhH4w#/) given by [first contributions bot](https://github.com/firstcontributions-bot) is **no longer active**.
Kindly change the link

[2021-01-26 14:41] YashPaste commented on #21159
I concur with Roshanjossey.
**Learn more**
would be the best choice.

[2021-01-26 17:10] harsh6768-svg commented on #21159
Learn more sounds nics it would be best @Roshanjossey

[2021-02-01 22:32] schmelto commented on #34676
Think this is a general problem with images in the mobile app. 🤔

[2021-02-02 18:10] DarinJoshua-dev opened #36613 "There is a missing Gitkraken image in readme.md #36613"
🐞 **Problem**
There is a missing Gitkraken image in the readme.md which should be changed to display the image

🎯 **Goal**
The change will enhance the Readme and make it more polished with no issues for the users

💡 **Possible solutions**
Adding the new link for the logo in <img> tag will solve issue

[2021-02-02 18:12] DarinJoshua-dev commented on #36613
Can I take up this issue? thank you

[2021-02-02 18:27] DarinJoshua-dev commented on #36613
I have solved the issue #36613 that was raised, please do the needful for my PR, thanks

[2021-02-05 09:17] Antonio-Riccelli opened #36683 "Small typo in resolving-merge-conflicts.md"
🐞 **Problem**
- Possible small typo at the end of line 11
![image](https://user-images.githubusercontent.com/39813213/107013752-0bc53f00-679b-11eb-9171-8262580dc276.png)

💡 **Possible solutions**
- "*either on*" should be "*either on**e***"

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and a

[2021-02-05 14:00] codassassin commented on #36683
I have solved the problem

[2021-02-05 20:32] mikemathu commented on #36683
Currently started working on this

- My final year Computer Science Project
- GSC 2021 Solution Challenge
- I am aslo learning on how to contribute to opensource projects

[2021-02-06 06:55] tgbaodeeptry opened #36709 "Link to join slack is not working"
🐞 **Problem**

When I click this button to join slack
![image](https://user-images.githubusercontent.com/21699486/107111449-cd0ab400-6882-11eb-8177-8b683d59077d.png)
It show me this result:
![image](https://user-images.githubusercontent.com/21699486/107111462-e3187480-6882-11eb-969b-eb53e81303e7.png)

🎯 **Goal**

Fix link Slack

[2021-02-07 12:23] Adrenalinerush07 commented on #35814
I want to resolve this issue.

[2021-02-07 13:53] sahil-777 commented on #35814
@Adrenalinerush07  Slack channel owner has that invite link, so we cant resolve it unless we have that correct invite link . Correct me if I'm wrong :)

[2021-02-07 13:58] Adrenalinerush07 commented on #35814
Yeah, I realized it, just looking for the first issue :)

[2021-02-07 20:15] noviicee commented on #36683
I am working on fixing the typo at the end of line-11.

[2021-02-08 19:26] AlkaDas991 commented on #34688
I think the issue is open .Can I work on this?

[2021-02-09 00:37] bmantoni opened #36764 "Build fails with error about vendors/modules.txt"
🐞 **Problem**
I followed the instructions to build on Linux, installed all the prerequisites, but I get an error about vendors/modules.txt
I also tried the builder docker image, but it just stops immediately after starting.

[2021-02-09 00:38] #36764 closed

[2021-02-10 07:28] armanasko12 commented on #36709
![Uploading HHHHHHHHHH.png…]()

[2021-02-12 13:31] hemraj4545 commented on #34688
@AlkaDas991 Yes, u can work on that.

[2021-02-13 16:55] caneslarry commented on #36709
on it!

[2021-02-13 22:31] hammyofmha opened #36859 "I don't know why but i have this error in Log :"
I don't know why but i have this error in Log :

2021-02-13 23:22:44  WARNING  mini_miio     Can't send get_properties [{'did': '374605862', 'siid': 3, 'piid': 1}]`
Perhaps, 374605862 is an old Gateway...

After when i try to pair a new device with :
[code]
i have this error maybe link to the first one.. :

2021-02-13 23:27:08  WARNING  mini_miio     Can't send miIO.zb_start_provision {'dev_type':

[2021-02-15 15:37] hammyofmha commented on #36859
2021-02-13 23:20:24  DEBUG    main          SysInfo: {'installation_type': 'Home Assistant Supervised', 'version': '2021.2.2', 'dev': False, 'hassio': True, 'virtualenv': False, 'python_version': '3.8.7', 'docker': True, 'arch': 'x86_64', 'os_name': 'Linux', 'os_version': '3.10.105', 'supervisor': '2021.01.7', 'host_os': None, 'docker_version': '18.09.8', 'chassis': None}
2021-02-13 23:20:24  DEBU

[2021-02-19 14:59] AmjadNoor opened #36958 "Discussion"
I have a discussion about languages which is linked by Indian flag.
[In this file](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md)  many languages are different added that are not used as a language in India. Then why you added it 😊.

[2021-02-23 00:23] ngammarano commented on #36958
[Here](https://en.wikipedia.org/wiki/Languages_with_official_status_in_India) is a list of official languages in India from Wikipedia.
In [that file](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md), the first languages in the table are Gujarati, Hindi, Marathi, Malayalam, Kannada, Telugu, Chhattisgarhi, Punjabi, Bengali and Tamil. All of these ar

[2021-02-24 02:25] AmjadNoor commented on #36958
I know you write but I don't talk about Indian languages.

In [that file](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md), I talking about other languages in the table which are not Indian languages then why you linked it to Indian flag.

[2021-02-25 06:36] Shubham-Vishwakarma commented on #36958
@ngammarano
When we click on other country flag like South Africa or Bangladesh, a direct translation page opens up in their local language.
But when we click on India flag a table is been showed up. Starting rows contains Indian languages but below rows contains other country flag and languages also.

@AmjadNoor Please correct me if you are talking about other than this

[2021-02-25 06:40] Shubham-Vishwakarma commented on #36958
A simple solution will be to create new Readme.ind.md file
Populate it only indian languages table and link it with Indian flag

[2021-02-25 12:50] AmjadNoor commented on #36958
Exactly I talk about this with @ngammarano

[2021-02-25 13:05] AmjadNoor commented on #36958
I updated it check it out #37102 . If you like then merge it please.....🙏🏻

[2021-02-25 14:05] ngammarano commented on #36958
@AmjadNoor I updated it without removing the other flags from the table in the [Translations.md file](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md).
#37103

[2021-02-25 14:31] AmjadNoor commented on #36958
Ok, No problem

[2021-02-27 09:20] #36683 closed

[2021-02-27 15:06] Magicianred opened #37139 "It's useful an Italian Translation?"
@Antonio-Riccelli and I have made an Italian translation and review of the repo, is it useful?

See PR #36977

🎯 **Goal**
Italian people can more confortable with info :)

Thanks

[2021-02-28 01:22] MrRayyanBorg opened #37144 "Slack Link is expired - Set a new link."
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-02-28 19:29] Roshanjossey commented on #36958
@AmjadNoor, @Shubham-Vishwakarma, think about the following question form a users perspective and answer it

User's mother-tongue is Kannada. They see Indian flag on main Readme and clicks on it. They see ` ಕನ್ನಡ ` and clicks on it to land on Kannada translation.
Does other links in Translations.md cause any problems to this flow?

[2021-03-01 02:02] AmjadNoor commented on #36958
[Answers](https://github.com/firstcontributions/first-contributions/pull/37103#issuecomment-787583147)

[2021-03-06 22:34] breezy-bodega commented on #30831
For some reason, I cannot find Contributors. md.
The location of this would be super helpful.

[2021-03-08 17:36] franzk commented on #35814
Slack Link is still not working.
This concerns :
- link provided by the bot on pull request
- link found in readme

invalid links examples :
- https://firstcontributors.slack.com/join/shared_invite/zt-hfcq788y-QaXzXT5clBBWukXQyBhH4w#/
- https://firstcontributors.slack.com/join/shared_invite/zt-kpbyrmkk-JDkRtchcvRvQ0qK4iPmyvA#/

Can you look at this ?
Thanks 👍

![slak_link_broken](https://user-imag

[2021-03-10 08:15] khalloof opened #37366 "Translation Unadequate"
🐞 **Problem**
The Arabic translation of README.md is not up-to-date, or maybe just not matching.

🎯 **Goal**
Disambiguating the description.

💡 **Possible solutions**
Removing the parts that are not available in the English origin, and fixing up the description, if needs updates.

[2021-03-10 08:16] 7assan-5alloof commented on #37366
@firstcontributions-bot

[2021-03-10 08:17] 7assan-5alloof commented on #37366
Add to this; this might apply to other translations that I don't understand.

[2021-03-10 11:39] macnick opened #37368 "Some links are not properly formatted"
I corrected them and created a PR solving this problem. Please merge ASAP or else there will be conflicts.

[2021-03-13 17:53] SDesires opened #37485 "Need To add Instructions for what to do when you make a mistake"
🐞 **Problem**
I attempted to add my name to the Contributor.md yesterday, and when I opened up the file in my Notepad++, it was in table tags and an HTML structure, so I added in my name the same way. An hour later, I learned that Markdown is the language of choice here, and that I pretty much messed up. I can admit that it was User (my) error.

However, there are no instructions on how you can go

[2021-03-13 18:55] Magi-3 opened #37487 "Learn"

[2021-03-14 04:08] Dalvin12d opened #37501 "Love this"
Y'all are amazing

[2021-03-14 04:08] Dalvin12d commented on #37501
Dewan I love you

[2021-03-14 08:01] gatesblood commented on #37144
Great man

[2021-03-14 13:01] pooyanmoghaddassi opened #37525 "Clubhaus"

[2021-03-15 00:27] BManess910 opened #37544 "iTokeNETx.io Open Source Pkg install (Rights Reserved)[Worldwide] v.1.0.1_2021"
$ pkg iTokeNETx
Checking availability of current mirror: ok
Get:1 https://10.via0.com/ipns/k51qzi5uqu5dg9vawh923wejqffxiu9bhqlze5f508msk0h7ylpac27fdgaskx stable InRelease
Get:2 https://ipfs.io/ipns/k51qzi5uqu5dj05z8mr958kwvrg7a0wqouj5nnoo5uqu1btnsljvpznfaav9nk unstable InRelease [14.0 kB]
Hit:3 https://grimler.se/game-packages-24 games InRelease
Hit:4 https://grimler.se/termux-root-packages-24 roo

[2021-03-15 09:01] Apper12 opened #37559 "Learning how"
What can we do here as a simple  cpp developer?

[2021-03-15 09:51] wachabaha commented on #37559
- - [ ] #> - `~~@![image](https://user-images.githubusercontent.com/69654154/111134960-6a40c280-857c-11eb-88cc-5d6b4eec0c70.jpeg)~~`

[2021-03-15 09:52] wachabaha commented on #37559
**_************_**

[2021-03-15 09:52] wachabaha commented on #37559
- - [ ] #> El gobi`~~@![image](https://user-images.githubusercontent.com/69654154/111135074-88a6be00-857c-11eb-8922-b927d325b868.jpeg)~~`

[2021-03-15 09:53] wachabaha commented on #37559
[](https://github.com/mozilla-mobile/firefox-ios/issues/8099)

[2021-03-15 16:21] Jamalam360 opened #37578 "README on GitHub Mobile App"
🐞 **Problem**
The README on the github mobile app (possibly also applies to the mobile website?) is not user-friendly as the change language flags don't appear in a horizontal 'table' pattern as on desktop, they appear in a single vertical column. This means you have to scroll for ages to reach the actual content.

🎯 **Goal**
More User-Friendly

[2021-03-16 04:14] prdarm opened #37597 "https://github.com/firstcontributions/first-contributions.git/ad/armsomboon2.com"

[2021-03-16 04:58] shreyaswadkar opened #37600 "New project"
Contributors @shreyaswadkar

[2021-03-16 05:48] abdoalfahad opened #37601 "alfahadpharma"

[2021-03-16 06:04] abdoalfahad commented on #37601
How i can develop my own business site by using github.com

[2021-03-16 13:30] MrrRax884 commented on #37601
‫wael

[2021-03-16 14:36] Dalvin12d opened #37625 "Are there any plans to support one of the encryption methods described in the ZIP format specification?"
Are there any plans to support one of the encryption methods described in the ZIP format specification?

The very common "Traditional PKWARE Encryption" would be a great addition, as it's part of the ZIP specification.

__Originally posted by @NikolaiRuhe in https://github.com/weichsel/ZIPFoundation/issues/25__

[2021-03-16 15:10] hsununu commented on #37559
我也想知道😫

[2021-03-16 15:25] MrrRax884 opened #37631 "Leave a comment (optionaly"

[2021-03-16 15:26] MrrRax884 opened #37633 "optionally"

[2021-03-16 15:30] MrrRax884 commented on #37633
L e ave  a comment

[2021-03-16 15:31] MrrRax884 commented on #37633
comment

[2021-03-16 15:38] PiterGolubev commented on #37633
No idea what to writе as a comment.

[2021-03-17 08:24] sjaiswal11 commented on #37633
(•‿•)

[2021-03-17 08:42] Lewis-eins commented on #37633
Hello

[2021-03-17 08:43] Lewis-eins commented on #37631
Hello

[2021-03-17 08:44] Lewis-eins commented on #37625
Ok

[2021-03-17 08:44] IJustWannaLearnSomething commented on #37631
Hello

[2021-03-17 08:45] Lewis-eins commented on #37601
Hello

[2021-03-17 08:45] Lewis-eins commented on #37600
Hello

[2021-03-17 08:46] Lewis-eins commented on #37578
Ok thanks

[2021-03-17 08:50] Lewis-eins commented on #37559
## - Well that's up to u appel12

[2021-03-17 15:28] Sharry0976 commented on #37633
Okay(comment left)

[2021-03-17 15:28] Sharry0976 commented on #37631
Fine

[2021-03-17 17:19] ShaanJ20 opened #37679 "Not user friendly flags for mobile"
So apparently when i clickon languages it shows like 3 flags for india and not even rightly cropped and a lot of pixel drop too

[2021-03-17 22:27] Zubair-Arain commented on #37631
Yo

[2021-03-18 00:14] AndrewDaGuy commented on #37679
I don't know indian or whatever there language is but it looks there different languages
<img width="193" alt="image" src="https://user-images.githubusercontent.com/66189242/111554753-d4c15080-877e-11eb-84b4-cd1178b241a8.png">

[2021-03-18 01:07] arche-dev opened #37691 "[deleted]"
_deleted_

[2021-03-18 02:41] neppug-Megvu2-wizqys commented on #37691
Hmm

[2021-03-18 02:42] neppug-Megvu2-wizqys opened #37694 "Sorry"

[2021-03-18 04:28] ShaanJ20 commented on #37679
![Screenshot_20210318-095802_GitHub.jpg](https://user-images.githubusercontent.com/75380879/111573402-7c1aa380-87d0-11eb-936d-25cec45d02d9.jpg)

Oh now i get it in here your ss it shows languages by it caus e i am an indian a i know that but in mobile version the languages beside the flag is not showing

[2021-03-18 04:39] AndrewDaGuy commented on #37679
Ah, githubs markdown rendering is a bit wacky

[2021-03-18 09:54] hsununu opened #37709 "錯誤 /誤觸 /對不起🧎‍♂️"

[2021-03-18 12:13] ShaanJ20 commented on #37679
yep fixing it right now

[2021-03-18 13:12] neppug-Megvu2-wizqys opened #37714 "will you merge it"
will you merge it

__Originally posted by @ShaanJ20 in https://github.com/firstcontributions/first-contributions/pull/37712#issuecomment-801912750__

[2021-03-18 13:14] nickcumm commented on #37714
I don’t know how yet. It’s still learning and watching videos on YouTube.

On Thu, Mar 18, 2021 at 5:13 AM neppug-Megvu2-wizqys <
***@***.***> wrote:

[2021-03-18 13:15] neppug-Megvu2-wizqys opened #37715 "translated the readme file into a new language bengali and fun fact bengali is the 7th most spoken language merge this if you fine this worth it"
translated the readme file into a new language bengali and fun fact bengali is the 7th most spoken language merge this if you fine this worth it

__Originally posted by @ShaanJ20 in https://github.com/firstcontributions/first-contributions/pull/37712__

[2021-03-18 14:07] Sridharth opened #37718 "File recovery"

[2021-03-18 14:27] iam-sarthak commented on #37631
Hello

[2021-03-19 01:59] mabelpaz377 opened #37735 "translations/README.beng.md"
translations/README

[2021-03-19 02:09] She-jan commented on #37714
I find that  no longer using a saved reply, I can delete it

[2021-03-19 02:09] She-jan commented on #37714
When commenting on an issue or pull request, you can add a saved reply that you've already set up. The saved reply can be the entire comment or if you want to customize it, you can add or delete content.

[2021-03-19 03:43] Apper12 commented on #37559
Nothing so special!
I think it will be solve, after a little search!

[2021-03-19 04:22] harshit7456 commented on #37559
Yes you will

[2021-03-19 04:41] Lewis-eins commented on #37559
Yeah sure

[2021-03-19 06:51] NIKU-SINGH commented on #36709
Hey, I am new to open-source, is this issue still open ?. If yes, then I would like to contribute to it. If someone could tell me what is to be done and how do I do it, that would be really helpful.

[2021-03-19 10:27] smesut4 commented on #36709
26172abd3c6b9a5d10d1a21de9574ef0270a606e

[2021-03-19 10:40] Diassico opened #37745 "Bonjour"
- - [ ] # Merci beaucoup de**@tivrfoa **

[2021-03-19 10:43] Diassico opened #37746 "Keninkela"
Bonjour à toutes les informations
Je ne peux pas faire une bonne journée
Je suis en train pour aller au premier # # ##### message

[2021-03-19 13:49] NIKU-SINGH commented on #36709
Hey, I did not get where are you refering me. Could you please tell me in brief?

[2021-03-20 10:05] Roshanjossey commented on #37501
Thank you @Dalvin12d, closing this as this is not an issue.

[2021-03-20 10:05] #37501 closed

[2021-03-20 10:05] Roshanjossey commented on #37746
Cool cool cool

[2021-03-20 10:05] #37746 closed

[2021-03-20 10:06] Roshanjossey commented on #37745
Je vous en prie @Diassico . Have a good one :)

[2021-03-20 10:06] #37745 closed

[2021-03-20 10:07] #37718 closed

[2021-03-20 10:08] #37709 closed

[2021-03-20 10:08] #37694 closed

[2021-03-20 10:08] #37633 closed

[2021-03-20 10:09] #37631 closed

[2021-03-20 10:09] #37601 closed

[2021-03-20 10:09] #37600 closed

[2021-03-20 10:09] #37597 closed

[2021-03-20 10:10] #37559 closed

[2021-03-20 10:10] #37525 closed

[2021-03-20 10:10] #37487 closed

[2021-03-20 11:06] Ashishy326 commented on #37487
Mute notification

On Sun, 14 Mar 2021, 12:26 am Magi-3, ***@***.***> wrote:

[2021-03-24 07:54] hombyk-nevzi2-dAxzyd opened #37879 "Contributors.md"

[2021-03-24 18:21] dvirberlo opened #37892 "Broken Links in all languages expect English at tree/master/translations/README.<>.md "Tutorials Using Other Tools" section"
Broken Links in all languages expect English.

🐞 **Problem**

at tree/master/translations/README.<>.md "Tutorials Using Other Tools" section:
"GitHub Desktop", "Visual Studio 2017" and "GitKraken" are broken.

🎯 **Goal**

Fix the links...

💡 **Possible solutions**

I am not sure what they supposed to be...
Is it just from "/blob/master/github-desktop-tutorial.md" to "blob/master/gui-tool-tutorials

[2021-03-27 23:18] ycl310 opened #37993 "403 not authorized?"
🐞 **Problem**

403 unauthorized when pushing to remote

[code]

[2021-03-27 23:24] ycl310 commented on #37993
Oh nvm I'm a dumba*s sorry

[2021-03-27 23:24] #37993 closed

[2021-03-28 04:12] parveshbarak commented on #37879
what is this issue exactly?

[2021-03-28 06:26] dustpan28645 commented on #37879
Be honest was right is right what's wrong is wrong !!!!💯
tipsAreWelcome
***in**filecoin f1j4oqo6bf5ru6fnpf2qqmyj3ecejtz7jjelgntva

[2021-03-29 13:45] gja88 opened #38026 "Subtitles for videos"

[2021-03-29 17:25] Dharmesh78 commented on #38026
Hey @gja88
 i would like to contribute to this issue.. could you please guide me where to start?
(i know how to make a pr)

[2021-03-29 20:32] dustpan28645 commented on #38026
Where ever your heart leads you to start

[2021-03-30 11:17] prdarm opened #38043 "armsomboon2@gmail.com"

[2021-03-30 11:42] div-dm17 commented on #38043
Can I Know the issue? @prdarm

[2021-04-01 22:53] bstuder99 opened #38120 "Make necessary changes and commit those changes"
This whole section should probably be rephrased. I've followed the instructions by adding my name to Contributors.md through Notepad, and saved. When I go back to Git and check the status, it hasn't detected any changes. I'm following the instructions as they are written so I don't understand why I'm unable to complete this step.

[2021-04-02 12:31] #36958 closed

[2021-04-02 16:53] vj-codes commented on #36709
@Roshanjossey @sara-02 this issue is duplicate of #35814 , should be closed

[2021-04-03 08:13] #36709 closed

[2021-04-04 03:59] armanasko12 commented on #36709
Hi

On Sat, Apr 3, 2021 at 1:13 PM Sarah Masud ***@***.***> wrote:

[2021-04-04 05:21] Dalvin12d opened #38175 "This is a beautiful app"

[2021-04-04 07:31] bhargavsonagara commented on #38175
what I need to do in this project and I am a beginner.

[2021-04-04 07:33] bhargavsonagara commented on #38026
I am a beginner and I want to work on it plz guide me !

[2021-04-04 16:10] HarshKumarSingh07 commented on #38120
I couldn't help in other ways except provide a systematic way to do that:
1 - Fork the original repo
2- Make a working directory on your system
3- Do git init.
4- git clone <link of the forked github >
5- Make the required changes in notepad on your machine and save it.
6- Add it to the staging areas
7- Commit the changes
8- Push it to the origin
Hope it helps.

[2021-04-07 07:50] Clnmt opened #38238 "Sorry, wrong place :("
Sorry, wrong place :(

[2021-04-07 07:53] #38238 closed

[2021-04-08 14:24] Roshanjossey commented on #38120
@bstuder99, are you using git command line?

[2021-04-08 14:24] #38043 closed

[2021-04-09 04:10] aldarmak opened #38283 "**Describe the Bug**"
**Describe the Bug**

i was trying to make changes to server setting when it randomly started crashing

**To Reproduce**

Open your user settings or open server setting in server

**Expected Behavior**

for it not to crash my discord

**Screenshots**

https://cdn.discordapp.com/attachments/280806472928198656/829891068588720188/unknown.png this is the only error i get when it crashes but i dont hav

[2021-04-09 04:12] aldarmak commented on #38283
Hi ,I really don't know how to use yen app please advice me thanks

[2021-04-09 10:02] manc-lx opened #38291 "Join slack team link doesn't work"
Join slack team link in the README.md doesn't work anymore.

Click the link, the opened page says:

[2021-04-09 10:07] manc-lx commented on #38291
I noticed there are some issues opened by others for the same issue, it seems this link is time limited. It will be great if this link can be updated automatically when it's becoming invalid.

[2021-04-10 00:50] guggerjulien commented on #38043
function OnStart()
{
    exists = app.FileExists( "/sdcard/wftest.txt" );
    app.ShowPopup( exists );
}

Le jeu. 8 avr. 2021 à 16:24, Roshan Jossy ***@***.***> a
écrit :

[2021-04-11 08:46] Roshanjossey commented on #38283
Closing this as it's a problem in another repo and there's already an issu on that repo

[2021-04-11 08:46] #38283 closed

[2021-04-13 16:42] piraces opened #38389 "IntelliJ IDEA logo URL is not longer valid"
The IntelliJ IDEA logo URL, used in the section _"Tutorials Using Other Tools"_ is not longer valid in the main `README.md` and almost all the translations.

🐞 **Problem**

To solve the problem of the IntelliJ IDEA logo not displaying correctly, I propose using an updated URL from [Wikimedia](https://upload.wikimedia.org/wikipedia/commons/9/9c/IntelliJ_IDEA_Icon.svg), as it appears the actual link

[2021-04-13 18:43] KidusMT commented on #38389
fixed this issue at this pull request -> https://github.com/firstcontributions/first-contributions/pull/38334

but no body seem to review and accept them.

[2021-04-16 20:14] AaronAven commented on #38389
I have fixed this issue too. I have submitted a pull request.
I have noticed that the GitKraken logo is missing on some of the README.md files too, so I will try and fix this in the very near future as well.

[2021-04-16 20:49] nguyenducsang commented on #38389
I r

[2021-04-16 20:54] AaronAven opened #38453 "GitKraken logo URL is no longer valid"
The GitKraken logo URL, used in the section "Tutorials Using Other Tools" is not longer valid in the main README.md and almost all the translations.

🐞 **Problem**
To solve the problem of the GitKraken logo not displaying correctly, I propose using an updated URL from a working GitKraken logo in one of the README files, as it appears the actual link is not longer available. [GitKraken logo](https:

[2021-04-16 20:55] nguyenducsang commented on #38453
Vào Th 7, 17 thg 4, 2021 lúc 03:54 AaronAven ***@***.***> đã
viết:

[2021-04-18 17:21] gja88 commented on #38026
Me also???

[2021-04-19 18:58] PANDATD opened #38507 "- Hey there is no link along the name"
- Hey there is no link along the name

_Originally posted by @PANDATD in https://github.com/firstcontributions/first-contributions/pull/38470#r616050867_

[2021-04-20 11:45] wilsonjuniordev opened #38519 "Broken Links in /translations/README.pt_br.md > "Tutoriais usando outras ferramentas" section"
Broken Links in /translations/README.pt_br.md > "Tutorials Using Other Tools" / "Tutoriais usando outras ferramentas" section.

🐞 **Problem**
At /translations/README.pt_br.md "Tutoriais usando outras ferramentas" section:
"GitHub Desktop", "Visual Studio 2017" and "GitKraken" are broken.

🎯 **Goal**
Fix the broken links...

💡 **Possible solutions**
The goal is to fix all broken links for the corre

[2021-04-20 11:46] wilsonjuniordev commented on #38519
I'm working on it

[2021-04-21 11:11] vijayjoshii opened #38552 "Slack Team Invitation link isn't working !"
🐞 **Problem**
Slack  Team joining link is not active. Unable to join.

🎯 **Goal**
It helps me & other Devs to join this slack community.

💡 **Possible solutions**
https://join.slack.com/t/firstcontributors/shared_invite/zt-mog68oas-dFnCPhZzJMd9A9dboJhi2g
Above one is the previous link which isn't working.
Plz Generate a new invitation link whoever created the previous one.

[2021-04-25 06:22] darshanr27 opened #38619 "Intellij IDEA logo is broken in the tutorial for tools section"
🐞 **Problem**
IntelliJ IDEA logo in the tools tutorial section is not available.

🎯 **Goal**
To change the logo source file url.

📋  **Steps to solve the problem**

*   Can analyse the Readme file.
*  Have to check present url, find what happend.
*  If source file is missing,  can add new one.

[2021-04-25 11:49] Charmayne7 commented on #10823
Hi, I will be adding a link to the list of Useful Links.

[2021-04-25 13:26] Charmayne7 commented on #10823
@Roshanjossey Addresses #38624
I have added a link to the Useful Links list.

Please review this, thanks.

[2021-04-25 19:54] AaronAven commented on #38619
I have already fixed this issue but the pull request hasn't been merged. Pull request no# is #38451.

[2021-04-26 03:44] siddhanth339 commented on #10823
@Roshanjossey there? Any update on my PR: https://github.com/firstcontributions/first-contributions/pull/36102

[2021-04-26 03:47] darshanr27 commented on #38619
:octocat: Checked the PR #38451.
:octocat: Issue #38619 is fixed if merged the PR.

[2021-04-26 20:36] chincholikarsalil opened #38651 "Typos (Extra spaces and/or Issues with bullets) in Contributors.md"
### Typos (Extra spaces and/or Issues with bullets) in [Contributors.md](https://github.com/firstcontributions/first-contributions/blob/master/Contributors.md)

🐞 **Problem**
- There are a lot of typos in the Contributors file.

🎯 **Goal**
- To clean the file and make its structure better

💡 **Possible solutions**
- While adding your details to the file before creating your pull request, use this

[2021-05-03 17:48] Priyanshu-official commented on #38619
@AaronAven I think you Should Close this issue if PR is already Made

[2021-05-07 22:14] Coolshreshtha commented on #38651
I fixed some issues that were easier to batch together. But other problems like angular brackets without a link are more time consuming. Is there a better way to manage entries and formatting in the file rather than just brute force?

[2021-05-07 22:28] Coolshreshtha commented on #38651
I'm not familiar with lint. Maybe others can speak more to that?

[2021-05-10 03:24] emekasage commented on #38651
Yes, I think lint would be best. Also, feel it should be specified in the README.md file the format contributors should use when adding their names. for example, "- [<your-name>](<your-github-url>)"

[2021-05-10 03:42] emekasage commented on #38651
I've just added a format in which contributors should add their names in the README.md file and also created a pull request. Hopefully, it gets aproved.

[2021-05-10 04:42] chincholikarsalil commented on #38651
@emekasage look at the changes in #38649
Can you suggest how to use lint here to avoid this manual work?

[2021-05-11 07:57] sambhavsaxena commented on #35814
I guess the slack link is expired or moved to a new place, you just have to ask the owner of your slack channel to get it done right

[2021-05-11 08:02] sambhavsaxena commented on #37714
sd

[2021-05-11 08:03] sambhavsaxena commented on #35892
i'd like to work on it if its still open?

[2021-05-12 07:55] vikas780 opened #39029 "join organization"
Hi, I am Vikas I want to know that is there any way to join this organization.
I would love to be part of this amazing organization.

[2021-05-13 16:56] ssing321 opened #39069 "🐞 **Problem*"

[2021-05-13 16:56] #39069 closed

[2021-05-13 16:57] ssing321 commented on #39069
Problem:
fatal: unable to access 'https://github.com/this-is-you/first-contributions.git/': The requested URL returned error: 403

Goal:
Unable to Push

[2021-05-17 15:44] wdebsqi opened #39185 "Outdated Polish translation"
🐞 **Problem**
Polish translation is outdated and contains old URLs in `Tutorials Using Other Tools` section.

🎯 **Goal**
Make the translation up-to-date with the original `README.md` file.

📋  **Steps to solve the problem**

* Delete the parts that were removed in the original `README.md` file.
* Add the parts that were added to the `README.md` file.
* Translate the new content.
* Update URLs in `

[2021-05-20 05:18] WeaponXII opened #39282 "Typos in Kiswahili Translation"
🐞 **Problem**

Typos in the Kiswahili translation of the README.

🎯 **Goal**

To make the Kiswahili translation as clear and accessible as possible and also make sure it closely follows the content in the other translations.

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Review the text for typos, duplicate words and unintentional deviations from the other translations.
*   Make

[2021-05-20 05:20] WeaponXII commented on #39282
#39279

[2021-05-26 22:51] IbrahimOlayinka opened #39444 "Invite to join organization"
Hello, my name is Ibrahim Olayinka and want to join this organization.

[2021-05-27 03:33] #39444 closed

[2021-05-29 12:41] ShimingLee commented on #39029
hi I am Li Shiming I Want to join this organization, I also want to be a part of this great organization

[2021-05-29 12:47] ShimingLee commented on #35814
All the above links are not available, can you provide a new one? @Roshanjossey

[2021-06-01 15:12] wohauser opened #39606 "Reflection error in eclipse 2021-03 org.python.pydev.core_8.1.0.202012051215"
🐞 **Problem**
At startup of eclipse following warning is reported:
initializer: Unexpected exception thrown while trying to use initializer service
java.lang.NullPointerException
	at java.base/java.util.Optional.orElseGet(Optional.java:369)
	at org.eclipse.osgi.internal.loader.buddy.GlobalPolicy.loadResource(GlobalPolicy.java:66)
	at org.eclipse.osgi.internal.loader.buddy.PolicyHandler.doBuddyReso

[2021-06-07 10:06] AnishDe12020 commented on #38552
Same here, I wish this is fixed ASAP

[2021-06-08 09:04] TheWitheredStriker opened #39878 "[Minor] The Galician language has the wrong flag."
Hi there. I'm mostly new to GitHub, so please excuse me for any potential beginner mistakes.

It's nothing too serious, just a minor little nitpick. The flag next to the entry for the Galician language (Galego) is the flag of Scotland. The actual flags of Galicia are here: https://en.wikipedia.org/wiki/Flag_of_Galicia

I'm not sure if the Scottish flag was placed there due to the Galician flags po

[2021-06-08 14:43] sameer882000 opened #39889 "Join organization."
Hi, I am Sameer Sinha. I wanted to know is there any method to join this organization?
I would to love to be part of @firstcontributions.

[2021-06-08 15:43] Ayan-thecodeking opened #39892 "added my username in list"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-06-09 09:49] TOMOYA-githu opened #39918 "xpub6D7Zoyen6yMrEbB87D3gWtLU6gSJ1dfhnywWS6TZRrup2Bctx8EoGTtuSyj21TzgkLY4PXaWVemFPxSvAz1kNKgKK6Cnnkt2AVwkntCQgzH"

[2021-06-09 11:23] l1lpj26 opened #39922 "socket"

[2021-06-09 12:35] Legit-ch opened #39925 "Decisions"
If elses and what nots

[2021-06-09 12:45] dineshkumar12004 commented on #39925
can you be more specific

[2021-06-09 13:31] dineshkumar12004 commented on #39878
I made a pull request for this 👍

[2021-06-09 13:33] dineshkumar12004 commented on #39878
I made a pull request for this 👍

[2021-06-09 13:44] TheWitheredStriker commented on #39878
Thank you! Appreciate it

[2021-06-09 16:56] soulhope opened #39940 "Le phir de but kewal saatth"

[2021-06-09 17:37] nedmah077 opened #39941 "Pic"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-06-09 22:15] mrad00 commented on #39941
pic

[2021-06-09 22:27] mrad00 opened #39957 "can't open files"
any file that I download on my phone

[2021-06-09 22:28] mrad00 commented on #39957
pist of

[2021-06-09 22:35] Ccode-lang commented on #39957
What files can't you open.

[2021-06-09 22:44] Ccode-lang commented on #39941
?????????
No issue?

[2021-06-09 23:28] McLovinSmoki opened #39960 "Smoki"

[2021-06-10 10:06] Njuguna6 opened #39978 "Money orders"

[2021-06-10 13:29] wjahoward commented on #38619
This issue has been fixed. Pull request no# is #39986.

[2021-06-10 14:51] darshanr27 commented on #38619
PR's #39986 and #38451 fixing the issue #38619.

[2021-06-10 14:51] #38619 closed

[2021-06-10 18:35] os3albert opened #39995 "i'm just doing test trying to learn how git works"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-06-11 14:57] 1bsilver opened #40032 "So this is how you add an issue?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-06-11 16:42] Ccode-lang commented on #40032
Yes good job! 😀

[2021-06-12 11:29] manish-baghel2 commented on #40032
thanks i will try again to contribute. it wasnt fun last time

[2021-06-14 07:41] numberonecass opened #40118 "Unable to locate fork button"
So I have looked everywhere and unable to locate the fork button. Feeling out of my element any assistance? Also is this android friendly or do you have to have a desktop?

[2021-06-14 14:44] cassiel257 commented on #38552
Me three! I've been trying to join for a few months now. I'd be willing to take on the job of updating the invite links, but there hasn't been much communication on that front. Maybe the group is no longer active?

[2021-06-14 16:41] vijayjoshii commented on #38552
Yes I also think so.

[2021-06-16 07:20] #39889 closed

[2021-06-16 18:38] includestdlibrary commented on #40118
Hey! , first of all thank you that you are considering to contribute to the open source community! If you are opening Github in PC you will get the fork button here. You will see like this:
![Fork on desktop](https://user-images.githubusercontent.com/72812470/122273723-6320ac00-ceff-11eb-84bc-fe0f039a76fa.PNG)
But if you are opening in your phone best way is that you open it in the desktop mode. :

[2021-06-18 02:29] #37691 closed

[2021-06-19 18:41] yusufadell opened #40257 "IntelliJ IDEA logo in the main README.md file"
In the main README.md file the IntelliJ IDEA logo in missed

replace the SVG logo with a valid URL in github-windows-intellij-tutorial.md and the main README.md
(Due to copyrights)

I can make it in the folder with  github-windows-intellij-tutorial.md

[2021-06-19 21:01] cubthemagiclion opened #40261 "Link of the Slack Group expired"
I tried to join the slack group from README.md but it seems like the link has expired.
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of

[2021-06-21 06:20] Sajal193 commented on #40118
![image](https://user-images.githubusercontent.com/74758269/122715595-b9d31080-d286-11eb-8f95-037ba42ee3d5.png)

On the top left corner , you'll find the fork button from where you can fork the repository and then clone it to your local machine.

[2021-06-21 06:22] Sajal193 commented on #40118
My bad!!!! top right corner.
It'll be better to use desktop for this rather than working on android or iOS, reason being the page been accessible and more user friendly.

[2021-06-21 06:31] Sajal193 commented on #40257
Hi can I work on this!!

[2021-06-22 13:33] 4neesc0des opened #40326 "One click scroll button"
Hi, I want to add a feature to your website so by clicking on that button user can reach the home page.

 **Feature**
With one click user will reach home.

💡 **Possible solutions**
<div class="scroll">
        <a href="#home" class="scroll-link top-link">
            <span> ^ </span>
        </a>
</div>

📋  **Steps to solve the problem**
with some JavaScript code and CSS styling, it will look good

[2021-06-25 14:26] #39978 closed

[2021-06-25 14:26] #39960 closed

[2021-06-25 14:26] #39941 closed

[2021-06-25 14:27] #39940 closed

[2021-06-25 16:37] #40032 closed

[2021-06-28 06:50] youngjinmo opened #40444 "Add Github-CLI Tutorial"
I think we need Github CLI tutorial.
I will contribute by making a tutorial.

[2021-06-28 06:52] #40444 closed

[2021-06-30 17:29] inclinedadarsh commented on #39995
Close this issue if you're done. Clearing the clutter will help beginners to find issues.

[2021-06-30 17:35] inclinedadarsh commented on #40257
I can do this.

[2021-07-02 14:47] TheWitheredStriker commented on #39878
Weird, I'm pretty sure it still displays the Scottish flag. Is this just me, or is it so for others as well?

[2021-07-02 14:48] dineshkumar12004 commented on #39878
The maintainer hasn't merged my request yet. so the bug still persist.

[2021-07-02 17:57] EricNeves opened #40584 "Modify Images, files not found in Portuguese language"
Change Icon

🐞 **Images not found in Portuguese language**
 I will change the image link, modifying it to the correct url - https://github.com/firstcontributions/first-contributions/blob/master/translations/README.pt_br.md & https://github.com/firstcontributions/first-contributions/blob/master/gui-tool-tutorials/translations/github-windows-intellij-tutorial.pt_br.md

🎯 **Fix image address**
Errors

[2021-07-02 21:20] #38507 closed

[2021-07-06 07:27] youngjinmo commented on #35400
I did it. Review my pr.
https://github.com/firstcontributions/first-contributions/pull/40471

[2021-07-06 07:41] YosephKS commented on #35400
@youngjinmo cool let me have a quick look at it

[2021-07-07 09:46] youngjinmo commented on #35400
I've completed all the updates. Please give me a final review :)

[2021-07-07 14:57] YosephKS commented on #35400
@Roshanjossey feel free to merge this PR https://github.com/firstcontributions/first-contributions/pull/40471, it looks good and I already apporve it, feel free to give any further comments as well

[2021-07-07 15:41] #40584 closed

[2021-07-08 12:58] navjyot18 commented on #40326
can I work on this feature ?

[2021-07-13 16:21] sathishkumar-manogaran opened #40878 "Changing Tamil Slang into more Convenient way"
Changing Tamil Slang into more Convenient way

🐞 **Problem**
The current Tamil document seems like auto translated. It is very difficult for the first time contributor to understand.

🎯 **Goal**
Change few lines into more convenient way, more readable and easy to understand.
Easy to understand is our goal right.

📋  **Steps to solve the problem**

*   I have modified the README.ta.md file to solve

[2021-07-13 16:26] sathishkumar-manogaran commented on #40878
Opened Pull Request:
https://github.com/firstcontributions/first-contributions/pull/40879

[2021-07-16 23:53] allan-anilson commented on #40118
I suggest you close this issue if you're done. Clearing the clutter will help beginners like me to find issues that are still open.😄

[2021-07-17 00:09] allan-anilson opened #40979 "Why can't I create a new branch to the master branch?"
🐞Not able to create new branches to the master branch
<!--- Is it a feature or a bug? 😕

[2021-07-18 00:34] #40979 closed

[2021-07-19 13:47] Mihir-Kanojia opened #41026 "Just testing"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-07-19 13:47] #41026 closed

[2021-07-19 18:36] sunillshastry opened #41033 "Join Slack team link not working."
Fix the _Join slack team_ link on the `README.md` file.

🐞 **Problem**
The link provided in the `README.md` file, **Join slack team**, does not work. When clicked it redirects to a website with the message _"This link is no longer active"_.

🎯 **Goal**
Create a new working link and make sure to update the `README.md` file and every other file/resource where the link was shared or posted.

💡 **Poss

[2021-07-21 09:41] dili021 commented on #40118
You can't fork on mobile. Just found this out yesterday.

[2021-07-24 23:36] #40878 closed

[2021-07-30 08:10] Ash-KODES commented on #41033
I noticed there are some issues opened by others for the same issue, it seems this link is time limited. It will be great if this link can be updated automatically when it's becoming invalid.

owner have to refresh the link and update the same in README.md

[2021-08-02 21:11] #39282 closed

[2021-08-02 21:40] #38651 closed

[2021-08-05 17:49] Sergih28 opened #41431 "Stalled Pull Requests"
There are a lot of **stalled Pull Requests** to add a name in the contributors list.

🐞 **Problem**

These stalled Pull Requests happen due to **people doing more things** than just adding their name, or **not doing it in the proper format**.
The thing is, if you do the steps properly, a bot accepts and merges the PR, so we need to do something with all these stalled PRs related to this problem. E

[2021-08-05 17:50] Sergih28 commented on #41431
I can start working on the first step to solve the problem, but not the second one.

[2021-08-06 05:44] TheRealRedRiver559 opened #41440 "Test"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-08-06 05:44] TheRealRedRiver559 commented on #41440
Hello!

[2021-08-06 05:44] #41440 closed

[2021-08-10 10:56] Jamalam360 commented on #37578
As far as I can tell this is fixed, at least on my device. Closing.

[2021-08-10 10:56] #37578 closed

[2021-08-11 09:35] soulhope opened #41543 "Connect"
Connect

__Originally posted by @soulhope in https://github.com/devtestnet/hello-world/issues/1__

[2021-08-16 17:21] Nileshyadav735 commented on #40326
I would like to contribute to this issue and ready with resolution allow to work on it

[2021-08-17 04:39] Kaphleamrit opened #41672 "slack joining link expired"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-08-17 06:59] mshalmanov opened #41675 "Links in the flie translations/README.ru.md not work."
🐞 **Problem**
In the flie translations/README.ru.md link for Использование других инструментов not work
Example:
Visual Studio Code (https://github.com/firstcontributions/first-contributions/blob/master/translations/gui-tool-tutorials/github-windows-vs-code-tutorial.md) and other.

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started

[2021-08-19 23:19] Nisarg6502 opened #41742 "Improper linking in Contributors.md"
### Improper Linking in Contributors.md
🐞 **Problem**

There are a few instances where proper linking hasn't been done in the **Contributors.md** file.
Sometimes a space is being given between the _inline link [ ]_ and the _paranthesis ( )_.
Also, some users haven't created a proper link and have just typed their names.
<br>
![image of issue](https://user-images.githubusercontent.com/83082281/1301

[2021-08-21 12:04] Ayesha-987 commented on #41742
Hey!
Can you explain this "Add a reminder/proper procedure of linking in the README.md for new user."?

[2021-08-21 21:46] Nisarg6502 commented on #41742
Hey!
What I meant was most people aren't familiar with Markdown. If a few lines of guide could be added in the README.md teaching how to make links. It would solve most of the issue.
I hope you got it.

[2021-08-22 23:29] mohantechnology commented on #41675
I will try to fix it by  manually replacing the incorrect link with the link working link used in main page "https://github.com/firstcontributions/first-contributions"

[2021-08-23 11:05] shubhamvora05 commented on #41742
I have solved the issue and made a pull request. now, how to close this issue?

[2021-08-23 12:03] Nisarg6502 commented on #41742
@shubhamvora05 I will close the issue. Thanks!

[2021-08-23 12:03] #41742 closed

[2021-08-23 12:23] shubhamvora05 commented on #41742
hey bro! are you an open-source developer or contributor? I need some help. Please.

[2021-08-24 14:57] TomerPacific commented on #41672
This issue has already been referenced in Issue #40261, so I suggest closing this one.

[2021-08-24 17:53] hey-sameer commented on #41431
@Sergih28 i agree with you. We should remove the prs related to adding name to contributors list and ask users to do this process again.
I observed and as you stated these prs are stalled because of mostly 2 reason:
1) People doing more than just adding there name.
2) Adding name to the last of the list.

We can put a note in the Readme.md file regarding the above 2 points so that bots will be abl

[2021-08-25 01:26] Edivansanto5 commented on #39957
você quer abrir arquivos do git para seu celular e isso?

[2021-08-28 13:24] abj-paul opened #41965 "README.md needs to be updated (Github update - Authentication required)"
The README.md guide needs to be updated. We need to `git remote set-url origin https://<authentication code>@github.com/<account name>/first-contributions/` before pushing.

[2021-08-28 16:42] onkarpandit commented on #41965
I would like to work on this.

[2021-08-28 17:31] onkarpandit commented on #41965
I have created a PR for this
https://github.com/firstcontributions/first-contributions/pull/41974

[2021-08-29 13:40] aniket-24 commented on #40261
Please assign me this issue @cubthemagiclion @TomerPacific

[2021-08-29 13:41] aniket-24 commented on #39892
Please assign me this issue @Ayan-thecodeking

[2021-08-29 18:02] dhivyasreedhar commented on #35814
Hi, All the links are not working. If a new working link is provided it can be updated.

[2021-08-30 01:59] Ayan-thecodeking commented on #39892
Msg me on discord @aniket-24

[2021-08-30 14:12] code978 commented on #38026
@gja88

[2021-09-02 10:28] song-fangzhen opened #42104 "Ask for updating the slack link"
🐞 **Problem**

The `slack` link is no more reachable.

🎯 **Goal**

Any newbie like me is eager to join a group.

💡 **Possible solutions**

Maybe add another group link?

[2021-09-03 06:52] neppug-Megvu2-wizqys opened #42132 "🎉🎉🎉"

[2021-09-03 13:13] ayangupta9 commented on #40326
@Nileshyadav735 @navjyot18  Hi! Were your PRs merged?

[2021-09-04 09:24] tAnboyy commented on #35814
Is this repo not merging PRs?
I'm new to this and I'm confused why there are so many pending PRs.

[2021-09-04 09:48] #42132 closed

[2021-09-04 12:06] Roshanjossey commented on #35814
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:06] #35814 closed

[2021-09-04 12:06] Roshanjossey commented on #42104
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:06] #42104 closed

[2021-09-04 12:07] Roshanjossey commented on #40261
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:07] #40261 closed

[2021-09-04 12:07] Roshanjossey commented on #41672
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:07] #41672 closed

[2021-09-04 12:07] Roshanjossey commented on #41033
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:07] #41033 closed

[2021-09-04 12:07] Roshanjossey commented on #38552
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:07] #38552 closed

[2021-09-04 12:08] Roshanjossey commented on #37144
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:08] #37144 closed

[2021-09-04 12:09] Roshanjossey commented on #38291
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:09] #38291 closed

[2021-09-04 12:09] Roshanjossey commented on #35228
I've updated the link now https://github.com/firstcontributions/first-contributions/commit/01294fe68857e42ad7182f1d8e5e0acfc95d260c

[2021-09-04 12:09] #35228 closed

[2021-09-04 12:10] #39892 closed

[2021-09-04 12:10] #41543 closed

[2021-09-04 12:10] #39995 closed

[2021-09-04 12:10] #39925 closed

[2021-09-04 12:11] #39029 closed

[2021-09-04 12:11] #37714 closed

[2021-09-04 12:18] Roshanjossey commented on #40326
Please open this in website repo https://github.com/firstcontributions/firstcontributions.github.io

[2021-09-04 12:18] #40326 closed

[2021-09-04 12:18] #39957 closed

[2021-09-04 12:21] Roshanjossey commented on #41965
@abj-paul, this is not the best way to handle authentication. Best way is to set SSH keys for authentication. This shouldn't be part of the tutorial

[2021-09-04 12:21] #41965 closed

[2021-09-04 12:22] Roshanjossey commented on #37368
This is not a bug. Please read https://github.com/firstcontributions/first-contributions/issues/35892

[2021-09-04 12:22] #37368 closed

[2021-09-04 12:22] Roshanjossey commented on #40118
Closing this as it's resolved

[2021-09-04 12:22] #40118 closed

[2021-09-11 00:53] Selharem opened #42394 "The Arabic Language has the wrong flag"
Hi there.

It's nothing too serious, just a minor little nitpick. The flag next to the entry for the Arabic language is the flag of Argentina. The actual flag of Arabic language is are here: https://en.wikipedia.org/wiki/Arab_League

.

[2021-09-11 02:47] RituSingh2002 opened #42395 "🐱‍🚀 Problem # Slack link is not working . 🎯 Goal provide a valid slack link I want to fix this bug"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-09-11 14:33] RituSingh2002 commented on #42395
In Redmi.md file 👉# Join us on Slack . Is not working @Roshanjossey

[2021-09-11 17:46] Selharem commented on #42394
The flag pointing to Arabic is Argentina, as in the image bellow :

<img width="277" alt="arabic" src="https://user-images.githubusercontent.com/44909504/132956563-bf80460d-2680-43e8-a377-58498e368a6b.png">

It should be  the flag of the Arabic league :

![Flag_of_the_Arab_League svg](https://user-images.githubusercontent.com/44909504/132956652-db1e9902-5e3e-4f18-b875-2da6356a3823.png)

https://en

[2021-09-11 18:12] Roshanjossey commented on #42395
When I checked now, both links were working, but if you're sure that one of the links is not working, create a pull request with the fix.

[2021-09-11 18:15] Roshanjossey commented on #42394
Okay, I got it now. Earlier, I thought you were referring to the flags in Readme.md. Please open a pull request to fix it if you are interested

[2021-09-11 20:53] Selharem commented on #42394
Ok I'll make a pull request for this !

[2021-09-11 21:56] Roshanjossey commented on #39878
@dineshkumar12004's pull request was merged, but it only changed it in Readme.md. I've changed it in Translations.md too.

Closing this as it's resolved.

[2021-09-11 21:56] #39878 closed

[2021-09-11 21:57] Roshanjossey commented on #39606
This error has nothing to do with this repo. closing this

[2021-09-11 21:57] #39606 closed

[2021-09-12 18:17] SURAJITSHAW commented on #37715
Hello I 'm bengali and I want my first contribution with this. can I work on it ?

[2021-09-13 11:17] RituSingh2002 commented on #42395
I will fix it but could you send slack link of First contributions group

[2021-09-13 14:09] imparag28 commented on #38026
i would like to contribute to this issue .

[2021-09-19 04:35] aaditya9899 commented on #42394
Hey I have fixed this issue yesterday please see my pull request

[2021-09-20 04:13] mshalmanov commented on #41675
Works. Thanks!

[2021-09-20 04:13] #41675 closed

[2021-09-21 17:31] Roshanjossey commented on #42395
https://join.slack.com/t/firstcontributors/shared_invite/zt-vchl8cde-S0KstI_jyCcGEEj7rSTQiA

[2021-09-21 17:36] Roshanjossey commented on #42394
PR is merged. Closing

[2021-09-21 17:36] #42394 closed

[2021-09-22 09:09] diyelectromusic commented on #30831
When running through the Github Desktop GUI tutorial, I encountered the "what are you planning to do with this fork" and didn't know what to select.  I cancelled that and then the rest of the tutorial worked fine - but I still don't know which of the two options it chose or the implications of that choice (I'm working on the assuming it chose "contribute to the parent project").

Many thanks for w

[2021-09-22 10:26] nishant3721 commented on #40257
@yusufadell Can i work on it ?

[2021-09-29 06:02] akaashsaxena2897 commented on #38453
Hi, I can work on this problem for you. Can I give it a go?

[2021-09-29 09:27] Rutumbhara opened #42907 "Lists in HTML-5"
🐞 **Problem**  - Mention the different types of list available in HTML5.

🎯 **Goal** - To get the different types of list one can use in HTML.

📋  **Steps to solve the problem** - Make a documentation of all the lists and submit.

*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Celebrate your contribution to this pro

[2021-09-29 09:30] Rutumbhara commented on #42907
/assign

[2021-09-30 08:48] lucifertrj opened #42961 "To check and keep track of tracking branch"
To check all the branches on both local and remote repos after cloning.
update the README

[2021-09-30 14:08] ritikranjan12 commented on #42907
[List in HTML5.docx](https://github.com/firstcontributions/first-contributions/files/7260070/List.in.HTML5.docx)
Addresses #42907

[2021-09-30 18:02] SampathViswanadha commented on #42907
[Lists_In_HTML.docx](https://github.com/firstcontributions/first-contributions/files/7261594/Lists_In_HTML.docx)
Addresses #42954

[2021-09-30 18:32] ritikranjan12 commented on #34688
Address #42994

[2021-09-30 20:36] RohanSahana commented on #42907
[List in HTML5.docx](https://github.com/firstcontributions/first-contributions/files/7262348/List.in.HTML5.docx)
Addresses #42954

[2021-10-01 06:20] AR10X commented on #41431
@Sergih28  Considering @hey-sameer suggestion to add a note in Readme.md file, I added format for adding the name and GitHub profile link in Readme.md file. PR #43051

[2021-10-01 14:46] Evensusu opened #43094 "I cannot git push origin and receiver this error"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

evansoo@Evans-MBP fir

[2021-10-01 17:23] PriyeshKant commented on #42961
I have raised a PR, kindly check

[2021-10-02 08:11] evansusu opened #43200 "Working n this"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

Would like to wr=ork

[2021-10-03 06:48] luharine commented on #42907
[lists in html.docx](https://github.com/firstcontributions/first-contributions/files/7272834/lists.in.html.docx)
addresses#42954

[2021-10-05 00:12] spao234 commented on #42907
Addresses #4295
[List Types HTML 5.docx](https://github.com/firstcontributions/first-contributions/files/7281941/List.Types.HTML.5.docx)
4

[2021-10-05 19:30] TomerPacific commented on #43200
@evansusu, what exactly is your problem? You have not detailed anything in this issue.

[2021-10-06 13:13] #42907 closed

[2021-10-07 04:03] AR10X commented on #43094
https://github.com/trilbymedia/grav-plugin-git-sync/issues/39#issuecomment-517804081 Try this

[2021-10-08 05:46] archihalder commented on #43094
[Click here](https://stackoverflow.com/questions/47465644/github-remote-permission-denied)
I hope this helps

[2021-10-13 15:36] ashishlamsal opened #43916 "Outdated Nepali (नेपाली) Translation with broken link"
🐞 **Problem**
Nepali (नेपाली) translation is outdated and contains many broken URLs.

🎯 **Goal**
Make the translation up-to-date with the original README.md file.

💡 **Possible solutions**
Update its translation and fix broken links by the help of original README.md file.

📋  **Steps to solve the problem**
 - Translate the original README.md file with new content.
 - Update URLs.

[2021-10-22 01:11] bendres97 opened #44263 "Hacktoberfest Tags Missing"
Per Digital Ocean: _Add the ‘hacktoberfest’ topic to the repository to opt-in the whole repository, or the ‘hacktoberfest-accepted’ label to the PR to opt-in just the PR._

Please add this tag to the repo so that these pull requests count for 2021

[2021-10-25 04:15] Meharab opened #44427 "Gitkraken image is broken in bangla section"
🐞 **Problem**

image link is broken
🎯 **Goal**

user can't see the tools logo
💡 **Possible solutions**

proper image link may do the job
📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pul

[2021-10-26 11:04] MungaiKeren opened #44497 "Make the nav bar logos colorful on hover"
🐞 **Problem**

Currently, the navbar has the slack, youtube, Twitter and GitHub logos and on hover, a greyish colour appears on them.

Well, the greyish colour doesn't seem appealing or rather it's too dull.

UI / UX

💡 **Possible solutions**

- On hover, the logos should appear coloured as is their official logos.
- The grey hover could be retained or not.
- Before hovering, the logos should be i

[2021-10-31 11:34] painted-shrimp commented on #44497
Hello, can you assign me to this issue? I am interested in working on it

[2021-10-31 12:18] suvvrat commented on #44497
Hi, I'd like to work upon this issue & fix it. A simple hover::after command can fix this, assign me this issue if that's alright. Thanks.

[2021-11-15 16:56] gssakash commented on #44497
Hi, has this issue been taken yet? It would be great if I could work on it.

[2021-11-16 16:44] deepmalamittal opened #45163 "Hindi (हिन्दी) Translation contains broken links"
Hindi (हिन्दी) Translation contains broken links

🐞 **Problem**
At /translations/README.hi.md "अन्य टूल का उपयोग करके ट्यूटोरियल" section:
"GitHub Desktop", "Visual Studio 2017" , "GitKraken" ,"Visual Studio Code" and "Atlassian Sourcetree" are broken.

🎯 **Goal**
The goal is to fix all broken links for the correct redirect.

💡 **Possible solutions**
Fix broken links by updating README.hi.md

📋  *

[2021-11-16 16:44] deepmalamittal commented on #45163
Have started working on it

[2021-11-16 16:56] deepmalamittal commented on #45163
Please review pull request : https://github.com/firstcontributions/first-contributions/pull/45164

[2021-11-18 03:00] Roshanbarnwal opened #45207 "Issue section is where we can suggest something or raise our queries to the owner of the community,right?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2021-11-22 10:50] pariksh1th commented on #45207
I have started working on a react app.

[2021-11-22 10:53] pariksh1th commented on #45207
Addresses #45207

[2021-11-24 14:27] OsaidAlhomedy opened #45360 "Arabic translations README needs the rest of the documentations and needs some edits"
🐞 **Problem**

The Arabic  translation required some editing

🎯 **Goal**

For Arabic people to contribute to the open-source community

💡 **Possible solutions**

Added the translations in the following PR
[https://github.com/firstcontributions/first-contributions/pull/45359](https://github.com/firstcontributions/first-contributions/pull/45359)

📋  **Steps to solve the problem**

*   Comment below

[2021-12-02 05:05] Jyoti-prakash-rout opened #45587 "Please invite me to the GitHub Organization"
I'm a Web Dev enthusiast & a junior pursuing my Bachelors in Computer Science & Engineering. I'm interested in Web Devlopment, Machine Learning & DevOps & I enjoy learning new things & stuff as well as I'm a Frontend Devloper with experience building Dynamic & Static Web pages. I am always interested in learning the answers to how, why, and what relates to the Technologies around me.

I would like

[2021-12-03 09:15] badgujarsachin83 commented on #45587
for opens sorce you have learn git and github. after that for contribution find organization where you contribute . after finding organization . go to issue section and search good first issue. solve this issue.
if you need help search on google. thanks you

[2021-12-03 14:13] thuongtruong1009 opened #45655 "fix some meaning script of README.vn.md"
fix some meaning script of README.vn.md

Review them help me at PR #45654
Let me join your organization.
Thank you very much!

[2021-12-03 16:07] gja88 opened #45662 "https://cryptotabbrowser.com/29922655"
- you want to make some money 💵💵💵

[2021-12-04 00:56] quentincaffeino commented on #34676
This is fixed so we can close it.

[2021-12-04 07:12] Baoyuantop opened #45788 "Slack banner dark mode display not good"
🐞 **Problem**
![image](https://user-images.githubusercontent.com/30611190/144701135-4e7a5196-5763-4874-b795-14b1a0e2b275.png)

The current picture has a white border, making it look not good enough in dark mode.

💡 **Possible solutions**
![newbar](https://user-images.githubusercontent.com/30611190/144701174-9893e63c-2404-4602-b245-799689f9df79.png)

I made a png image with a transparent background

[2021-12-04 10:24] #34676 closed

[2021-12-11 06:24] Ankushladani commented on #44497
Hey I can help you to get out of this problem.. if i could work on it.

[2021-12-12 17:29] #44497 closed

[2021-12-24 02:49] Eppp opened #46153 "Readme.md need to update"
🐞 **Problem**
There are some screenshots are a little old in readme.md, it's not friendly for freshman.
I think you should make some new screenshots about github.
Thank you very much!

[2022-01-01 22:51] styler0 commented on #46153
Done, waiting on a merge/feedback

https://github.com/firstcontributions/assets/pull/32#issue-1091907941

[2022-01-08 14:21] regulusarcturusblack commented on #46153
The tutorial for Github Desktop does not cover what to do when it asks you to choose between using the branch to contribute to the parent project, vs. using it for our own purposes, which was confusing. I think that should be updated as well.
Thank you very much!

[2022-01-09 16:47] pramod74 commented on #1721
I get 404 error when I navigate to the project list page. (https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js). Can someone please verify if they are also facing this issue?

[2022-01-11 14:26] deepmalamittal opened #46527 "Hindi (ਪੰਜਾਬੀ) Translation contains broken links"
🐞 **Problem**
At /translations/README.pb.md "ਹੋਰ ਟੂਲਜ ਦੀ ਵਰਤੋਂ ਕਰਦਿਆਂ ਟੁਟੋਰਿਅਲ" section:
"GitHub Desktop", "Visual Studio 2017" , "GitKraken" ,"Visual Studio Code" and "Atlassian Sourcetree" are broken.

🎯 **Goal**
The goal is to fix all broken links for the correct redirect.

💡 **Possible solutions**
Fix broken links by updating README.pb.md

📋  **Steps to solve the problem**

*   Update URLs.

[2022-01-11 14:56] deepmalamittal commented on #46527
Created pull request here: https://github.com/firstcontributions/first-contributions/pull/46529

[2022-01-20 16:39] anantraghuvanshi commented on #45788
is it still open to work? @Baoyuantop

[2022-01-20 17:29] anantraghuvanshi commented on #45788
sorry for missing that part, thanks! @kalash

[2022-01-21 20:27] RitikaPahwa4444 commented on #45788
I am using dark mode and the banner still has those white borders.

[2022-01-21 20:59] anantraghuvanshi commented on #45788
Shall I work on that @Baoyuantop

[2022-01-21 21:01] anantraghuvanshi commented on #45788
Shall I work on that @Baoyuantop

[2022-01-22 11:45] kalashjain23 opened #46887 "Chinese word at the last of the README.md"
🐞 **Problem**
There's a chinese word at the end of the README.md.. (dont know if its intentional)

🎯 **Goal**
Remove that word and make the table look clean and clear.

💡 **Possible solutions**
Can edit the readme.md file and remove it along with that one extra row of the table.

📋  **Steps to solve the problem**

*   Fork -> Clone this repository.
*   Make the changes discussed above in the **pos

[2022-01-22 17:03] anantraghuvanshi commented on #45788
@Baoyuantop do check this out

[2022-01-22 17:11] anantraghuvanshi commented on #45788
#46893 </br> Transparent background Slack logo has been added and the link to the slack channel has been restored.

[2022-01-23 10:59] Baoyuantop commented on #45788
Thank you very much!

[2022-01-23 11:10] anantraghuvanshi commented on #45788
pleasure!!

[2022-01-24 11:56] smtbhd32 commented on #46527
Hi @deepmalamittal
I had updated the links and also created a pull request.
I also tested it by myself but pls review the changes.
Thanks.

[2022-01-27 21:58] vruss14 commented on #1721
@pramod74 Yes, I'm getting a 404 error when I navigate to the project list page as well.

[2022-01-28 12:05] evrentan opened #47079 "Turkish README.tr.md Cosmetic Fixes"
There are cosmetic problems in Turkish README.md (https://github.com/firstcontributions/first-contributions/blob/master/translations/README.tr.md) file.

🐞 **Problem**
There are cosmetic problems in Turkish README.md (https://github.com/firstcontributions/first-contributions/blob/master/translations/README.tr.md) file. Please check the uploaded images.

![image](https://user-images.githubuserconte

[2022-01-28 12:09] evrentan commented on #47079
PR: https://github.com/firstcontributions/first-contributions/pull/47080

[2022-01-29 19:10] TomerPacific commented on #46153
@regulusarcturusblack, please open a different issue with details regarding what it is you want to change.

[2022-01-31 22:18] okatarismet commented on #47079
@evrentan Thanks for fixing!

[2022-01-31 22:21] evrentan commented on #47079
you are welcome !

[2022-01-31 22:49] jlooper opened #47192 "Please create a 'main' branch"
It is becoming more and more accepted that the use of a branch called 'main' is preferred over 'master'. It would be awesome if this repo would have a 'main' branch as its default.

🐞 **Problem**

GitHub is proceeding with enabling 'main' over 'master' as a default (https://www.theserverside.com/feature/Why-GitHub-renamed-its-master-branch-to-main). Many companies have followed suit

🎯 **Goal**

T

[2022-02-01 14:39] gja88 opened #47221 "run linux on Google Chromebook.. Dell VERSION.. AND YES ITS ON THE DEVELOPER MODE. 👏😐😐"
PLEASE 🙏🥺🥺. HELP 🥺.. I HAVE BEEN 🤔 TO GET COP MOD FOR GTA 5 FOR MY SON ..SCRIPT HOOK . DOESN'T WORK👌🏼👌🏼💲🤔🤔🤔🤔📱📱📱📱🙏🙏🙏👌🏼👌🏼

[2022-02-03 05:47] imsaxenashivam commented on #47221
https://www.gta5-mods.com/tools/script-hook-v
Sir , this might help  you.

[2022-02-03 18:53] iamdushyant opened #47291 "Additional keyword at the end of readme.md"
🐞 **Problem** Additional keyword at the end of readme.md
![Screenshot 2022-02-03 134900](https://user-images.githubusercontent.com/7860707/152409119-5698f2a3-93fe-4751-ae7b-a96cff8f4055.png)

🎯 **Goal**
Better user readability

💡 **Possible solutions**
Edit ReadMe.md and make the required updates

📋  **Steps to solve the problem**

*   Edit ReadMe.md and make the required updates
*   Commit and op

[2022-02-03 19:03] deepmalamittal commented on #47291
Pull raised here: https://github.com/firstcontributions/first-contributions/pull/47292

[2022-02-06 05:18] SBBradley opened #47356 "Punctuation fixes to README.ja.md"
There are several small punctuation problems that can be fixed in the README.ja.md.

🐞 **Problem**

1. On line 17 there is a missed period.
2. On line 57 add a space 例:  before the colon to match the formatting of the rest of the document.

🎯 **Goal**

This change would make the document more readable and punctually accurate.

💡 **Possible solutions**

Add the 2 proposed changes in the detailed de

[2022-02-06 18:44] roopeshsn opened #47374 "Deleting a branch after merging both locally"
Deleting a branch after merging both locally

🐞 **Problem**
It will be nice if the README file contains how to delete a created branch locally and remotely

🎯 **Goal**
It will be an extra knowledge that how to delete a branch

💡 **Possible solutions**

To delete branch locally,
`git branch -d localBranchName`

📋  **Steps to solve the problem**

*   Comment below about what you've started working o

[2022-02-08 12:39] Iheanacho-ai commented on #47356
Hey please can i take this one, im trying my hands on a bit of open source

[2022-02-08 12:42] Iheanacho-ai commented on #47374
Please can I take this on

[2022-02-09 11:51] SBBradley commented on #47356
Hey Iheanacho-ai,

I think the owners of this repo might have abandoned it. There are over 1.5k pull requests.

[2022-02-11 15:24] TomerPacific commented on #47192
@Roshanjossey, what do you think?

[2022-02-11 15:26] TomerPacific commented on #45587
@Jyoti-prakash-rout, you can help by looking at the open issues and asking to try to handle one of them.

@Roshanjossey, consider closing this as it is not a real issue.

[2022-02-12 23:12] St80ene opened #47512 "Contributors.md file should be properly formatted"
I noticed that a lot of links to profiles are not properly formatted and as a result, the markdown syntax of square bracket and parenthesis still shows in the preview
🐞 **Problem**

It doesn't look good for someone that might want to research or find more about a person

It will help someone to navigate to the given link
🎯 **Goal**

It will also serve as a guide for future contributors
💡 **Possibl

[2022-02-13 19:20] dsqalli opened #47529 "There isn’t anything to compare."
When i try doing a PR, i get the following message:
[code]

I'm confused, i followed the tutorial with scrunity...

[2022-02-13 19:40] dsqalli commented on #47529
I think part of the tutorial might have to be changed. Beginners will follow and end up unable to PR in the main repository. In the tutorial it is said to create a branch but this just makes stuff confusing and people will end up with the same error i had.

[2022-02-14 00:36] Iheanacho-ai commented on #47512
Hey please can I take this on?
If assigned to me, I would love to properly indent the md file, and use the proper markdown syntax for it to avoid it been shown in the preview, I will also run the md file through grammarly, to check for any errors.

[2022-02-17 23:11] afokapu commented on #47374
Is anyone working on this ?

[2022-02-18 21:54] athenc-io commented on #47529
I found an answer to that problem here: https://stackoverflow.com/questions/23344320/there-isnt-anything-to-compare-nothing-to-compare-branches-are-entirely-diffe

I would check to see if you had cloned the right repo. I forked from the original -> results in a copy of the repo on my github
-> cloned that repo onto my local machine -> made a branch -> pushed from the same repo.

Hope this helps.

[2022-02-19 14:58] Daniru2007 opened #47664 "Add Sinhala Language translation"
🐞 **Problem**
I have noticed that there is no **Sinhala** language available for the country Sri Lanka <img alt="සිංහල" title="සිංහල" src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/lk.svg" width="22"> because Tamil is not the language we use here.

💡 **Possible solutions**
 so we can add a README.sin.md file with sinhala translations and changed the Translation.md and README.

[2022-02-20 09:07] Daniru2007 commented on #47664
created a pull request on #47665

[2022-02-24 15:14] rajSaheel commented on #43916
Hey @ashishlamsal I want to contribute

[2022-02-24 22:53] sledgehammah commented on #44427
I fixed this issue by changing the image source link on the Bangala translation page.

[2022-02-25 11:22] neppug-Megvu2-wizqys opened #47820 "Hello @garciajump, congratulations! You've successfully submitted a pull request. 🎉"
Hello @garciajump, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
    - Join our

[2022-02-28 09:49] lhartvik opened #47879 "Missing images in norwegian readme.md"
In the norwegian README.no.md section "Send inn endringene for gjennomgang" images are not shown.
Mind that this is my first issue report.

🐞 **Problem**
As a norwegian first time contributor, I want to follow the readme for making the first contribution.
In the section [Send inn endringene for gjennomgang](https://github.com/firstcontributions/first-contributions/blob/master/translations/README.n

[2022-02-28 17:18] umeshthakre commented on #47879
Hello sir, I am new to open source and would like to work on this issue. please assign this issue to me.

[2022-02-28 20:04] lhartvik commented on #47879
I don’t think I have the privilege to assign it, maybe just try fixing it! :-)

[2022-03-02 08:21] ghost opened #47927 "Resolved issue multiple times. How long to approve?"
I think I'm missing something but im resolving the conflicts and waiting to be merged.
Is this an automated process?

![Screen Shot 2022-03-02 at 2 20 46 AM](https://user-images.githubusercontent.com/91075419/156322853-f6d89db8-9fc7-4dcb-bcd6-6e37fa66156c.png)

[2022-03-08 11:01] neppug-Megvu2-wizqys opened #48067 "Add Noah Nannen to the contributors file"
Add Noah Nannen to the contributors file

__Originally posted by @Noah-nannen in https://github.com/firstcontributions/first-contributions/pull/47017__

[2022-03-08 11:51] neppug-Megvu2-wizqys commented on #47927
Sent from Yahoo Mail for iPhone

On Tuesday, March 8, 2022, 3:08 AM, neppug-Megvu2-wizqys ***@***.***> wrote:

I think I'm missing something but im resolving the conflicts and waiting to be merged.

Is this an automated process?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-03-08 13:00] neppug-Megvu2-wizqys opened #48069 "Add Noah Nannen to the contributors file"
Add Noah Nannen to the contributors file

__Originally posted by @Noah-nannen in https://github.com/firstcontributions/first-contributions/pull/47017__

[2022-03-12 12:25] shlokjjw commented on #45163
I have added the hindi translation under #48155 Please merge it

[2022-03-13 15:16] akhila1729 opened #48179 "UNABLE TO PUSH THE BRANCH"
When I am trying to push the branch,
git push origin branch1
 I am getting the error,

remote: Permission to this-is-you/first-contributions.git denied to akhila1729.
fatal: unable to access 'https://github.com/this-is-you/first-contributions.git/': The requested URL returned error: 403

[2022-03-14 22:45] stampyzfanz commented on #48179
I think it would be more clear if the "this-is-you" part is replaced with <this-is-you> as it is elsewhere within the README: "Add <your-name> to Contributors list" and "<add-your-branch-name>".

[2022-03-15 02:32] stampyzfanz commented on #46887
The Chinese word was added in #41307. The pr added a username to _Contributors.md_  and the Chinese word to the README. The author provided no explanation regarding why it was added when asked by a contributor, and a member determined that it should be removed before merging. Later that day, it was merged.

I agree that it should be removed.

[2022-03-15 19:41] akhila1729 commented on #48179
I replaced 'this-is you' with my account name and the error got solved. Thank you everyone for your help.

[2022-03-15 19:41] #48179 closed

[2022-03-26 07:09] jayantrane opened #48472 "Fix broken README file for Marathi (मराठी)"
Image links are broken, also language translation icons need upgrade.

🐞 **Problem**

1. Image links are broken
2. Language translation icons need upgrade
3. Update extra resources links

🎯 **Goal**

Fix image links and language icons for better and accurate marathi  README file

💡 **Possible solutions**

Update the links and icons using README file of English Language

📋  **Steps to solve the pro

[2022-03-26 07:16] jayantrane commented on #48472
Raised a PR https://github.com/firstcontributions/first-contributions/pull/48446

[2022-03-27 07:43] Shashankshaji commented on #48069
Hey @neppug-Megvu2-wizqys  can I work on it?

[2022-03-27 08:12] Shashankshaji commented on #48069
Hey @neppug-Megvu2-wizqys  ,I have already done adding the name,shall I send you a pull request.

[2022-03-27 08:17] Shashankshaji commented on #48069
I have submitted a pull request.

[2022-03-27 10:25] Shashankshaji commented on #47192
Hey @jlooper ,I would like to look into this issue, do assign it to me.

[2022-03-27 10:53] Shashankshaji commented on #47512
Hey @St80ene ,I would like to give it a go, do assign this issue to me.

[2022-03-30 22:07] neppug-Megvu2-wizqys opened #48580 "❤️"

[2022-03-30 22:07] neppug-Megvu2-wizqys commented on #48580
https://githubuniverse.com/content-library/issue-forms-for-open-source/

[2022-03-31 03:29] neppug-Megvu2-wizqys opened #48586 "Hello @melissa-learns, congratulations! You've successfully submitted a pull request. 🎉"
Hello @melissa-learns, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
    - Join

[2022-03-31 18:27] prabal21 commented on #47291
I want to contribute.
Can you please elaborate?

[2022-04-02 03:10] #48586 closed

[2022-04-02 03:17] #48069 closed

[2022-04-03 16:10] peterthankgod commented on #35892
Some needed to be done with patience before bringing it up

[2022-04-03 16:14] peterthankgod commented on #30831
Revisiting the steps and you will find out the error for correction

[2022-04-03 16:17] peterthankgod commented on #47820
Amazing 😄 development.

[2022-04-03 16:20] peterthankgod commented on #38120
Change is inevitable, and we are inn for important transfer of transformations

[2022-04-07 09:48] wuteek commented on #47512
Hello,

I just created a pull request fixing some of the lines in this issue

[2022-04-08 05:53] AkritiAgarwal09 commented on #47512
Hi
Can I take up this Issue ??

[2022-04-08 15:26] ChairmanHoltz commented on #47927
I'm having the same issue. I'm in an endless loop of resolving conflicts but my commit isn't merged before more conflicts arise.

[2022-04-08 19:17] St80ene commented on #47512
Hi guys, I think the maintainers of this repo are in the best position to handle assignment of the issue😊🤝

[2022-04-12 11:43] KaustubhTrivedi opened #48890 "Not able to publish branch to the forked repository"
![image](https://user-images.githubusercontent.com/41857947/162952617-70bc3833-7abc-44ec-92e1-101ed62d6677.png)

<h2>You dont have permission to push</h2>
<p>I followed all the steps correctly and I am trying to publish the branch i created on to the repository i forked but due to some reason i am  not able to.</p>

[2022-04-12 19:20] Anees-Asghar opened #48897 "Fix typo in bot message"
🐞 **Problem**
I encountered a typo in the success message that bot prints upon merging a first-contribution pull-request.
The "Let us know how we can improve my commenting or opening..." should be fixed to say "Let us know how we can improve by commenting or opening...". The screenshot of the message is provided below:

![image](https://user-images.githubusercontent.com/37951789/163037263-a20115f5

[2022-04-13 12:55] lnxpy opened #48916 "Finglish (Farsi + English) is not a public-accepted language!"
🐞 **Problem**
- Since the Farsi contributor of this project couldn't translate the Farsi version of the tutorial very well, he decided to make a new translation in Finglish which is generally not accepted in the hood. Finglish language is basically the combination of two Finnish and English languages not Farsi and English.
- What's more, the Farsi translation itself needs a lot of optimizations.

[2022-04-18 18:20] #48890 closed

[2022-04-21 21:45] johan237 commented on #35892
Hello, I'm to open source is there any help needed.

[2022-04-22 00:07] sambhavsaxena commented on #35892
@johan237
The issue has already been closed, please hover over some other issues to fix.

[2022-04-24 22:35] HamaBarhamou commented on #47512
totally agree with you

[2022-04-26 19:48] Ghibranalj opened #49164 "Git kraken icon in README.id.md is broken"
[README.id.md](https://github.com/firstcontributions/first-contributions/blob/master/translations/README.id.md) has a broken git kraken icon

🐞 **Problem**
the image uses `src="/assets/gk-icon.png" ` which is broken

🎯 **Goal**
change it to a link that works

💡 **Possible solutions**
a working link is https://firstcontributions.github.io/assets/gui-tool-tutorials/gitkraken-tutorial/gk-icon.png, wh

[2022-04-26 20:06] Ghibranalj opened #49166 "Broken links and list items in Contributors.md"
A few things are broken in [Contributors.md](https://github.com/firstcontributions/first-contributions/blob/master/Contributors.md)

🐞 **Problem**
There are a few problem mosly spacing :
- broken links ussualy because `[name] (link)` is used instead of `[name](link)`.
- broken list items because lack of space between `-` and first char.
- broken link because url is not provided.

🎯 **Goal**
fix tw

[2022-04-26 20:14] Ghibranalj commented on #49166
There are over three thousand mistakes. so this is gonna take a while.

[2022-04-26 21:01] Ghibranalj commented on #49166
Interesting note : mistakes usually cluster in groups

[2022-04-26 21:23] Ghibranalj commented on #47192
Nah its cringe

[2022-04-29 13:39] Astro2020-lovely opened #49238 "Please invite me your org"
Please invite me your org

[2022-04-30 20:47] jcoffman4 opened #49265 "Gabriel Santana to Review List"
Add Gabriel to review list

[2022-05-01 10:25] amulyaashetty opened #49278 "Improvising the documentation"
Improvising the readme of the repository

🐞 **Problem**
 The existing readme of the project has a clustered readme file

🎯 **Goal**
Improvising the existing readme file , adding instructions and guidelines in a uniform and impressive way and making the documentation more creative

[2022-05-01 23:20] #49238 closed

[2022-05-02 20:33] #49265 closed

[2022-05-02 20:40] #48916 closed

[2022-05-02 20:44] gokultp commented on #48897
@Anees-Asghar thanks for reporting the issue, will be fixed soon. @Paul0908 this is part of our internal pipeline, have limitations for assigning this to you.

[2022-05-02 20:44] #48580 closed

[2022-05-02 20:50] gokultp commented on #48067
@neppug-Megvu2-wizqys there are merge conflicts for your PR. can you pull the latest master and make one more PR ?

[2022-05-02 20:50] gokultp commented on #48067
closing your PR

[2022-05-02 20:50] #48067 closed

[2022-05-02 20:53] gokultp commented on #49278
Can you suggest a format for this @amulyaashetty. Assigning this issue to you

[2022-05-02 20:56] gokultp commented on #49166
@Ghibranalj can you check point 3 here ? https://github.com/firstcontributions/first-contributions/issues/35892

[2022-05-02 20:56] gokultp commented on #49166
Closing the issue

[2022-05-02 20:56] #49166 closed

[2022-05-02 20:57] gokultp commented on #49164
Thanks for reporting and fixing the issue

[2022-05-03 09:48] amulyaashetty commented on #49278
@gokultp I am using markdown to write the readme file.

[2022-05-03 13:42] gokultp commented on #49278
@amulyaashetty You mentioned about adding instructions and guidelines in a uniform and impressive way. I mean to ask what is that uniform way. Can you suggest the format for that.

[2022-05-03 17:58] Guilemon commented on #37485
There's already some instructions available for this in the repository
* [For undoing a specific commit](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/undoing-a-commit.md)
* [For Reverting a commit](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/reverting-a-commit.md

[2022-05-04 06:03] Akshita1210 commented on #37485
Please unsubscribe me from the  github notifications

[2022-05-05 01:51] #49164 closed

[2022-05-05 01:51] gokultp commented on #48472
Issue is not valid

[2022-05-05 01:51] #48472 closed

[2022-05-05 02:05] gokultp commented on #47879
@umeshthakre Thanks for fixing this issue.

[2022-05-05 02:05] #47879 closed

[2022-05-05 02:06] #47820 closed

[2022-05-05 02:08] gokultp commented on #47664
@Daniru2007 are you still working on this issue, I can assign this ticket to you if you are interested

[2022-05-05 02:09] #47529 closed

[2022-05-05 02:15] gokultp commented on #47512
@St80ene as per our guidelines we are not worrying about issues in contributors.md refer this issue for the guidelines https://github.com/firstcontributions/first-contributions/issues/35892

[2022-05-05 02:19] gokultp commented on #47356
@Iheanacho-ai are you still interested in working on this ?

[2022-05-05 02:21] gokultp commented on #47356
Actually not, most of the PRs are about updating contributors.md, which is keep on getting conflicts because of number of changes. We have technical difficulties to resolve them automatically also.

[2022-05-05 02:22] gokultp commented on #47291
@deepmalamittal can you resolve the conflicts in this PR

[2022-05-05 02:23] #47221 closed

[2022-05-05 02:26] gokultp commented on #47079
@evrentan Thanks for the PR, I just merged it.

[2022-05-05 02:26] #47079 closed

[2022-05-05 17:58] jayantrane commented on #48472
[gokultp](https://github.com/gokultp) Hello, Sorry how is this not valid? Please see following link, images are not appearing, languages icons aren't updates, additional links at bottom aren't updated with what English readme has.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.mr.md

[2022-05-05 18:54] #45662 closed

[2022-05-05 18:56] Roshanjossey commented on #45587
Thank you @TomerPacific

[2022-05-05 18:56] #45587 closed

[2022-05-05 18:56] #46887 closed

[2022-05-05 18:57] #38120 closed

[2022-05-05 18:58] Roshanjossey commented on #47291
It's removed now

[2022-05-05 18:58] #47291 closed

[2022-05-05 19:06] Roshanjossey commented on #47192
@TomerPacific, I figured it'd just be a matter of time before we should do this. We want first contribution experience to be as close to real world experience. If real world has more repos with `main` as default branch, we should embrace it

[2022-05-05 19:07] #44263 closed

[2022-05-05 19:13] #42961 closed

[2022-05-05 19:13] #42395 closed

[2022-05-05 19:14] #40257 closed

[2022-05-05 19:14] #38026 closed

[2022-05-05 19:14] #39922 closed

[2022-05-05 19:47] #47512 closed

[2022-05-05 19:57] Roshanjossey commented on #49278
@amulyaashetty, Please take a look at https://github.com/firstcontributions/first-contributions/issues/35892

I think your suggestions conflicts with the design we have. We're open to suggestions, but please think more about what users want.

[2022-05-05 20:01] Roshanjossey commented on #37715
we already have Bengali translation https://github.com/firstcontributions/first-contributions/blob/master/translations/README.bn.md  Please suggest changes there if something needs to be fixed

[2022-05-05 20:01] #37715 closed

[2022-05-05 20:02] #43094 closed

[2022-05-05 20:03] Roshanjossey commented on #45207
@Roshanbarnwal, you're right

[2022-05-05 20:03] #45207 closed

[2022-05-05 20:05] Roshanjossey commented on #37735
we already have Bengali translation https://github.com/firstcontributions/first-contributions/blob/master/translations/README.bn.md Please suggest changes there if something needs to be fixed

[2022-05-05 20:05] #37735 closed

[2022-05-05 20:11] #18949 closed

[2022-05-05 20:11] #23823 closed

[2022-05-05 20:12] #35463 closed

[2022-05-05 20:13] #35518 closed

[2022-05-05 20:28] #37366 closed

[2022-05-05 20:29] #35054 closed

[2022-05-05 20:29] #11007 closed

[2022-05-05 20:29] #26001 closed

[2022-05-06 01:51] amulyaashetty commented on #49278
Sure , I will look into the existing design and work on it accordingly.

On Fri, 6 May 2022, 1:27 am Roshan Jossy, ***@***.***> wrote:

[2022-05-07 07:47] MaryShodiya commented on #49278
@gokultp please can you take a look at my contribution, I translated the read me to Yoruba language, a major language in Nigeria, I noticed it wasn’t part of the available translated languages. Thanks

[2022-05-10 21:02] RaheemAmer opened #49516 "[Slang Egyptian Arabic translation - Poor Layout - last section links aren't updated with the tools (Readme.eg file)]"
🐞 **Problem**
- Using common slang Egyptian only words, which makes non-Egyptians can't read the repo in the best way possible
- So it's a problem, I edited the whole readme and made it look better with a few punch lines to make it more interesting

🎯 **Goal**
- The change is essential to make any non-Egyptian capable of reading and comprehending the whole aspect of this cool project
- By writing

[2022-05-11 20:05] #49516 closed

[2022-05-12 05:03] gja88 opened #49533 "p"
HTML, Hypertext Markup Language, is the backbone of the web. It’s right underneath the surface of everything you see on the web. HTML is a markup language, which means that it tells the browser how to display information. Whether it’s the text of a paragraph, or a link, HTML is what gives our sites their content.

CSS

CSS stands for Cascading Style Sheets with and emphasis on “Style.” While HTML

[2022-05-12 05:30] gja88 opened #49534 "How much money should I invest in trading"
-
console table set`6$✓👌🏼`🤔

```~~]()~~That is how much you are capable of spending and how much you can get a return on by trading. “What profit are you expecting? Want to gain a huge profit or just a minimal profit?” This depends on how well you trade. `````
[code]
[code]
[code]

[2022-05-12 07:45] gja88 opened #49535 "https://share.crealitycloud.com/creality-cloud/share-content/625dd2af18564f132266757c"
https://share.crealitycloud.com/creality-cloud/share-content# /625dd2af18564f132266757c

[2022-05-12 08:15] gja88 opened #49536 "prk"
https://share.crealitycloud.com/creality-cloud/share-content/625dd2af18564f132266757c

[2022-05-12 08:17] gja88 opened #49537 "BTC BITCOIN 🤑 INCOME"
[]https://share.crealitycloud.com/creality-cloud/share-content/625dd2af18564f132266757c

[2022-05-15 10:04] senali-d commented on #47664
Can I work on this issue. If it is not assigned to anyone.

[2022-05-18 06:25] meemaw2020 opened #49697 "Improving Myanmar Language"
Improving the translation of Myanmar language

🐞 **Problem**
There are a few grammatical and spelling errors and a few paragraphs left to translate. Therefore, as a native Myanmar speaker and with 3 years translation experience, I tried to improve the language and wanted to contribute in this.

🎯 **Goal**
I want Myanmar people to understand more easily and be not afraid of Github open source proje

[2022-05-18 06:26] meemaw2020 commented on #49697
#49696

[2022-05-18 06:39] meemaw2020 commented on #49697
I have already translated and improved the Readme Myanmar version, and after making a pull request, I noticed a lot of mistakes in the Readme. So, I'll be making another pull request after electricity comes back in the evening.

[2022-05-18 11:12] meemaw2020 commented on #49697
#49702 is the pull request for this fix.

[2022-05-18 18:34] gokultp commented on #49697
Merged the PR

[2022-05-18 18:34] #49697 closed

[2022-05-22 15:12] egochamberpie commented on #30831
Hello. My pull request was closed and I got a comment with "Closed with unmerged commits" but I'm not sure if anyone would see my comment in that pull request so I am asking here. I'm sure this is a common problem but I'm not sure what I've done incorrectly. Any assistance is greatly appreciated.

[2022-05-24 13:50] Daniru2007 commented on #47664
actually have have fixed the issue on pull request #47665. will someone take a look pls?

[2022-05-28 00:03] gokultp commented on #47664
@Daniru2007 We can see the repository from where you created the PR is closed. can you check if your fork is still there ?

[2022-06-07 15:04] RaheemAmer commented on #45360
#49515 You can have a look at this pr made by me where I translated it into a more readable formal one

[2022-06-12 14:21] #33422 closed

[2022-06-12 14:21] #26494 closed

[2022-06-13 08:40] aditya270520 commented on #47356
I would like to try this issue
/assign

[2022-06-16 16:54] Purnima-1 opened #50546 "Question regarding contribution"
Hello coders,

I have just joined this open source platform and curious to know how it works, I figured that we are supposed to start by contributing our name and Github Link in the COntributors.md file, which I did.. But what is the next step. What else I can do towards this project, what else I can contribute to gain more experience? Please help!

----Purnima Kumar

🐞 **Problem**

🎯 **Goal**

💡

[2022-06-16 17:23] Tran-Quyen commented on #50546
me too

[2022-06-18 12:04] BarzinDevelops commented on #30831
# #Still can't get Added to Contributors.md list - (without any feedback on why)

ive tried to get added to the contributors list for so many times with different approaches and exact steps mentioned in the tutorial but still it looks like my contribution commit never gets merged.

I really dont know what  else i can do. I added the pull requests i've committed so far, with no results:

#50569
![p

[2022-06-18 18:29] spyboy01 commented on #50546
Hi Purnima,

I will suggest you please see the open issues (top left corner) if you feel like you can fix the particular issue then pick it and push the changes in master branch.

[2022-06-18 19:03] Purnima-1 commented on #50546
Thank you Sandeep! I was under the impression that those issues has already been fixed. I will try to work on that.

[2022-06-19 00:48] Roshanjossey commented on #50546
Hi @Purnima-1, @Tran-Quyen,

When your PR gets merged here, we add a comment on possible next steps you can take. https://github.com/firstcontributions/first-contributions/pull/50381

Was this useful for you? Do you have suggestions on improving it?

[2022-06-19 01:00] Roshanjossey commented on #30831
Hi @BarzinDevelops, if you check the top of your PR pages, you can see there many lines being modified.
![image](https://user-images.githubusercontent.com/8488446/174461523-164c0857-7848-4cea-91e4-ca29a9c09a56.png)
That's the problem. I understand that you're not doing this. My guess is that your text editor is formatting the file.
Try to disable auto formatting to avoid this. Or try a different e

[2022-06-19 14:09] saumya1singh opened #50641 "Demo : Making first PR"

[2022-06-19 14:21] saumya1singh commented on #50641
PR created for this issue #50644

[2022-06-19 15:29] #50641 closed

[2022-06-19 19:25] mkhulbe5 opened #50648 "Demo : Making first PR"

[2022-06-20 11:42] code-with-shivam opened #50669 "Demo:: making first pr"

[2022-06-20 11:43] code-with-shivam opened #50670 "Demo :: Making First PR"

[2022-06-20 11:56] azarateo opened #50671 "Adding a comment to the "Pushing changes to Github" step."
In the section
*Push changes to GitHub

There should be a mention of the use of authentication using PAT since it changed in

🐞 **Problem**

[code]

should be:
[code]

It is an improvement for newbies like me

🎯 **Goal**

This change will help me avoid the problem of trying to push for the first time and getting an inmediate error message saying:
*remote: Support for password authentication was re

[2022-06-20 19:53] #37892 closed

[2022-06-24 22:19] #47927 closed

[2022-06-24 22:20] #50648 closed

[2022-06-24 22:21] #50670 closed

[2022-06-24 22:21] #50669 closed

[2022-06-24 22:23] Roshanjossey commented on #50671
Hi @azarateo, I think the changes you suggested makes sense. Would you like to submit a PR to address this?

[2022-06-24 22:40] Roshanjossey opened #50803 "Video tutorial for first contributions"
It would be good to have a video tutorial explaining how to make your first PR.

The format I have in mind is a beginner sharing their screen and going through the tutorial. I can explain the steps and answer questions during this call.

If you are interested in being a part of this or have suggestions, please comment down below and let's discuss this further.

Cheers

[2022-06-25 08:39] veasnawt opened #50815 "Add Khmer translation"
Hi, I am new to this project. I've just made my first contribution which is adding my name to the list in Contributors.md.
I've opened a new pull request which I added new translation of Khmer language. There's a new file README.kh.md, made changes to README.md and Translations.md by adding Khmer (Cambodian) flag.

It seems I can't  find the way to add someone to review and my pull request is stal

[2022-06-25 12:36] Roshanjossey commented on #50671
git push command has now been changed by a PR shown above. For error message, we could put a link to documentation on how to fix it.

[2022-06-25 13:26] PrajwalBorkar commented on #50671
I think we can add the solution of @azarateo as it is very easy to understand.
Like this -

If you can't push due to errors that include something like:
`Support for password authentication was removed on August 13, 2021. Please use a personal access token instead.`
please refer to the documentation in Github about getting a personal access token [here](https://docs.github.com/en/authentication/ke

[2022-06-26 05:57] Rina-pavlowna opened #50835 "Hello @arashandishgar, congratulations! You've successfully submitted a pull request. 🎉"
Hello @arashandishgar, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
    - Join

[2022-06-26 07:49] Rina-pavlowna opened #50839 "Hello @Aakriti-malla, congratulations! You've successfully submitted a pull request. 🎉"
Hello @Aakriti-malla, congratulations! You've successfully submitted a pull request. 🎉
    **Next steps**
    - Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
    - Join o

[2022-06-26 18:31] yogeshpendse opened #50857 "Random text gets added while making a pull request"
🐞 **Problem**
Random text gets added while making a pull request.
I simply followed the steps given here.
Why is this happening?
[Problem](https://github.com/firstcontributions/first-contributions/pull/50844)

[2022-06-26 18:43] ghost opened #50859 "HI I ma a 10 years old kid I WangT to create GitHAy issue CAN ANxyINE HELO ME PLSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS I DONOT KNOW HW jhow to do crte ????? PLESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS HELPPPPPPPPPPPPPPPPPP"

[2022-06-27 05:27] bigestgamer116 commented on #50803
hey, you there?
I can't video call, or voice chat.

[2022-06-27 06:55] Amanda1126 commented on #50815
I would suggest contacting help

[2022-06-27 06:58] Amanda1126 commented on #10823
I'd like to work this onee

[2022-06-27 10:30] #50859 closed

[2022-06-27 10:30] #50839 closed

[2022-06-27 10:30] #50835 closed

[2022-06-27 10:35] Roshanjossey commented on #50803
@bigestgamer116, if you're trying to video call or voice chat here on GitHub, it doesn't exist now.

[2022-06-27 10:43] Roshanjossey commented on #50857
Hi @yogeshpendse, from what I understand, your text editor/ IDE is doing this. Try to disable any auto code formatter or use a different text editor.

[2022-06-27 10:43] #50857 closed

[2022-06-27 11:52] pulkitc commented on #50803
Hi Roshan,

That's a good idea. I too, initially, referred to video tuts while browsing youtube. Here are some of the links in case anybody wishes to get started with a video + great tips from the professionals and @Roshanjossey appreciate the gesture that you make here!
https://www.youtube.com/watch?v=W7AewHnxMig
https://www.youtube.com/watch?v=GbqSvJs-6W4
https://www.youtube.com/watch?v=waEb2c9N

[2022-06-28 03:07] Poppop78 commented on #50803
🅷🅴🅻🅿

[2022-06-28 03:23] Poppop78 opened #50904 "🅷🅴🅻🅿, 🅳🅸🆂🅲🆄🆂🆂🅸🅾🅽, 🆁🅴🆅🅸🆂🅸🅾🅽"
Articwolfglobal..homepage of Blockchains Gods
where Gods and goddess of Asgard In metaverse..oh.oh
we bring out our angels whose support in rendering humanity services

🐞 **Problem**changing geometric crossbar page robot movement and customer geometric ,form setting in my articwolfglobal.art.blog/

for diagrams and numerical of the background of my website. Hopes I hot this right.

🎯 **Goal**achie

[2022-06-28 09:18] #50904 closed

[2022-06-28 11:12] Poppop78 opened #50915 "🅰🆁🆃🅸🅲🆆🅾🅻🅵🅶🅻🅾🅱🅰🅻"
http://articwolfglobal.art.blog

[2022-06-28 13:19] Poppop78 opened #50920 "🅰🆁🆃🅸🅲🆆🅾🅻🅵🅶🅻🅾🅱🅰🅻"
🆁🅴🅿🅾🆂🆃

[2022-06-28 13:19] Poppop78 commented on #50920
Text

[2022-06-28 13:54] Poppop78 opened #50924 "Complete within 7 days after account registration to earn the rewards.announcement"
https://wp.me/pe62I6-z

[2022-06-28 19:55] #50924 closed

[2022-06-28 19:56] #50920 closed

[2022-06-28 19:57] #50915 closed

[2022-06-30 14:32] joshhayles commented on #50803
I can do a video like that. Do you still want help with this?

[2022-06-30 23:48] Mujhaid110786 commented on #50803
I agree I didn't call or live vedio any thing like this

[2022-07-01 01:39] AminGhorbaniDashtaki1986 commented on #50803
آموزش گام به گام از طریق تصویرها کار ساز است بیاید باهم این را عملی کنیم.

[2022-07-01 17:26] Purnima-1 commented on #50546
Thanks for your help Roshan!

[2022-07-02 00:55] Tran-Quyen commented on #50546
Thank for your help

[2022-07-02 17:05] Cloverwave commented on #50671
Why is this still open? Is there anything I can do?

[2022-07-02 17:26] Cloverwave commented on #50671
On it.

[2022-07-02 19:02] Cloverwave commented on #50671
Apparently I was on an old version of git. The new version doesn't require a P.A.T. I can add updated simple instructions on the newest way to login.

[2022-07-03 09:07] Parthmahajan29 commented on #50671
Is this issue is not solved i can solve it, because i had also faced this problem, and i was able to solve it. So. i request you to assign me this job, as it is my first chances to solve a issue

[2022-07-03 15:03] Miksea241678 commented on #50803
Verify phone number

[2022-07-04 05:54] Wiendoe commented on #50803
Use HD video call "for youtube calon me" Windu/Wiendoe...

[2022-07-04 05:55] Wiendoe commented on #50803
Nama windu, call nama Wiendoe

[2022-07-04 06:37] ballslmao opened #51100 ":heart:"
![image](https://user-images.githubusercontent.com/71683721/177094033-9cfca129-4f08-4a74-af5f-8bc9f2a7adcd.png)
![image](https://user-images.githubusercontent.com/71683721/177094048-8a85ed99-f762-42b2-b5a1-d3f02361b5d0.png)
![image](https://user-images.githubusercontent.com/71683721/177094050-7082e2bd-8121-4f93-bd32-08cec039383e.png)
![image](https://user-images.githubusercontent.com/71683721/1770

[2022-07-04 22:30] Divok1983 commented on #50803
Не получается настроить Google   ассистента

[2022-07-05 02:16] ChenSheng6869 opened #51126 "The push question"
🐞 **Problem**
we should pull&merge the master branch before `push origin -u <add-name>` to avoid confilct, but it doesn't seem to be reflected in the README.md document.

[2022-07-05 08:53] CandidDeer commented on #50803
If this is still open, I'd love to help.

[2022-07-05 09:00] DavidFirmansyahSiregar commented on #50803
I am beginner too. I would be happy if anyone can help me about this issue.

[2022-07-06 06:26] guweenet commented on #50803
I'd love to help as well!

[2022-07-07 02:56] Sivictor commented on #50803
i am a professional in making such videos if you still need help i would be happy to help

[2022-07-07 12:28] Chini1234 commented on #50803
I think that's a great idea, if only we can have one-to-one attention being given to everyone, else we can also take say 8..10 beginners at a time on a screen sharing platform and collectively help them, we can guide 1 or 2..rest can see them while doing.

[2022-07-07 14:18] Roshanjossey commented on #50803
Hi everyone, thank you for your response. I just realised that I don't have a good way of contacting you and taking it forward. So, please fill [this form](https://opensourcer.limesurvey.net/546685) and I'll get in touch with you and take it forwad. Cheers

[2022-07-07 14:22] Chini1234 commented on #50803
I'm not able to access the form link.

On Thu, 7 Jul 2022, 19:48 Roshan Jossy, ***@***.***> wrote:

[2022-07-07 14:29] Roshanjossey commented on #51126
Hi @ChenSheng6869, for this repo, pulling and merging from upstream doesn't necessarily make sure that there won't be any merge conflicts, If a PR was merged in the time it takes to pull and push, it'll be a conflict.

Also, beginners might not have a good time merging conflicts locally.

The important thing is learning the process of doing pull requests. merge conflicts are a likely consequence.

[2022-07-07 15:50] ChenSheng6869 commented on #51126
I got it. Thank you for your patience

[2022-07-07 21:44] #51126 closed

[2022-07-08 12:52] #48897 closed

[2022-07-08 14:00] #37485 closed

[2022-07-08 17:03] Purnima-1 commented on #50803
Making a video is a good idea, it will be super helpful for newbies like us..

[2022-07-08 17:28] Chini1234 commented on #50803
Yaup💫💫,you don't seem new tho🙃

On Fri, 8 Jul 2022, 22:33 Purnima Kumar, ***@***.***> wrote:

[2022-07-10 10:20] D5963 commented on #50803
``I hope that the information I need to find my way too my place will be found and I can finally get this straight and explain why I never believed it could happen.

[2022-07-11 00:24] Nzadcc-5826 opened #51292 "Welcome"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-11 00:26] Nzadcc-5826 opened #51293 "التحقق من شفرة الهاتف"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-11 00:41] Sradgsxr82 commented on #51293
![Uploading ‏لقطة شاشة 2022-06-19 في 5.36.57 م.png…]()

[2022-07-11 05:40] MarufRien1 opened #51302 "Bangla Translation contains some broken links and need to add links for new tools"
Bangla Translation contains some broken links and also missing new links for the "Tutorials Using Other Tools" list

🐞 Problem
At /translations/README.bn.md "অন্যান্য টুল ব্যবহারের টিউটোরিয়াল" section:
All links are broken

🎯 Goal
The goal is to fix all broken links for the correct redirect and new links for Visual Studio Code, Atlassian Sourcetree, IntelliJ IDEA

💡 Possible solutions
updating REA

[2022-07-11 06:22] MarufRien1 commented on #51302
@Roshanjossey
Hey, I have fixed this issue, can you merge my pull request?

[2022-07-11 16:11] TheCloudMeight commented on #50803
Hello,

Overall, I think the concept of having a walkthrough tutorial featuring screenshots of key steps throughout is great!

[2022-07-11 17:22] Paul-RRR opened #51319 ""Beginners start here""
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-11 17:24] Paul-RRR commented on #51319
This is  the name of a double page spread when Personal Computer World ruled. And, in my view, this is what we need. I find this site completely bewildering and have no idea how to start. Can anyone help?

[2022-07-11 21:53] #51319 closed

[2022-07-11 21:55] #51292 closed

[2022-07-13 03:25] Monk187 opened #51353 "hey, you there?"
hey, you there?
I can't video call, or voice chat.

_Originally posted by @bigestgamer116 in https://github.com/firstcontributions/first-contributions/issues/50803#issuecomment-1166887202_

[2022-07-13 08:43] Paul-RRR commented on #51319
Hi!

I am somewhat puzzled.

In order to advance the work, surely there needs to be discussion groups or forums. Do you host these or can you point me in the right direction?

FYI, there is interest here:
https://overunity.com/19170/wheel-hub-motor-for-cars-open-sourced/msg568818/#new

All the best.

Paul R

     On Monday, 11 July 2022, 22:53:33 BST, Roshan Jossy ***@***.***> wrote:

Closed #5131

[2022-07-14 09:34] pranshu-peppersquare commented on #50803
I have seen plenty of issues regarding this issue and have faced it myself not too long. While there is a lot of videos already on youtube, I have a few ideas that may make the video even more useful and can reach a wider audience. Would you like to discuss them?

[2022-07-14 20:20] Roshanjossey commented on #50803
@pranshu-peppersquare, you can share your ideas here.

[2022-07-15 01:46] #51302 closed

[2022-07-15 21:41] #38453 closed

[2022-07-15 21:41] #37139 closed

[2022-07-15 21:42] #46153 closed

[2022-07-15 21:42] #46527 closed

[2022-07-15 21:42] #44427 closed

[2022-07-15 21:44] #45163 closed

[2022-07-15 21:44] #45360 closed

[2022-07-15 21:44] #47356 closed

[2022-07-15 21:46] #49278 closed

[2022-07-15 21:47] #47374 closed

[2022-07-15 21:47] #45788 closed

[2022-07-15 21:47] #39185 closed

[2022-07-15 21:48] #38389 closed

[2022-07-15 21:48] #21159 closed

[2022-07-15 21:48] #36613 closed

[2022-07-15 21:49] #23964 closed

[2022-07-15 23:00] #45655 closed

[2022-07-15 23:00] #41431 closed

[2022-07-15 23:16] #38519 closed

[2022-07-16 18:53] Colorwh33l commented on #50803
I would love to be in that group if possible. I am also a beginner and would love the assistance. Thank you in advance.

[2022-07-16 21:34] zainab006 opened #51458 "G"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-16 23:21] #27691 closed

[2022-07-16 23:21] #47664 closed

[2022-07-16 23:21] #50815 closed

[2022-07-16 23:22] #51458 closed

[2022-07-16 23:25] #10823 closed

[2022-07-18 04:26] Vespo001 commented on #50803
I will love to be in the group I an a novice I need help

[2022-07-18 05:40] Purnima-1 commented on #50803
Guys, are we planning to start a project in this channel where anyone can contribute towards?

[2022-07-18 05:43] Vespo001 commented on #50803
I will be great to know more about this

[2022-07-18 11:53] #50671 closed

[2022-07-19 20:31] Roshanjossey commented on #47192
Done

[2022-07-19 20:31] #43916 closed

[2022-07-19 20:32] #34688 closed

[2022-07-19 21:48] jlooper commented on #47192
Bravo! 🎈🍾🎊

[2022-07-23 10:35] mrone8706 commented on #50803
#50803

[2022-07-23 22:39] Prof-IG commented on #50803
I can share my screen, I need some tutorial on some coding. kindly reach me on profigtech@gmail.com

[2022-07-25 01:43] Rmich008 opened #51684 "?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-25 07:46] #51684 closed

[2022-07-26 18:47] Morteza43 opened #51734 "https://github.com/orgs/community/discussions/22453#discussion-4248568"
https://github.com/Morteza43/first-contributions/blob/main/.github/ISSUE_TEMPLATE/issue-template.md

[2022-07-26 22:16] Morteza43 opened #51741 "@morteza43"
https://github.com/trustwallet/assets/commit/2c3c632177c29233169c43367e3bbe19649cf8a5

[2022-07-26 22:47] Morteza43 opened #51743 "git Stash apply [<Stash>]@morteza43"
git Stash apply [<Stash>] -> Move changes from the specified Stash into the Workspace. The latest Stash is the default.  shared via :  https://goo.gl/mDwpGh

[2022-07-26 22:52] Morteza43 opened #51744 "#@morteza43"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-26 22:53] Morteza43 commented on #51744
@Morteza43 @firstcontributions-bot @satoko @sara-02 @

[2022-07-26 22:54] #51734 closed

[2022-07-26 22:55] #51741 closed

[2022-07-26 22:55] #51743 closed

[2022-07-26 22:55] #51744 closed

[2022-07-28 06:50] bagher1363 commented on #50803
سلام،من تازه وارد هستم،،بهم کمک کنید بهتر یاد بگیرم.

[2022-07-28 16:22] Tomass01 commented on #50803
I will be great to know more about this

[2022-07-29 03:24] Nyssa-Sullivan opened #51815 "Hello,"
Hello,

Overall, I think the concept of having a walkthrough tutorial featuring screenshots of key steps throughout is great!

_Originally posted by @TheCloudMeight in https://github.com/firstcontributions/first-contributions/issues/50803#issuecomment-1180601035_

[2022-07-29 09:55] batmandarin opened #51821 "why do it starts <!--?? it just profiling -- .. -- right??? oh. <> must in index."
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-07-29 20:44] Roshanjossey commented on #51815
Cool cool cool

[2022-07-29 20:44] #51815 closed

[2022-07-29 21:04] Roshanjossey commented on #51821
I didn't understand the question. Could you elaborate?

[2022-07-31 02:40] xxxzzz006 commented on #50803
مرحبا   بكم جميعا اعجبتني هذه الفكرة  لمساعدة بعضنا البعض

[2022-07-31 22:25] Chiquito97 commented on #50803
Me parece muy buena idea

[2022-08-01 16:05] edgar-ishankulov commented on #50803
Hello. I can help with the video.

[2022-08-02 12:33] SkiezO opened #51942 "- name: GitHub Pull Request Action uses: repo-sync/pull-request@v2.6.2"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-02 15:28] Roshanjossey commented on #51942
I don't understand what this issue is about. Please elaborate.

[2022-08-02 15:28] #51942 closed

[2022-08-02 15:29] #51821 closed

[2022-08-02 23:18] Lorenzobattistela opened #51960 "Improve website design"
🐞 **Problem**
The website is functional and does what it is meant for. However, the design could improve a lot with some simple fixes.
Some of those fixes are:
-  Changing default font of cards text
- Improve Get Started button design (size, margin)
- Adjust spaces between title (Make your first..), navbar and button (spaces are not equal)
- Center navbar (this can be discussed)
- Delete the frase

[2022-08-02 23:18] Lorenzobattistela commented on #51960
Started working on the changes suggested in order, will mark them as completed as they are done.

[2022-08-02 23:45] Lorenzobattistela commented on #51960
SOrry opened on wrong repo

[2022-08-02 23:45] #51960 closed

[2022-08-02 23:47] BELLOTOHEEBOLOLADE commented on #51960
07037635547 call let talk

B.T.O

On Wed, Aug 3, 2022, 12:19 AM Lorenzo Battistela ***@***.***>
wrote:

[2022-08-04 03:14] Khc8 commented on #50803
I'm a beginner too and have ideas for projects but don't know how to get started any direction would be great!!

[2022-08-04 07:19] fk00750 commented on #50803
hey @Khc8 if you really want to make a video tutorial for your first contribution, it's quite simple. You just need a couple of tools.
* [Awesome Screenshot and Screen Recorder](https://chrome.google.com/webstore/detail/awesome-screenshot-and-sc/nlipoenfbbikpbjkfpfillcgkoblgpmj?hl=en)
* Any good voice recorder.

Then you can convert your recorded video into the desired file and upload it to the gi

[2022-08-05 19:21] Roshanjossey commented on #37679
@TomerPacific, this bug in in markdown rendering of GitHub mobile app. It doesn't handle svgs well. This is not something we can fix here.

I'll close this. Thank you for bumping this.

[2022-08-05 19:21] #37679 closed

[2022-08-05 22:15] pogbogu commented on #50803
am not really sure i can do this

[2022-08-06 19:07] ShivanshAr97 opened #52084 "Adding "To the top" button"
🐞 **Problem**

A "To the top" button can be added in the below right corner.

It can act as a shortcut that allows users to quickly navigate to the top of the page with just a click.
🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments -

[2022-08-06 22:46] SkiezO opened #52087 "https://github.com/github/opensource.guide/actions/runs/2810075563/workflow"

[2022-08-06 22:47] SkiezO commented on #52087
https://github.com/github/opensource.guide/actions/runs/2810075563/workflow

[2022-08-07 21:51] SkiezO opened #52125 "Ok"
I just used the Reverso Context application to translate
I just used the Reverso Context application to translate gh repo clone Shopify/rubygems.org ↳ gh repo kloon Shopify/rubygems.org Best regards,
↳ Ik heb zojuist de Reverso context applicatie gebruikt om te vertalen gh repo kloon Shopify/rubygems.org ↳ gh repo kloon Shopify/rubygems.org Met vriendelijke groet,
Best regards,

[2022-08-07 22:37] derosas4 commented on #51353
#50803

[2022-08-07 22:38] derosas4 commented on #51353
#52125

[2022-08-07 22:38] derosas4 commented on #51353
#52125

[2022-08-07 22:38] derosas4 commented on #51353
#52125

[2022-08-08 15:33] #52125 closed

[2022-08-08 15:33] #52087 closed

[2022-08-10 15:43] Ravneet6041 commented on #50803
Hey @Roshanjossey
I am new to open source and I am an iOS developer. I want to contribute in some projects but I couldn't find good first issues, can you plzz tell me how can I do this

[2022-08-10 15:47] albinpk opened #52218 "bug: broken links in `README.ml.md`"
🐞 **Problem**

Links to `gui tool tutorial` markdown files are broken in `README.ml.md` file

📋  **Steps to solve the problem**

Prefix all link with `gui-tool-tutorials/`

[2022-08-14 05:39] mudassir-jmi commented on #1721
Hello guys, Can I add something now I am new to open source, and looking forward to learning from everyone.
please guide me.......

[2022-08-14 15:35] diyagoyal98 opened #52358 "Demo : Making First PR"

[2022-08-14 16:01] diyagoyal98 commented on #52358
Pr created #52359

[2022-08-15 14:12] #52358 closed

[2022-08-15 14:17] Roshanjossey commented on #50803
Hi @Ravneet6041, I don't know many IOS apps/tools that are open source. The only one I can think of on the top of my head is https://github.com/vector-im/element-ios. Give it a try

[2022-08-15 14:58] Ravneet6041 commented on #50803
Thanks @Roshanjossey
I will try it.

[2022-08-18 12:44] Devang-Shah-49 opened #52508 "Gujarati Readme.md has missing statements and links"
A major statement and link is missing in the gujarati translation
🐞 **Problem**

Below is the image of the marked line that is present in the default readme
![image](https://user-images.githubusercontent.com/80088008/185396312-80b42ef5-1452-4697-bd6b-882cf09f4957.png)

But the marked statement and the associated link is missing in Gujarati readme
![image](https://user-images.githubusercontent.com/

[2022-08-18 12:45] Devang-Shah-49 commented on #52508
I would like to work on this issue! @Roshanjossey

[2022-08-18 13:10] Roshanjossey commented on #52508
Fixed in #52512

[2022-08-18 13:10] #52508 closed

[2022-08-18 14:56] HemanthKumar-CN commented on #52084
I started working on the To the top button. A floating button on the right side of the page, on clicking it it scrolls back to top of the page

[2022-08-18 16:15] RamGoel commented on #52218
assign me the issue please.

[2022-08-19 23:44] AuthorASides opened #52571 "Operationgetback"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-19 23:45] AuthorASides commented on #52571
They need resolved

[2022-08-20 01:28] AuthorASides opened #52577 "AnthonyJiaSides is In Elon Nc"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-20 01:28] AuthorASides commented on #52577
Anthony jia sides is @AuthorASides

[2022-08-20 14:53] Mahrukhz commented on #52084
Hi @ShivanshAr97, do you want a to the top button on this page and under the paticipants? I would appreciate some clarification

[2022-08-21 11:29] ShivanshAr97 commented on #52084
Yes

[2022-08-21 19:08] mohitchakraverty commented on #52218
I would like to help

[2022-08-23 20:35] AbdallahOmariah opened #52714 "777777"
& "${Env:PROGRAMFILES(X86)}\Google\Chrome Remote Desktop\CurrentVersion\remoting_start_host.exe" --code="4/0AdQt8qj3dBxvXyUoI7-UwX2lIi2QZKAt3H6et90TaR5qlDcP88QUZbLA7pG6KMuoFd8Lgg" --redirect-url="https://remotedesktop.google.com/_/oauthredirect" --name=$Env:COMPUTERNAME

[2022-08-24 07:33] #52714 closed

[2022-08-25 23:24] SHADYKIMBUM opened #52921 "Yes yes yes"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-25 23:55] npgfh opened #52922 "Hello @oedjoat, congratulations! You've successfully submitted a pull request. 🎉"
Hello @oedjoat, congratulations! You've successfully submitted a pull request. 🎉

  If you liked the tutorial, please star this repo by clicking star button on top right of this page.
  <img alt="star screenshot" title="star button" src="https://firstcontributions.github.io/assets/star.png">

  # Next steps
  - Continue contributing: If you're looking for projects to contribute to, checkout our [<

[2022-08-25 23:58] npgfh opened #52923 "แนะนำการเปลี่ยนแปลง"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-26 13:23] Mercyjay commented on #52084
Hello @ShivanshAr97 has the issues here been fixed or can work on it.

[2022-08-27 02:41] DeveVivek commented on #52084
Hey @ShivanshAr97   Is the issue settled, i would love to work on it. Please confirm first that.

[2022-08-27 10:04] #52923 closed

[2022-08-27 10:04] #52922 closed

[2022-08-27 10:05] #52921 closed

[2022-08-28 08:19] npgfh opened #53050 "เปิด"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-28 08:21] npgfh opened #53051 "เปิด"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-28 10:16] #52084 closed

[2022-08-29 00:24] #53051 closed

[2022-08-29 00:24] #53050 closed

[2022-08-30 13:24] Roshanjossey commented on #52218
Hi @Mahrukhz, @RamGoel, we already have a PR (#52219 ) by @albinpk to handle this. However, the changes in there are not right. Do you wanna help Albin fix that PR?

[2022-08-30 14:17] DarshitSolanki04 commented on #50803
This is a great video for anyone who wants to contribute to an open-source project using GitHub. Have a look:
[Complete Guide to Open Source - How to Contribute](https://www.youtube.com/watch?v=yzeVMecydCE)

[2022-08-30 14:54] DarshitSolanki04 opened #53151 "No link for generating 'Personal Access Tokens' in README.md file."
🐞 **Problem**

There is no link in the *README.md* file for generating **'Person Access Tokens'**, which are easier for beginners to make and deal with. Also, they can be given expiry so that no one can misuse them after some time. I feel beginners should use those tokens as SSH keys need more responsibility in handling them.

🎯 **Goal**

Adding a GitHub's tutorial link for creating personal acces

[2022-08-30 16:37] Manimanchi opened #53156 "manimanchi bakarya"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-08-31 07:11] #53156 closed

[2022-08-31 08:18] Manimanchi opened #53218 "Sidekick"
sidekick Free and open-source live application @codeKK AndroidOpen Source Website https://p.codekk.com/detail/Android/runsidekick/sidekick

Share From App: Dev Tools(Android Developer Tools)

[2022-08-31 08:27] #53218 closed

[2022-08-31 12:47] #52218 closed

[2022-08-31 18:21] Roshanjossey commented on #53151
Personally, I think PAT is not a good practice for authentication. I think we should stick to good practices in the tutorial.

My reasons for why using PATs are not a good practice.

1.  PAT is basically a hard to remember password. I think most people will store it in plain text format for using again.
2.  Unlike ssh private key that doesn't leave your machine, PAT will have to be sent over netwo

[2022-08-31 19:35] sdkdeepa commented on #1721
Hello, I am newbie here! I would like to contribute. Please let me know.

[2022-08-31 20:17] DarshitSolanki04 commented on #53151
I thought expiry can be a good thing for beginners because:
1) Sometimes, they use Git for fun and then forget. Thus, expiry can help to prevent misuse.
2) You do not need to create a new PAT; you can always extend its expiry or set it to never expire.
3) On the other hand, the procedure of making an SSH key can be daunting for a beginner, and if he carelessly handles or shares it with someone, th

[2022-08-31 20:19] DarshitSolanki04 commented on #53151
I think expiry can be a good thing for beginners because:
1) Sometimes, they use Git for fun and then forget. Thus, expiry can help to prevent misuse.
2) You do not need to create a new PAT; you can always extend its expiry or set it to never expire.
3) On the other hand, the procedure of making an SSH key can be daunting for a beginner, and if he carelessly handles or shares it with someone, then

[2022-08-31 20:23] DarshitSolanki04 commented on #53151
For this, using open-source password managers like 'Bitwarden' would be a good idea.

[2022-08-31 20:30] gokultp commented on #53151
@DarshitSolanki04 Thanks for your suggestions. But we intent to keep this project simple and easy to understand commonly  used git workflow for beginners.  I afraid adding this could confuse beginners.

Also PAT comes with an additional overhead of saving it somewhere as @Roshanjossey explained.

IMO let's not add this now, @Roshanjossey even if we are adding this, it should not be with the common

[2022-08-31 20:38] DarshitSolanki04 commented on #53151
Sure.

[2022-08-31 20:39] #53151 closed

[2022-09-01 09:06] imashiqe opened #53273 "mainframe issue"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-01 15:36] #53273 closed

[2022-09-01 15:48] Roshanjossey commented on #53151
@gokultp, maybe we can add this to FAQ issue.

[2022-09-03 02:43] diegohj66 commented on #30831
Duplicate of #

[2022-09-05 07:15] raipidddd0ex opened #53445 "Helooooooooooooooooooooooo"
Helooooooooooooooooooooooo
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this projec

[2022-09-07 17:12] pogbogu commented on #50803
Am actually new as well and don't really have much information to share
sorry for the disappointment.

On Wed, 10 Aug 2022, 16:44 Ravneet Singh, ***@***.***> wrote:

[2022-09-14 08:48] mallepia00 opened #53900 "Mallepia00//https://www.contributor-covenant.org"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-14 10:32] #53900 closed

[2022-09-15 04:31] saigangasharansher opened #53937 "How to use"

[2022-09-15 08:55] Roshanjossey commented on #53937
Follow the instructions in Readme

[2022-09-15 08:55] #53937 closed

[2022-09-15 15:04] anneklein7 commented on #30973
M'agradaria revisar el text si us sembla bé! Com va dir el @mancku, si hi ha alguna guia d'estil a seguir, aniria molt bé poder tenir-la, però si no, li puc fer una ullada igualment.

[2022-09-15 17:54] mancku commented on #30973
@anneklein7 ja ni recordava aquesta issue 😅 el @Sergih28 mai no va dir res al respecte, així que IMO fes els canvis que trobis pertinents

[2022-09-17 15:46] AA0603-PK1911 opened #54040 "Pro1"

[2022-09-17 15:46] #54040 closed

[2022-09-18 17:49] Roshanjossey commented on #30973
Hi @anneklein7, @mancku, thank you for your interest in contributing to this. There is no styleguide. The general guideline is to follow the content in English Readme. Try to address someone who is a beginner to open source. What I try to do is to explain to a younger version of myself who was new to the whole thing.

We have some design decisions we came up with in https://github.com/firstcontrib

[2022-09-18 19:27] AliakbarETH commented on #50803
Hi, I cam make a loom to do this.

[2022-09-22 12:02] kumar-rocks opened #54290 "Names are not aligned in the Contributors.md"
In the Contributors.md file, the first few names aren't aligned properly.

[2022-09-22 12:14] kumar-rocks commented on #54290
I aligned them and given a PR to merge it. See if it works!

[2022-09-23 05:58] Roshanjossey commented on #54290
@kumar-rocks, please take a look at point 3 in https://github.com/firstcontributions/first-contributions/issues/35892. If you have a difference in opinion, add a comment to that thread and we can discuss there.

[2022-09-23 06:48] kumar-rocks commented on #54290
Alright I got it. It seems right.
Thanks @Roshanjossey
:)

[2022-09-23 06:49] kumar-rocks commented on #54290
I have just started my journey in open source.

[2022-09-23 06:51] #54290 closed

[2022-09-23 08:16] reham1847 opened #54319 "goal"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-23 09:03] #54319 closed

[2022-09-23 09:06] Roshanjossey commented on #54290
I wish you a wonderful journey @kumar-rocks. Stay strong. Prioritise your well-being.

[2022-09-23 17:55] Panda-Abhisek commented on #50803
Hi Sir @Roshanjossey, I am interested in this. I am a beginner at git & GitHub.
23.09.2022- On this day I successfully raised a PR to add my name to the contribution list here in the first contribution

[2022-09-23 20:32] Roshanjossey commented on #50803
Hi @Panda-Abhisek, you don't  have to call anyone here 'Sir'. You can call me Roshan.
Right now, I've de-prioritised this issue. I don't have the bandwidth to work on this. But we'll circle back and post an update here.

[2022-09-23 20:41] Panda-Abhisek commented on #50803
Yeah, no issue. That's great

[2022-09-23 23:24] hafid-hub opened #54360 "Password authentification and ssh"
Thank you for this project.
I have some troubles : when I want to push changes to GitHub, I get this message:
[code]
I use ssh and it stills ask me for my username and password.

🎯 **Goal**
Since password authentication has been removed, it is better, in my opinion, to take this into account in this admirable tutorial. I think that a user, like me who is just starting to learn to code, could quick

[2022-09-24 00:39] Mdirf9495 commented on #50803
Hi

On Sat, Sep 24, 2022, 2:11 AM Abhisek_Panda ***@***.***>
wrote:

[2022-09-24 04:02] KPC-256 opened #54364 "vom.anth.com.auth."
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-24 04:03] #54364 closed

[2022-09-24 04:07] faridmehsh opened #54365 "Hi"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-24 12:49] Worldwidedevelopers commented on #54365
I'm have some problems getting started can someone help me out please. I'm new here a it's a little confusing.
Thanks, appreciate the help.

[2022-09-24 13:30] asifurrahaman754 opened #54383 "links are not working for bengali translation"
🐞 **Problem**
the ["Read this in other languages"] link is not working in Bengali translation as well as the ["additional elements"] link in the bottom.

I would like to fix this problem.

[2022-09-24 23:25] Roshanjossey commented on #54365
Hi @Worldwidedevelopers, did you try following the step in the README.md?

[2022-09-24 23:27] Roshanjossey commented on #54383
Hi @asifurrahaman754, `Read in other languages`  is not needed in any translations. You can remove it. Also fix the link as you mentioned. Go ahead and submit a PR for these changes. Let me know if you need any help

[2022-09-25 04:00] asifurrahaman754 commented on #54383
Ok, so ill remove read this other languages from all the other languages and fix the link

[2022-09-25 08:08] Rohit1170 commented on #50803
Yes I too suggest that it's a little bit more helpful for the pr maker especially for the beginner.

[2022-09-25 08:18] Panda-Abhisek commented on #50803
Yes it is a bit more helpful

[2022-09-25 12:02] asifurrahaman754 opened #54432 "bengali translation is incomplete"
🐞 **Problem**
* Bengali translation is incomplete. The additional material is not translated into Bengali.

💡 **Possible solutions**
* I would like to add the rest additional material translation

[2022-09-25 12:28] Roshanjossey commented on #54432
PR welcome

[2022-09-25 12:41] asifurrahaman754 commented on #54432
@Roshanjossey please assign it to me

[2022-09-25 13:16] #54383 closed

[2022-09-26 07:56] PrgVaibhav opened #54479 "I can change some parts of the website UI"
🐞 **Problem**
I recently saw your website and I found that many changes can be done on your website for example - the navbar, the icons are too big in it. The main section where all the cards are. And the footer again there were some giant icons. And I think I can make the UI of the website better.

🎯 **Goal**
This change can be very beneficial because right now the website looks ok but if we can

[2022-09-26 12:59] Abhishekverma2002 commented on #30831
I did a mistake by not making a separate branch and trying to make changes to the main branch itself.

[2022-09-26 13:45] trishit78 commented on #21761
Hello, is this project still open ?? I am a first-time contributor and new to open source development, so can you assign the issue to me? :)

[2022-09-26 17:27] KashishLakhara04 opened #54511 "Setup Commitlint to enhance the developer experience"
🐞 **Problem**

- Setup Commitlint and Configure commitlint to use conventional config ``@commitlint/config-conventional``

🎯 **Goal**

- Commitlint helps your team adhere to a commit convention. It makes sharing of commit conventions easy.

💡 **Possible solutions**

**Resources** :

- Guide to [Commitlint setup](https://commitlint.js.org/#/guides-local-setup)
- Learn more about [Conventional Commi

[2022-09-26 18:36] salvador001 commented on #34075
assign this task to me

[2022-09-26 22:49] #54365 closed

[2022-09-26 22:54] Roshanjossey commented on #54479
Hi @PrgVaibhav, thank you for your interest in improving the website. I agree with you. It is quite dated.

Right now, we're in the process of completely re-vamping the website from the ground up. So, any changes done right now will be live only for a short while.

That said, you can decide if you still want to work on this. If you're doing this as a learning experience, go for it. I just wanted t

[2022-09-26 23:12] Roshanjossey commented on #54511
Hi, @KashishLakhara04, thank you for your interest in this project and for this suggestion.

I've used commitlint at work in the past. It has helped with generating changelog, versioning, etc.

That said, I'm leaning towards not having this change in this project. Here are my reasons

1. This project doesn't benefit from automating versioning, changelog etc.
2. It's an additional concept beginners

[2022-09-27 04:29] KashishLakhara04 commented on #54511
I think you're right. It requires additional tooling and it's an additional concept that beginners will have to learn. Let's keep it short and beginner friendly. I will be referring this repository to my community so that folks can get started with contributing to OSS.

[2022-09-27 04:46] KashishLakhara04 opened #54535 "[BUG] Broken Link"
### Problem

- Hindi translation has a broken link
### Screenshot
![Screenshot from 2022-09-27 10-01-25](https://user-images.githubusercontent.com/104296574/192432924-f385a8b8-8218-4166-b747-cab4bd6280c1.png)

### Possible solutions
I can add this link

[2022-09-27 05:30] Roshanjossey commented on #54535
Good catch @KashishLakhara04, yes. please go ahead

[2022-09-27 05:50] Roshanjossey commented on #54511
Cool cool cool. I'll close this issue.

That's awesome. Could you tell me more about the community?

[2022-09-27 05:50] #54511 closed

[2022-09-27 08:18] JainitBITW commented on #54360
you can try creating a personal token and use it as a password

[2022-09-27 13:59] Ericchuk commented on #54479
Hi @PrgVaibhav I'd like to know if you have gone ahead with improving the UI

[2022-09-27 14:39] PrgVaibhav commented on #54479
@Roshanjossey Okay so the website is under construction right now? And can I clone this website in my version??

[2022-09-27 14:39] PrgVaibhav commented on #54479
@Ericchuk Nope, I have not started working on the UI yet.

[2022-09-27 15:03] Ericchuk commented on #54479
Alright, wanted to make pull request but he said the are plans in the pipeline.

[2022-09-27 20:39] Roshanjossey commented on #54479
You can see the code in https://github.com/firstcontributions/frontend. But it's not ready or contributions from community now.
We're working towards an MVP state. Lots of things can change. The setup is a bit complex right now and we haven't documented much. Right now, the focus is on getting to a working state.

[2022-09-27 20:55] RehabAbotalep opened #54595 "Arabic README has broken links"
Arabic README has broken links

🐞 **Problem**
Arabic README has broken links under the **Tutorial Using Other Tools** Section.
![image](https://user-images.githubusercontent.com/67760628/192631435-c76681c0-270d-4dba-8b36-17ee7cfbb28a.png)

🎯 **Goal**
Fix the broken links.

💡 **Possible solutions**
As I can see Arabic translations for this tutorial using other tools are not available yet, so we can

[2022-09-27 20:59] Roshanjossey commented on #54595
Hi @RehabAbotalep, thank you for creating this issue.

Let's go with redirecting to English version.

[2022-09-27 22:31] Roshanjossey commented on #54595
Fixed in #54599

[2022-09-27 22:31] #54595 closed

[2022-09-28 03:42] FireNdIce3 commented on #54535
Hello there, I am new to open source, and I would like to contribute to this issue. Can anyone please describe the broken link problem? Thanks

[2022-09-28 09:03] Giridharsalana commented on #54535
I will fix it.

[2022-09-28 10:46] Roshanjossey commented on #54535
fixed in #54642

[2022-09-28 10:46] #54535 closed

[2022-09-28 13:13] SaintQ969 opened #54661 "Addresses #<put issue number here>"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-09-28 13:14] SaintQ969 commented on #54661
I can improve on the web design UI

[2022-09-29 07:08] Roshanjossey commented on #54661
Duplicate of #54479

@SaintQ969, please discuss there.

[2022-09-29 07:08] #54661 closed

[2022-09-29 13:42] pichpeyman commented on #35892
29607449

[2022-09-29 17:39] Roshanjossey commented on #54661
I'll reach out to you @SaintQ969

[2022-09-29 17:48] shivvamm opened #54804 "changes in buttons of the pages"
The buttons are very outdated

🐞 **Problem**
The buttons are very basic the websites toady are using animation and gradients for better experience
its a pure feature

🎯 **Goal**
that will add a good final touch and i'll be accomplishing a pr
it will improve the  user experience

[2022-09-29 21:17] Dani-Google commented on #50803
Thanks @Roshanjossey
**I would love to contribute as well :)**

[2022-09-30 04:10] 0xcompton90 opened #54844 "Learning Contributor’s Guidelines"
I’ve read through Contributing Guidelines!
https://github.com/firstcontributions/first-contributions/issues/35892 and I understand the design of this project.
🐞 **Problem**
- learning contributions
- Knowledge of contributing guidelines

🎯 **Goal**
- It’s important so I’ll be able to follow appropriate Instructions through GitHub repositories.
-Help others follow the Contributing Guidelines correc

[2022-09-30 08:15] mancku commented on #30973
Hi @Roshanjossey thank you for reaching back to us about this. #34640, and for your explanation.
Sure, I'm interested in reviewing it. I think after all this time it'd be better to review that from scratch and make a new PR.

@anneklein7 jo no crec que tingui temps a fer-ho la propera setmana. Feel free si vols començar una PR

[2022-09-30 20:14] 0xcompton90 opened #54963 "I see that you've made changes to the wrong file."
I see that you've made changes to the wrong file.

Could you please add your name to https://github.com/firstcontributions/first-contributions/blob/master/Contributors.md ?
No problem 🫵🏼.thanks
_Originally posted by @Roshanjossey in https://github.com/firstcontributions/first-contributions/issues/54846#issuecomment-1263842700_

[2022-09-30 20:16] Roshanjossey commented on #54963
cool cool cool.

[2022-10-01 01:43] iamsandipanbera commented on #54432
Could I do this task?

[2022-10-01 04:50] kaal-coder commented on #50803
@Roshanjossey can you assign this to me ?
Will do by tommorow.

[2022-10-01 10:18] Albtony opened #55146 "Improve Indonesian Translation"
🐞 **Problem**
- Some phrases in the Indonesian language are awkward and unnatural

🎯 **Goal**
- It is essential so that future readers will not be confused or deterred from following the instruction

💡 **Possible solutions**
- I can improve the translation and sync it with the English version

[2022-10-01 12:13] sohamdata opened #55174 "hacktoberfest topic missing from tags"

[2022-10-01 14:04] ManuSquall commented on #55174
Hello @Roshanjossey , may you please add Hactoberfest tag on that repo?

[2022-10-01 14:07] doczkal commented on #54360
What is the reason the setup of Public+private key authentication is not mentioned?
It would certainly make the process of git-push much simpler.

[2022-10-01 14:21] Roshanjossey commented on #55174
This repository is not eligible for hacktoberfest.

Please read https://hacktoberfest.com/participation/#spam
Learning how to contribute wouldn't count towards hacktoberfest contribution.
What you learned here will help you contribute to projects that needs more contributors. Go find such projects.

I wish you the best on your open source journey. May the source be with you :vulcan_salute:

[2022-10-01 14:21] #55174 closed

[2022-10-01 14:23] sohamdata commented on #55174
Alright, thanks!

On Sat, Oct 1, 2022 at 7:51 PM Roshan Jossy ***@***.***>
wrote:

[2022-10-01 14:43] BabbarRaghav opened #55221 "Not Participating"
In hacktoberfest, it is showing that this repo is not participating. Please add hacktoberfest label in #55200 merge and in repo

[2022-10-01 15:03] Roshanjossey commented on #55221
Yup. we're not participating. Please read the thread in https://github.com/firstcontributions/first-contributions/issues/55174

[2022-10-01 15:03] #55221 closed

[2022-10-01 17:57] R0merol commented on #55146
Can I be assigned this issue? I'm a native Indonesian speaker 😃

[2022-10-01 18:07] keshav-rockwinder commented on #21761
HELLO, if this project is open kindly assign this one to me!!'

[2022-10-01 18:08] keshav-rockwinder commented on #50803
@Roshanjossey can you assign this task to me?

[2022-10-01 20:22] ManuSquall opened #55394 "Missing React icon on french translation README"
🐞 **Problem**
In the french readme file, the react icon at the end doesn't render properly:
![image](https://user-images.githubusercontent.com/29026887/193426492-f83dbbb1-f5e7-4423-99ed-4cebf62e429e.png)

🎯 **Goal**

Better UX/UI experience

💡 **Possible solutions**

Compare with existing readme and provide a correct icon

📋  **Steps to solve the problem**

On my way to make a PR for suggesting a

[2022-10-01 21:12] Sophyia7 commented on #54804
Hi, Can I be assigned this issue if it's still available?

[2022-10-01 22:40] Mdirf9495 commented on #50803
Yes, I can.

On Sat, Oct 1, 2022, 11:38 PM keshav-rockwinder ***@***.***>
wrote:

[2022-10-02 03:03] nihal-soni opened #55438 "Want to Help you by Improving the UI In Your Website 🎏"
🐞 Problem
I saw Your Website or I thought that I can improve its user interface, there I can make a lot of changes in it now...🎗

🎯 Goal
And this change will be very helpful for you , by changing this thing, your website will start looking user friendly, whoever will visit your website , will going to feel that what a cool website.

💡 Possible solutions
  we can  change the navbar  styling by addi

[2022-10-02 03:05] nihal-soni commented on #55438
I hope you would like my suggestion.
thanks

[2022-10-02 04:43] aharna commented on #54432
hey! I would like to work on this issue.

[2022-10-02 07:45] CODING-Enthusiast9857 opened #55554 "Add Topics for Hacktoberfest"
🐞 **Adding a Topic**

🎯 **Please a add some topics in your repository**

💡 **Add following topics in your repository for participating in hacktoberfest event**

*   hacktoberfest
*   hacktoberfest-2022
*   hacktoberfest-22

[2022-10-02 07:48] Roshanjossey commented on #55554
Duplicate of #55174 . Please follow the thread there.

[2022-10-02 07:48] #55554 closed

[2022-10-02 11:01] shubhrai2811 opened #55629 "Not participating in Hacktober fest"
Please add the hscktoberfest tag to the repo

[2022-10-02 13:19] Roshanjossey commented on #55629
Duplicate of #55174. Please read the thread there

[2022-10-02 13:19] #55629 closed

[2022-10-02 13:53] ifs20004-itdel commented on #55146
same here, i can help you

[2022-10-02 18:04] Danbaba1 commented on #54844
@0xcompton90 I want to get involved.

[2022-10-02 18:08] MD-ARBAB-SAHID commented on #55438
Possible solutions:
What about adding pagination or loading content dynamically when the user scrolls down(infinite scrolling).
Displaying coloured icons of socials.
Increasing width of the cards to add more description if required.

I hope you would like my suggestion.
Thank you.

[2022-10-02 18:19] MD-ARBAB-SAHID opened #55804 "Image not available in few cards"
🐞 **Problem**
Image for the the card "css-protips" ,  "SimplQ" , "Reseter.css" , "scrapy" and "ClickHouse" not rendering.
alt tags not relatable for images.

🎯 **Goal**
Improve UI.

💡 **Possible solutions**
Adding alt tag and image for "css-protips" ,  "SimplQ" , "Reseter.css" , "scrapy" and "ClickHouse"  cards.

[2022-10-02 18:28] MD-ARBAB-SAHID commented on #54360
💡 Possible solution
1 . Generate a personal token by navigating:
Settings > Developer settings > Personal access tokens
2. Then generate a new token by clicking on "Generate new token" and then fill the token configuration details like Note(acts like a label to remind you for what reason the token was created) , adding expiry of the token and the scopes(permissions).
3. Click on Generate token.
4.

[2022-10-02 19:42] Mbiakop1 commented on #55804
Is this issue still available?

[2022-10-02 19:47] MD-ARBAB-SAHID commented on #55804
Yes it is.
Here is the snapshot:
<img width="503" alt="Screenshot 2022-10-03 at 1 15 17 AM" src="https://user-images.githubusercontent.com/63171580/193473304-dc51627f-e33e-472c-85d5-a490bc9c7708.png">

[2022-10-02 20:41] Roshanjossey commented on #55804
Fixed in https://github.com/firstcontributions/firstcontributions.github.io/pull/263

[2022-10-02 20:41] #55804 closed

[2022-10-02 20:42] Roshanjossey commented on #54432
Sure, go ahead

[2022-10-02 20:43] Roshanjossey commented on #55146
@R0merol, @ifs20004-itdel , can you review #55716?

[2022-10-02 20:48] Roshanjossey commented on #54804
Please read https://github.com/firstcontributions/first-contributions/issues/54479

[2022-10-02 20:48] #54804 closed

[2022-10-02 20:54] Roshanjossey commented on #55438
@nihal-soni , @MD-ARBAB-SAHID read the thread in https://github.com/firstcontributions/first-contributions/issues/54479

[2022-10-02 21:40] Mbiakop1 commented on #55804
ok

[2022-10-02 22:12] SaintQ969 opened #55862 "Still thinking of changing the website UI?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-03 00:24] Roshanjossey commented on #55862
I'll write to you @SaintQ969. you don't have to ask again.

[2022-10-03 00:24] #55862 closed

[2022-10-03 02:06] R0merol commented on #55146
@Roshanjossey Sure! I'm reviewing it

[2022-10-03 02:40] nihal-soni commented on #55438
ok great !

[2022-10-03 09:35] lalitkashyap58 opened #56019 "The contact and home bar should stick to the top ,it will increase user experience ,"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-03 10:33] Roshanjossey commented on #56019
I don't understand the issue. Could you please elaborate? Also add screenshots if it helps.
If this is about firstcontributons.github.io, please read the thread in https://github.com/firstcontributions/first-contributions/issues/54479

[2022-10-03 15:39] mysteriouspla commented on #55394
@liorbentov can I work on this issue ??

[2022-10-03 18:22] RishitaGangwal opened #56234 "Not Added Copyright notice at the bottom of the website"
A website — graphics, content, visual elements — is copyrighted at the time of development. So putting the copyright notice on the bottom of a site states that the material displayed is not to be used without permission of the owner. I would like to add copyright notice at the bottom of a site.

Hey @firstcontributions-bot Please assign this issue to me.

[2022-10-03 18:30] Sayam241020 opened #56237 "adding codechef problem solutions"
Adding codechef problem easy solutions for beginners in coding

[2022-10-03 18:51] jatinmark commented on #56237
I would like to work on this. Can you please assign this to me?

[2022-10-03 18:52] jatinmark commented on #56237
I would like to work on this. Can you please assign this to me?

[2022-10-03 18:52] jatinmark commented on #56234
I would like to work on this. Can you please assign this to me?

[2022-10-03 19:01] Roshanjossey commented on #56237
We would like to put all our efforts into helping beginners to contribute to open source. I think this doesn't align with that goal.

[2022-10-03 19:01] #56237 closed

[2022-10-03 19:04] Roshanjossey commented on #56234
All the content here is under MIT license. Anybody is free to reuse it.

[2022-10-03 19:04] #56234 closed

[2022-10-03 19:58] Kundan1804 commented on #56019
Hey @lalitkashyap58   I am a frond end developer and would love to contribute in this issue an you please assign this to me.

[2022-10-04 00:18] hqyyds2213 opened #56300 "凹凸"
楼梯

[2022-10-04 04:03] 0x27ae opened #56333 "inconsistencies in Contributors.md [ due to incorrect formatting ]"
[code]

**The above lines have inconsistencies, mostly due to extra spaces between ')' and '['**

[2022-10-04 04:08] macwin2005 commented on #56333
https://github.com/a-nn-t-s

[2022-10-04 04:49] Roshanjossey commented on #56333
This is a non problem. Please read https://github.com/firstcontributions/first-contributions/issues/35892

[2022-10-04 04:49] #56333 closed

[2022-10-04 04:50] #56300 closed

[2022-10-04 05:04] Kdksjdjsnskwkwm opened #56344 "Uu"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 05:06] Kdksjdjsnskwkwm opened #56346 "Kdksjdjsnskwkwm"
[](https://mega.nz/file/5H0jBJBA#3IHkIZupGLfAVhPVMHxLlL_MptCmD_IIdH6uaodtFI0)

[2022-10-04 05:42] 0rajnish0 commented on #56346
I am a newbie and I don't understand the issue.
please elaborate it.

[2022-10-04 07:08] Roshanjossey commented on #56346
It's just spam

[2022-10-04 07:08] #56346 closed

[2022-10-04 07:08] #56344 closed

[2022-10-04 08:30] Prakhar9450 opened #56406 "beginner"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 08:34] Roshanjossey commented on #56406
Go through steps in Readme.md

[2022-10-04 08:34] #56406 closed

[2022-10-04 09:10] Adisa213 opened #56415 "can someone help me with this"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 09:11] Adisa213 commented on #56415
stock = {
    '100': {'name': 'Sardine', 'price': 450, 'qty': 100},
    '101': {'name': 'Gaisha', 'price': 350, 'qty': 100},
    '102': {'name': 'Bread', 'price': 800, 'qty': 100},
    '103': {'name': 'Spaghetti', 'price': 450, 'qty': 100},
    '104': {'name': 'Maltina', 'price': 2800, 'qty': 100},
    '105': {'name': 'Lipton Drink', 'price': 2100, 'qty': 100},
    '106': {'name': 'Tissue Paper',

[2022-10-04 09:11] #56415 closed

[2022-10-04 09:12] Adisa213 commented on #56415
how to get the total of this receipt

[2022-10-04 10:44] Gena7777 opened #56442 "Ulia__fomenko"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 10:48] #56442 closed

[2022-10-04 13:03] AselWisnuAsparagiSaputro commented on #56019
Yesterday

[2022-10-04 13:04] AselWisnuAsparagiSaputro opened #56480 "35892"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 13:28] RiteshMohan186 commented on #55394
i would like to work on this issue , please.

[2022-10-04 13:44] #56480 closed

[2022-10-04 13:46] #55394 closed

[2022-10-04 15:57] dhiradwipramesi commented on #55146
Hello im from Indonesia

[2022-10-04 17:43] karthikdm14 commented on #56019
hi there as a beginner i would love to contribute

[2022-10-04 20:15] sch1102-1201 opened #56624 "expected expression, got "x""
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-04 20:34] #56624 closed

[2022-10-05 07:02] 81CuongVn opened #56753 "Feedback issue if you can fix"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-05 07:29] Roshanjossey commented on #56753
I don't understand the issue. What should be fixed? could you elaborate?

[2022-10-05 10:54] Subhamjain02 commented on #56019
Hello i would also like to contribute

[2022-10-05 12:20] ItzMeCg opened #56831 "Idk just trying out"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-05 12:47] Roshanjossey commented on #56831
Good luck. go through steps in Readme.md

[2022-10-05 12:47] #56831 closed

[2022-10-06 08:50] dpater1986 opened #57018 "Link to all translations in dutch translation"
The link in the Dutch translation isn't to correctly linked

🐞 **Problem**
404 page is showing instead of translation.

🎯 **Goal**
Link to the right page

💡 **Possible solutions**
Change ```../``` to ```./```
📋  **Steps to solve the problem**

I make the change.

[2022-10-06 08:52] Roshanjossey commented on #57018
LInks to other translations in Readmes other than English Readme.md doesn't make sense. It's better to remove that part.

[2022-10-06 09:54] dpater1986 commented on #57018
Thank you, I created a new merge request.

[2022-10-06 09:54] #57018 closed

[2022-10-06 11:26] Bluebberies opened #57043 "Addition of Hausa language translation README.md"
🐞 **Problem**
Addition of Hausa language translation

🎯 **Goal**
To aid those those only familiar to hausa language understand the project better.

[2022-10-06 11:33] markellofff opened #57046 "Add Hacktoberfest Tag in this Repo"
Please refer this link for more clarity.
https://hacktoberfest.com/participation/#pr-mr-details

[2022-10-06 12:22] #57046 closed

[2022-10-06 12:54] Darkcoder011 commented on #54844
i want

[2022-10-06 13:36] andremoraes98 opened #57071 "Incorrectly PT-BR table formatting of another technologies"
🐞 **Problem**
PT-BR table of another technologies is not correctly formatted
![image](https://user-images.githubusercontent.com/88507802/194318563-da5d8cb9-df18-40d4-b61f-1a121d76a164.png)

🎯 **Goal**
Make it show the technologies correctly formatted

💡 **Possible solutions**
Removal of two spaces between table rows

📋  **Steps to solve the problem**
I'll open a PR to solve the problem and link it

[2022-10-06 16:31] andremoraes98 opened #57110 "Visual Studio 2017 PT-BR tutorial"
🎯 **Goal**
Get one more tutorial for Brazilians to make their first contribution, utilizing Visual Studio 2017 Edition

💡 **Possible solutions**
Translate the actual tutorial of Visual Studio 2017 Edition

📋  **Steps to solve the problem**
I opened a PR with this translate

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add

[2022-10-06 16:37] abhint1 commented on #54360
can you assign me this issue

[2022-10-06 18:22] Roshanjossey commented on #55146
Fixed in #55716

[2022-10-06 18:22] #55146 closed

[2022-10-06 21:20] #54844 closed

[2022-10-07 01:04] stbensonimoh opened #57184 "The links to join the Slack Channel has expired or is dead"
🐞 **Problem**

The "Join us on Slack!" link in the masthead of the [README.md](https://github.com/firstcontributions/first-contributions/blob/main/README.md) as well as the "Join Slack Team" link in the **Where to go from here?** has expired or is dead. It shows this error:
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/24779836/194443967-9d110887-9eed-4fa7-942a-65ba0

[2022-10-07 18:44] n8fury commented on #54432
Hello, I would like to work on this issue.

[2022-10-08 10:04] Perin-Mangukiya commented on #57184
@stbensonimoh
The slack channel link
[https://join.slack.com/t/firstcontributorshq/shared_invite/zt-1hirlp38i-I5lG7LKNClF1SI~JwrvsIQ](url)

[2022-10-08 10:09] Perin-Mangukiya commented on #57184
@stbensonimoh
The slack channel link
https://join.slack.com/t/firstcontributorshq/shared_invite/zt-1hirlp38i-I5lG7LKNClF1SI~JwrvsIQ

[2022-10-08 10:44] Kalpesh-18 commented on #57184
So are you working on this issue @Perin-Mangukiya ?

[2022-10-08 11:34] stbensonimoh commented on #57184
Thanks @Perin-Mangukiya. I'll get on with it now.
Thanks @Kalpesh-18 too.

[2022-10-08 11:39] Perin-Mangukiya commented on #57184
@Kalpesh-18 I am on it

[2022-10-08 12:29] Perin-Mangukiya commented on #57184
I am on it

[2022-10-08 13:19] stbensonimoh commented on #57184
@Perin-Mangukiya I created this issue because I wanted to work on it. I'm on it currently.

[2022-10-08 13:23] Perin-Mangukiya commented on #57184
@Kalpesh-18
Should I just close the pull request and leave this issue, because @stbensonimoh is already working on it.

[2022-10-08 15:52] 035pratheeksha commented on #56753
I've started working on implementation of stack using linked list.

[2022-10-08 16:22] ShubhraSuman opened #57526 "Added greetings.yml inside github workflows"
🐞 **Problem**
Wanted to create greetings workflows in this project as a part of hacktoberfest so that whenever a new issue or PR is created, it will automatically greet the contributor.

🎯 **Goal**
Add github actions in the repository

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put is

[2022-10-08 16:22] ShubhraSuman commented on #57526
can u assign it to me.

[2022-10-08 16:28] ShubhraSuman opened #57527 "Update Contributors.md with my details"
Updation in Contributors.md with my name and GitHub profile link.

[2022-10-08 16:28] ShubhraSuman commented on #57527
can u assign it to me.

[2022-10-08 18:08] KiranPatil30 commented on #34075
Hello Sir , Can You Assign This Issue to Me?

[2022-10-08 23:04] Roshanjossey commented on #57527
@ShubhraSuman, you don't need an issue or be assigned it to do this. Follow the tutorial in the readme

[2022-10-08 23:04] #57527 closed

[2022-10-08 23:05] Roshanjossey commented on #57526
I don't think this adds any value here.

[2022-10-08 23:05] #57526 closed

[2022-10-08 23:06] #56753 closed

[2022-10-08 23:14] Roshanjossey commented on #34075
This issue was already resolved.

@KiranPatil30, you don't have to call anybody 'Sir' here. use their names or usernames.

[2022-10-08 23:14] #34075 closed

[2022-10-08 23:18] Roshanjossey commented on #57184
@Perin-Mangukiya, which slack group is this?

[2022-10-09 00:58] stbensonimoh commented on #57184
I just checked and this is what I found...
<img width="281" alt="image" src="https://user-images.githubusercontent.com/24779836/194732641-f8c453be-456a-4ca3-b6f3-c4666d75df12.png">

When I checked the available channels, this is what I saw:
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/24779836/194732659-3b424c92-c940-4043-a20d-9a8208fe33bf.png">

@Roshanjossey Pleas

[2022-10-09 02:02] KiranPatil30 commented on #34075
Please accept pull request
 Humble request

On Sun, Oct 9, 2022, 4:44 AM Roshan Jossy ***@***.***> wrote:

[2022-10-09 04:33] sumitbaroniya commented on #55438
please assign me this issue.

[2022-10-09 06:41] kodepirate opened #57616 "Want to add a hacktoberfest 20220 label"
I want to add a hacktoberfest label @Roshanjossey

[2022-10-09 08:11] Dhanunjay18 commented on #57616
I want to add a label @Roshanjossey

[2022-10-09 08:54] Roshanjossey commented on #57616
This repository is not eligible for hacktoberfest.

Please read https://hacktoberfest.com/participation/#spam
Learning how to contribute wouldn't count towards hacktoberfest contribution.
What you learned here will help you contribute to projects that needs more contributors. Go find such projects.

I wish you the best on your open source journey. May the source be with you :vulcan_salute:

[2022-10-09 08:54] #57616 closed

[2022-10-09 08:59] Roshanjossey commented on #34075
@KiranPatil30, I don't see your PR https://github.com/firstcontributions/first-contributions/pulls?q=is%3Apr+author%3AKiranPatil30. Can you share a link?

[2022-10-09 09:27] Roshanjossey commented on #57184
@stbensonimoh, now, try this link https://join.slack.com/t/firstcontributors/shared_invite/zt-1hg51qkgm-Xc7HxhsiPYNN3ofX2_I8FA

[2022-10-09 11:28] #57071 closed

[2022-10-09 14:22] kodepirate opened #57700 "I would like to update the README file"

[2022-10-09 14:44] Roshanjossey commented on #57700
Please be more specific. What content do you want to update?

[2022-10-09 16:03] kodepirate commented on #57700
I would like to add a Thank you template
Something like this @Roshanjossey

[2022-10-09 16:16] Roshanjossey commented on #57700
Something like what?

[2022-10-09 16:21] Roshanjossey commented on #57184
Fixed in https://github.com/firstcontributions/first-contributions/pull/56039/

[2022-10-09 16:21] #57184 closed

[2022-10-09 17:53] iamwatchdogs opened #57728 "I would like to fix the markdown errors in "Contributors.md""
- Some of them are missing the order of lists.
- Some of the links' markdown has been done wrong.
- Also there are some duplicate values in it.

[2022-10-09 18:23] Roshanjossey commented on #57728
Please read https://github.com/firstcontributions/first-contributions/issues/35892

[2022-10-09 18:23] #57728 closed

[2022-10-09 19:14] iamwatchdogs commented on #57728
I should have read those earlier. Sorry about that 😅😅😅.

[2022-10-10 07:09] shre000 commented on #57700
can I work on this part?

[2022-10-10 07:12] kodepirate commented on #57700
![image](https://user-images.githubusercontent.com/93483932/194814464-486a44b8-c071-4a99-806d-65ab6527da69.png)

@Roshanjossey  Something like this

[2022-10-10 07:34] Roshanjossey commented on #57700
I think this is not useful in Readme

[2022-10-10 07:34] #57700 closed

[2022-10-10 17:24] zhackerloopback opened #57867 "adding my name and gihub-id in contributing.md"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2022-10-10 18:05] MaheshB-14 commented on #57867
I have just started Open source contribution today!

[2022-10-10 18:09] Roshanjossey commented on #57867
Contributors.md not contributing.md

[2022-10-10 18:09] #57867 closed

[2022-10-11 08:51] neppug-Megvu2-wizqys commented on #47927
Sent from Yahoo Mail for iPhone

On Wednesday, March 2, 2022, 12:22 AM, Jay ***@***.***> wrote:

I think I'm missing something but im resolving the conflicts and waiting to be merged.
Is this an automated process?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-10-12 02:07] DwayneGibbs opened #58059 "Grammer Correction: Contributors Markdown File"
🐞 **Problem**
Name needs corrected that was submitted.

🎯 **Goal**
Correct name, create an issue, and add a label of hacktoberfest-accepted label to issue

💡 **Possible solutions**
Correct spacing, get pull request reviewed by maintainer, get label of hacktoberfest-accepted label added to issue with the help of the maintainer.

📋  **Steps to solve the problem**
Correct the spacing in a pull reques

[2022-10-12 03:14] Teejay128 opened #58068 "Improper Markdown syntax by some users"
🐞 **Problem**
Some users used incorrect markdown syntax :
Instead of `[your-name](github profile page address` (without space)
They used `[your-name] (github profile page address` (with space)

🎯 **Goal**
If this change is implemented the errors of the users will be corrected

💡 **Possible solutions**
Removing the space in between `[]` and `()`

📋  **Steps to solve the problem**
selecting: [your-n

[2022-10-12 06:21] Tejas021 commented on #58059
Can i work on this issue
i want to contribute to open source projects so it would be great if u assign it to me

[2022-10-12 06:32] #58059 closed

[2022-10-12 06:32] Roshanjossey commented on #58068
Please read https://github.com/firstcontributions/first-contributions/issues/35892

[2022-10-12 06:32] #58068 closed

[2022-10-12 06:36] Tejas021 commented on #58068
Can you assign this issue to me
i want to contribute to open so it would be great if u assign it to me

[2022-10-12 18:48] Drishti-jain21 opened #58211 "Adding a tutorial video on contributing"
I recently made a video on how one can contribute to repositories using GitHub Desktop and Visual Studio Code. This can be useful for the first-time contributors.

I would like to add the link to this repository so that it can reach many people.
[https://youtu.be/PGaRg3Fp6II](url)

[2022-10-12 23:14] Roshanjossey commented on #58211
Hi @Drishti-jain21, I watched the video you shared. Great effort on it. I'm proud of you doing this to help others.

I have some disagreements with the content of the video though.
I understand that you're showing adding a `br` tag to Readme as an example. But a lot of viewers wouldn't take it as an example. They would literally do the exact same thing you did in other public repos. This would was

[2022-10-13 06:33] Drishti-jain21 commented on #58211
Thank you so much for the feedback. I will definitely make a new video in a better way.
I am sorry for the inconvenience

[2022-10-13 07:20] Roshanjossey commented on #58211
You don't have to anything to apologise for. It's all good.

All the best for your upcoming video. Do ask if you have questions.

[2022-10-13 10:47] yash509 opened #58276 "Issue"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉
*   Congratulations🎉

[2022-10-13 13:48] MirandaPoth commented on #30831
I have this question too. Does anyone have the answer please?

[2022-10-13 14:02] Aknc34 opened #58298 "Node.js Cheat Sheet"
https://www.sololearn.com/learn/7893/?ref=app

[2022-10-13 16:35] iamageo opened #58315 "Why my PR dont work to hacktoberfest 2022?"
On the hacktoberfest page it says to add the hacktoberfest topic to the repository or the tag in my PR, can you help me?

Here is my PR:
https://github.com/firstcontributions/first-contributions/pull/56662

[2022-10-14 15:54] Roshanjossey commented on #58315
This repository is not eligible for hacktoberfest.

Please read https://hacktoberfest.com/participation/#spam
Learning how to contribute wouldn't count towards hacktoberfest contribution.
What you learned here will help you contribute to projects that needs more contributors. Go find such projects.

I wish you the best on your open source journey. May the source be with you :vulcan_salute:

[2022-10-14 15:54] #58315 closed

[2022-10-14 15:55] #58298 closed

[2022-10-14 15:55] #58276 closed

[2022-10-15 02:08] iamageo commented on #58315
oh, i see, thanks a lot for the help! 🖖

[2022-10-15 09:52] rishiofficial opened #58461 "demo : Making first PR"

[2022-10-15 12:12] lucky29-git commented on #58461
Hii !  @rishiofficial @Roshanjossey  it's going to be my first PR if you assign me in this ,
or i can do some help ?

[2022-10-15 22:40] Roshanjossey commented on #58461
@lucky29-git, follow steps in Readme.md

[2022-10-15 22:40] #58461 closed

[2022-10-16 02:30] Rmich008 commented on #51684
Hey