[2016-09-23 10:23] ghost opened #8 "Introducing syncing the fork with upstream would be awesome"

[2016-09-26 04:20] Roshanjossey commented on #8
Totally agree with you @redasus. I'll be adding it on the next iteration.

[2016-10-05 14:42] Roshanjossey commented on #8
Hey @redasus,
I've added some details to readme about keeping fork synced with upstream. I'd love it if you could take a look and give me some feedback.
Also could you share your experiences, problems you faced when you tried contributing to open source projects?

[2016-11-10 18:23] luarca84 opened #20 "Translate Readme to spanish"
I can translate it and send you a Pull request if you are interested.

[2016-11-10 18:52] chagara commented on #20
yo puedo ayudar tambien :)

[2016-11-10 18:58] Roshanjossey commented on #20
@luarca84, @chagara: Appreciate your enthusiasm. I'd love to have Spanish translation of the content as well.
Could you add it to a file named Readme.es.md and add a link to that in the main readme?

That is a convention I've seen in other repos
For reference you can take a look at this
https://github.com/tiimgreen/github-cheat-sheet/blob/master/README.md

[2016-11-10 20:51] luarca84 commented on #20
Hi! I have created a community in google+ to translate projects. You can join if you want.
https://plus.google.com/communities/103593102294347647796

[2017-01-09 10:55] Roshanjossey commented on #20
Hey @luarca84: Readme has gone through further changes. I'd love your help in changing the Spanish version to correspond the English version or as a reviewer if someone else would make the change.

I wanted to learn about your experience from other projects in keeping documentation synced between different languages.

[2017-02-03 07:24] sotayamashita opened #46 "What about Node.js ?"
Node.js has a label for "[good first contribution](https://github.com/nodejs/node/issues?q=is%3Aissue+is%3Aopen+label%3A"good+first+contribution")" too.

[2017-02-03 07:43] Roshanjossey commented on #46
@sotayamashita: Thank you for raising this. I'll be happy to add Node.js

Could you send a PR to address this?

[2017-02-03 08:29] sotayamashita commented on #46
@Roshanjossey Sure. I'll create it soon

[2017-02-03 08:50] sotayamashita commented on #46
This issue was resolved in [c94c729](https://github.com/multunus/first-contributions/commit/c94c72985ab447434b21882ca25f4de57467145b)

[2017-02-03 08:50] #46 closed

[2017-02-03 08:51] sotayamashita commented on #46
Wow, I am a contributor now !! Thanks a lot.

[2017-02-03 08:52] Roshanjossey opened #48 "Add Japanese translation of the tutorial"
@sotayamashita would you like to take this up or share this with some one who you'd think is up for the task?

[2017-02-03 08:54] sotayamashita commented on #48
@Roshanjossey Sure. I will create it until today. I mean Japan Time. :stuck_out_tongue_closed_eyes:

[2017-02-03 12:31] Roshanjossey commented on #48
@sotayamashita: I think we can close this issue now. It'd be awesome if you could review any changes that might be done on Japanese translation at some stage in the future.

Can I reach out to you in the future in case we need a review?

[2017-02-04 02:57] sotayamashita commented on #48
This issue was resolved in [37708a2](https://github.com/multunus/first-contributions/commit/37708a20426e82c4b4ee394188cada4e7a9c2049)

[2017-02-04 20:53] #48 closed

[2017-02-23 05:22] Roshanjossey opened #80 "Tutorial is specific for users of *nix platform and git command line tool"
🐞  **Problem**

Currently the tutorial aims only at people using Linux or macOs operating system and who uses command line git tool.
It might be good to entertain users who don't fall in to this category too.

🎯  **Goal**

Address users across platforms and tools. We can have multiple versions of the tutorial and link each of them in main Readme.

📋  **Steps to solve the problem**

 * Learn how to

[2017-02-24 04:33] #8 closed

[2017-02-24 20:04] suttonwilliamd commented on #80
If anyone wants to have a peek at what I've got so far: https://github.com/suttonwilliamd/first-contributions/blob/gitkraken-guide/gitkraken.md

I'm sure I need some help with design/layout.  I tried to keep as much of the structure, language and even screenshots that are relevant.  Thanks for any help! :)

[2017-02-24 21:46] Roshanjossey commented on #80
@suttonwilliamd, As you're writing tutorial for a GUI tool, make sure that you have screenshots of all relevant actions with point of action (let it be a button or textbox) annoted.

I'll help in case you need changes in layout or styling. Give it your best

[2017-02-26 17:19] crawleya commented on #80
I would love to take a shot at writing the tutorial for the Github desktop app. I used it to add my name to the contributor's list and took screenshots along the way.

[2017-02-26 18:47] Roshanjossey commented on #80
@crawleya go ahead. May the source be with you.

[2017-03-08 07:57] ramseyjacob commented on #80
I can do the Windows / Visual Studio 2015 platform.  It will be screen-shot heavy, so please be patient!

[2017-03-08 08:35] Roshanjossey commented on #80
@ramseyjacob: Awesome. Thank you for taking this up. Please feel free to reach out to me in case of any questions. I'll try to take a look at your changes whenever I get time and share my thoughts

[2017-03-08 21:46] ramseyjacob commented on #80
I'm going to use Visual Studio 2017 Community since it just officially launched today, if that's good with you.

[2017-03-09 04:38] Roshanjossey commented on #80
@ramseyjacob: I'm good with that.
![image](https://cloud.githubusercontent.com/assets/8488446/23736151/4b7cecf8-04b0-11e7-88a4-b18f1f801047.png)

[2017-03-09 18:14] ramseyjacob commented on #80
:-)

One question:  In the section of the tutorial called "Keeping your fork synced with this repository", is the point to show people how to keep their fork's master branch in sync with your master branch?  In the top section they create a branch for adding their name, then work with that branch until the pull request.  If they don't do anything else, their current branch remains that new add-nam

[2017-03-09 22:42] ramseyjacob commented on #80
Another question:  The links to translations are actually links to translations of the command line README.md.  My new tutorial hasn't been translated yet.

I am planning to remove these links from my tutorial and maybe they can be added back if a kind soul should translate my tutorial someday.

Do you agree with this approach?

[2017-03-09 23:00] ramseyjacob commented on #80
Please have a look at my first round of work.  Lots more to come, but this has set the skeleton of the ideas I'm throwing around.

https://github.com/ramseyjacob/first-contributions/tree/windows-vs2017-tutorial

[2017-03-10 02:06] Roshanjossey commented on #80
Yes

Yes. This is something I missed until now. I can't thank you enough for pointing this out. We'll have to add this to all tutorials

Awesome. I'll change other ones as well

Yes. You're right. Go ahead and remove it

[2017-03-11 14:00] Roshanjossey commented on #80
@ramseyjacob: I need some advice from you.

I'm wondering if users of windows OS uses any other tool for version control.

The tutorial you added was about workflow in visual studio right? Are there any other tools (maybe command line) that we should cover in windows?

[2017-03-11 14:56] ramseyjacob commented on #80
@Roshanjossey:  The command line tutorial was good for Windows users as well - the commands are the same AFAIK.

The GitHub Desktop tutorial by @crawleya works on Windows, too, I believe, so already there are good options for Windows devs!

[2017-03-11 14:58] Roshanjossey commented on #80
@ramseyjacob, cool. I'll check off the windows option then. We shall add anything if there is demand from community

[2017-03-11 21:00] Roshanjossey opened #96 "Translations are not up-to-date"
Translations were done when tutorial was evolving. This led to some translations not being in sync with the base tutorial

🐞 **Problem**
Translations of tutorial is not up-to-date with tutorial (Readme) in English

🎯 **Goal**
Get all translations synced with English version

💡 **Possible solutions**
Check for differences between English version and other languages, Make necessary changes

📋  **Ste

[2017-03-12 08:03] Roshanjossey opened #97 "Users might not sync upstream changes with master branch while merging"
In [`Keeping your fork synced with this repository`](https://github.com/Roshanjossey/first-contributions#keeping-your-fork-synced-with-this-repository) section, users might by mistake merge upstream changes with some branch other than master

🐞 **Problem**
While going through the tutorial, users might be on the branch they created to add their name to contributors list while doing fetching and mer

[2017-03-13 04:11] Roshanjossey commented on #20
Closing this issue in favour of #96.

[2017-03-13 04:11] #20 closed

[2017-03-16 17:12] jiimms commented on #97
Hi,
I want to take this up as I too was stuck on the same step and figured it out after going through the issues tab.

Regards
jimmy

[2017-03-16 17:15] Roshanjossey commented on #97
Cool @jiimms go ahead. If you need any help feel free to reach out to me. I'd be happy to help.

Also we have a slack group to support/mentor people getting in to contributing. Feel free to join by going to https://firstcontributions.herokuapp.com

[2017-03-17 12:51] Roshanjossey commented on #97
@jiimms had fixed this issue in main tutorial (Readme.md) in #104.

We might wanna look in to other version and translations as well before closing this issue.
I'll go through other versions and create a checklist to keep a track of places that needs change

[2017-03-17 21:16] suttonwilliamd commented on #80
Hey everyone!  I took some screenshots and updated the GitKraken guide a bit.  It's almost ready.  I need a few more eyes on it though.  Would anyone care to give it a dry run?

https://github.com/suttonwilliamd/first-contributions/blob/gitkraken-guide/gitkraken-tutorial.md

Thanks for any feedback

[2017-03-18 04:01] Roshanjossey commented on #80
@suttonwilliamd: I had a quick look at it. Looks good.

One quick feedback: Could you add link to GitKraken guide to main Readme as well?

I'll spend some time later today to have a detailed read.

Meanwhile, you can submit a PR. we can do reviews and comments there.

[2017-03-20 15:53] suttonwilliamd commented on #80
Addressed this with PR #108

[2017-03-20 15:58] Roshanjossey commented on #80
@suttonwilliamd, As all tools and operating systems that we identified has been covered, I think we can close this card.

If anyone needs to add any other platforms/OS, we're good to open this issue again.

[2017-03-20 15:58] #80 closed

[2017-03-26 04:39] aaossa commented on #96
I can make a PR with the spanish version :raised_hands: :grin:

[2017-03-26 04:43] Roshanjossey commented on #96
Awesome @aaossa. If you need any help feel free to reach out to me.

We're also have a slack channel to support this project. You can join it by going to https://firstcontributions.herokuapp.com

[2017-03-27 02:52] PROB8 commented on #97
Hi, I want to take it up! I am stuck and have not figured my way through it. Please help

[2017-03-27 03:37] Roshanjossey commented on #97
@PROB8: As I've commented earlier, this has been fixed in main tutorial.

Could you explain your situation better, I'd be happy to help. You should've submitted a PR before this step. This step doesn't block you from that

[2017-03-28 03:50] tranlyvu opened #117 "Fix links of section "tutorial using other tools""
🐞 **Problem**

links to github desktop, Visual Studio 2017 and gitkarent are not correct for many language

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

I'll work on it today

[2017-03-29 07:20] tranlyvu commented on #117
Pr #120

[2017-03-31 09:20] #117 closed

[2017-04-02 12:21] Roshanjossey opened #126 "Create a landing page for first contributions"
A landing page for First contributions will bring a better look to the project

🐞 **Problem**

Jumping directly in to project readme is not cool enough.

🎯 **Goal**

Create a landing page. This will help in working on additional features in the app too.

[2017-04-02 12:33] Roshanjossey opened #128 "Move project listings to web app"
Project listing might be best kept in web app. There we can have more functionality.

🐞 **Problem**

Current implementation of project listing is constrained by what markdown can do.

🎯 **Goal**

If we move this to web app, we can implement more functionality like filtering, better way of showing information etc.

💡 **Possible solutions**

Move the current project suggestion list to web app.

📋  *

[2017-04-02 12:42] Roshanjossey opened #129 "Filter projects based on language / framework / domain"
This comes after moving issues to webapp #128

🐞 **Problem**

Users prefers to filter projects to those they'd love to contribute to rather than going through all projects in the list

🎯 **Goal**

Users should be able to easily find projects they're interested in.

💡 **Possible solutions**

Filter projects based on programming language, framework used, domain etc

📋  **Steps to solve the problem**

[2017-04-02 13:04] Roshanjossey commented on #128
I'm thinking about having a card like UI for each projects

![image](https://cloud.githubusercontent.com/assets/8488446/24587372/e4c9025e-17d2-11e7-8480-85cb1dce349c.png)

refer to https://opensource.google.com/projects/list/featured to get an idea about how it should look.

[2017-04-02 13:14] Roshanjossey opened #130 "Cool background for header in web app"
A cooler background can really lift the looks of first contributions

🐞 **Problem**

Currently header background is plane. It could be better if there was some additional graphics to improve the looks

💡 **Possible solutions**

There could be some graphics related to git or branches.

I like the ones in https://opensource.google.com/ and https://about.gitlab.com/

📋  **Steps to solve the problem**

[2017-04-02 13:19] Roshanjossey commented on #130
Here's a screenshot from https://about.gitlab.com/

![image](https://cloud.githubusercontent.com/assets/8488446/24587449/8756be66-17d4-11e7-9971-163dd0311d8c.png)

I love the thought behind representing things as commits/ branches

[2017-04-02 13:22] Roshanjossey commented on #130
Here's a screenshot from https://opensource.google.com/

![image](https://cloud.githubusercontent.com/assets/8488446/24587493/6c388a50-17d5-11e7-97eb-485dd2209390.png)

This has a sense of continuity to it. Like things are connected.

[2017-04-02 14:22] Roshanjossey opened #131 "Change favicon"
🐞 **Problem**

Currently we have default react favicon

🎯 **Goal**

It'd be great to put first contributions icon as favicon

[2017-04-02 14:27] #131 closed

[2017-04-14 19:29] organdonor86 commented on #130
I'm going to pick this up and see what I can do

[2017-04-14 19:33] ChrisWcs commented on #128
Hey I would love to start working on this card component. Looks like we need a title, Icon, short summary and link to the page. I will create a basic card to start and then go from there. I will use googles as an example.

[2017-04-14 19:41] Roshanjossey commented on #128
Awesome @ChrisWcs, I think you have the right idea in terms of how cards should look.

Please submit a PR when you have something. It'd be good to start conversations early on

Thank you for taking this up

[2017-04-17 03:57] tranlyvu commented on #129
This seems to be very similar to #128

[2017-04-19 17:20] ChrisWcs commented on #128
So I have been working on the cards and I also have build a component that would hold the cards. I have also been working on a search feature based on keywords associated with the projects.

Currently, the cards are functional but need some better styling. I am still learning how to design and work with CSS better. The search feature works by allowing the user to put in a keyword like JavaScript,

[2017-04-20 05:16] Roshanjossey commented on #128
@ChrisWcs, please submit a PR with your changes. I'd be easier to make reviews and suggestions there where we have more context.

If you wanna make additional changes to that PR, it's simple as pushing to that branch

[2017-06-10 08:14] vikramjeetshyo1 commented on #96
I choose HINDI

[2017-06-10 12:39] Roshanjossey commented on #96
@vikramjeetshyo1 That'd be awesome. Thank you

[2017-06-21 15:06] Joseph1989 commented on #96
I'll pick up Dutch

[2017-06-21 15:20] Roshanjossey commented on #96
@Joseph1989: Thanks for taking it up. Do reach back to me if you need any help.

[2017-06-21 15:46] Joseph1989 commented on #96
@Roshanjossey Just compared the Dutch to the English but the Dutch is already up to date.

[2017-06-22 04:02] Roshanjossey commented on #96
@Joseph1989
[code]
^ This part is not there in Dutch translation right? Would you like to add that?

[2017-06-22 07:01] Joseph1989 commented on #96
@Roshanjossey hope to have some time later today to check :-)

[2017-06-25 05:59] Balaji2198 commented on #126
@Roshanjossey  Anyone working on this issue?

[2017-06-25 06:37] Roshanjossey commented on #126
@Balaji2198: This is almost done. You can take a look at the landing page by going to https://roshanjossey.github.io/first-contributions/

Feel free to suggest anything that can improve the landing page.

[2017-06-25 13:56] Joseph1989 commented on #128
Did anything happen here or is this still open?

[2017-06-26 01:05] ChrisWcs commented on #128
It is still open. I have been busy and not had time to work on.

[2017-07-06 13:34] kashura commented on #96
Do you still need help with Russian? @Roshanjossey

[2017-07-06 17:31] Roshanjossey commented on #96
@kashura: Yes, It'd be awesome if you could pick it up

[2017-07-06 19:24] kashura commented on #96
@Roshanjossey is this what needs to be translated? https://github.com/Roshanjossey/first-contributions/blob/master/README.md

[2017-07-07 03:57] Roshanjossey commented on #96
@kashura: Yes

[2017-08-03 16:18] LePetitRenard opened #380 "Needs for Clarification Concerning the Readme Steps"
Good day,
My first contribution to GitHub ever was yesterday and I've only followed your tutorial to get there.
So first, thank you very much!

However, there is a few things I have picked up along the way: Everything is flowing great in the readme...The new comer pushes its local machine repo back to his GitHub profile repo and then Requests a pull onto the original Roshanjossey/first-contributio

[2017-08-03 18:36] Roshanjossey commented on #380
@LePetitRenard: Thanks a ton for bringing this to my attention. You're awesome.

I've got feedback from people already that they missed seeing the point of `Keeping your fork synced` section. I didn't know that it had a destructive effect.

How about we take a third path where we extract that section out to a different file as additional information (or even remove it). Anyways it's not part of th

[2017-08-03 18:50] Roshanjossey commented on #380
I wanted to answer/ clarify some questions in your comment

This fetching and merging is only neccessary if you want to start working on something. It's good to start from how upstream (or the repo from you forked from) is now.
Your fork might not have recent changes that are in upstream.
For example if you go to your fork on github, you can see messages similar to
`This branch is 1 commit behind

[2017-08-03 18:51] Roshanjossey commented on #380
You'll get request for login/password or an authentication error. It wouldn't go through

[2017-08-05 15:28] LePetitRenard commented on #380
Ok, I'm working on making something...Let's see what you think when I request a pull...

[2017-08-05 15:30] Roshanjossey commented on #380
@LePetitRenard: What is your thought on removing that section?

[2017-08-05 17:08] LePetitRenard commented on #380
I think it's important to know how to delete a remote branch, I don't really want to delete it.
You'll see that, if I re-word a little the flow of the README: it can change quite a bit:
1) before the fork, I'll merge <add-your-name> to master. Then deleting the local <add-your-name> is ok.

2) Clarify what we're actually doing in the Sync process

3) Then...I'm left with the remote branch <add-you

[2017-08-06 16:41] tachyons commented on #380
💙 the way this issue is structured. The mentioned section is really valuable, problem is that potential danger is not properly communicated there. So I personally suggest to add warning symbol to potentially dangerous commands and explain the reason

[2017-08-06 17:19] Roshanjossey commented on #380
@tachyons, @LePetitRenard has already submitted a pull request to address this. I could use a second pair of eyes there.

I was thinking about extracting this out to another document and adding it in next steps.
My thinking is that this portion is not part of submitting first pull request workflow.

[2017-08-07 02:12] TheChronicMonster commented on #380
A little late to the party here, but better than never.

After scouring the interwebs a bit, I concur with @Roshanjossey to extract the second half of this repo to a different file as additional information. A beginner level 2, if you will.

I also concur with @tachyons to include a `danger` icon ☠️ and more blatant instructions to not proceed with the second piece until AFTER the pull request has

[2017-08-11 14:42] opiumated commented on #126
Is this the only feature we need on the landing page? Am thinking it should have quotes from guys that have contributed to the project. More like a vote of thanks to this impressive idea

[2017-08-12 11:02] Roshanjossey commented on #126
@opiumated: We could have a section for that.

[2017-08-14 11:41] opiumated commented on #128
It would be nice if i can contribute to this. If it is still open i guess

[2017-08-14 11:53] Roshanjossey commented on #128
@opiumated: Yes this is still open

[2017-08-14 12:00] opiumated commented on #128
Okay , i'll create a new branch and see what has already been done and how i can improve on it

[2017-08-19 22:47] clanmaster commented on #130
I will try to provide some insight. I would say that the header should have an ideal reflection to what the site is in general. Give me a few and I will commit.

[2017-08-25 12:26] pedrorijo91 commented on #126
the link returns a 404 for me at least

[2017-08-25 14:44] Roshanjossey commented on #126
@pedrorijo91, landing page is hosted on GitHub pages. Might be a problem that happened on their end.
https://roshanjossey.github.io/first-contributions/
Now works for me.

[2017-09-28 05:06] Roshanjossey opened #490 "Make your first pull request"
Follow the tutorial in readme and add your name to `Contributors.md`

[2017-09-28 08:23] platipo commented on #96
@Roshanjossey I saw there is no Italian translation.
Do you need me to do it?

[2017-09-28 14:37] meherpooja commented on #490
Hey, Thanks for the Issue. I am the first-timer, will try to do.

[2017-09-28 17:25] bulliana commented on #490
Sweet, my first hackathon pr!

[2017-10-01 00:28] siderio2 commented on #96
@Roshanjossey, I would love to see my native language included in the list of avaliable translations: Galician ([https://en.wikipedia.org/wiki/Galician_language](url)). Of course I will do the job and make a PR if  you are OK with this.

[2017-10-01 05:20] geekychaser commented on #490
Thanks created my first Pr

[2017-10-01 13:29] Roshanjossey commented on #96
@siderio2: I'd love that. Go ahead

[2017-10-01 15:33] rishabh09 commented on #126
@Roshanjossey Landing Page is not responsive.

[2017-10-01 15:34] Roshanjossey commented on #126
@rishabh09, Let's fix that shall we?

[2017-10-01 15:35] rishabh09 commented on #126
@Roshanjossey Can I open this as an issue and start fixing it.

[2017-10-01 15:36] Roshanjossey commented on #126
@rishabh09, yeahbsolutely

[2017-10-02 13:10] Roshanjossey opened #613 "Add tweet button to web app"
Add a twitter share button to web app https://roshanjossey.github.io/first-contributions

🐞 **Problem**

We're missing out on reaching out to a lot of users because we're not leveraging the complete potential of social media marketing.

🎯 **Goal**

Reach out to more people.
![I like it](https://8.smash.com/u/2017/02/Rick-and-Morty-Memes-66.jpg)

💡 **Possible solutions**

Add a tweet button to web

[2017-10-02 13:38] digaant333 commented on #613
I am working on it

[2017-10-02 13:41] ad-dan commented on #613
I am also working on it 😄

[2017-10-02 13:42] Roshanjossey commented on #613
@ad-dan, @digaant333 Called it first. I'll wait for him to build the feature. Meanwhile, do you wanna pick up something else?

[2017-10-02 13:47] TheZZGamer commented on #613
Working, should be done in few minutes, design is also prioritized

[2017-10-02 13:50] Roshanjossey commented on #613
@TheZZGamer, I'm sorry but I've already given @digaant333 a go-ahead. He must have started working on it. Can you help me review that pull request? or would you like to do any other social media share?

[2017-10-02 14:39] ad-dan commented on #613
@Roshanjossey No problem. Best of luck to @digaant333  ! ❤️

[2017-10-02 15:03] ekrempel commented on #96
I will check the German one.

[2017-10-02 15:07] TheZZGamer commented on #613
Alright, np, reviewing the request

[2017-10-02 15:30] Roshanjossey commented on #613
@TheZZGamer, pull request hasn't been submitted yet.

How did you have the design of tweet button in your mind? I was a little unsure on where to put it.

[2017-10-02 15:39] TheZZGamer commented on #613
i was thinking of it in the top left/top right but as a fixed position so that its always there when you scroll down

[2017-10-02 15:45] Roshanjossey commented on #613
I'm not sure how that goes along with user flow. Users won't tweet about their first contribution everytime they visit web app

User flow is like

User makes first pull request > Looks at next steps there we'll have a link to web app pointing to share section > User tweets

We're putting tweet button in web app because we can't put it in GitHub readme.
I was thinking about a share section at the b

[2017-10-02 16:03] Lubits opened #624 "Update github-desktop-tutorial for Github Desktop 1.0"
Update `github-desktop-tutorial.md` to reflect the new Github Desktop 1.0 client.

🐞 **Problem**
Github Desktop 1.0 was [announced on September 19](https://github.com/blog/2437-announcing-github-desktop-1-0). The new version includes quite a few changes in UI compared to the version in `github-desktop-tutorial.md`

🎯 **Goal**
Make it easier for  (new) users with Github Desktop 1.0 and above follow

[2017-10-02 16:06] Roshanjossey commented on #624
Thank you for creating this issue @Lubits.

We'd like to entertain users of old version too.
Do you wanna start working on this or the community to take this up?

[2017-10-02 16:10] Lubits commented on #624
@Roshanjossey I can start working on it. However, if you'd still like to keep the entertain users of the old version, would it be an idea to create a new .md file for Github Desktop 1.0?

[2017-10-02 16:15] Roshanjossey commented on #624
@Lubits, can you gimme a brief idea about what the changes will be?

Yes, let's create another `.md` file, make the new one as default and put a link to the old one from new one with some text `Follow this if you're using an version of GitHub desktop older than 1.0`

[2017-10-02 17:04] Rogue00 commented on #490
I'm gonna try this. Thanks for the beginner's assistance.  :)

[2017-10-02 17:53] #380 closed

[2017-10-02 18:48] Roshanjossey opened #632 "Web app is not responsive now"
🐞 **Problem**

Web app doesn't render well on small screens

🎯 **Goal**

It should look good on smaller screens too.

💡 **Possible solutions**

Make it responsive
![Responsive](https://i.pinimg.com/564x/63/eb/50/63eb50a853a03196f66adeab41d48467--humor-memes-jokes.jpg)

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Sub

[2017-10-02 20:22] AimeTPGM commented on #96
I'd like to help :) there is none Thai language but could I add new translation in Thai? I think it will be useful for GitHub beginner in Thailand. Thank you.

[2017-10-02 20:50] jimjja commented on #632
I can work on this issue

[2017-10-03 02:22] hereisnaman commented on #632
Hi @Roshanjossey I want to work on making the app responsive.

[2017-10-03 03:11] Roshanjossey commented on #632
@jimjja, @hereisnaman I'm sorry, we already have a pull request addressing this issue. #593  Can you help me out reviewing that pull request?

[2017-10-03 03:12] Roshanjossey commented on #96
@AimeTPGM: Thank you for jumping in. Go ahead

[2017-10-03 05:00] digaant333 commented on #613
@Roshanjossey you can let others work on it as I am not versed with React. I thought that it is an angular app

[2017-10-03 06:09] Roshanjossey commented on #613
@TheZZGamer: @digaant333 is not working on this. Can you pick this up?

[2017-10-03 06:21] TheZZGamer commented on #613
alright where do u want the tweeter button to be?

[2017-10-03 06:31] Roshanjossey commented on #613
@TheZZGamer, I'm thinking at the bottom we'll have a social share section. We'll add other platforms later.

How about this?

![share](https://cdn.dribbble.com/users/123903/screenshots/2253624/screenflow-social-connect.gif)

Instead of follow, we can have share for now. No need for such extravagant animation. It can just have a simple box shadow change like project cards. Link from tutorial should

[2017-10-03 06:33] digaant333 commented on #613
@Roshanjossey if u have anything related to angular then do let me know

[2017-10-03 12:08] ekrempel opened #657 "Add a drawing to clarify the full sync workflow"
🐞 **Problem**
The chapter `__Keeping your fork synced with this repository__ mentions that a drawing should be added to clarify the concept. This remark should be handled as an issue and not as a remark in the tutorial.

🎯 **Goal**
Make the concept of remote and local forks easier to understand.

💡 **Possible solutions**
Add a drawing and integrate it to /additional-material/keeping-your-fork-sync

[2017-10-03 12:09] ekrempel commented on #657
Working on a drawing

[2017-10-03 14:25] Roshanjossey commented on #657
@ekrempel: Thank you for taking this up ❤️

[2017-10-03 14:32] Lubits commented on #624
@Roshanjossey The new `.md` file will contain the same steps but with screenshots of the new Github Desktop UI with altered text (e.g. "on the + on the top left." is no longer true, will be replaced with something like "Press File in the menu bar and click on Clone Repository").

The `README.md` should then be updated to point to the new `.md` file.

[2017-10-03 15:14] Roshanjossey commented on #624
@Lubits, Sounds good. Go ahead. Also, make sure you have a link to the old one from the new one.

[2017-10-04 05:09] newbiegreen4ever commented on #96
I  would like to help with Traditional Chinese. Still need helper?

[2017-10-04 05:10] Roshanjossey commented on #96
@newbiegreen4ever: Yes. Both Chinese translations are not up to date

[2017-10-04 14:43] #657 closed

[2017-10-04 21:52] jimjja commented on #129
@Roshanjossey do you have any ideas how to do it? I have the following:
1. Call GitHub API for each project and get the programming language it is written on. This means a request for each project and once we get a response from all requests filter by language.
2. The other way is to set a new property e.g. _language_ to each project object and just filter by that based on user input
I think the s

[2017-10-04 22:35] Roshanjossey commented on #129
@jimjja: I also had the second option in mind. Instead of language, I was thinking about tags which can be associated with projects. This can be more than just languages. Like libraries used, domain, etc can be associated with projects. This can also be shown in cards. I'll write up an issue for this once I get a concrete idea about the design

[2017-10-05 04:48] jello7654 opened #705 "Provide further details in First Contributions ."
🐞 **Problem**

Hello all ,  The instructions for how to make your first contributions are rather good , but  at the portion where one is told to save the Contributors.md file and how to check it's status . I found that ,as a newbie, it  was not clear for example : if the file needed to be saved in a certain location etc  or  what to do if, like me, it did not upload correctly  I think that since t

[2017-10-05 13:51] CodHeK commented on #130
I'd like to add a background to this !

[2017-10-05 16:26] cpa5399 commented on #705
https://github.com/Roshanjossey/first-contributions/pull/714 :D

[2017-10-05 20:00] Roshanjossey commented on #705
@jello7654, I'm not sure if we should address this but if multiple users are facing/ have faced the same problem while going through the tutorial, we'll address it. How about we have a vote for this?
We'll ask the community to vote on this issue. If we get a lot of positive votes, we'll fix this. I've added voting to issue description.

[2017-10-05 20:22] Roshanjossey commented on #705
My thoughts on the points raised:

When you edit a file, most text editors save the changes to the same file that was opened for editing. This action is a trivial `ctrl-s` for most people. This is a user experience pattern almost everybody using a computer is familiar with. If I we add another line to communicate that user should be overwriting the same file or it should be save to the same reposi

[2017-10-06 00:12] clanmaster commented on #130
Hi, background to your page or to an element? If it's the background, use CSS selector body { background: url(address);}
If it's an element, target the element in CSS or use inline style

[2017-10-06 09:03] Roshanjossey commented on #130
@clanmaster, the background is just for the header section of the web app (the element at the beginning with title and get started button) right now it's just plain blue. I was thinking of something more dynamic like the one in https://opensource.google.com

[2017-10-08 03:12] dichaves commented on #96
I'd love to help with the Portuguese (BR) translation! I see that the additional material "Remove a branch from your repository" isn't translated, nor are the "Tutorials Using Other Tools". Can I help?

[2017-10-08 14:20] Roshanjossey commented on #96
@dichaves: That'd be awesome. Go ahead. Let's follow the same structure we use for the main tutorial for translation of additional material too. Like translation directory inside additional materials directory and links to translations.

[2017-10-08 21:26] Aclark2089 commented on #490
Very easy way to get started, thanks for this

[2017-10-09 04:08] jamesg1 commented on #632
Hi I would like to help out with this feature, I can help review #593 👍

[2017-10-10 14:15] ubatin opened #780 "Languages List for more smart"
🐞 **Problem**
----------------
We have many translation languages. But some of the translation language pages have not complete to jump another translated language pages. I think we must need **translation guide** page.

🎯 **Goal**
------------
Every translation pages have all translated page links. More smart.

💡 **Possible solutions**
--------------------------
We must need to add **translation

[2017-10-10 15:28] Roshanjossey commented on #780
@ubatin: Thank you for raising this.

Do you have any rules in mind that should go into translation guide?

[2017-10-10 17:22] Roshanjossey commented on #613
@TheZZGamer, any update on this? Are you stuck somewhere? Do you need any help?

[2017-10-10 18:12] Thirdoptics commented on #490
Thanks for this, great way to get started and get going with some Hacktoberfest goodness

[2017-10-10 22:44] Thirdoptics commented on #613
If TheZZGamer doesn't have time, can I pick this one up?

[2017-10-11 03:51] Roshanjossey commented on #613
@Thirdoptics, Yes. We'll wait for half a day for @TheZZGamer to respond. If that doesn't happen, go ahead and build it.

[2017-10-11 13:21] ubatin commented on #780
@Roshanjossey , I have some rules that -
1. First need to copy all translated link from English page (or) copy all translated link form translation guide page that we will create page.
2. At this section add *English link* on your translation page.

[2017-10-11 15:04] Roshanjossey opened #802 "Add more content to additional material"
We have an additional material section that has additional content that can be used after the first contribution.
https://github.com/Roshanjossey/first-contributions/blob/master/additional-material/additional-material.md

🐞 **Problem**
We don't have a lot of content there. We lack content for many problems beginners may face.

🎯 **Goal**
Have a big FAQ of sorts that can explain processes of doing

[2017-10-11 16:50] Thirdoptics commented on #613
Guess I'll go ahead on this one...Any ideas on what the tweet should say?

This seems well worded:

[2017-10-11 17:01] Priyansh2 commented on #802
@Roshanjossey what about these :- how to undo commits, revert commits, edit commit messages, discard local files, resolve merge conflicts, and more

[2017-10-11 19:57] vipulgupta2048 commented on #802
@Roshanjossey  I am intermediate in git and I wanted to suggest if we could add some popular website that are beginner friendly. That helped me a lot when I started to learn.
Example - [try.github.io](url) or [tiny.cc/noshit](url). Love this for any commit issues that I face http://sethrobertson.github.io/GitFixUm/fixup.html
We could have a separate section of helpful links for beginners if they g

[2017-10-12 03:48] Roshanjossey commented on #613
@Thirdoptics: Yes go ahead.
The tweet is done by somebody who just made their first pull request. So how about something like

You can too. Head over to https://github.com/Roshanjossey/first-contributions/blob/master/README.md and follow the simple tutorial there.

[2017-10-12 04:52] Thirdoptics commented on #613
@Roshanjossey: That's a lot better considering the user flow, and pointing to the readme. I like it.

Do you want to implement something like [react-share](https://github.com/nygardk/react-share) or keep the app dependency free and do something more self contained like the project cards with just css/svg?

[2017-10-12 04:53] rahrang commented on #128
Still open?

[2017-10-12 04:55] Roshanjossey commented on #613
@Thirdoptics: Let's go with something like project cards. Refer the Gif above. We don't want such animations. Let's keep it simple as project cards

[2017-10-12 04:57] Roshanjossey commented on #128
@rahrang: This is done. We need some clean up though. Like removing the listing from readme and pointing users to web app. Would you like to work on that?

[2017-10-12 05:07] Thirdoptics commented on #613
@Roshanjossey sounds good, I'll get something cooked up in the morning and send over a pull request.

[2017-10-12 07:30] Roshanjossey commented on #780
@ubatin, how about refactoring links to translations to a different page?

The benefits I see for that approach are the following.

 * There is less duplication. Having the same content on multiple pages can cause integrity problems. We'll have to make sure that links are updated in all translations. This could make reviews problematic.
 * The no. of translations can increase over time. We don't w

[2017-10-12 18:24] Thirdoptics commented on #613
@Roshanjossey sorry for the slight delay, very close, just need to finish up getting some css to display nicely, should have something posted later today.

[2017-10-13 02:48] Roshanjossey opened #840 "Add a tutorial in additional materials on how to squash commits"
This issue is spawned off #802.

🐞 **Problem**

In most open source projects, you have to squash all commits in a pull request. There might be contributors who might not know how to do this

🎯 **Goal**

Help contributors understand what is squashing and how to do it

💡 **Possible solutions**

Add a tutorial in `additional materials` to address this.

📋  **Steps to solve the problem**

 * Comment b

[2017-10-13 04:34] vipulgupta2048 commented on #802
Okay then I will start working on an additional materials page that provides information in the form of new links which beginners would find helpful.

[2017-10-13 04:39] Roshanjossey commented on #613
@Thirdoptics: This is deployed to web app now. Do give it a try.

Closing this issue as this feature is completed.

[2017-10-13 04:39] #613 closed

[2017-10-13 04:55] ubatin commented on #780
@Roshanjossey , sorry for late replay.
Ok I'll do it late.

[2017-10-13 06:33] aysonje opened #844 "Some links in the project links have incorrect/outdated label names"
🐞 **Problem**

When following some links (Fun Retros, react, Node) from README.md, the github page shows "No results matched your search" which might lead the beginner contributor to think there are no beginner-level issue.

🎯 **Goal**

To point the links to the proper list of issues (filtered using the proper labels)

💡 **Possible solutions**

Update the links

📋  **Steps to solve the problem**

[2017-10-13 06:35] aysonje commented on #844
So far I've checked the links on the repos I was interested at and only found the three enumerated above. I can work on fixing all the incorrect labels in the links in `listOfProjects.js`.

[2017-10-13 06:40] Roshanjossey commented on #844
@aysonje, would you like to take this up and fix this?

[2017-10-13 06:42] aysonje commented on #844
@Roshanjossey yes, please!

[2017-10-13 06:43] Roshanjossey commented on #844
@aysonje, All yours

[2017-10-13 11:50] omguhh commented on #840
I'll take a look at this :)

[2017-10-13 13:45] Ijebusoma commented on #802
@Roshanjossey I would like to add a tutorial on how to revert commit and edit already committed message. Is anyone on this.

[2017-10-14 04:50] Roshanjossey commented on #802
@Ijebusoma, we don't have anybody working on this right now. Please go ahead. Also, do add a tutorial for each topic.

[2017-10-14 04:51] Roshanjossey commented on #840
@omguhh, Awesome. Do try your tutorial out when submitting pull request for this 😉

[2017-10-14 06:41] Ijebusoma commented on #802
I'm on this!

[2017-10-14 10:40] Roshanjossey commented on #844
@aysonje, I'm closing this.

Fixed in #845

[2017-10-14 10:40] #844 closed

[2017-10-14 11:35] Roshanjossey opened #877 "Add a tutorial in additional materials on how to revert a commit"
🐞 **Problem**
While working with git, you might have to undo commits that were done before

🎯 **Goal**
Help users understand how to revert commits, problems it might cause, how to do it

💡 **Possible solutions**
Add a tutorial to revert commit

[2017-10-14 11:35] Roshanjossey commented on #877
We already have a pull request #874 to address this. Please review it if you're interested.

[2017-10-14 11:39] Roshanjossey commented on #632
Closing this as issue is resolved in #593

[2017-10-14 11:39] #632 closed

[2017-10-14 11:41] Roshanjossey commented on #624
@Lubits, any update on this? Are you stuck somewhere or need help?

[2017-10-14 11:43] Roshanjossey commented on #128
Closing as this is done.

[2017-10-14 11:43] #128 closed

[2017-10-14 11:44] Roshanjossey commented on #126
Closing as this is done

[2017-10-14 11:44] #126 closed

[2017-10-14 11:52] #97 closed

[2017-10-14 12:05] Manukam opened #879 "Error in package.json when building"
After runnning npm start, a error is thrown.

🐞 **Problem**
npm ERR! Windows_NT 10.0.15063
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v6.11.2
npm ERR! npm  v3.10.10
npm ERR! file C:\Users\Manuka Maduranga\Desktop\Hacktober\first-contributions\app\package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to

[2017-10-14 12:15] Roshanjossey commented on #879
@Manukam, sorry that was my bad. I've pushed a fix now.
Can you pull again, try npm install again and close this issue if it works for you?

[2017-10-14 16:31] vipulgupta2048 commented on #802
PR submitted for Useful Links #900.
Check it out.

[2017-10-14 18:52] Roshanjossey opened #908 "Add a tutorial in additional materials on how to undo local commits"
This issue is spawned off #802.
How to do git reset (both soft and hard)

🐞 **Problem**
Users might have to undo commits

🎯 **Goal**
Make users understand how to reset

💡 **Possible solutions**
Add a tutorial in additional materials to address this.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request

[2017-10-14 18:54] #879 closed

[2017-10-14 19:20] YernYee commented on #908
@Roshanjossey. Hello, I'm YY. Can I try to pick this up?

[2017-10-14 19:23] Roshanjossey commented on #908
@YernYee, sure

[2017-10-14 19:34] Ijebusoma commented on #802
Opened a PR #909 for editing commit message

[2017-10-14 21:00] YernYee commented on #908
PR submitted #912.
Please review and if there's mistake, I'll correct them.
Thanks. =)

[2017-10-15 04:09] #780 closed

[2017-10-15 10:24] mathagician commented on #877
@Roshanjossey is this issue still vaild?

[2017-10-15 11:38] Shhzdmrz commented on #96
I can make a PR with the Urdu version...

[2017-10-15 12:04] FoxyHutch commented on #490
First pr 😃
Thanks for the tutorial 👍

[2017-10-16 01:30] Roshanjossey opened #933 "Add a tutorial in additional materials on how to resolve merge conflicts"
🐞 **Problem**
Merge conflicts are a big pain when working with branch-based approach in OSS development

🎯 **Goal**
We wanna make users knowledgeable of what merge conflicts are and how to resolve them.

💡 **Possible solutions**
Add a tutorial on how to resolve merge conflicts

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your chang

[2017-10-16 01:32] Roshanjossey commented on #877
@mathagician, sorry this has already been resolved. Do you wanna try solving #933 ?

[2017-10-16 01:33] Roshanjossey commented on #96
@Shhzdmrz, cool. Go ahead

[2017-10-16 02:12] smoholkar commented on #933
Will create a PR for this

[2017-10-16 15:19] Lubits commented on #624
@Roshanjossey I've not had a lot of time this past two weeks sadly. So, if anyone wants to pick this up, be my guest. However, I'm still open to working on it (at a possible slower pace) if there's no one else.

[2017-10-16 15:25] Roshanjossey commented on #624
@Lubits, take your time. Just checking to see if I can assist in any way

[2017-10-17 02:52] Roshanjossey opened #960 "Add a tutorial in additional materials on how to configure username and email for git"
🐞 **Problem**
Git requires to set up user configurations before pushing to remote (GitHub)

🎯 **Goal**
Make user users understand why this is needed. How to do it and what happens behind the scenes

💡 **Possible solutions**
Add a tutorial to `additonal material` to  address this

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your cha

[2017-10-17 04:38] aero31aero commented on #960
I'll take this up and see what I can do.

[2017-10-17 04:59] HeavyVin commented on #960
Id like to help, I just spent a long time fixing configuration files because I did not have something like this

[2017-10-17 05:00] Roshanjossey commented on #960
@HeavyVin, @aero31aero has already started working on this. Can you help me review that pull request when @aero31aero submits it?

[2017-10-17 05:04] HeavyVin commented on #960
Ya, sure.

[2017-10-17 16:13] Roshanjossey opened #980 "Add a tutorial in additional materials on how to remove a file from git without removing from file system"
🐞 **Problem**
Users might have to stop tracking a file on git without removing it

🎯 **Goal**
Make users understand how `git rm` works

💡 **Possible solutions**
Add a tutorial in `additonal-material` to address this.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in comments - `Addre

[2017-10-17 22:21] PavSidhu commented on #980
I'll take a look at this!

[2017-10-18 02:00] Roshanjossey opened #997 "Add a tutorial in additional materials on how to move a commit to a different branch"
🐞 **Problem**
You might accidentally commit on the wrong branch

🎯 **Goal**
Make user understand how to move all the changes to a different branch.

💡 **Possible solutions**
Add a tutorial in `additional material` to address this.

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit, push your changes
 * Submit a pull request and add this in com

[2017-10-18 04:07] ijzm commented on #997
I can try to help.
Writing it right now

[2017-10-18 08:26] YernYee opened #1004 "Suggestion on the design of the web app"
Some Improvements/Suggestion on making the web app more organize and improve UX.

🐞 **Problem**
1. The list of project is a bit too wide. Can consider making the width smaller and maybe put a container around them.
2. The social media should be after the header and before the list of projects. So that, it's more easily accessible.
3. The filter project can be on top of the project list, with a sea

[2017-10-18 09:18] YernYee commented on #1004
I thought of something like this..
![image](https://user-images.githubusercontent.com/23068019/31710644-364d64e8-b428-11e7-82f3-8bafa62b7975.png)
But of course the wording, phrases are subject to change.

[2017-10-18 11:00] Roshanjossey commented on #1004
Hey @YernYee,

I tried increasing the padding of project list container. I liked it. It was rendering 4 cards in a row. We decided on the padding taking in to account how project list should be displayed in multiple screen sizes. Lemme talk to my designer friends and get back to you on this one.
About the container, If you're suggesting a border, I don't feel so strongly about that. It just provid

[2017-10-18 11:02] Roshanjossey commented on #1004
How about we ask our community about how they feel about these changes? We could do voting in here or slack

[2017-10-18 14:26] YernYee commented on #1004
Hi @Roshanjossey,

About the container, If you're suggesting a border, I don't feel so strongly about that. It just provides an extra framing visually. I think it's not needed.

This one I'm ok with it too. It's just personal opinion and I realized when I'm viewing the web app on 100%, it's rendering 5 cards in a row and it become kinda tight on both end. But it looks good on 110% rendering 4 card

[2017-10-18 19:52] HeavyVin opened #1017 "Ease of Refrence"
🐞 **Problem**

*I am having trouble remembering where different things are on our readme file.*

🎯 **Goal**

*I would like to easily navigate the tutorials included and different resources*

💡 **Possible solutions**

*I would like to make a link navigation system to different files with the main page split up.*

📋  **Steps to solve the problem**

 * I will create different files with the page divi

[2017-10-18 23:33] HeavyVin commented on #1017
I will need help with the translations and the link back to the main page. I think that's the only features this will impact.

[2017-10-19 08:57] Roshanjossey commented on #1004
@YernYee, don't worry about offending anyone by sharing your opinion. You have the right to express it.

We're planning to add tags to cards. So there is gonna be a change in cards. Shall we pick up filtering and standardising card height after that?

[2017-10-19 11:46] YernYee commented on #1004
@Roshanjossey, sounds like a great plan to me but what should be the tags to use besides language?

[2017-10-19 12:01] Roshanjossey commented on #1004
@YernYee, we could use tags provided in those repos.
Like for react, it could be `frontend` `declarative` `ui` `library` (Did that just form a sentence?)
for webpack, `moduel-bundler` `module-builder` `build tool` `compiler`
for funretro, `retro` `angularjs` `agile`

Like we can have domins, frameworks, use case etc

[2017-10-19 15:41] YernYee commented on #1004
@Roshanjossey, so are we going to make a search bar for users soon to search tag? And do you think it's applicable to put the tags on the project cards as well? I think we can put language tag on the project card as to briefly tell the user what language you'll need for contributing to this project.

[2017-10-19 19:06] Roshanjossey commented on #1004
@YernYee, I was thinking that search could be more than tag search. We'll have filters for tags and search could handle something more generic. I'm not sure about that now.

I was thinking about putting 3 to 4 tags on each card. Like language, framework, type  ( is it a framework, library, web app etc) and something else that's special about the project

[2017-10-19 20:45] Roshanjossey opened #1063 "Add facebook share to web app"
🐞 **Problem**
We might not be reaching to a lot of our target audience through resources we're using now

🎯 **Goal**
Reach out to more people.

💡 **Possible solutions**
Add Facebook share to web app so that users can share the news of their first contribution with their friends and followers

📋  **Steps to solve the problem**

 * Comment below about what you've started working on.
 * Add, commit,

[2017-10-19 20:46] Roshanjossey commented on #1063
We already have a pull request to address this. #1061.
If you're interested in helping out more, give feedback suggestions

[2017-10-19 21:18] Roshanjossey commented on #613
@Thirdoptics, I just realized that I didn't invite you to our slack group
You can join the team by going to https://firstcontributions.herokuapp.com

[2017-10-19 21:28] Roshanjossey opened #1066 "Add tags to project listing"
🐞 **Problem**
It's hard to know what language a project is written in or what kind of project it is from the current project listing

🎯 **Goal**
Users should be able to understand the language used in a project or what the project is about easily.

💡 **Possible solutions**
Add tags to project cards in the list. Here's a mock-up of the proposed solution

<img width="244" alt="screen shot 2017-10-20

[2017-10-19 21:32] Roshanjossey commented on #1004
@YernYee, added issue for tags
https://github.com/Roshanjossey/first-contributions/issues/1066

[2017-10-20 00:00] coderman9 commented on #1066
Hey! I'm gonna give it a shot, just top to bottom. How many should I try to finish before submitting a PR? And how many tags should each one have?

[2017-10-20 03:10] Roshanjossey commented on #1066
@coderman9, Awesome. Go ahead. I was thinking 3 to 4 tags for each project.

If you're asking whether you can submit a work in progress pull request or just to part of it, I'm okay with anything. It's all up to you.

[2017-10-20 12:50] Chandrasekar-G commented on #1063
I'd like to take up this one

[2017-10-20 12:51] Roshanjossey commented on #1063
@Chandrasekar-G, This is already done.

[2017-10-20 12:51] Chandrasekar-G commented on #1063
No issues 👍

[2017-10-20 16:26] gunwooterry commented on #96
Working on a Korean version.

[2017-10-20 19:10] xn0611 commented on #96
I guess I will take Simplified Chinese then. Or just steal @newbiegreen4ever's work :)

[2017-10-20 19:14] javmonisu commented on #490
Done 👍

[2017-10-20 19:23] xn0611 commented on #96
Actually @newbiegreen4ever has already sync up chs. Never mind then.

[2017-10-23 03:58] cyberdrk commented on #96
Hi, is there anything left to do in the Hindi translation? :) or should the Hindi checkbox be ticked?

[2017-10-23 07:16] Chandrasekar-G opened #1192 "Issue - Flatten an array JS"
JS Code to flatten an array
🐞 **Problem**
Given a nested array say [1,[2,3],[4,[5,6],7],8,9,10]

🎯 **Goal**
The objective is to flatten it completely like [1,2,3,4,5,6,7,8,9,10]

[2017-10-23 07:18] Roshanjossey commented on #1192
@Chandrasekar-G, Which array? Why do we need to flatten it? Please provide more information.

[2017-10-23 07:26] Chandrasekar-G commented on #1192
Sorry. Wrong Repo.

[2017-10-23 07:26] #1192 closed

[2017-10-23 08:47] Roshanjossey commented on #96
@cyberdrk, I see the `self promotion` section is not there in Hindi translation. ( and I love self promotion. 😜 ). Could you also double check if anything else is missing?

[2017-10-23 09:12] cyberdrk commented on #96
😆 Sure thing @Roshanjossey , I'll do that. 😃

[2017-10-23 13:41] lwinkyawmyat opened #1201 "Add Javascript Style Guide for Webapp"
## 🐞 Problem

This issue isn't about the problem. It suggest to use `ESLint` with [Airbnb Javascript Guide](https://github.com/airbnb/javascript) in webapp.
If we don't start with a good project structure and don't using `code style guide`, it will become more hard to organize the project and code.

## 🎯 Goal

When we using `code style guide`, we can get many benfits.
That are -
-  reduce code
-

[2017-10-23 15:03] Roshanjossey commented on #1201
@lwinkyawmyat, eslint comes packaged with Create react app.  There is no need to set it up ourselves. We can use configurations accepted by the community
https://github.com/facebookincubator/create-react-app/tree/master/packages/eslint-config-react-app

[2017-10-23 15:06] Roshanjossey commented on #1201
One thing that needs to be done is to update `CONTRIBUTING.md` so that everybody making code changes will check for lint errors and test failures.
Later we'll bring in a continuous integration tool for running these automatically for each pull request.

[2017-10-23 15:15] lwinkyawmyat commented on #1201
Some declaration are not same. I think it should be same.
https://github.com/Roshanjossey/first-contributions/blob/bad849b63faf9b678ae93277303656549ea1d5e2/app/src/components/ProjectList/ProjectsCards.jsx#L4

https://github.com/Roshanjossey/first-contributions/blob/bad849b63faf9b678ae93277303656549ea1d5e2/app/src/App.jsx#L8

[2017-10-24 04:50] gabitha commented on #96
I just added some minor fixes to the **spanish** translation and a missing badge.

[2017-10-31 15:13] genexu commented on #129
Hey guys, i just send a PR for this issue. https://github.com/Roshanjossey/first-contributions/pull/1567

But you can see there have TODO at filter update handler(other feature is all done), bcz it have to modify listOfProjects.js object structure, and i think, the last step is update projectList tag array to **id** or **value** in tagList.

It is easy to implement, but i want to discuss with you

[2017-10-31 21:15] ewoks opened #1591 "Cleaning Contributor List duplicates"
Removing duplicate entries from contributor list

🐞 **Problem**
At the moment. contributor list has a lot of duplicates (estimated around 50%)
To make list cleaner, it would be good to remove all duplicates from it

🎯 **Goal**
Have a cleaner list without repeating contributors

💡 **Possible solutions**
Removing all repeating entries

📋  **Steps to solve the problem**
* Removing duplicated entries

[2017-10-31 21:15] ewoks commented on #1591
I can do it if maintainer agrees

[2017-11-01 06:08] Roshanjossey commented on #1591
@ewoks, Go ahead.

[2017-11-01 11:27] ewoks commented on #1591
Perfect.. It's coming

[2017-11-01 13:33] #1591 closed

[2017-11-04 23:34] Roshanjossey opened #1616 "Update tweet text"
🐞 **Problem**

Tweet shared currently has hacktoberfest hash tag. This is not needed anymore as hacktoberfest ended.

🎯 **Goal**

Have a better tweet text

💡 **Possible solutions**

You can find the code for tweet button in
https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/SocialShare/Twitter.jsx

In twitterLink, remove hacktoberfest hashtag and put something more

[2017-11-05 11:42] mandyreal commented on #1616
hi @Roshanjossey submmited a pr to remove the #hacktoberfest. thanks.

[2017-11-05 11:53] Roshanjossey commented on #1616
@mandyreal, I just merged the pr. Would you like to put a different tag in place of hacktoberfest?

[2017-11-05 11:55] #840 closed

[2017-11-05 11:56] #877 closed

[2017-11-05 11:56] #908 closed

[2017-11-05 11:57] #933 closed

[2017-11-05 11:57] #960 closed

[2017-11-05 11:57] #980 closed

[2017-11-05 11:57] #997 closed

[2017-11-05 11:57] #1063 closed

[2017-11-05 12:00] mandyreal commented on #1616
#CodeNewbie perhaps? any more suggestions? let me know. thanks.

[2017-11-05 12:04] Roshanjossey commented on #1616
@mandyreal, `#CodeNewbie` sounds good. I just did a search and saw a lot of tweets in this hashtag. Seems relevant. Would you like to make this change?

[2017-11-05 12:05] mandyreal commented on #1616
@Roshanjossey sure, will do! thanks for the feedback. will submit PR in a bit.

[2017-11-06 10:34] #1616 closed

[2017-11-10 05:36] ashish10677 commented on #1066
Hello,
I want to start working on this issue.
I want to add tags to Node.js

[2017-11-10 05:48] Roshanjossey commented on #1066
@ashish10677, there are currently 11 projects that doesn't have tags. Could you add tags for all of them?

[2017-11-10 05:53] ashish10677 commented on #1066
Hello,
I can try to add but since this is my first time working on open source,
I'm finding it a little difficult to find the prerequisites of contributing
to a project. I can try my best but cannot guarantee anything.
Thanks
Ashish

On 10-Nov-2017 11:18 am, "Roshan Jossey" <notifications@github.com> wrote:

[2017-11-10 05:57] Roshanjossey commented on #1066
@ashish10677, I'm sure you're well capable of doing this task. Do reach out to me here or on slack whenever you need help.

[2017-11-28 20:01] j-schuster commented on #129
Hey guys,

Can we still contribute to this issue?

[2017-11-29 05:15] Roshanjossey commented on #129
@j-schuster, could you gimme 2 days to get back to you? We do have something left on this but I have to merge another pull request for you to get started on it

[2017-11-29 05:16] j-schuster commented on #129
Absolutely, thanks for letting me know.

Johann

On Tue, Nov 28, 2017 at 9:15 PM Roshan Jossey <notifications@github.com>
wrote:

[2017-12-06 14:23] Bentley912 commented on #130
Has anyone tackled this yet? I'd be happy to address this issue

[2017-12-06 15:20] Roshanjossey commented on #130
@Bentley912, go ahead

[2017-12-07 12:53] ValentynTroian commented on #490
Thanks a lot.
I had a error `remote: Permission to user/repo denied to user/other-repo. fatal: unable to access user/repo: The requested URL returned error: 403` after `git push origin <add-your-name>`.
Solution: delete data about github in ControlPanel->User Accounts and Family Security->Credential Manager->General credentials (for Windows)

[2017-12-10 05:06] #1017 closed

[2017-12-10 05:07] Roshanjossey commented on #1017
@HeavyVin, I'm closing this issue as we decided not to take it up

[2017-12-10 05:10] Roshanjossey commented on #705
@jello7654, I'm closing this issue as we don't have a lot of people facing the same issue

[2017-12-10 05:10] #705 closed

[2017-12-10 05:19] Roshanjossey opened #1721 "Add projects to project list"
It'd be awesome to have a lot more suggested projects

🐞 **Problem**
Currently we have only a bunch of projects in project suggestions

🎯 **Goal**
Have a lot of project suggestions from diverse domains, languages, frameworks

💡 **Possible solutions**
Add new projects.
We maintain the list of projects at https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/

[2017-12-10 05:32] Roshanjossey opened #1722 "Add project button in web app"
🐞 **Problem**
It's not very easy to add projects to suggestions

🎯 **Goal**
Make it simple for anyone to add projects to suggestions

💡 **Possible solutions**
Add a `Add project` button to web app. On clicking it, open a form to add details about the project. On submitting this form, open a pull request in this project with those changes

📋  **Steps to solve the problem**

 * Comment below about w

[2017-12-10 05:36] Roshanjossey commented on #129
@j-schuster, I'm sorry this is taking a lot of time. I'm still waiting for #1567 to be resolved. If that doesn't happen in next week, let's close that and discuss on how to take this forward.

Meanwhile do you wanna check out #1722? It could be an interesting problem for you

[2017-12-10 05:51] j-schuster commented on #129
Sure! No worries at all. I’ll get on that in the morning and wait to hear
from you.

Thanks!

On Sat, Dec 9, 2017 at 9:36 PM Roshan Jossey <notifications@github.com>
wrote:

[2017-12-10 05:52] j-schuster commented on #1722
Would like to work on this. Thanks!

[2017-12-10 14:24] HeavyVin commented on #1017
Got it.

On Sun, Dec 10, 2017 at 12:08 AM Roshan Jossey <notifications@github.com>
wrote:

[2017-12-11 02:59] Trollwut opened #1726 "Add a version or revision indicator"
*This issue is split into two ideas that I think can only act together.*

1. Add a version or revision number of the README file, so that one can easily see if he's dealing with the newest additions.

1. Also adding comments with the least revision change could also help translators.

🐞 **Problem**

1. New users won't know if their translation is bleeding edge or a rotten tomato. Adding a revision

[2017-12-11 05:27] Roshanjossey commented on #1726
Kudos on a well drafted issue @Trollwut. One place I've seen versions for translations is https://github.com/ContributorCovenant/contributor_covenant.

Lemme check for other resources and find an optimal way to do this

[2017-12-12 02:24] j-schuster commented on #1722
Quick question. Seeing that the current project list is hard coded in, want me to make an api that we can post new projects to? We could then just get the project info from there. Or any ideas to add a project:)

[2017-12-12 03:00] cbondurant commented on #96
I am currently hammering out an update for the Japanese translation, does anyone else think that the languages page should have each language in its own name? e.g. Japanese -> 日本語. Most language interfaces list languages in the way a speaker would be most likely to recognize them. I don't know if that might fall under its own issue though.

[2017-12-12 06:54] Roshanjossey commented on #96
@cbondurant, Thank you for taking it up.

Yes. Absolutely. While you're there, could you rename Languages.md to Translations.md? That name makes more sense.

[2017-12-12 13:06] j-schuster commented on #1722
Yes, okay thanks for the clarification.

On Mon, Dec 11, 2017 at 10:58 PM Roshan Jossey <notifications@github.com>
wrote:

[2017-12-17 16:05] malfroyegon commented on #1721
Hello
I've start working on it.
I'll add a project.

[2017-12-17 18:33] SeanBarber opened #1799 "Visual Studio Image Not Showing"
🐞 **Problem**

The Visual Studio image is not [showing](https://github.com/Roshanjossey/first-contributions#tutorials-using-other-tools) in Chrome.
<img width="1440" alt="screen shot 2017-12-17 at 12 33 40 pm" src="https://user-images.githubusercontent.com/8888968/34082573-959322b2-e326-11e7-9705-93d6ef6a9c08.png">

[2017-12-17 18:34] Roshanjossey commented on #1799
@SeanBarber, this works for me. Could you please check again and give more details?

[2017-12-17 18:35] SeanBarber commented on #1799
@Roshanjossey I just updated my post with the picture of Chrome

[2017-12-17 18:38] Roshanjossey commented on #1799
@SeanBarber, still loading for me
<img width="502" alt="screen shot 2017-12-18 at 12 06 51 am" src="https://user-images.githubusercontent.com/8488446/34082608-821cdd66-e387-11e7-8879-eb27ba92d22a.png">

Could you check network tab in dev tools to find why it's not loading?

[2017-12-17 18:44] SeanBarber commented on #1799
I found the link it is supposed to load and it says it is not found on my Chrome
<img width="484" alt="screen shot 2017-12-17 at 12 43 44 pm" src="https://user-images.githubusercontent.com/8888968/34082660-f4273092-e327-11e7-8c16-6c731928a0bd.png">
<img width="296" alt="screen shot 2017-12-17 at 12 43 18 pm" src="https://user-images.githubusercontent.com/8888968/34082661-f442de5a-e327-11e7-8d8f-f1

[2017-12-17 18:45] SeanBarber commented on #1799
Cleared my cache and it loaded properly. Interesting.

[2017-12-17 18:45] #1799 closed

[2017-12-17 18:48] Roshanjossey commented on #1799
@SeanBarber, This is the image we're using there https://www.microsoft.com/net/images/vslogo.png

It gives me a 404. Still, the image is loaded from
https://camo.githubusercontent.com/3860efdf8f5c7f13181764ff963ef6cad2a28ac9/68747470733a2f2f7777772e6d6963726f736f66742e636f6d2f6e65742f696d616765732f76736c6f676f2e706e67

We might have to look in to this problem in the future

[2017-12-19 18:40] juventinoromero opened #1828 "Add format description on how to add your name to Contributors.md"
🐞 **Problem**
When adding my name, I noticed that other people's name were not written properly, which led to:
- name not being displayed when viewing the document (when adding a space before the hyphen)
- name with extra characters (when adding brackets and no giuthub url)
- name not being linked to github url (when adding a space between the name and the url)

🎯 **Goal**
To have a better formatt

[2017-12-22 18:08] MayankMangla01 commented on #1066
Hello there!! I would like to contribute any way i can.

[2017-12-24 13:57] eshellman commented on #1721
May I suggest https://github.com/EbookFoundation/free-programming-books ?

[2017-12-25 11:32] Roshanjossey commented on #1721
@eshellman, excellent suggestion. Would you like to submit a pull request to add it to project list?

[2017-12-25 18:24] eshellman commented on #1721
I'd need to spend some time figuring it out. Hoping to inspire @malfroyegon

[2017-12-27 08:31] bytao7mao commented on #490
Thanks for assistance, i will add myself today and maybe can help with some of the issues.

[2017-12-27 12:08] reddysridhar53 commented on #1721
@Roshanjossey  Can I add https://github.com/freeCodeCamp/mail-for-good

[2017-12-27 12:10] Roshanjossey commented on #1721
@reddysridhar53, sure mate, go ahead.

[2017-12-27 14:35] emersonlbr commented on #1721
I just added vs code.

[2018-01-03 18:58] Slash7GNR commented on #1721
@Roshanjossey
Sorry for cursing, but can I add angular to the list? :)

[2018-01-04 04:25] Roshanjossey commented on #1721
@Slash7GNR, Sure. make sure you use easy issue label https://github.com/angular/angular/issues?q=is%3Aopen+is%3Aissue+label%3A%22effort1%3A+easy+%28hours%29%22

[2018-01-08 20:28] pvkc8888 commented on #1721
Can I add Scrapy to this list?

[2018-01-08 20:28] Roshanjossey commented on #1721
@pvkc8888, Sure. Go ahead

[2018-01-11 16:49] shiraz1 commented on #130
Can I contribute to this project?

I need to contribute to an Open Source project for my module at uni.

[2018-01-11 16:51] Roshanjossey commented on #130
@shiraz1, sure. Do you have clarity on what you wanna do?

[2018-01-11 16:59] shiraz1 commented on #130
what do you mean?

[2018-01-11 17:02] Roshanjossey commented on #130
Things like what back ground are you adding? How are you gonna build it etc

[2018-01-11 17:05] shiraz1 commented on #130
ohh ok.

[2018-01-11 17:06] shiraz1 commented on #130
Can I add any background color?

On 11 January 2018 at 17:02, Roshan Jossey <notifications@github.com> wrote:

[2018-01-11 17:07] Roshanjossey commented on #130
Check the comments on the top of this issue thread

[2018-01-11 17:07] shiraz1 commented on #130
ok

On 11 January 2018 at 17:07, Roshan Jossey <notifications@github.com> wrote:

[2018-01-11 17:13] shiraz1 commented on #130
How do I start? Do you have the html files?

I'm confused. I haven't done this before.

On 11 January 2018 at 17:07, Shiraz Shahbaz <shirazshahbaz@gmail.com> wrote:

[2018-01-11 17:14] Roshanjossey commented on #130
Do you know React.js?

[2018-01-11 17:15] shiraz1 commented on #130
nope not really

On 11 January 2018 at 17:14, Roshan Jossey <notifications@github.com> wrote:

[2018-01-11 17:18] Roshanjossey commented on #130
Our web app is built with React. If you don't know it, you might spent a lot of time learning it, get frustrated and ultimately not contribute at all.

So here's my suggestion. Drop this issue. Do the tutorial. After that, try contributing to the following projects
https://github.com/danthareja/contribute-to-open-source
https://github.com/the-ethan-hunt/first-timers-guide

[2018-01-11 17:19] shiraz1 commented on #130
ok I'll try that

thanks

On 11 January 2018 at 17:18, Roshan Jossey <notifications@github.com> wrote:

[2018-01-13 19:53] shiraz1 commented on #130
Which tutorial do I do?

Do you have the HTML file which has the code so I can change the background
colour?

On 11 January 2018 at 17:19, Shiraz Shahbaz <shirazshahbaz@gmail.com> wrote:

[2018-01-14 09:46] sara-02 opened #2223 "The Get Started button fits better with the heading line."
Currently, the `Get Started ` button is placed on a new line after the headline `Make your first open source contribution in 5 minutes`. Since the `Get Started` button is w.r.t to the headline, it makes more sense to have it next to the heading.

🐞 **Problem**
With `Get Started` button on a separate line, it seems as if the heading is one context and the button another, while they a part of the sa

[2018-01-14 10:18] sara-02 opened #2224 "Rename Heading from additional-material to include the work git/workflow"
The current heading for `additional material` on the `README` is a little misleading.

🐞 **Problem**
The links at this heading https://github.com/Roshanjossey/first-contributions#-additional-material-
is giving us more information about the Git/Github workflow. But the title of the heading `Additional Material` does not convey this, unless one clicks on it and then discovers it.
Renaming this head

[2018-01-14 10:20] Roshanjossey commented on #2224
@sara-02, Thank you for raising this issue. Would you like to start working on this?

[2018-01-14 12:19] sara-02 opened #2230 "Broken Hyperlink"
🐞 **Problem**
The first link  under the Useful links section of [this](https://github.com/Roshanjossey/first-contributions/blob/master/additional-material/Useful-links-for-further-learning.md) page is broken.

💡 **Possible solutions**
Point it to the correct hyperlink, I guess it should point to the `additional_material` folder instead.

Labels: `bug`

[2018-01-14 12:21] sara-02 opened #2231 "Additional Material folder enhancement."
Given that the [additional_material folder](https://github.com/Roshanjossey/first-contributions/tree/master/additional-material) material will expand in terms of content, it would be better to restructure it a bit, to keep it handy for future use.

🐞 **Problem**
Prevent over-bloating of the `additional_materials` folder.
Current Structure:
[code]

🎯 **Goal**
Desired structure
[code]

📋  **Steps to

[2018-01-14 12:35] sara-02 opened #2232 "Add more sources for the Github/Tutorial filter tag."
Currently the GitHub tutorial section on the web-page has only one project. We can add more tutorial to it, and help the beginner pick and choose from diverse sources.

💡 **Possible solutions**
Resources to add, if not added already.
* https://opensource.guide/how-to-contribute/
* https://github.com/OpenSourceHelpCommunity/Getting-Started-With-Contributing-to-Open-Sources
*  https://github.com/fre

[2018-01-14 12:48] sara-02 opened #2234 "[SEV-1][BUG]Incorrect rendering of the site on Fedora-Firefox"
🐞 **Problem**
The webiste is not rendering properly on Firefox.
Configuration:
Firefox: 57.0.4
OS: Fedora 27
![screenshot from 2018-01-14 18-13-21](https://user-images.githubusercontent.com/7047079/34916037-e9b7dd1a-f956-11e7-9989-7973afece7d4.png)

![screenshot from 2018-01-14 18-13-45](https://user-images.githubusercontent.com/7047079/34916030-d06eeda8-f956-11e7-8a39-ed129b3fb242.png)

The same

[2018-01-14 13:01] sara-02 opened #2235 "Add more sources for the exercises filter tag"
Currently the exercises section on the web-page has only one project. We can add more language specific exercise materials

💡 **Possible solutions**
 Some good to have exercises:
* http://rubykoans.com/
* https://github.com/gregmalcolm/python_koans

[2018-01-14 13:07] sara-02 opened #2236 "Improve filter labels (project tags)"
🐞 **Problem**
Make the filter labels more consistent.

💡 **Possible solutions**
* Proper Capitalization of labels
* Rearrange filters in alphabetical order

Labels: `feature`, `ehancements`

[2018-01-14 13:17] sara-02 commented on #2224
@Roshanjossey sure, I will work on this issue along with https://github.com/Roshanjossey/first-contributions/issues/2224 this one, provided you guys approve of the proposed changes.

[2018-01-17 20:46] Roshanjossey commented on #2230
Closing this as it is resolved in #2263

[2018-01-17 20:46] #2230 closed

[2018-01-17 20:47] Roshanjossey commented on #2232
Closing this issue as it is resolved in #2238

[2018-01-17 20:47] #2232 closed

[2018-01-17 21:00] Roshanjossey commented on #2223
@sara-02, I searched for some good implementations of call to action buttons (`Get Started` in our case). From examples I found, I feel like the current implementation is a popular pattern.

Here's some examples I looked at
https://www.impactbnd.com/blog/examples-of-calls-to-action-for-lead-generation
https://blog.hubspot.com/marketing/great-call-to-action-examples

As this is a good UI pattern, I

[2018-01-18 06:47] sara-02 commented on #2223
@Roshanjossey +1, Thanks for sharing these.

[2018-01-18 06:47] #2223 closed

[2018-01-19 09:04] AmDika commented on #1721
hi @Roshanjossey, i want to adding some project too.

[2018-01-19 09:05] Roshanjossey commented on #1721
@AmDika, Please go ahead

[2018-01-19 09:40] AmDika commented on #1721
please review it @Roshanjossey, Addresses #2310

[2018-01-19 09:48] Roshanjossey commented on #1721
@AmDika, Please gimme some time to review

[2018-01-26 14:41] Roshanjossey commented on #1828
Hi @juventinoromero, we're thinking about not addressing this issue. The following are my thoughts on this

 * What's most important for us is that users should be able to make their first pull request. What change they make is not of really important. Adding name to contributors list is just a good suggestion.
 * Most of our emphasis should be on pull request workflow. Things specific to this pro

[2018-01-26 18:41] Roshanjossey commented on #2236
For anybody who wants to change this issue, these are the files you should change.
https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js
We are extracting tags from project list. To improve tag names, change values for `tags` key in all projects.

To fix ordering of filters, check out this https://github.com/Roshanjossey/first-contribution

[2018-01-27 02:18] juventinoromero commented on #1828
Hi @Roshanjossey! I agree with all you've said, it doesn't add anything to the new contributor's experience. I created this issue mainly because I wanted to learn how to do it and because this repo is sort of a playground for new contributors. But you´re totally right: the simpler, the better.

[2018-01-27 06:53] Roshanjossey commented on #1828
@juventinoromero, I'm so happy that you understand the gist of this project.

You're absolutely right.

[2018-01-27 06:53] #1828 closed

[2018-01-31 15:05] sara-02 commented on #2235
@Roshanjossey thanks to @hikram this is covered. I am closing this issue, as both possible solutions have been added to the project.

[2018-01-31 15:05] #2235 closed

[2018-01-31 15:10] sara-02 opened #2513 "Add a small description on how to use Markdown in the getting started doc."
🐞 **Problem**
Even though the getting started guide gives a pretty good walk through of using Git and GitHub for creating the first PR, there is no description on how to add your name to the list. Since most people contributing to the list will be first timers, they might not have an experience with Markdown syntax.
A small description of adding Hyperlinks in Markdown would solve a lot of inconsis

[2018-02-01 19:40] Roshanjossey commented on #2513
@sara-02, I have a difference of opinion on this issue. These are my thoughts on it

 - What's most important for us is that users should be able to make their first pull request. What change they make is not of really important. Adding name to contributors list is just a good suggestion.
 - Most of our emphasis should be on pull request workflow. Things specific to this project should be kept to

[2018-02-02 04:45] sara-02 commented on #2513
@Roshanjossey I agree with your point, but adding their name in the wrong syntax would not reflect the name properly in the list. We can add details about `Markdown` syntax in the additional resources, for anyone to read and understand the syntax in depth.
`Anyways there are examples in the same file. Anybody can follow that. I'm not sure how documentation can be better than examples` -- Currently

[2018-02-03 07:51] Haozhe321 opened #2562 "Searching of the same term gives different result due to case sensitive search"
🐞 **Problem**

In the screenshot below, searching for `javascript` and `Javascript` should return the same result because the user is essentially searching for the same thing. But different results are returned.

Img1:
![image](https://user-images.githubusercontent.com/26651556/35765073-131eddd8-08f8-11e8-97e9-6da5f0c5a55c.png)

Img2:
![image](https://user-images.githubusercontent.com/26651556/357

[2018-02-03 08:01] Roshanjossey commented on #2562
Hi @Haozhe321, thank you for opening this issue. I wasn't aware of the case sensitivity.
We have a work-in-progress pull request to normalise all the tags. This will partially solve this problem.

I think ignoring case would solve this. Would you like to work on this issue?

[2018-02-03 08:27] Haozhe321 commented on #2562
Sure, I'm taking a look at it!

[2018-02-04 16:58] jywarren commented on #1721
Hello! We'd love to offer Public Lab's set of projects:

https://publiclab.github.io/community-toolbox/#r=all

https://github.com/publiclab/plots2/

We are very welcoming to newcomers and have a lot of "first-timers-only" issues.

Would I just open a pull request with an entry similar to this? https://github.com/Roshanjossey/first-contributions/blob/b6eccd580e6390a1bb2d01c1f93fbec08f21bb08/app/src

[2018-02-04 16:59] jywarren commented on #1721
And also, since we use this `community toolbox` project to organize our issues, but it's very similar to GitHub listings, would it be OK to show that instead of a direct github link? It's run off Github pages and is just a bit more friendly to newcomers.

[2018-02-04 18:17] Roshanjossey commented on #1721
@jywarren,

Yes, please add an object to listOfProjects for each project you wanna add.

Sure. I'm sure it's better to use the issue tracker you prefer.

[2018-02-05 01:42] bhefty commented on #2236
Hi!

I'd like to tackle this if I may.

[2018-02-05 03:10] sara-02 commented on #2236
@bhefty this is already being worked upon, in this PR https://github.com/Roshanjossey/first-contributions/pull/2421

[2018-02-05 21:26] michaelquinn32 opened #2690 "Expand submission process to discuss review in depth"
🐞 **Problem**

The workflow outlined in the Readme only briefly touches on how PR's are reviewed in submission. I think this deserves more detail, because Code Review is a key component of learning to write better code.
https://blog.fullstory.com/what-we-learned-from-google-code-reviews-arent-just-for-catching-bugs/

🎯 **Goal**

It would be nice to have either more details in that section, or a gu

[2018-02-06 07:12] sara-02 commented on #2690
@michaelquinn32 would like to add material for this issue and work on it?

[2018-02-06 08:31] Skyller360 opened #2703 "Missing key prop"
When running the project, I have a console error stating:

🐞 **Problem**
We should add the key prop in the `.map()` inside `ProjectsCards.jsx`

🎯 **Goal**
Fix a console error

📋  **Steps to solve the problem**

- [x] Add a the key prop inside the map
- [x] Add, commit, push your changes.
- [x] Submit a pull request and add this in comments - `Addresses #<put issue number here>`
- [x] Ask for a rev

[2018-02-06 08:32] Roshanjossey commented on #2703
@Skyller360, Thank you for raising this issue. Would you like to work on it?

[2018-02-06 08:33] Skyller360 commented on #2703
I am currently making the PR ;)

[2018-02-06 08:41] Skyller360 commented on #2703
You can review the code here : [https://github.com/Roshanjossey/first-contributions/pull/2704](https://github.com/Roshanjossey/first-contributions/pull/2704)

[2018-02-06 17:20] Roshanjossey commented on #2562
Closing this issue as it has been resolved in #2570

[2018-02-06 17:20] #2562 closed

[2018-02-06 20:33] yuzhoujr commented on #96
Since there is really not much of a difference literally between Simplified and Traditional Chinese Translation, I will tackle that as well

[2018-02-06 20:42] Roshanjossey commented on #96
Awesome @yuzhoujr 🖖

[2018-02-06 23:33] cruzpedro commented on #2234
I took this issue and opened a pull request #2720

[2018-02-08 04:10] michaelquinn32 commented on #2690
Hi Sara!

While I appreciate the offer, I just don't have enough time in the near future to put together a proper post on this. Hopefully someone else will be able to pick it up.

Thanks!

[2018-02-08 04:17] sara-02 commented on #2690
@michaelquinn32 No issues, thanks for adding the issue.

[2018-02-09 05:10] #2236 closed

[2018-02-09 05:10] #2234 closed

[2018-02-11 07:33] sara-02 commented on #2224
Fixed in #2791

[2018-02-11 07:33] #2224 closed

[2018-02-11 07:33] sara-02 commented on #2231
Fixed in #2791

[2018-02-11 07:33] #2231 closed

[2018-02-13 06:18] sara-02 commented on #2703
@Skyller360 thanks for fixing this.

[2018-02-13 06:18] #2703 closed

[2018-02-15 00:25] rglc12 opened #2889 "Mobile Optimization Problem: iPhone SE - iOS 11.2.5."
🐞 **Problem**

The First Contributions webpage isn't optimized for a mobile of this resolution (1136x640). When I go to the webpage on my mobile from this GitHub Repository on Safari or Google Chrome, each project on the page are supposed to stack one on top of the other, but on my device, only some project are showing and others are cut off about 1/5 into the next <div> (See Images Below).

Devic

[2018-02-17 10:41] mangalnathanvg commented on #130
Hi , I would like to work on this issue. Would you like a static or a dynamic background?

[2018-02-17 10:59] mangalnathanvg commented on #2513
Hi, I would like to work on this issue. Can I recommend using Typora which is a free to use markdown editor in the description?

[2018-02-17 11:03] sara-02 commented on #2513
@mangalnathanvg sure you can work on it.
However I would not ask contributors to use a separate Markdown editor, since it might complicate the process. Also, they should be free to use any editor/plugin of their choice, whatever they are most comfortable with :)

[2018-02-17 11:06] mangalnathanvg commented on #2513
@sara-02  Thanks for the suggestion.
After describing basic syntax and example for using markdown. Shall I give them links to some markdown editors which might help them write it easier?

[2018-02-17 11:10] sara-02 commented on #2513
@mangalnathanvg yes, you can add that. Or you can add a Markdown in the additional_material folder and share that link instead. That way we can keep adding more editors/plugin as and when we discover them.

[2018-02-17 11:50] mangalnathanvg commented on #2513
@sara-02  Hi
I have added a description of Markdown and hyperlinking syntax. Please do review and comment.

[2018-02-17 17:41] Roshanjossey commented on #2889
@rglc12, Thank you for opening this issue. Would you like to work on it?

[2018-02-18 01:08] rglc12 commented on #2889
@Roshanjossey, unfortunately I have a few important commitments that I need to tend to at the moment so I won't be able to do any work on this for the time being.

[2018-02-18 03:50] sara-02 commented on #2513
@mangalnathanvg Thanks for the fix :)

[2018-02-18 03:50] #2513 closed

[2018-02-18 11:39] ay2306 commented on #2889
@Roshanjossey Can I work on this issue. But I am new to open source development. Please tell me how to get the site code and how to submit after resolving the issue

[2018-02-18 11:52] mangalnathanvg commented on #2513
Thanks for the opportunity and consideration. This is my first online contribution in GitHub. Feeling great.....
YAY!!!!!

[2018-02-19 08:31] Roshanjossey commented on #130
@mangalnathanvg, I had something dynamic in my mind. Go ahead with what you're comfortable with.
Also do check the images at the beginning of this thread.

[2018-02-22 09:07] Avasse commented on #490
I'd be glad to try it as my first issue!

[2018-02-23 19:12] Vishwanath26 commented on #1721
Hello,can I add
[missioncontrol](https://github.com/DAVFoundation/missioncontrol)

[2018-02-24 13:11] sangwo commented on #96
Some parts were missing and there were also some mistranslations in Korean version, so I just submitted PR for updating&fixing!

[2018-02-24 13:12] sangwo commented on #96
#3057

[2018-02-24 17:02] Biograf commented on #96
Suggest using this standard:
https://en.wikipedia.org/wiki/ISO_639-3
to name the translation files. Hence, for example the file README.de.md would need to be renamed README.de**u**.md

[2018-02-24 17:31] Biograf commented on #96
Actually according to the translator it was translated to Plattdüütsch. This is a dialect only used in some parts of Germany. This would mean the file should be renamed README.**nds**.md according to the standard above. Looking at the translation it looks like normal German to me. I am not a native German speaker, but as the dialect is quite strong I believe I can recognise the difference. I belie

[2018-02-24 17:50] Biograf commented on #96
May be @cbondurant  can help shed some light on the "Plattdüütsch" naming of the language used in the file README.de.md? I suggest changing it into "Deutsch" in the file Translations.md.

[2018-02-25 09:01] iimos commented on #2889
@Roshanjossey, i want to fix it

[2018-02-26 00:36] rbstrachan opened #3089 "Visual Studio image not showing in README.md"
Last discussed in #1799 by @SeanBarber and @Roshanjossey.

The Visual Studio Logo is missing from README.md. When previously discussed, the problem was solved by clearing cache. This time, however, both the link that the [image is being supplied from](https://www.microsoft.com/net/images/vslogo.png) and the [GitHub User Content link](https://camo.githubusercontent.com/3860efdf8f5c7f13181764ff963ef

[2018-02-26 10:13] Roshanjossey commented on #2889
Closed in #3077

[2018-02-26 10:13] #2889 closed

[2018-02-26 10:16] Roshanjossey commented on #3089
@rbstrachan, Thank you so much for raising this. Also kudos on drafting a well defined issue along with screenshots. Makes complete sense.

The solution you suggested is perfect. Would you like to solve this issue?

[2018-02-26 10:25] rbstrachan commented on #3089
@Roshanjossey Sure thing!

[2018-02-26 13:03] cbondurant commented on #96
Im sorry to say I have no insight to this, I have not done anything with the translations page.

[2018-02-26 13:36] sara-02 commented on #96
@cbondurant my bad, I tagged the wrong name :/

[2018-02-26 14:41] rbstrachan commented on #1726
@Trollwut @Roshanjossey Has there been any update on this?

I believe the revision numbers could greatly help contributors that are constantly changing documents like the `README.md` in several languages. It would also be helpful when comparing a fork to the original.

I also agree with @Roshanjossey, the [Contributor Covenant changelog](https://github.com/ContributorCovenant/contributor_covenant/

[2018-02-26 14:46] Biograf commented on #96
Cbondurant confirmed the naming of the language "Plattdüütsch" in the file README.de.md is wrong. Hence I am going to try to create a pull request to make change.

[2018-02-28 13:02] Ashleyt28 commented on #2690
Hi @sara-02 , may I be assigned this task?
Adding a section after pull-request explaining the review process shall solve this issue.

[2018-02-28 13:12] sara-02 commented on #2690
@Ashleyt28 Sure please go ahead and work on it.

[2018-02-28 13:44] Roshanjossey commented on #2690
@Ashleyt28, please add it to additional materials. https://github.com/Roshanjossey/first-contributions/tree/master/additional-material.

It doesn't fit in main tutorial as there is no review process as a part of our tutorial. It's beneficial for contributions to other projects.

[2018-02-28 14:15] Ashleyt28 commented on #2690
@Roshanjossey , alright no problem.

[2018-03-01 16:25] kjesek commented on #1722
Is this issue still available? I would love to help out!

[2018-03-02 15:03] Ashleyt28 commented on #3089
Hi @Roshanjossey , @sara-02
Could you just check the pull request I made concerning this issue so that we can eventually close it
Thanks

[2018-03-05 16:04] NsLib commented on #1722
For now, I think the biggest problem is that the contributors **cannot generate the `gh-pages`**.
Can we just use `ajax` to fetch data from [https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js](https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js) ?
When someone wanna to add a p

[2018-03-08 09:06] Biograf commented on #96
Do I have the go to update the naming of the German translation? Then I would create the pull request and get working.

[2018-03-08 09:08] Roshanjossey commented on #96
@Biograf, sure go ahead

[2018-03-08 11:48] Biograf commented on #96
@Roshanjossey, thanks. Which editor can I use to edit Translations.md?

[2018-03-08 14:57] EuripidisK commented on #96
i can help with the Greek language if it's is ok.

[2018-03-08 16:06] sara-02 commented on #96
@EuripidisK Sure, that will be awesome :)

[2018-03-08 17:10] Roshanjossey commented on #96
@Biograf, your call. Any editor would work.

[2018-03-09 10:36] Biograf commented on #1726
@Trollwut I think having revision numbers at the (sub)-headline level would increase the risk of errors. In my experience, changing revision numbers by hand ist often a source of error. Further, the whole point of this is to learn to use the revision tool Git(hub). If you want to know what changed between two revisions, you should learn to use log and diff. If the original (English) was changed af

[2018-03-09 12:02] rbstrachan commented on #1726
@Biograf Wow. Your comment just made me realise how short sighted I was being.

- After reading your comment, I now agree with you. I don't think we should implement the revision / version numbers for exactly the reasons you pointed out.
- I still think revision numbers are a great idea, just not for _this_ repo. After all, its sole purpose is for beginners.

Thanks, @Biograf.

[2018-03-10 12:35] JayKothari commented on #490
I have an error Permission to Roshanjossey/first-contributions.git denied to JayKothari while I was git push origin Jay. I am using Linux System.
Any Clue? .
Have have followed readme.

[2018-03-10 12:43] Roshanjossey commented on #490
@JayKothari, you don't have access to push to Roshanjossey/first-contributions. You should be pushing to https://github.com/JayKothari/first-contributions and submitting a pull request from there.

You gotta get clone url from https://github.com/JayKothari/first-contributions

[2018-03-10 12:59] JayKothari commented on #490
@Roshanjossey Thank a Lot.

[2018-03-13 22:33] hyagirty commented on #96
Do you still need a persian translation?

[2018-03-19 19:34] palash25 opened #3493 "Add kinto to the list"
🐞 **Problem**
[Kinto](https://github.com/kinto) (under Mozilla Foundation) is currently not the part of the list of beginner friendly orgs.
I had contributed to Kinto once and found it to be a pleasant experience (its a friendly org)
Kind of a feature request

🎯 **Goal**
Beginners need to know about this org
Contributing to this org can open up new opportunities like outreachy internships

💡 **Pos

[2018-03-19 19:38] palash25 commented on #3493
This could be a good newcomer issue.

[2018-03-19 19:46] palash25 opened #3494 "Add DuckDuckGo to the list"
DuckDuckGo was the first organization I sent a PR to and is extremely beginner friendly with lots of resources, tutorials, great documentation and an even better community.
https://github.com/duckduckgo

[2018-03-19 19:48] palash25 opened #3495 "Add OpenGenus"
Easy PRs, friendly community and cool projects. Beginners need to know about this.
https://github.com/OpenGenus
They are trying to build an offline equivalent of RossettaCode

[2018-03-19 21:13] Roshanjossey commented on #3493
@palash25, thank you for raising these issues. I've added necessary labels.

[2018-03-19 23:46] asphaltbuffet opened #3499 "GitKraken Tutorial Out of Date"
🐞 **Problem**

Instructions in the "[Keeping your fork synced with this repository](https://github.com/Roshanjossey/first-contributions/blob/master/gitkraken-tutorial.md#keeping-your-fork-synced-with-this-repository)" section do not match the current version of GitKraken.

🎯 **Goal**

Inaccurate directions are misleading to new participants.

💡 **Possible solutions**

Update instructions to match

[2018-03-20 00:02] asphaltbuffet commented on #3494
I'd like to take this issue, please.

[2018-03-20 10:49] Roshanjossey commented on #3499
Thank you for opening this issue @asphaltbuffet. Would you like to work on this?

[2018-03-20 11:33] asphaltbuffet commented on #3499
Yes, please.

On Tue, Mar 20, 2018, 5:49 AM Roshan Jossey <notifications@github.com>
wrote:

[2018-03-20 12:34] GrzegorzSadowski commented on #96
Can I update Polish translation?

[2018-03-20 12:35] sara-02 commented on #96
@GrzegorzSadowski Sure, go ahead.

[2018-03-20 12:37] #3494 closed

[2018-03-23 14:20] sara-02 opened #3562 "Select Filters not working as expected"
When I type in a filter under the select tab, I don't see any project list being returned, even if the filter is valid one.

🐞 **Problem**
Eg: When I am on the website and I type `Python` under the select tab, I expect to see only those projects that have a Python tag on them, instead I see no result at all. I tried reproducing this with `JavaScript`, `Math` and `REST` tags as well, and received a

[2018-03-23 15:15] sara-02 opened #3564 "Mission Control Project Image not rendering properly."
The image associated with the Mission Control Project is not getting rendered properly. This is hampering the User-Experience, and consistency of project tabs on the site.

🐞 **Problem**
![screenshot from 2018-03-23 20-42-24](https://user-images.githubusercontent.com/7047079/37837278-d739f8b2-2eda-11e8-8dab-f9c15d3b6598.png)

💡 **Possible solutions**
Fix the image Link for Mission Control project

[2018-03-23 22:11] emwani1 commented on #3564
is anyone working on this ?

[2018-03-23 22:32] Roshanjossey commented on #3564
@emwani1, no you can start working on it

[2018-03-24 00:43] emwani1 commented on #3564
@Roshanjossey Thanks I'll start working on it

[2018-03-26 07:33] Noyze commented on #3493
Could I give this a go?

[2018-03-26 07:35] Roshanjossey commented on #3493
@Noyze, absolutely

[2018-03-27 13:40] stephaniemdavis commented on #3493
@palash25 @Noyze @Roshanjossey - Am I correct in assuming that this is a work in progress?
#thankyou

[2018-03-27 16:28] #1004 closed

[2018-03-27 18:16] Noyze commented on #3493
@stephaniemdavis - I believe it is completed now. I'm not sure what is involved in getting the GitHub projects page (i.e. https://roshanjossey.github.io/first-contributions) to update/reflect the changes. Is there anything pending for me to do to make this happen @Roshanjossey ?

[2018-03-27 18:25] stephaniemdavis commented on #3493
#3606  @Noyze - I guess we will both find out. I'm still feeling my way here and trying to learn. If I am understanding correctly, this task is supposed to put a link and logo to kinto on the [app page](https://roshanjossey.github.io/first-contributions/)?
If so, do you copy the kinto png and add it? @Roshanjossey will fill us in...

[2018-03-27 18:28] rohitjain00 commented on #3493
Is this Done or do I still have a chance?

[2018-03-28 06:27] Roshanjossey commented on #3493
@Noyze, @stephaniemdavis, @rohitjain00, This is done.

@Noyze, I need to deploy web app to GitHub pages for it to be reflected in web app. I'll do that right away.

Closing this as it's done

[2018-03-28 06:27] #3493 closed

[2018-03-28 08:29] stephaniemdavis commented on #624
@Lubits @Roshanjossey - i can work on #624

[2018-03-28 08:45] Lubits commented on #624
@stephaniemdavis Great, you can go ahead! As for the filename, I don't really mind. Maybe wait for @Roshanjossey

[2018-03-28 10:32] Roshanjossey commented on #624
@stephaniemdavis, thank you for picking this up. I think it's better to name the the updated version as `github-desktop-tutorial.md`. You could change the current one as `github-desktop-old-version-tutorial.md` and add a link in the new version to point to old version with some text like `If you're using a version of GitHub desktop before 1.0, refer this tutorial`

It makes more sense to have new

[2018-03-28 19:28] gurjarshakti commented on #130
Hey @Roshanjossey , i dont have knowledge of React.js but As a graphics designer i can design a header, icons, component. Or i can design something like that google header ( https://opensource.google.com/)..
Let me Know ..it can be helpful or not. Thank You

[2018-03-28 19:50] Roshanjossey commented on #130
@gurjarshakti, that'd be awesome. Could you please start working on it? Let's continue this discussion here or in slack. Where ever you're comfortable.

[2018-03-28 21:10] gurjarshakti commented on #130
@roshanjossey sure I will work on it by tomorrow. Kindly share the **size of header**  we have to design. I can create a svg file so we easily resize on mobile screen as well.
I am not a slack user... But going to singup and will also ping you there ! Thanks

[2018-03-29 13:11] stephaniemdavis commented on #624
Ok thanks for insight; will get to working on this tonight.

On Wed, Mar 28, 2018 at 6:32 AM Roshan Jossey <notifications@github.com>
wrote:

[2018-03-29 14:50] notnerb commented on #3495
Sounds interesting, I'll work on it if it's not already added.

[2018-03-29 15:49] palash25 commented on #3495
I think you should open an issue at open genus about it and then reference this issue on that one so that  they could be in the loop. @notnerb

[2018-03-29 16:00] notnerb commented on #3495
Will do, thanks! @palash25

[2018-03-30 04:37] Roshanjossey commented on #3495
@notnerb, please take a look at this issue #1721 to see how to add projects to project listing. We are not adding projects to tutorial anymore. We think it's better kept in web app as it enables user to filter, search etc easily

[2018-03-30 05:18] stephaniemdavis commented on #624
@Roshanjossey Another question: If u assign me to this task, does it then show up in my fork (along with this line of conversation) so that I can follow it? I want to create a new branch in my fork and work on it but still have access to this comment thread (#624) within my new branch.

[2018-03-30 06:53] Roshanjossey commented on #624
@stephaniemdavis, GitHub doesn't have a feature to move conversations like that between forks.

You can still follow this conversation here though. You won't loose access to it if you create another branch in your fork

[2018-03-31 20:08] spencerjstewart commented on #3564
Well this is my first contribution to anything ever on github:

https://github.com/Roshanjossey/first-contributions/pull/3709

We should create a folder in the assets folder for logos, and also organize the assets folder in general. We should be storing logo images locally.

Next, in keeping with the style of the rest of the page, the image should be static.

Very simple fixes, I can do all these

[2018-04-01 06:11] Roshanjossey commented on #3564
@spencerjstewart, sounds like a great plan. Please keep the images in https://github.com/Roshanjossey/first-contributions/tree/master/app/public directory maybe under another directory named icons or something. That way you can easily refer to them from the code as `/icons/image-name.png`.

[2018-04-01 12:39] notnerb commented on #3495
@Roshanjossey Is there anything else I need to do besides editing listOfProjects.js? I believe I made and merged the necessary edits but I don't see OpenGenus in the webapp.

Thanks again!

[2018-04-01 13:56] Roshanjossey commented on #3495
@notnerb, I have to deploy the web app for your changes to be live. I'll do that right away

[2018-04-01 13:58] notnerb commented on #3495
@Roshanjossey No rush! Thank you very much.

[2018-04-01 14:09] notnerb commented on #3495
It's live! Here: https://roshanjossey.github.io/first-contributions/#project-list

@palash25 If this is sufficient, can this issue be marked resolved?

[2018-04-01 15:17] palash25 commented on #3495
@notnerb how is it resolved, where is your PR?

[2018-04-01 17:34] Roshanjossey commented on #3495
Closing this as it is resolved

[2018-04-01 17:34] #3495 closed

[2018-04-01 18:53] Amit88k commented on #3562
Any one working on this ?

[2018-04-01 19:43] Roshanjossey commented on #3562
@Amit88k, no. You can pick it up if you're interested. Do call out if you need any information to solve this.

[2018-04-02 03:21] Meikay commented on #1721
Hi! I am going to add atom to the list.

[2018-04-02 05:04] Amit88k commented on #3562
Yeah sure. I'm going to pick this up and see what I can do

[2018-04-04 06:10] TonganBeast commented on #3564
Could I also get a crack at this issue?

[2018-04-04 06:16] Roshanjossey commented on #3564
@TonganBeast, this is done. Thank you for your interest. Would you be interested to work on https://github.com/Roshanjossey/first-contributions/issues/1721?

[2018-04-04 06:16] Roshanjossey commented on #3564
Closing this issue as it has been fixed

[2018-04-04 06:16] #3564 closed

[2018-04-04 16:25] TonganBeast opened #3783 "Atom image not displayed correctly in project list"
🐞 **Problem**
The image for atom does not display correctly in the project list.

🎯 **Goal**
To enhance the user's experience while navigating through various projects.

💡 **Possible solutions**
Change the image source.

![issue](https://user-images.githubusercontent.com/37879114/38320647-038d64ea-37ea-11e8-9353-997538ec189b.JPG)

[2018-04-04 17:30] memmo01 commented on #3783
I was able to switch the link to now have it working

[2018-04-05 01:33] launganik commented on #3499
@Roshanjossey - Is @asphaltbuffet still working on this or can I take this up?

[2018-04-05 05:48] sara-02 commented on #3783
Fix added in PR https://github.com/Roshanjossey/first-contributions/pull/3784, but I still don't see the new image. cc @memmo01 @Roshanjossey.

[2018-04-05 13:44] memmo01 commented on #3783
- not sure why it is not working for you. I had changed the path of the image and now it displays for me. I checked to make sure the path i have here is the same uploaded and it is. Here is a screen shot

![capture](https://user-images.githubusercontent.com/24834052/38369384-9211a160-38b5-11e8-83db-208b5ef0b683.JPG)

[2018-04-05 13:52] memmo01 commented on #3783
correction - I did a new pull today and see the path i altered had not been updated . I will try again and let you know if it is working properly

[2018-04-05 13:54] sara-02 commented on #3783
@memmo01 Thanks for the acknowledgement.

[2018-04-12 00:15] dylanbobb opened #3902 "VIsual Studio link returns a 404 in multiple translations"
🐞 **Problem**
Visual studio links are broken in multiple different translations even if the commit messages show they have been fixed.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pul

[2018-04-14 21:51] venkateshellaboina commented on #490
This tutorial is the best and the easy one.

[2018-04-17 09:03] Roshanjossey commented on #3902
@dylanbobb, would you like to work on this problem and fix this?

[2018-04-17 13:56] dylanbobb commented on #3902
@Roshanjossey Sure, I can take a look sometime tomorrow

[2018-04-17 13:57] dylanbobb commented on #3902
In the mean time if any one wants to get started feel free, there's a few translations to edit.

[2018-04-18 09:01] tmrepo commented on #3902
I can do some now.

[2018-04-19 13:11] sara-02 commented on #3783
@memmo01 I see the atom icon now, is it working for you as well?
Can we close this issue then?

[2018-04-19 13:26] sara-02 opened #4013 "Improve consistence of project descriptions."
🐞 **Problem**
Some of the project descriptions, end with a period, other don't. Some are Camel-cased, while others are not. To make the user experience more consistent, it will be nice to have these descriptions presented in a consistent format.

🎯 **Goal**
Hope to provide consistent user experience.

[2018-04-19 15:16] HandsomeMedia opened #4014 "Include verbiage that the first-contributions workflow is common/industry standard"
🐞 **Problem**
It's not clear that the workflow presented in first-contributions is the most common/industry standard.  It can feel as though a user is just blindly following a workflow that may differ out in the wild.

🎯 **Goal**
Make it clear before the user starts, that the workflow (s)he is about to embark is very common and unofficially industry standard.
It might also help to describe _why_ t

[2018-04-19 17:39] sara-02 commented on #4014
@HandsomeMedia Nice. We can include some blogs where organizations have written about this workflow, and how it is helpful for them.

[2018-04-19 17:39] sara-02 commented on #4014
@HandsomeMedia do you want to take up this issue?

[2018-04-19 22:01] nunofca commented on #4013
I can do that if you want. Should I add a full stop to the ones missing?

[2018-04-20 03:50] sara-02 commented on #4013
@nunofca Sure.
Here is what I would like to check
- [ ] Full stop at the end of sentences.
- [ ] If not full stop then exclamation mark. No question marks to end descrpitons.
- [ ] Proper casing is followed at the beginning of each new sentence, and for proper nouns, no need to capetilise other terms.
- [ ] Any spell checks, grammar error in the descriptions.
- [ ] If the description is just an ac

[2018-04-20 09:07] sara-02 opened #4030 "[High Priority]Slack link on the website is broken"
The slack link on the first-contributors [web-portal](https://roshanjossey.github.io/first-contributions/) is broken.

🐞 **Problem**
Clicking on the slack option on the top-right corner of the web-page, leads to an error message, `No such app` .

Current State:
![screenshot from 2018-04-20 14-36-31](https://user-images.githubusercontent.com/7047079/39042387-45f7cfbc-44a8-11e8-82ec-5e0de0dd7ecf.png

[2018-04-20 09:23] sara-02 opened #4031 "Inconsistence in the project links"
For most of the projects on the portal, the link points to the `Issues` page of the repository and not the `Main` project page. Except for projects that point to a Github Organization rather than a single project.
But for approx 10 projects, the link points to the Github project page and not the issues page. Even though it is not a UI issue, but not a consistent user experience.

🐞 **Problem**
Inc

[2018-04-20 11:13] #3783 closed

[2018-04-20 18:58] nunofca commented on #4013
@sara-02 Ok, I'm working on it now. ;)

[2018-04-20 20:28] nunofca commented on #4031
I'm working on this one as well.

[2018-04-20 21:08] HandsomeMedia commented on #4014
Hi @sara-02 - I just opened a PR with verbiage tweak, which includes your suggestion to include a reference.

[2018-04-21 05:53] adi44 commented on #4030
i will do this

[2018-04-21 14:42] nunofca commented on #4031
I've submitted a pull request.  @sara-02 @Roshanjossey

[2018-04-21 17:12] adi44 commented on #4030
I have submitted pull request @Roshanjossey

[2018-04-23 10:44] arximughal opened #4072 "add IntelliJ IDEs tutorial (WebStorm/PhpStorm/PyCharm etc)"
IntelliJ IDEs also provide very great version control integration right in the IDE. I personally use [WebStorm](https://www.jetbrains.com/webstorm/), [PhpStorm](https://www.jetbrains.com/phpstorm/) and [PyCharm](https://www.jetbrains.com/pycharm) heavily every day. There should be tutorials for this as well.

🐞 **Problem**

No tutorial for IntelliJ IDEs for beginners.

🎯 **Goal**

Goal is to creat

[2018-04-23 10:45] arximughal commented on #4072
I'd like to work on it 🤗

[2018-04-23 19:41] #4014 closed

[2018-04-23 20:25] Roshanjossey commented on #4030
Closing this as this has been resolved in https://github.com/Roshanjossey/first-contributions/pull/4082

[2018-04-23 20:25] #4030 closed

[2018-04-24 09:39] sara-02 commented on #4072
@arximughal sure.
I would suggest you create a new folder under the `additional_material` section maybe something like `IDE walk_through` and add your IDE tutorials under them.

[2018-04-24 09:39] sara-02 commented on #4072
For the time being, I don't know where in the README, we can link this, let's figure that out once you have your material ready.

[2018-04-24 09:40] sara-02 commented on #4072
@arximughal Also, it will be good if in your tutorial about the various features of the IDE you can talk about some git/github plugins these IDE support.

[2018-04-24 20:32] sara-02 commented on #4031
@karanshrm44 @nunofca has already created a PR for this. We basically wnat each project link to point to its issues section which is not the case right now.

[2018-04-24 20:33] sara-02 commented on #3499
@asphaltbuffet if you are not working on it, we can reassign it to @launganik

[2018-04-24 20:33] karanshrm44 commented on #4031
I also created did this one ...Now what should I do ?

[2018-04-24 20:34] sara-02 commented on #4031
@karanshrm44 In case you have created a PR, then we mark it as duplicate and close it.

[2018-04-24 20:35] sara-02 commented on #4031
Else, you can let it be, and try picking a new issue instead, always good to check if an issue is available or not :)

[2018-04-24 20:36] karanshrm44 commented on #4031
ok thank You @sara-02 but i want to did  PR so that i can learn how things work more clearly if you don't mind

[2018-04-24 20:43] karanshrm44 commented on #4031
I have one doubt, which link provide if their is no issue in project , ruby_koans

[2018-04-24 20:46] asphaltbuffet commented on #3499
Please do. I changed jobs and life got crazy

On Tue, Apr 24, 2018, 3:33 PM Sarah Masud <notifications@github.com> wrote:

[2018-04-25 06:51] sara-02 commented on #3499
@launganik You can work on this :)

[2018-04-25 06:51] sara-02 commented on #4031
@karanshrm44 In that case we just let the link be, it will point to the org link on github.

[2018-04-25 09:50] arximughal commented on #4072
@sara-02 yeah sure. Actually, I'll be only writing these tutorials around git/github support in these IDEs 😃

[2018-04-25 21:37] karanshrm44 commented on #1722
open a pull request in this project with those changes....Can You explain me this line more briefly....what kind of feature you want ?

[2018-04-26 10:58] mag92 opened #4123 "src refspec doesn't match any"
`git push origin <add-your-name>` might need to be clarified.
🐞 **Problem**

Contributors might face error:
`error: src refspec repo does not match any.
error: failed to push some refs to '...'`
🎯 **Goal**

To have a smoother experience when following the tutorial in README.
💡 **Possible solutions**

`git push origin HEAD:<remoteBranch>` as per [here](https://stackoverflow.com/questions/4181861/sr

[2018-04-29 16:23] sara-02 opened #4171 "What to do with package-lock.json?"
Running npm install (with npm version >=5) will automatically generate the file `package-lock.json`.
The question is do we want a `lock` file for the repo. So on every PR, this file will also show up.
We need to update the `.npmrc` and the `.gitignore` if we don't want it.

The question is how useful are they, should we be using them?
https://stackoverflow.com/questions/44297803/package-lock-json-

[2018-05-01 17:01] palash25 opened #4207 "Add Kubernetes to the projects list"
The [Kubernetes](https://github.com/kubernetes) project has a great community infrastructure in place to help beginners get started with open source and I think it should be added to the list.

This is a good issue for beginners.

Related to  #1721

[2018-05-02 05:49] adi44 commented on #4207
I will be solving this issue.

[2018-05-02 06:18] palash25 commented on #4207
Thanks so much @adi44

[2018-05-03 15:03] #4207 closed

[2018-05-03 19:48] sara-02 opened #4237 "Add few more OS Communities"
With respect to https://github.com/Roshanjossey/first-contributions/issues/1721
The following communities are very beginner friendly, and have an active community support.
1. Systers https://github.com/systers
2. Centos https://github.com/CentOS
3. NPM https://github.com/npm
It will be good to have them added to the project list.

[2018-05-05 14:26] launganik commented on #3499
@sara-02 @Roshanjossey - I have made the necessary changes. I request you to check for any mistakes I may have made. Do advise on what can be better

[2018-05-06 06:41] karanshrm44 commented on #4237
I will do this thing

[2018-05-06 08:27] sara-02 commented on #4237
@karanshrm44 Sure, thanks for helping :)

[2018-05-08 10:44] sara-02 commented on #4123
@mag92 This is a nice catch, we can resolve this issue by saying `git push origin <add-your-branch-name>`.
That is more intutive for beginners than the first solution.

[2018-05-08 10:44] sara-02 commented on #4123
@mag92 Want to work on this?

[2018-05-08 13:32] karanshrm44 commented on #4237
Hey @sara-02  ,  What are tags provided for above community ???

[2018-05-08 13:38] sara-02 commented on #4237
@karanshrm44 You will have to read a bit about these communities to come up with the tags. :)
You can check the most popular repo for each community and use their Github topics as tags.

[2018-05-09 09:00] sara-02 commented on #3499
Fixed in https://github.com/Roshanjossey/first-contributions/pull/4258

[2018-05-09 09:00] #3499 closed

[2018-05-11 06:07] sara-02 opened #4343 "Add OpenEBS to the contributors list"
🐞 **Problem**
Possible tags for the organization: `Containers`, `DevOps`, `Go`
Link: https://github.com/openebs/

To know more about the OpenEBS projects, visit https://www.openebs.io/

[2018-05-12 15:12] cheriannet commented on #624
@Roshanjossey I have updated the desktop tutorial and have sent a pull request.  Please take a look and give me any feedback.

[2018-05-12 18:47] MONIKA-KUMAR-JETHANI commented on #1722
Hi @Roshanjossey , Is this fixed or Is help required for this?

[2018-05-13 05:52] mag92 commented on #4123
@sara-02 Yes.

[2018-05-13 16:04] sara-02 commented on #4343
@karanshrm44 Sure.

[2018-05-13 16:05] sara-02 commented on #4237
@karanshrm44 Sure.

[2018-05-13 16:08] karanshrm44 commented on #4343
I have created a PR for previous issue, can you look for it.

On Sun, May 13, 2018, 9:34 PM Sarah Masud <notifications@github.com> wrote:

[2018-05-13 18:02] karanshrm44 commented on #4237
I created push request

[2018-05-15 11:12] sara-02 commented on #4237
Fixed in https://github.com/Roshanjossey/first-contributions/pull/4386

[2018-05-15 11:12] #4237 closed

[2018-05-15 11:12] sara-02 commented on #4343
Fixed in https://github.com/Roshanjossey/first-contributions/pull/4386

[2018-05-15 11:12] #4343 closed

[2018-05-15 11:26] sara-02 commented on #4031
Fixed in https://github.com/Roshanjossey/first-contributions/pull/4033

[2018-05-15 11:26] #4031 closed

[2018-05-15 11:27] sara-02 commented on #4013
Fixed in https://github.com/Roshanjossey/first-contributions/pull/4033

[2018-05-15 11:27] #4013 closed

[2018-05-17 06:34] #624 closed

[2018-05-19 08:07] palash25 opened #4473 "Add ethereum foundation to the list of organizations"
I have contributed to their python projects in the past and had a wonderful experience. The maintainers are friendly and helpful and since it is under heavy development there are lots of beginner-friendly issues.

I also earned some ether for solving one of the issues too so you can also get paid for your work which feels awesome.

There are lots of other projects in C++, Go, Solidity and Javascri

[2018-05-19 08:31] debasree888 commented on #490
Thanks a lot... I created my first pr. this tutorial was the best one for first timers.. i m a first timer. it enhanced my confidence level.. and now i seriously want to contribute in this project..

[2018-05-19 08:31] karanshrm44 commented on #4473
I will do this things @sara-02

[2018-05-19 09:56] sara-02 commented on #4473
@karanshrm44 Sure. @palash25 Thanks for adding this project. :)

[2018-05-21 11:51] sara-02 commented on #2690
Fixed in #3125. Closing this issue now.

[2018-05-21 11:51] #2690 closed

[2018-05-21 11:55] sara-02 commented on #4171
Since the app already has a `package-lock.json`. I am closing this issue https://github.com/Roshanjossey/first-contributions/blob/master/app/package-lock.json

[2018-05-21 11:55] #4171 closed

[2018-05-21 12:27] sara-02 opened #4514 "Kubernetes logo is not rendered properly."
We recently added the Kubernetes project to our list and its logo is not being rendered properly.

🐞 **Problem**
The broken logo link is hampering the user experience. We need to fix the broken link in the image.

![screenshot from 2018-05-21 17-53-44](https://user-images.githubusercontent.com/7047079/40307495-61fc8ce4-5d20-11e8-83d3-b83008bf6872.png)

[2018-05-21 14:55] Osiris1975 commented on #4514
Can I take this one? :)

[2018-05-21 16:02] sara-02 commented on #4514
@Osiris1975 Sure. You are more than welcome to give it a try :smiley:

[2018-05-22 22:11] iiqrah opened #4544 "Adding information about resolving a merge conflict"
Adding information about resolving a merge conflict

🐞 **Problem**
 I was trying to add myself in the contributor list by following the steps, however, when I tried to make a pull request, it said I have a merge conflict, which I was not expecting. So I think it would be a good idea to include this in the exercise so that future contributors don't get confused by it and know how to resolve it, I s

[2018-05-26 02:09] iiqrah commented on #4544
Hey @Roshanjossey
Your reasons do make a lot of sense, thanks a lot for explaining it 😄
I guess I'll close this issue now.

[2018-05-26 02:09] #4544 closed

[2018-05-30 13:40] Jitender46559 commented on #490
Can anyone help me too how to contribute here

[2018-05-30 15:52] Roshanjossey commented on #490
@Jitender46559, follow the tutorial in the readme

[2018-05-31 09:53] sara-02 commented on #4473
@karanshrm44 any updates on this?

[2018-05-31 09:54] sara-02 commented on #4514
@Osiris1975 any updates on this one?

[2018-05-31 11:33] Osiris1975 commented on #4514
@sara-02 my apologies, I've been preparing for a technical interview for over a week. I will begin trying to resolve this tomorrow. If you need a faster turn around feel free to open it up to someone else.

[2018-06-01 05:18] palash25 opened #4688 "Add Rust Lang Nursery"
https://github.com/rust-lang-nursery has lots of popular rust crates and lots of issues for which mentors are available.

[2018-06-01 23:18] Roshanjossey commented on #4688
Thank you for raising this issue @palash25.

I see plenty of good first issues is projects like rust-clippy
https://github.com/rust-lang-nursery/rust-clippy/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

Definitely worth adding.

[2018-06-02 00:21] Roshanjossey commented on #4514
Closing this as this has been resolved in #4680.

[2018-06-02 00:21] #4514 closed

[2018-06-02 00:21] Roshanjossey commented on #4473
Closing this as this has been addressed in #4680 .

[2018-06-02 00:21] #4473 closed

[2018-06-08 08:57] sumayaSalihs commented on #490
@Roshanjossey even with this " https://github.com/JayKothari/first-contributions" The requested URL returned error: 403 ~ Mac User

[2018-06-08 10:00] Roshanjossey commented on #490
@sumayaSalihs, I didn't quite understand that. The repo is a fork of this one.

You only have to work with this repo and your fork of this.

[2018-06-08 10:11] Roshanjossey commented on #490
@sumayaSalihs, also, I see that you've done this successfully https://github.com/Roshanjossey/first-contributions/pull/4814

[2018-06-08 11:31] sumayaSalihs commented on #490
@Roshanjossey yeah, I could not push when I cloned directly from this repository but after I forked it, I was able to do so using the version I forked.

[2018-06-11 08:10] tejasbubane opened #4859 "React card link needs to be changed"
🐞 **Problem**
`React` is the first card on the [project page](https://roshanjossey.github.io/first-contributions/) and it opens a link with label `Difficulty: beginner`. But the React team uses the label `good+first+issue`.

🎯 **Goal**
Clicking on the `React` card should open this link: https://github.com/facebook/react/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22

📋  **Steps to so

[2018-06-11 08:36] Roshanjossey commented on #4859
Thank you for raising this @tejasbubane 🖖. I guess they changed it.
For anybody who wants to solve this issue, you have to change the URL in  this line https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js#L5
to the URL @tejasbubane has mentioned in the issue.

[2018-06-11 09:29] Roshanjossey commented on #4859
Closing as we fixed this in #4862

[2018-06-11 09:29] #4859 closed

[2018-06-15 21:51] omer2500 commented on #4688
i would like to take this one if possible :)

just to be clear, you want to add a new card of rust lang nursery to the github page right,
with the link Roshanjossey provided? or it better be the main issues page? or the repo page?

[2018-06-16 03:34] Roshanjossey commented on #4688
@omer2500, great. Go with the link in my comment. I believe it's better to take users to good first issues.

[2018-06-16 08:56] Roshanjossey commented on #3902
@tmrepo, aren't all these fixed in #3999? Shall we close this issue now? @dylanbobb, could you please verify?

I'm not sure if I've seen you in our slack group. We have a slack team to help/mentor people trying to contribute to open source projects.
You can join the team by going to https://goo.gl/PM1Jdh

[2018-06-16 08:59] Roshanjossey commented on #1726
Closing this as per the consensus that emerged during the discussions

[2018-06-16 08:59] #1726 closed

[2018-06-16 09:01] Roshanjossey commented on #1066
Closing this as we've tags in all project cards now.

[2018-06-16 09:01] #1066 closed

[2018-06-16 09:02] Roshanjossey commented on #129
Closing this as this is completed.

[2018-06-16 09:02] #129 closed

[2018-06-16 09:34] Roshanjossey commented on #4688
Closing this as this was addressed in #4962

[2018-06-16 09:34] #4688 closed

[2018-06-16 18:09] OtacilioN opened #4966 "Add country flags to quick access translated versions"
The translation of this project is something really awesome, but some people cannot read a single word in English. Adding flags in the readme allows visual and quick access to translated versions.

🐞 **Problem**
- If you don't understand English you cant see that are translated versions available
- There's no quick access (1 click access) to translated versions from README.md

🎯 **Goal**
Have a vi

[2018-06-16 18:51] OtacilioN commented on #4966
I imagine two approaches to do that.

# Just flags and links side by side
[...]

#### *Read this in [other languages](Translations.md).*
[🇮🇳](translations/README.hi.md) [🇲🇲](translations/README.mm_unicode.md) [🇮🇩](translations/README.id.md) [...]

[...]

# Flags and language names
[...]
#### *Read this in [other languages](Translations.md).*
🇮🇳 [हिन्दी ](translations/README.hi.md) | 🇲🇲 [Myanmar Un

[2018-06-16 20:18] Roshanjossey commented on #4966
Thank you for opening this issue @OtacilioN 🖖. I fully understand your point.

We used to have a listing of languages in Readme itself. We refactored it in to a separate file when it started getting bloated up.

One of the things we did with tutorial is to keep it very short. That really worked out too. That's why we removed translation links too.

Let's wait for the community to respond to this.

[2018-06-16 22:04] OtacilioN commented on #4966
Fully agreed, it is really important to be short, maybe the flags approach is a good solution, I think just one line will be added.

[2018-06-17 01:56] dylanbobb commented on #3902
As far as I can tell everything us fixed now. Feel free to close the issue :)

[2018-06-17 01:56] #3902 closed

[2018-06-21 10:48] sara-02 commented on #4966
@OtacilioN the translations listing page does include a flag based on language/country
https://github.com/Roshanjossey/first-contributions/blob/master/Translations.md
How useful would it be to have them listed again in the main README when the
`Read this in other languages.` points you to the file I linked.
One enhancement that can be done is to list somewhere the total translations supported. Eit

[2018-06-21 15:41] Roshanjossey commented on #4966
@sara-02, @OtacilioN is suggesting flag emojis that links to corresponding translations.

Consider someone who can't understand the sentence `Read this in other languages` (because they can't understand English). They could benefit if they can understand flags.

[2018-06-21 17:03] sara-02 commented on #4966
Oh. Ok Yes, it makes sense now :)

[2018-06-21 17:06] sara-02 commented on #4966
In that case `Flags and language names` would be better, because for even for the same flag we can have multiple languages, like `Indian flag can be used any regional Indian language.`

[2018-06-22 01:44] OtacilioN commented on #4966
Yes, but to not increase much lines in the README.md we could add just the flags in the README, and for countries that just have one language, such as Brasil, we can link directly, and for countries with multiple languages, such as India, we can link to a Readme called indiaLangs.md with a list containing all language available for india

[2018-06-22 05:14] sara-02 commented on #4966
@OtacilioN  That sounds good to me :)

[2018-06-22 15:52] Albert-Hanstein opened #5062 "Simple doubts concerning pull requests"
Hi all, being new to working on open-source, I have a few doubts which I hope you can help me clear:

- I have looked at the issue list for certain projects, and for some issues, I see they have been assigned to certain people. Does that mean I cannot work on these issues as someone is already working on them?
- When I find an issue that I want to work on, do I simply fork the repository and fix i

[2018-06-24 22:11] umluizlima commented on #4966
Hi, everyone. What if we placed all the flags inside a single link on README.md that leads to Translations.md ? Thid way it wouldn't bloat the README.md and still allow the viewers to choose their specific dialect on Translate.md

Example:
#### *Read this in other languages.*
[ 🇮🇳 🇲🇲 🇮🇩 🇫🇷 🇪🇸 🇳🇱 🇷🇺 🇯🇵 🇻🇳 🇵🇱 🇮🇷 🇮🇷 🇱🇹 🇰🇷 🇰🇵 🇩🇪 🇨🇳 🇹🇼 🇬🇷 العربية 🇺🇦 🇧🇷 🇵🇹 🇮🇹 🇹🇭 🏴󠁥󠁳󠁧󠁡󠁿 🇵🇰 :bangladesh: :moldova: :romania

[2018-06-25 08:34] tarun-nagpal-github opened #5096 "Unable to Push the changes"
🐞 **Problem**
$ git push origin tarun-testing
remote: Permission to this-is-you/first-contributions.git denied to fsl-siem-pkg-installer.
fatal: unable to access 'https://github.com/this-is-you/first-contributions.git/': The requested URL returned error: 403

🎯 **Goal**
I am not able to Push the changes

💡 **Possible solutions**
Permission Issues

[2018-06-27 04:53] sara-02 commented on #5096
@tarun-nagpal-github Git you do fork and then clone? Can you share the output of `git remote -v`?
Looks like your origin is set to the upstream and not your fork, that is why you are not able to push on the branch. Since you are not a collaborator on the upstream, you are seeing the `permission denied` error.

[2018-06-30 16:57] Roshanjossey commented on #5096
@sara-02, from what I understand, @tarun-nagpal-github ran the command in [clone step](https://github.com/Roshanjossey/first-contributions#clone-the-repository) without substituting the URL with what is copied.

@tarun-nagpal-github, Please go through that section again. Understand that you have to change that to the URL of your fork of this project.

[2018-07-01 12:56] Roshanjossey commented on #5062
Hi @Albert-Hanstein, I apologize that took so much time to respond to your queries.

I'd be better to avoid multiple people working on the same issue independently. The best way to proceed is to comment on that issue to check if the person who the issue is assigned to is still working on it and if you can help out in any way.

It's always suggest to comment on the issue before starting to work. So

[2018-07-06 22:45] GriffinAustin commented on #4966
Posted branch with what @umluizlima suggested

[2018-07-07 14:53] sudeshana opened #5294 "Should add Tidying up after Pull Requests section"
I like to suggest after a Pull Request has been merged delete the old branch should add as the last step of tutorial. as explained here [The GitHub Blog](https://blog.github.com/2012-12-03-tidying-up-after-pull-requests/).

[2018-07-10 15:00] SergiuIlciuc commented on #96
I can update the Romanian translation although it is not on the list. There are some small changes needed.

[2018-07-11 05:41] sara-02 commented on #96
@SergiuIlciuc you can surely do it. :)

[2018-07-11 09:00] dbarabashdev opened #5348 "Bug with tag element"
![tag-bug](https://user-images.githubusercontent.com/8488446/42620756-797d4c28-85d9-11e8-8e12-7c40fe7f64ea.png)
[Tag](https://www.dropbox.com/s/w3qkginjk4v3u0w/Screen%20Shot%202018-07-11%20at%2011.55.45.png?dl=0)

Tags are not rendering correctly for some cards.

[2018-07-12 08:14] Roshanjossey commented on #5348
@dbarabashdev, I've updated the issue description to make it easy to see the bug.

Would you like to work on this and fix it?

[2018-07-12 10:18] Roshanjossey commented on #4966
@umluizlima, if each flag is linked to corresponding tutorial, we reduce the number of clicks for user. We were trying to optimize that experience. For countries that has multiple languages, it could link to Translation.md like you suggested.

[2018-07-12 13:09] dbarabashdev commented on #5348
@Roshanjossey, I did simple changes and just removed the `width` property and added the `padding`. I think it looks good

[PR](https://github.com/Roshanjossey/first-contributions/pull/5379)

[2018-07-13 11:08] gitBKrp commented on #96
I can translate main additional material page to Polish.

[2018-07-13 13:38] Roshanjossey commented on #96
@gitBKrp, there is already a Polish translation.
https://github.com/Roshanjossey/first-contributions/blob/master/translations/README.pl.md
 Could you check if it is up to date with the English one? If not, please submit a pull request with necessary change

[2018-07-13 13:57] gitBKrp commented on #96
Yes Polish version of beginner site is up to date with the English one.
What I meant was creating Polish version of
[first-contributions/additional-material/git_workflow_scenarios/additional-material.md](https://github.com/Roshanjossey/first-contributions/blob/master/additional-material/git_workflow_scenarios/additional-material.md).

[2018-07-13 17:18] Roshanjossey commented on #96
@gitBKrp, Oh, sure. Go ahead.

[2018-07-15 17:59] sara-02 commented on #5294
Fixed in #5397

[2018-07-15 17:59] #5294 closed

[2018-07-17 14:18] irahulcse commented on #5348
@Roshanjossey  I want to work on some of the issues of your project would pls tell me how I can do it.
I have the strong knowledge of the C++, C and some portion of Java.

[2018-07-17 14:21] irahulcse commented on #5096
@tarun-nagpal-github I also did the same mistake but then I delete the repository which I had cloned from the first-contribution directly. Then first I cloned the repository and then i did write all the other commands like git remote and git push in it.

[2018-07-20 15:28] Wilsonlulu opened #5511 "Need a simple programming issue to solve for university project"
hope to get an issue to solve using c# as i have been learning programming for a few months only in university.

[2018-07-25 03:59] #5511 closed

[2018-07-25 15:10] sara-02 opened #5584 "Road Map for HacktoberFest 2018"
Last year we were one of the most visited repo. 8th most in terms of Highest Pull Request Count Repos
![screenshot from 2018-07-25 20-37-39](https://user-images.githubusercontent.com/7047079/43209579-9ee3075c-904a-11e8-98a5-93e4782cbf38.png)

We have been receiving many PRs from newcomers and other contributors who added translations and fixed bugs and enhanced the documentation. With [Hacktoberfe

[2018-07-25 16:55] Roshanjossey commented on #5348
@irahulcse, checkout our web app and slack group to find projects you might wanna contribute to.

[2018-07-25 16:59] Roshanjossey commented on #5348
@dbarabashdev, I'm closing this issue as this has been resolved in #5379

[2018-07-25 16:59] #5348 closed

[2018-07-25 17:38] Roshanjossey commented on #5584
From a marketing perspective, on thing that worked for us last time was to create easy issues when hacktoberfest began. Hacktoberfest site had a link that pointed to a GitHub search with `hacktoberfest` label. We were able to get traffic from that page.

[2018-07-28 13:46] Roshanjossey commented on #5584
I've made this change. It is working well now.

[2018-07-28 14:21] sara-02 commented on #5584
@Roshanjossey you mean to say auto conflict resolving? :scream:

[2018-07-29 04:42] Roshanjossey commented on #5584
@sara-02, no, adding name at a random line number https://github.com/Roshanjossey/first-contributions/commit/3c24a99fbbb942251e965e5e34bb3c7d499bb700

If you take a look at the latest pull requests, most of them are added to random lines. This can result in least merge conflicts.

[2018-07-30 20:49] Pratyushx commented on #5096
Always remember to do these 2 things whenever u open your repo in the texteditor
1. git fetch upstream
2.git pull upstream master

[2018-07-31 12:31] sara-02 opened #5680 "Add ide specific spec/temp file to .gitignore"
Since people use different IDEs and editors, to avoid unwanted spec files to be committed by newcomers, we should update our `.gitignore`.

🐞 **Problem**
Newcomers pushing spec files and temp files autogenerated by IDEs and editors.

💡 **Possible solutions**
Update the .gitignore to cover as many scenarios as possible, and keep updating it as and when new spec files show up in the PRs.

Sample `.g

[2018-08-02 14:43] sara-02 commented on #5062
@Albert-Hanstein Since your questions have been answered.  I am closing this issue. If you have more doubts feel free to reopen it, and tag me(@sara-02) or @Roshanjossey

[2018-08-02 14:43] #5062 closed

[2018-08-02 14:44] sara-02 commented on #5096
@tarun-nagpal-github I hope you have received the required suggestions and were able to successfully follow the first-contributions process. If not feel free to add your doubts and reopen the issue.

[2018-08-02 14:44] #5096 closed

[2018-08-03 13:37] Albert-Hanstein commented on #5062
@sara-02 Thanks for closing it for me, I forgot I had to do that. Won't do this mistake again :)

[2018-08-04 13:06] borisyordanov commented on #1722
@Roshanjossey What's the status on this?

[2018-08-04 17:36] arshadkazmi42 commented on #96
Updated Hindi Translation to match current README.md file

[2018-08-04 18:29] arshadkazmi42 opened #5776 "Project List in listOfProjects file should be in alphabetical order"
🐞 **Problem**
* Its a suggestion, the list of project names are not in alphabetical order

🎯 **Goal**
* To keep the project list in alphabetical order
* Keeping it in alphabetical order, it will be easy for users to go through the list and it will be better to see the project names in alphabetical order
* It will also help in keeping track of duplicate projects if someone is trying to add a new pr

[2018-08-04 18:59] arshadkazmi42 commented on #5776
PR [5777](https://github.com/Roshanjossey/first-contributions/pull/5777)

[2018-08-05 12:09] Roshanjossey commented on #5776
@arshadkazmi42, I fail to see how this would improve the experience of users going through projects.

From my understanding, having order gives users predictability. Like expecting something to be somewhere and finding it easily. In our case, we're expecting users to be introduced to new projects.

Please share your thoughts on this.

[2018-08-05 13:55] arshadkazmi42 commented on #5776
@Roshanjossey

I was thinking about it in a different way. So, one is if someone is updating the list, it will be easy for them to check what projects already exists.
Adding to this, if someone is looking for a project whose name is already known by the user then it will be quite easier to find the project.

`If we're expecting the users to be introduced to new projects first`, are we following so

[2018-08-05 14:43] Roshanjossey commented on #5776
@arshadkazmi42, I understand the problem you're describing. I'm just on a different page with respect to the solution.

I think a search feature is what is required to solve this problem. If it was in some order, users will have to scroll to a place to see if a project is there or not. This could be at the end too.

[2018-08-05 14:46] arshadkazmi42 commented on #5776
@Roshanjossey Yeah. I guess adding a search will be better option.
I think we can close this issue

[2018-08-06 05:50] Roshanjossey commented on #5776
@arshadkazmi42, cool. Would you be interested in implementing a search feature?

[2018-08-06 05:50] #5776 closed

[2018-08-06 05:52] arshadkazmi42 commented on #5776
Yes. I am interested to take it up. If no one has already started working on it.

[2018-08-06 05:54] Roshanjossey commented on #5776
No one is working on it at the moment. Please add an issue for tracking it. We could have discussions around the functionality.

[2018-08-06 05:54] arshadkazmi42 commented on #5776
ok. I will create a issue for this

[2018-08-06 05:58] arshadkazmi42 opened #5805 "Implementing Search Feature on Project List Page"
🐞 **Problem**
* In the project list page we have alot of projects, so sometimes its difficult to find a project by name.

🎯 **Goal**
* Some searching capabilities over the page to find project if someone is looking for something specific

💡 **Possible solutions**
* We can add a search or filter feature in the page

📋  **Steps to solve the problem**
* I will be starting work on it.

[2018-08-06 05:58] gunjan01 commented on #802
@Roshanjossey  Hi , I would like to add a tutorial on How to squash commits ,Resolve merge conflicts, Configure username and email for git ? Newbie here, wanting to contribute. Is the issue still open ?

[2018-08-06 06:14] Roshanjossey commented on #802
@gunjan01, all the items in the checklist above were done. I apologise for not updating that checklist.

You can checkout everything we have at the moment here
https://github.com/Roshanjossey/first-contributions/blob/master/additional-material/git_workflow_scenarios/additional-material.md

If you'd like to add anything else, you're more than welcome to do that. For example, you could write a simpl

[2018-08-06 06:49] gunjan01 commented on #802
@Roshanjossey  Yes, git bisect sounds good. Also, I would try to think what else could we do for the additional material section and get back. If something worthy hits me, will send a PR here.

[2018-08-06 14:56] arshadkazmi42 commented on #5805
@Roshanjossey Where can I find the WebApp code to add search feature to it?

[2018-08-07 03:03] arshadkazmi42 commented on #5805
So I am planning to make search feature like.
Filter tags will have first priority over the projectList and then search query will be applied on the list on which tags are applied.
Any suggestions? I am almost done with the changes, will be making a pull request later today.
If there is any suggestion on the approach, please let me know.

[2018-08-07 14:09] arshadkazmi42 commented on #5805
@Roshanjossey Created PR [5826](https://github.com/Roshanjossey/first-contributions/pull/5826)

[2018-08-07 17:03] akramkazmi71 commented on #96
Created Hindi translation for moving-a-commit-to-a-different-branch.md [5828](https://github.com/Roshanjossey/first-contributions/pull/5828)

[2018-08-09 00:33] OtacilioN commented on #4966
As the before PR does not fit this discussion I submit another one with the implementation discussed here.

[2018-08-09 02:03] #4966 closed

[2018-08-09 02:04] Roshanjossey commented on #4966
Closing this as this has been resolved in #5866

[2018-08-09 04:52] arshadkazmi42 commented on #1722
@Roshanjossey I am interested in taking this up, if this is still available. But I have not worked on github api before? Can let me know how or which api to be used for this?

[2018-08-09 07:01] borisyordanov commented on #1722
@arshadkazmi42 Go ahead and take it. Let me know if i can help you though, i've used the Github API quite a bit

[2018-08-09 07:04] arshadkazmi42 commented on #1722
@borisyordanov I need to understand how to proceed. So let's say I got input from user. Now for CLI we follow this workflow
Checkout Feature Branch -> Make Changes -> Add -> Commit -> Push -> Create PR
So do I have to follow the same flow? Calling api's for each operation? Or there is some other way?

[2018-08-09 07:12] borisyordanov commented on #1722
@arshadkazmi42 From what i can tell the projects are stored [here](https://github.com/Roshanjossey/first-contributions/blob/master/app/src/components/ProjectList/listOfProjects.js). You read how to edit files with the Github API [here](https://developer.github.com/v3/repos/contents/#update-a-file).

I assume you are asking about the Github API, because the project list is a local file and if the a

[2018-08-09 07:14] arshadkazmi42 commented on #1722
@borisyordanov Thanks for this info. I will give it a try later today.

[2018-08-09 07:56] Roshanjossey commented on #1722
@borisyordanov, You're right.

I was thinking about using [pull request API](https://developer.github.com/v3/pulls/#create-a-pull-request) for this. That way we have a control on which projects get added.

If it is a pull request, project maintainers can take care of this. We could review it as well.

One thing I'm unsure about is how to take care of authentication.

We'll want a backend eventuall

[2018-08-09 08:05] borisyordanov commented on #1722
We just need a client ID and secret. You can read [here](https://developer.github.com/v3/guides/basics-of-authentication/) how to get them.

Here's an example on how i've used it before:
https://github.com/borisyordanov/github-issues-react/blob/master/src/services/GetIssues.js

[2018-08-09 08:12] Roshanjossey commented on #1722
@borisyordanov, Yup. This is what I do for the bot that merges pull requests here.

We have to put those in environmental variables or something. (because it's risky to share it or put it in the code)

[2018-08-09 08:18] Roshanjossey commented on #1722
Like, I can read the source of your app and find your client secret and client id. This is dangerous.

[2018-08-09 11:11] borisyordanov commented on #1722
100% true. Don't do this on production apps, i simply meant to show whoever ends up doing this how to use the auth tokens to do API calls. The tokens would need to be stored in a more secure manner (like in environment variables like you suggested)

[2018-08-09 11:13] arshadkazmi42 commented on #1722
But we don't have a backend right? Then do we need to work on backend first?

[2018-08-09 15:38] akramkazmi71 commented on #96
Created Hindi translation for removing-branch-from-your-repository.md [5876](https://github.com/Roshanjossey/first-contributions/pull/5876)

[2018-08-09 17:00] arshadkazmi42 commented on #130
Is it still available? Should I take this up?

[2018-08-09 19:16] arshadkazmi42 commented on #5805
Search feature implemented and merged to master. Close this issue.

[2018-08-09 19:16] #5805 closed

[2018-08-09 23:06] Ma7eer commented on #5680
Hello first timer here! may I attempt to take on this project? I always ignored the .gitignore file when building projects, so would love to tackle this one haha

[2018-08-10 06:53] Roshanjossey commented on #1722
@arshadkazmi42, we don't.

We could do more research on if theres a way to do authentication securely with just front end app. If there's nothing, we can defer this to some time in the future.

[2018-08-10 06:55] Roshanjossey commented on #130
@arshadkazmi42, yes. This is still available. Please take a look a the screenshots shared at the beginning of this conversation.

I don't have a concrete idea on how this should be. We could discuss more, make updates together and take this forward.

[2018-08-10 06:55] arshadkazmi42 commented on #1722
@Roshanjossey Ok. I will have a look into it and check whether we have any secure auth in frontend

[2018-08-10 06:56] arshadkazmi42 commented on #130
@Roshanjossey Sounds good. Let me explore some graphic design and we can discuss further on it..

[2018-08-10 15:57] sara-02 commented on #5680
@Ma7eer this is a good start, you can also add `*.~temp`

[2018-08-10 17:29] arshadkazmi42 commented on #130
@Roshanjossey A quick question! Are we looking for custom designed banners? Or planning to use some free banner available on web?

[2018-08-10 19:44] Ma7eer commented on #5680
Ok! I will start there for now and add more as they come up. Thank you for your help!

[2018-08-10 21:53] ayanovsk commented on #96
Working on translation of additional-material.md into Russian

[2018-08-11 05:14] sara-02 commented on #96
@ayanovsk  Sure.

[2018-08-11 06:43] sara-02 opened #5915 "Add 5 new Open Source Organizations"
Add the following Organizations to the project list:

- [x] Probot: https://github.com/probot

- [x] ODK: https://github.com/opendatakit

- [x] SugarLabs: https://github.com/sugarlabs

- [x] JupyerHub: https://github.com/jupyterhub

- [x] AllenAI: https://github.com/allenai

[2018-08-11 11:44] TomerPacific opened #5923 "Adding Hebrew To Other Languages"
In addition to all the languages the README.md file has been translated to, I'd like to offer my help with translating it to Hebrew.

I am fluent in Hebrew and English and this translation can help people who only know Hebrew.

Let me know how you feel.

Thanks.

[2018-08-11 12:43] Roshanjossey commented on #5923
@TomerPacific, please go ahead with this. Also please make sure that you add links to the translation in Readme.md and Translations.md

[2018-08-11 12:52] TomerPacific commented on #5923
@Roshanjossey,
Will do. I'll open a pull request when I am done.

[2018-08-11 12:57] Roshanjossey commented on #5680
Closing this as this has been resolved in #5902

[2018-08-11 12:57] #5680 closed

[2018-08-11 15:37] TomerPacific commented on #5923
@Roshanjossey ,

I have created a pull request for your review.

[2018-08-12 12:57] Jaggu-123 commented on #5915
I want to go with this issue.

[2018-08-12 12:58] Jaggu-123 commented on #5915
@sara-02
I want to go for this issue

[2018-08-12 13:06] sara-02 commented on #5915
@Jaggu-123 sure, go ahead and send a PR.

[2018-08-12 13:07] sara-02 commented on #5915
Make sure you fork is in sync with the latest changes from master and the projects you add follow the same format as other projects we have in the list.

[2018-08-12 13:25] Jaggu-123 commented on #5915
ok , Thanks

[2018-08-13 12:31] Jaggu-123 commented on #5915
@sara-02
I have made the pull request.
Plz have a look.

[2018-08-13 12:41] sara-02 commented on #5915
@Jaggu-123 I a few comments, please update the PR with those.

[2018-08-15 10:09] Roshanjossey commented on #130
@arshadkazmi42, I'm sorry that I missed this last question.

I'm leaning towards a custom one. Also, I don't prefer a static image as background

If you check https://opensource.google.com/, you can see that that background is a bunch of divs.
What I have in my mind is something dynamic like that.

[2018-08-15 10:12] arshadkazmi42 commented on #130
@Roshanjossey Ok. I am not too good with frontend. I think we should have some expert frontend for this.

[2018-08-15 11:51] Rangnarer commented on #5915
Sorry I am new to programming, what is "PR"?

[2018-08-15 16:34] arshadkazmi42 commented on #5915
@Rangnarer `PR => Pull Request`.
If you are new, I will suggest you to follow the tutorial given in README of this repo.
Which will guide you to add yourself in contributors list and step by step guide to create a `Pull Request`

[2018-08-17 14:05] sara-02 commented on #5915
Fixed in https://github.com/Roshanjossey/first-contributions/pull/5947

[2018-08-17 14:05] #5915 closed

[2018-08-17 14:06] sara-02 commented on #5923
@TomerPacific Are we good to close this issue now?

[2018-08-17 14:06] sara-02 commented on #5923
Can you comment the PR number here on the issue before closing this?

[2018-08-17 21:47] TomerPacific commented on #5923
@sara-02 ,
I don't know if this issue is considered closed, since @Roshanjossey , left a comment on the pull request after he closed it, stating another change is required.
His comment is somewhat obscure, so I am waiting for his clarification.

The pull request is : Feature/adding hebrew translation #5927

[2018-08-18 03:51] gurjarshakti commented on #130
I was share one with team... But I didn't get any reply from your side
Roshan. :/

On Wed, Aug 15, 2018, 3:42 PM Arshad Kazmi <notifications@github.com> wrote:

[2018-08-19 07:02] Roshanjossey commented on #5923
@TomerPacific, I've added the following comment in the PR

@sara-02, let's close this after that change is also made.

[2018-08-19 19:04] TomerPacific commented on #5923
@Roshanjossey ,
opened a new pull request, [PR](https://github.com/Roshanjossey/first-contributions/pull/6079)

[2018-08-20 04:40] Roshanjossey commented on #5923
Closing this as this has been resolved in #6079

[2018-08-20 04:40] #5923 closed

[2018-08-20 15:34] akramkazmi71 commented on #802
Tutorial for Git Stashing added. [6096](https://github.com/Roshanjossey/first-contributions/pull/6096)

[2018-08-21 05:14] Aakash0410 commented on #1722
I want to get started with these. Can you help me get started with this?

Thank You.

[2018-08-21 05:36] Roshanjossey commented on #1722
@Aakash0410, could you please read the comments in this issue thread and ask any questions you have about that.

[2018-08-26 21:41] ayanovsk opened #6226 "Translate configuring-git, moving-a-commit-to-a-different-branch, removing-a-file into Russian"
🐞 **Problem**

Adding translation of three files from additional material into Russian to translations folder
🎯 **Goal**

It might be useful for some Russian users

💡 **Possible solutions**

📋  **Steps to solve the problem**
Working on it
*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put

[2018-08-28 13:58] PrinceSharzeel commented on #1721
Hi! Shall I add qutebrowser ?

[2018-09-06 13:11] Roshanjossey commented on #6226
Closing this as this has been done in #6311

[2018-09-06 13:11] #6226 closed

[2018-09-06 16:41] pranav1698 commented on #1721
I would like to add a project related to particle swarm optimisation that I have worked on recently,
Here is the github link for the project; Particle swarm optimisation is a really hot topic in the research area
https://github.com/ljvmiranda921/pyswarms.git

[2018-09-06 19:17] Roshanjossey commented on #1721
@pranav1698, Please go ahead and add it. It'd be cool if it had a neat logo too.

[2018-09-10 19:28] CoderKlemen opened #6556 "Add Slovene translation"
I would like to add Slovene translations to the project. Let me know, if that is OK with you.

Thank you.

[2018-09-11 18:39] arshadkazmi42 commented on #6556
@CoderKlemen
You can go ahead and create the translation.

Also there is already a issue created for translation here
[96](https://github.com/Roshanjossey/first-contributions/issues/96)
So you can post your comment there with the translation you will be working on.

@Roshanjossey I guess we can close this issue once @CoderKlemen moves his comment to the other issue thread

[2018-09-11 18:54] CoderKlemen commented on #96
I will be working on translations to Slovene language. I plan on translating the basic tutorial and the contents of additional-material folder.
Thank you @arshadkazmi42 for directing me here.

[2018-09-13 06:08] deezy136 commented on #1722
Is this still available?

[2018-09-13 06:11] arshadkazmi42 commented on #1722
@deezy136 Yes its available. @Aakash0410  hasn't replied for a long and I am also bit busy.
You can go ahead and work on this.
Read the comments above to check the implementation discussion

[2018-09-13 06:18] deezy136 commented on #1722
Ok thank you so much. I will let u know if I run into any problems

[2018-09-13 07:31] deezy136 commented on #1722
Hello, can I run the web app from visual studio or will I have to use a
different  ide

On Wed, Sep 12, 2018, 11:11 PM Arshad Kazmi <notifications@github.com>
wrote:

[2018-09-13 08:18] arshadkazmi42 commented on #1722
To run this project, you can navigate to app directory using command line and run these commands
[code]

You can find more details about this here
https://github.com/Roshanjossey/first-contributions/tree/master/app

The project does not depends on IDE, its just needs npm & nodejs in the system.

[2018-09-13 08:34] deezy136 commented on #1722
Thank you so much.

[2018-09-13 18:05] Roshanjossey commented on #6556
@CoderKlemen, Please go ahead.

[2018-09-13 20:45] deezy136 commented on #1722
where would you like the add project button positioned on the web app.

[2018-09-13 21:45] deezy136 commented on #1722
hello there, is there anywhere in particular that you would like the button placed on the web app

[2018-09-14 06:58] Roshanjossey commented on #1722
@deezy136, It's not just the button right? We also have to think about the functionality of wiring that up. I'm not sure about how to go about it at the moment. We were putting this issue on hold because of  that. Please read through the previous comments in this thread to learn more. It'd be awesome if you could figure out some ways to circumvent problems that we couldn't resolve.

[2018-09-14 07:01] arshadkazmi42 commented on #1722
@Roshanjossey why don't we move the projects list from a file to database? Doing that will make it easier for adding a "Add" button

[2018-09-14 14:37] swardhan commented on #130
I checked the source of https://opensource.google.com/ and the lines are actually static PNGs. The divs are actually just a background for those static images.
But still I would also like to make a custom one for the web-app.

[2018-09-14 21:48] deezy136 commented on #1722
I agree with creating a database because it would be easier to pull from a database that can update compared to a local file. In creating the Database are you going to go with the firebase option or some form of sql?

[2018-09-15 01:12] Sergih28 commented on #96
I'll be working on a **Catalan translation** for the _README.md_ file.
Should the file be named _README.es-ca.md_ or _README.ca.md_ ?

[2018-09-15 10:38] Sergih28 commented on #96
To simplify it I named it README.ca.md, I'm already halfway! 😄

[2018-09-15 22:32] Sergih28 commented on #96
I noticed that the Spanish translation is not up to date anymore while doing the Catalan translation from the English one, because I took a look at the Spanish file for some orientation purposes.

[2018-09-17 01:35] unaccomplished commented on #490
Hi, thank you for providing this tutorial. Here is my first pull request. https://github.com/Roshanjossey/first-contributions/pull/6659

[2018-09-17 06:05] strdr4605 opened #6663 "Change list format in Contributors.md"
### 🐞 **Problem**
Readability of the Contributors.md file.

### 🎯 **Goal**
Users will see how many people contributed.

### 💡 **Possible solutions**
always use `1.` instead of `-` in list items.
example:
1. First
1. Second
1. Third

all elements created with `1.`

[2018-09-17 08:52] Roshanjossey commented on #1722
@arshadkazmi42, Like we discussed earlier, we need to have control over accepting projects that should get added.

Gimme some time to setup a service for this.

[2018-09-17 08:55] Roshanjossey commented on #96
@Sergih28, Thank you for taking this up. I think `Readme.ca.md` is fine.

We want all translations to be up to date with English version in time. It'd be awesome if you can fix Spanish translation as well. :)

[2018-09-19 07:40] Roshanjossey commented on #6556
Closing this as this has been resolved in #6642

[2018-09-19 07:40] #6556 closed

[2018-09-19 07:49] Roshanjossey commented on #6663
@strdr4605, There are some problems to making this change.

The biggest problem is that multiple people edit this file at the same time. Everybody should then add their name to the end of the list. So multiple people would put down the same number. Also there will be a LOT of merge conflicts. Maintainers will have to resolve them. (That's why we have a suggestion in the readme to add name at a ran

[2018-09-19 09:35] strdr4605 commented on #6663
@Roshanjossey , does not matter what number will people write.
"o add the name at a random position" is a great solution.
Maybe you misunderstood my proposal.

this markdown text:
[code]
produce:
1. First (created with `1.`)
1. Second (created with `1.`)
1. Third (created with `1.`)
1. Fourth (created with `1.`)

same with random numbers:
[code]
1. First (created with `1.`)
11. Second (created wit

[2018-09-19 11:28] Roshanjossey commented on #6663
Oh, that's cool. I didn't know that. I learned something new today.

Still, I'm not sold on the idea. It's just, once we introduce this, most users would wanna add their entry to the end of the file. Somebody adding it in between will be confused about updating the rest of the numbers. We'll have to add more description to the tutorial that the numbering is not important and it'll render correctly

[2018-09-19 18:44] #6663 closed

[2018-09-21 07:25] GrupoKino opened #6752 "Link is not displaying correctly because of extra space"
The link in the contributor list is not displaying correctly because of extra space.

🐞 **Problem**
When I changed the Contributors list I put an extra space between [name] and (link) this make the name on the list don't be linkable and put a link next to it, this is not a big problem but it will help in how to create an issue and close it.

🎯 **Goal**
learn how to create issues and fix them.

💡 *

[2018-09-21 09:43] #6752 closed

[2018-09-21 20:49] Sergih28 commented on #96
Ok, I can. But, there are some translations I'd probably do different.
Should I change them?
Because if I don't, the whole translation will have different translation "styles" which will make the readme file a bit weird to read (not to understand), but I don't wanna discredit the work of the one who translated it first.

Spanish translations can be tricky, because Spanish from Spain (which is wher

[2018-09-22 08:58] Roshanjossey commented on #96
@Sergih28, yeah, I understand that problem. One workaround that I can think of is to do what we did with Portuguese translations. We have one for Portugal and one for Brazil. You could change the current one for Spain and we could get someone else to do South American Spanish. Also, try to find if you can find someone to do review of the translation. Having a second opinion is always better. :)

[2018-09-23 06:16] Roshanjossey commented on #96
Yes @Sergih28, please go ahead.

We don't need flag list in translations though.

[2018-09-23 12:33] Sergih28 commented on #96
I'll delete it form the Catalan one then, but just noticed that the flag list is on some translations and isn't on some others. @Roshanjossey

[2018-09-24 07:05] Roshanjossey commented on #96
@Sergih28, I'll create more issues for clean up tasks like that. I'm just deferring this till Hacktoberfest.

[2018-09-25 03:49] pakornsak opened #6830 "Additional material link returns a 404 in multiple translations"
🐞 **Problem**
Additional material link returns a 404 in multiple translations.

💡 **Possible solutions**
There is a typo on the link url.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of

[2018-09-25 09:51] Roshanjossey commented on #96
We'll be creating separate issues to address changes to be done in different translations.

We'll have more issues created as a part of Hacktoberfest.

Closing this for the moment.

[2018-09-25 09:51] #96 closed

[2018-09-25 09:52] Roshanjossey commented on #490
Closing this issue for the moment. We'll create it again in time for Hacktoberfest.

[2018-09-25 09:52] #490 closed

[2018-09-25 09:53] Roshanjossey commented on #802
Closing this issue as all items in the checklist is covered.

[2018-09-25 09:53] #802 closed

[2018-09-25 09:54] #1201 closed

[2018-09-25 09:54] Roshanjossey commented on #1721
Closing this issue for the moment. We'll create it again for Hacktoberfest.

[2018-09-25 09:54] Roshanjossey commented on #130
Closing this issue for the moment. We'll create it again for Hacktoberfest.

[2018-09-25 09:54] #130 closed

[2018-09-25 09:55] Roshanjossey commented on #1722
Closing this issue for the moment. We'll create it again for Hacktoberfest.

[2018-09-25 09:55] #1722 closed

[2018-09-25 10:05] Roshanjossey commented on #6830
@pakornsak, yeah. I see the problem. would you like to work on this?

[2018-09-25 12:01] pakornsak commented on #6830
Yes, I will do it.

[2018-09-25 14:02] Roshanjossey commented on #5584
With regards to adding more beginner issues, I've created a list of items that can be converted as issues in a need to do basis.

Last year, there was a link from Hacktoberfest page to issues that have `hacktoberfest` tag. I'll try to create issues periodically so that our issues comes in the first pages of that list.

[2018-09-26 05:40] Roshanjossey commented on #6830
Closing this as it has been resolved

[2018-09-26 05:40] #6830 closed

[2018-09-26 05:44] Roshanjossey commented on #4072
@arximughal, Could you provide some updates on this?

[2018-09-28 10:29] D3rvun1x commented on #840
the label says CLosed,DOES this mean i can no work in it?..

[2018-09-28 10:50] Roshanjossey commented on #840
It's already done https://github.com/firstcontributions/first-contributions/pull/983

Issues that are closed will be already addressed

[2018-10-01 04:25] Roshanjossey opened #6969 "Start contributing"
Follow the tutorial in readme and add your name to `Contributors.md`

[2018-10-01 04:34] Roshanjossey opened #6970 "Change text of Myanmar translation to Myanmar language"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Myanmar translation is in English. We have to change that to Myanmar

🎯 **Goal**
For users of Myanmar language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/f

[2018-10-01 04:35] Roshanjossey opened #6971 "Change text of Dutch translation to Dutch language."
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Dutch translation is in English. We have to change that to Dutch

🎯 **Goal**
For user of Dutch language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/first-co

[2018-10-01 04:37] Roshanjossey opened #6972 "Change text of Persian translation to Persian"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Persian translation is in English. We have to change that to Persian

🎯 **Goal**
For users of Persian language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/f

[2018-10-01 04:40] Roshanjossey opened #6973 "Change the text of Bangla translation to Bangla"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Bangla translation is in English. We have to change that to Bangla

🎯 **Goal**
For users of Bangla language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/firs

[2018-10-01 04:41] Roshanjossey opened #6974 "Change text of Turkish translation to Turkish"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Turkish translation is in English. We have to change that to Turkish

🎯 **Goal**
For users of Turkish language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/f

[2018-10-01 04:43] Roshanjossey opened #6975 "Change text of Slovene translation to Slovene"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Slovene translation is in English. We have to change that to Slovene

🎯 **Goal**
For users of Slovene language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/f

[2018-10-01 04:43] Roshanjossey opened #6976 "Change text of Swedish translation to Swedish"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Swedish translation is in English. We have to change that to Swedish.

🎯 **Goal**
For users of Swedish language to easily understand how to find their desired translation.

💡 **Possible solutions**
Change the text in https://github.com/firstcontributions/

[2018-10-01 05:15] #6969 closed

[2018-10-01 05:19] pakatagoh commented on #6976
Hi!,

Changed the link from "Swedish" to "Svenska"

Made a PR #6983

Thanks!

[2018-10-01 05:59] sathyamoorthyrr commented on #6972
Started working on this issue

[2018-10-01 07:48] Roshanjossey opened #6995 "Add tutorial for vscode"
vscode is a popular IDE. It can be used to carry out the same workflow.

🐞 **Problem**
Currently, there is no tutorial for vscode.

🎯 **Goal**
A lot of programmers will benefit from having a tutorial for vscode.

💡 **Possible solutions**
Draft a tutorial. Check out tutorials for other GUI tools as an example

📋  **Steps to solve the problem**

*   Comment below about what you've started working on

[2018-10-01 07:56] Roshanjossey opened #6997 "Start contributing"
Follow the tutorial in [Readme](https://github.com/firstcontributions/first-contributions/blob/master/README.md) and add your name to `Contributors.md`.

[2018-10-01 08:13] sourabh1031 commented on #6974
@Roshanjossey i want to work on it .please assign it to me

[2018-10-01 08:29] lehone-hp commented on #6976
I think this issue needs to be closed

[2018-10-01 08:41] lehone-hp commented on #6970
Changed text to မြန်မာယူနီကုဒ်
opened [PR](https://github.com/firstcontributions/first-contributions/pull/7010)

[2018-10-01 08:46] AkshatSrivastava2 commented on #6970
I have started working on the issue.

[2018-10-01 10:01] sourabh1031 commented on #6971
@Roshanjossey i will be raising pr for this

[2018-10-01 10:09] sourabh1031 commented on #6971
@Roshanjossey i cannot find the dutch language text in the translations.md

[2018-10-01 11:37] Roshanjossey commented on #6995
Awesome @david-kroell, I'll mark this issue as `work in progress`

[2018-10-01 18:43] stufinn opened #7108 "Fix broken relative link to Code of Conduct"
🐞 **Problem**
The url for the Code of Conduct in the Contributing.md file does not point at the CODE_OF-CONDUCT.md file in the parent directory.

Solution is to slightly modify the file path in order to specify that the CoC file is in the parent directory.

🎯 **Goal**
Fixing the url will lead contributors directly to the CoC instead of a 404 error page.

💡 **Possible solutions**

📋  **Steps to sol

[2018-10-01 19:08] stufinn opened #7114 "Fix grammar for CONTRIBUTING.md"
🐞 **Problem**
Some very minor improvements are needed re: grammar, punctuation and markdown.

🎯 **Goal**
The changes will help with readability of the CONTRIBUTING.md

💡 **Possible solutions**

📋  **Steps to solve the problem**

I've made changes to the CONTRIBUTING.md file and will submit a PR for review.

[2018-10-01 19:50] NikhilDhyani opened #7126 "Change text of Persian translation to Persian"
🐞 **Problem**
Now, in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md, the text that links to Persian translation is in English. Changing it to Persian .

🎯 **Goal**
For users of Persian language to easily understand how to find their desired translation.

💡 **Possible solutions**
Changing  the text in https://github.com/firstcontributions/first-c

[2018-10-01 19:50] NikhilDhyani commented on #7126
Working on it.

[2018-10-01 19:52] Roshanjossey commented on #7114
Closed in #7115

[2018-10-01 19:52] #7114 closed

[2018-10-01 19:53] Roshanjossey commented on #7108
Closed in #7112

[2018-10-01 19:53] #7108 closed

[2018-10-01 20:14] NikhilDhyani opened #7131 "Fix grammar for README.hi.md"
🐞 **Problem**
Some very minor improvements are needed re: punctuation and markdown.

🎯 **Goal**
The changes will help with readability of the README.hi.md

💡 **Possible solutions**
Make changes to the README.hi.md file and improve its readability .

📋  **Steps to solve the problem**

* I'm making changes to the README.hi.md file and will submit a PR for review.

[2018-10-01 20:15] NikhilDhyani commented on #7131
Working on it.

[2018-10-02 06:19] bvishal8510 commented on #6995
May I work on this issue

[2018-10-02 07:30] Roshanjossey opened #7227 "Change Catalonian flag in Translations.md"
🐞 **Problem**
Currently, the flag there is Canadian flag

💡 **Possible solutions**
We have an image of Catalonian flag in our assets.

Line number 8 of `Translations.md` can be changed to

[code]

to fix this.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresse

[2018-10-02 07:38] CedArctic commented on #7227
I'd like to take a look into this

[2018-10-02 07:43] akulagrawal commented on #6975
Changing Slovene to Slovenščina

[2018-10-02 08:54] Roshanjossey opened #7243 "Add more translations"
Add more translations of first contributions tutorial. We have the translations we have listed in https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md

🐞 **Problem**
We don't have translation of the tutorial in certain languages.

🎯 **Goal**
Get this material accessible to a wider audience

💡 **Possible solutions**
Add more translations

📋  **Steps to

[2018-10-02 09:17] sourabh1031 commented on #7227
I will work on this

[2018-10-02 09:20] Roshanjossey commented on #7227
@sourabh1031, I'm sorry this is also done in the pull request above. We do need a change in the flag for pirate translation though. It's similar to this issue. Would you like to take that up?

[2018-10-02 09:32] Roshanjossey opened #7253 "Change pirate flag in Translations.md"
💡 Possible solutions

We have an image of pirate flag in our assets.

Line number 8 of Translations.md can be changed to

[code]
to fix this.

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in comments - Addresses #<put issue number here>
Ask for a review in comments section of pull request.
Celeb

[2018-10-02 09:33] Roshanjossey commented on #7227
@sourabh1031 https://github.com/firstcontributions/first-contributions/issues/7253

[2018-10-02 09:35] sourabh1031 commented on #7253
I  am working on this

[2018-10-02 09:35] yog24esh commented on #7253
I would like to work on this.

[2018-10-02 09:38] Roshanjossey commented on #7253
@yog24esh, @sourabh1031 commented to take this first so, I'll wait for @sourabh1031's pull request. In the mean time, could you take a look at other issues and project suggestions in our web app?

[2018-10-02 09:56] yog24esh commented on #7253
ok

[2018-10-02 10:30] #7131 closed

[2018-10-02 10:31] #7126 closed

[2018-10-02 14:30] KWright8 commented on #7243
Improve README.md in Bulgarian

[2018-10-02 22:09] WrightKD commented on #7243
Working on translation in Afrikaans.

[2018-10-03 01:58] RuhanRK commented on #6973
is is still open ?

[2018-10-03 04:56] WYCodeBook commented on #7253
HiHi~ I would love to give it a try. Thx.

[2018-10-03 05:01] WYCodeBook commented on #6997
Hello there~ I would like to give this one a try. Thx.

[2018-10-03 07:50] imi56 commented on #6975
I would like to work on this.

[2018-10-03 11:32] sourabh1031 commented on #7253
@WYCodeBook it is fixed

[2018-10-03 12:29] lkreimann opened #7421 "Broken link in the translation to pirate english"
In the translation to [pirate english](https://github.com/firstcontributions/first-contributions/blob/master/translations/README.en-pirate.md) I found a link to the [Translations.md](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md) which isn't set correctly (current destination throws [status 404](https://en.wikipedia.org/wiki/HTTP_404)).

🐞 **Pro

[2018-10-03 13:06] Roshanjossey commented on #7421
Thank you for raising this issue @lkreimann.

I'd suggest to remove link to `Translations.md` and links to other translations (flag list) from this translation.

In my opinion, links to other translation is relevant only in the main Readme.

When you look at this from a user experience perspective, users to go translations to read the tutorial in their preferred language. Hence, there is no point

[2018-10-03 13:09] Roshanjossey commented on #7253
Solved in #7274

[2018-10-03 13:09] #7253 closed

[2018-10-03 13:09] Roshanjossey commented on #7227
Solved in #7232

[2018-10-03 13:09] #7227 closed

[2018-10-03 13:10] Roshanjossey commented on #6970
Solved in #7012

[2018-10-03 13:10] #6970 closed

[2018-10-03 13:10] Roshanjossey commented on #6972
Solved in #6988

[2018-10-03 13:10] #6972 closed

[2018-10-03 13:11] Roshanjossey commented on #6976
Solved in #6983

[2018-10-03 13:11] #6976 closed

[2018-10-03 13:11] Roshanjossey commented on #6975
Solved in #7008

[2018-10-03 13:11] #6975 closed

[2018-10-03 13:11] Roshanjossey commented on #6974
Solved in #6984

[2018-10-03 13:11] #6974 closed

[2018-10-03 13:13] Roshanjossey commented on #6973
Solved in #6987

[2018-10-03 13:13] #6973 closed

[2018-10-03 13:14] Roshanjossey commented on #6995
Solved in #7042

[2018-10-03 13:14] #6995 closed

[2018-10-03 14:42] Roshanjossey opened #7434 "Fix slack URL in simplified Chinese translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.chs.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your c

[2018-10-03 14:43] Roshanjossey opened #7435 "Fix slack URL in traditional Chinese translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.cht.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your c

[2018-10-03 14:44] Roshanjossey opened #7436 "Fix slack URL in Japanese translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ja.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 14:47] Roshanjossey opened #7438 "Fix slack URL in Thai translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.th.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 14:48] Roshanjossey opened #7439 "Fix slack URL in Polish translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.pl.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 14:52] Roshanjossey opened #7440 "Fix slack URL in Greek translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.gr.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 14:53] Roshanjossey opened #7441 "Fix slack URL in Korean translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ko.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 14:57] Nufflee commented on #7441
I got this

[2018-10-03 15:00] Roshanjossey opened #7442 "Fix slack URL in Farsi translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.fa.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:03] Roshanjossey opened #7445 "Fix slack URL in Italian translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.it.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:05] Nufflee commented on #7440
Got this!

[2018-10-03 15:08] Roshanjossey opened #7446 "Fix slack URL in Indonesian translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.id.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:11] Roshanjossey opened #7447 "Fix slack URL in Galician translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.gl.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:19] Roshanjossey opened #7450 "Fix slack URL in Lithuanian translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.lt.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:22] Roshanjossey opened #7451 "Fix slack URL in Urdu translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ur.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:23] Roshanjossey opened #7452 "Fix slack URL in Arabic translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ar.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

[code]

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your ch

[2018-10-03 15:29] smokyabdulrahman commented on #7452
one it captain

[2018-10-03 15:33] yikjin commented on #7434
I'm working on it! 😄

[2018-10-03 15:52] yikjin commented on #7435
I'll work on it 😃

[2018-10-03 16:01] yikjin commented on #7436
Working on it 😺

[2018-10-03 17:32] mikek2 commented on #7439
I'll take it!

[2018-10-03 17:33] ankur54 commented on #7421
Is this issue fixed?

[2018-10-03 18:10] Roshanjossey commented on #7421
@ankur54, no, it's not.

[2018-10-03 18:15] ankur54 commented on #7421
Is anyone already looking into it?

[2018-10-03 22:21] IgnacioVellido commented on #7447
Working on it

[2018-10-04 05:44] lkreimann commented on #7421
@Roshanjossey I guess it's not really necessary to link to `Translations.md`. In the spanish translation (for example) is no link to any other language or the file metioned above - and I guess that's ok too 👍

So I would go with your suggestion and remove all the links like that, like you said.

[2018-10-04 06:05] Roshanjossey commented on #7421
Cool @lkreimann, @ankur54 would you like to proceed with making the changes suggested?

[2018-10-04 09:57] hcz opened #7544 "Delete all Hacktoberfest tags from this repo's issues"
Delete all Hacktoberfest tags from this repo's issues

🐞 **Problem**
This repo is not related to open source
I've listed it in HacktoberFest Garbage List
https://github.com/hcz/hacktoberfest-garbage

🎯 **Goal**
Use Digital Ocean's Hacktoberfest for real contributions in working projects

💡 **Possible solutions**
Delete all Hacktoberfest tags from this repo's issues

📋  **Steps to solve the problem

[2018-10-04 10:01] #7544 closed

[2018-10-04 10:07] hcz commented on #7544
@Roshanjossey Any comments, please?
Is it a real project that helps find the new developers for open source?

[2018-10-04 10:14] Roshanjossey commented on #7544
@hcz, I'd encourage you to do your research. Check out our web app. Check out our slack group.

Checkout the amount of work that is put in to this. I've been building this for 2 years now.

I know people might come here to get a T-shirt. I hope I can turn them in to good contributors of the community too.

[2018-10-04 10:41] hcz commented on #7544
@Roshanjossey, thanks for the answer and your work!

[2018-10-04 12:32] crisgon commented on #7445
Done!

[2018-10-04 13:13] arximughal commented on #4072
I am sorry, I've been a little busy.
I'll finish it up by this weekend and submit a PR :smile:

[2018-10-04 14:48] sanjana098 commented on #7451
I'm working on this!

[2018-10-04 15:11] 7013145 commented on #7243
Working on translation in Danish.

[2018-10-05 10:10] alvintan05 commented on #7446
I want to contribute ✋

[2018-10-05 10:18] alvintan05 commented on #7446
#7654

[2018-10-05 14:00] alvintan05 commented on #7435
Working on this  ✋

[2018-10-05 14:03] alvintan05 commented on #7435
#7668

[2018-10-05 14:04] alvintan05 commented on #7435
#7668

[2018-10-05 14:49] arghyaiitb commented on #7421
@Roshanjossey If no-one is picking up this then I would like to pickup this PR.

[2018-10-05 19:34] 7013145 commented on #7243
https://github.com/firstcontributions/first-contributions/pull/7584

danish translation; please review :)

[2018-10-06 03:11] Roshanjossey commented on #4072
@arximughal, no worries. Take your time. I just wanted to know if you were still keen on doing it

[2018-10-06 07:41] SagarMaheshwary commented on #6997
#7664

[2018-10-06 13:03] lkreimann commented on #7421
@arghyaiitb Go for it! But check the PRs first please :) Maybe there's anyone who already fixed that, who just forget to mention the number of the issue in the PR.

[2018-10-06 16:07] Sartech-B commented on #6997
I will do this.

[2018-10-06 16:10] buffet opened #7872 "Contributers.md is executable"
The Contributers.md file is executable, I don't feel like this needs to be the case.

💡 **Possible solutions**
I would suggest not making it executable. I can make a PR for this if necessary.

[2018-10-06 16:18] buffet opened #7876 "People's names and links are messed up"
Some people put the wrong stuff into Contributors.md.

🐞 **Problem**
Some people have a space in between the `]` after their name and the `(` before the link, while other people have not added a link, but still put the `[]` around their name.

🎯 **Goal**
Fix both of these issues, so that the Contributors.md get more readable, and people's link work.

📋  **Steps to solve the problem**

1. Remove `[

[2018-10-06 18:54] Futuro212 opened #7898 "Fix slack URL in Portuguese-Portugal translation"
🐞 **Problem**
Slack URL in current translation is wrong.
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.pt-pt.md

🎯 **Goal**
Provide correct url

💡 **Possible solutions**
Change it to use

Take a look at main Readme for reference.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes

[2018-10-06 18:58] Busterz commented on #7446
Hi, please review my pull request (Update README.id.md #7900). Thanks!

[2018-10-06 19:16] ooxaam commented on #7876
Hi, I have made changes and have raised a PR. Please review changes.

Thanks...

[2018-10-06 19:30] buffet commented on #7876
@ooxaam I mean, I kind of did the stuff already and also opened a PR.

Note that you can reference issues in your PR by mentioning it (#7876 for this one). This makes it easy to find what you've worked on and also shows up in the issue so that people can see that something has been done.

This *should*'ve also prevented you from duplicating work, but I guess you didn't notice.

[2018-10-07 06:52] Roshanjossey commented on #7872
I didn't quite understand what you meant by it's executable. What's your suggestion to solve this issue?

[2018-10-07 07:00] Busterz commented on #7898
Hi, I have addressed this issue in my pull request #7900 as well.

[2018-10-07 07:07] Busterz commented on #7450
Hi, I have addressed this issue in my pull request (Update README.id.md #7900) as well. Please review! Ideally, it should be a separate pull request but it updated my previous PR instead because it was not approved yet.

[2018-10-07 09:55] #7445 closed

[2018-10-07 10:12] Busterz commented on #7442
Added logo at the top with slack url - PR #7968 :)

[2018-10-07 10:39] uzmafaiz commented on #7451
Trying to fix this.

[2018-10-07 11:06] buffet commented on #7872
@Roshanjossey The execute permission is set for the file, this doesn't need to be, as it's not an executable (script or binary).

I would suggest just removing that permission (i.e. `chmod -x Contributors.md`).

[2018-10-07 14:09] ShyamSundarShankar commented on #7243
Hi @Roshanjossey, Shall I add Translations to Tamil (Regional Language in India)?

[2018-10-07 14:53] alvintan05 commented on #7446
I do some fix and remove double tutorial with other tools section.

[2018-10-08 04:49] Roshanjossey commented on #7243
@ShyamSundarShankar, sure

[2018-10-08 07:14] yungshenglu commented on #7435
May I work on this?

[2018-10-08 07:45] yungshenglu commented on #7435
#8077 Modify some translation in Traditional Chinese

## Modify files
`./translations/README.cht`

---
## Records
* Translate "Github" into "GitHub"
* Switch the order of some translation

[2018-10-08 15:52] colto commented on #7898
Happy to help.

[2018-10-09 20:14] umbeebmu commented on #7872
Why is this issue still open if a fix has been delivered and merged already?

[2018-10-09 20:41] buffet commented on #7872
@umbeebmu I thought Roshan had closed it when merging. I'll close it now, thanks for the reminder.

[2018-10-09 20:41] #7872 closed

[2018-10-09 22:54] Hyuntae-91 commented on #7441
working on it

[2018-10-10 05:01] Busterz commented on #7421
Is this issue closed? I am assuming it is fixed because all the links work fine for me.

[2018-10-10 09:04] lkreimann commented on #7421
@Busterz try this one:
![grafik](https://user-images.githubusercontent.com/22977266/46725275-21360700-cc7c-11e8-864f-5e2dbdce6be7.png)
No commits to this file in the last 13 days, no PR mentioned this issue - so I guess it's still open, but @umbeebmu seems to work on this, he just needs to start a PR.

[2018-10-10 10:27] boudhayan-dev commented on #7243
Working on translating it to Bengali.

[2018-10-10 20:33] nslaven22 commented on #7438
Is this already being taken care of?

[2018-10-11 06:04] Busterz commented on #7452
Hi @Roshanjossey , please review this PR - (Updated more translations README files #8515). Thanks!

[2018-10-11 10:33] kegriz commented on #7439
bjere

[2018-10-11 15:03] Roshanjossey commented on #7876
I'm closing this issue.

One of the biggest problem is that the pull requests addressing this pull requests ends up with multiple merge conflicts so that it's hard to resolve and merge.

This doesn't make much difference in the experience of going through the tutorial.

At the end of the day, what we have in `Contributors.md` doesn't really matter. What matters is that users were able to understan

[2018-10-11 15:03] #7876 closed

[2018-10-11 15:26] Roshanjossey opened #8573 "Remove links to other translations from French translation"
Links to other translations are not really relevant in translations.

💡 **Possible solutions**

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.fr.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull req

[2018-10-11 15:29] #7452 closed

[2018-10-11 15:32] Roshanjossey opened #8576 "Remove links to other translations from Arabic translation"
Links to other translations are not really relevant in translations.

💡 **Possible solutions**

Remove links to other translations from Arabic translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ar.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull req

[2018-10-11 15:41] #7421 closed

[2018-10-11 15:44] loxator commented on #8576
Removing the links to other translations

[2018-10-11 15:51] Roshanjossey opened #8581 "Remove links to other translations from Pirate English translation"
Links to other translations are not really relevant in translations.

💡 **Possible solutions**

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.en-pirate.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a p

[2018-10-11 15:53] stefangutnickallen commented on #8573
I'll remove the links

[2018-10-11 15:57] loxator commented on #8576
Please review my pull request. Thanks!

[2018-10-11 17:03] HeinrichTremblay commented on #8581
Working on it.

[2018-10-11 17:13] HeinrichTremblay commented on #8581
Please review my pull request. Thank you!

[2018-10-11 17:26] Roshanjossey opened #8602 "Remove links to other translations from traditional Chinese translation"
Links to other translations are not really relevant in translations.

💡 **Possible solutions**

Remove links to other translations from traditional Chinese translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.cht.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Sub

[2018-10-11 17:29] #7434 closed

[2018-10-11 17:30] Roshanjossey opened #8604 "Remove links to other translations from simplified Chinese translation"
Links to other translations are not really relevant in translations.

💡 **Possible solutions**

Remove links to other translations from simplified Chinese translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.chs.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Subm

[2018-10-11 17:53] HeinrichTremblay commented on #8604
I'm on it. 我正在做

[2018-10-11 17:56] JacksonIsaac commented on #8602
Working on this

[2018-10-11 17:57] HeinrichTremblay commented on #8604
Please review my pull request. Thank you!

[2018-10-11 18:01] JacksonIsaac commented on #8602
Please review the PR. Thanks :)

[2018-10-12 01:40] bastienfp commented on #8573
Is this Issue still open? I can take it

[2018-10-12 05:53] Roshanjossey opened #8658 "Remove links to other translations from Korean translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from Arabic translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ko.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-12 06:40] Sartech-B commented on #8658
i will take this

[2018-10-12 06:45] Sartech-B commented on #8658
i am working on removing links from korean translation

[2018-10-12 06:47] Sartech-B commented on #8658
i don't see any links to other translations in the korean page

[2018-10-12 23:11] ananya-agrawal commented on #8658
I would like to work on this

[2018-10-12 23:13] ananya-agrawal commented on #8658
#8763

[2018-10-13 09:57] dmaaj commented on #8658
<a href="https://github.com/firstcontributions/first-contributions/pull/8824">#8824</a>

[2018-10-14 17:10] pythonist commented on #8658
How to create a repository with phone in gihub

[2018-10-15 14:55] S-M-Jawwad-Raza commented on #7451
@Roshanjossey I believe this issue is closed

[2018-10-15 15:15] Roshanjossey commented on #5584
@S-M-Jawwad-Raza, no, don't worry about it. Most people are adding their names to random places and our bot is working quite well.

[2018-10-15 16:07] karthikrajaRagavan opened #9211 "new error"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2018-10-15 16:07] #9211 closed

[2018-10-15 16:48] dinaelhanan commented on #8658
should I do the same for other translations (I see the same issue in the Vietnamese one)