[2018-10-15 18:58] dinaelhanan commented on #8658
#9241 Did this for the vietnamese readme. Thank you for clearly outlining how to contribute! I feel so proud🎉

[2018-10-17 09:43] #6997 closed

[2018-10-17 21:30] khusi-anu commented on #7243
Hi @Roshanjossey, I want to work on Translations to Bengali (Language of West Bengal, India). Can I?

[2018-10-18 08:54] blade-demon opened #9637 "Add instructions about how to resolve conflicts and fetch the latest code from origin remote souce."
**Sometimes we may encounter this situation: We change files by mistake, when we submit our code to the repo. After we submit the pr. The github tells that there are some conflicts about pr, the pr operation can not be done. So how can we resolve the conflict and resubmit the code. yeah, maybe the repo has been changed when we decide to resolve the conflict.**

[2018-10-18 17:05] Roshanjossey commented on #7243
Hi @khusi-anu, thank you for our interest in taking it up.

We have a Bengali translation. https://github.com/firstcontributions/first-contributions/blob/master/translations/README.bn.md

However, from what I understand, this is closer to Bangla used in Bangladesh. Could you please go through this to see if Bengalis can understand this? If so, let's change the link of Indian translations to show m

[2018-10-18 22:25] a-ray opened #9847 "Fixing img on git kraken tutorial"
🐞 **Problem**

change img url error not showing

🎯 **Goal**

showing compare and pull img

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Cele

[2018-10-19 01:54] japinli commented on #9847
I will do it!

[2018-10-19 02:06] japinli commented on #9847
Please review the pull request. Thank you!

[2018-10-19 02:17] #9637 closed

[2018-10-19 10:13] DanielYuo opened #10038 "Put the tool that are used in the tutorial at the top."
Making it easier for beginner to see what tool they should or can be used for the tutorial.

🐞 **Problem**
I had to to go through the tutorial halfway before realising I was using a wrong tool and had to change back to VS code and start all over using different tutorial.

🎯 **Goal**
Easier for beginner to select which tools to be used in the tutorial

💡 **Possible solutions**
Suggesting that the "

[2018-10-19 11:00] laurenziello commented on #10038
I will do it!

[2018-10-19 11:59] Roshanjossey commented on #10038
@DanielYuo, my feeling is that moving `Tutorials using other tools ` to top is a bad idea. One principle we're following is to keep it simple and fast so that readers can do this in 5 minutes. moving links to other tutorials to top will serve as a distraction.

We have a link on top to take users to that part for anyone who's not comfortable with command-line.
https://github.com/firstcontributions

[2018-10-19 16:12] Roshanjossey commented on #5584
It'd be awesome if someone help with putting First Contributions in opensource.guide. 💯

Check this for reference https://github.com/github/opensource.guide/pull/456

[2018-10-19 17:35] ciferivalle opened #10175 "Is this a dummy repo to win the hackerfest?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for a review in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2018-10-20 02:56] #9847 closed

[2018-10-20 04:29] afisherdev commented on #7436
Im on it.

[2018-10-20 08:08] khusi-anu commented on #7243
@Roshanjossey Yes, it's the same. I would like to link the Indian translations to show multiple Indian languages.

[2018-10-20 09:51] Roshanjossey commented on #7243
@khusi-anu, sure. Please work on the same. You can change the link from Indian flag to point to `Translations.md`. In translations.md, you can put another link under hindi translation to point to Bengali translation.

[2018-10-20 10:30] ilaiyarajak commented on #10175
I think no. It is to help the first time open source contributors on how to make a pull request.

[2018-10-20 17:08] kkoscielniak commented on #7439
@Roshanjossey Shouldn't the issue be closed then?

[2018-10-20 21:57] nuyageva commented on #8573
#8573

[2018-10-20 22:03] nuyageva commented on #7436
#7436

[2018-10-20 22:06] nuyageva commented on #7438
#7438

[2018-10-20 22:44] sagar-gavhane commented on #10175
I think it's more about learning on "how to contribute".

[2018-10-21 04:11] sagar-gavhane opened #10499 "Repository size is too large."
🐞 **Problem**

Due to repository size is too large, cloning and pushing changes towards origin repository makes terrible developer experience. Currently repository size is above than 15MB+. I don't know ideal size of standard repository but somehow we need to fix it.

🎯 **Goal**

If repository size is under 5MB, it will gain good developer experience for cloning and pushing to repository.

💡 **Pos

[2018-10-21 11:39] lkreimann commented on #5584
I tried my luck in the Github Opensoure Guide - hopefully they don't think I'm too involved or something like that, since I'm a member of the First Contributions organization

[2018-10-21 16:01] Ifyokoh commented on #5584
Do we just need to comment like @Ikreimann did on the opensource.guide issue?

[2018-10-21 17:05] tarlepp opened #10578 "Is there any information "where/how" this data is going to be used?"
🐞 **Problem**
This repository isn't showing/provifing any information _how_ this personal data is going to be used. Sure it's _open source_ but misleading new-comers to share their _personal_ information you who is admin of this repository should _also_ raise this question - or at least mention that.

Just saying that are you sure that new-comers really realize how they are exposing personal infor

[2018-10-22 08:02] Roshanjossey commented on #5584
@Ifyokoh, I'd suggest to open a new pull request. The one that I mentioned above doesn't have the correct link. Also, I'd think that a new issue will get more attention from maintainers than a comment on a closed issue.

[2018-10-22 08:03] Roshanjossey commented on #7243
@zecollokaris, Awesome. Please go ahead.

[2018-10-23 09:15] saravannann opened #10800 "git push asks for credentials that never worked"
Am trying to contribute to first contributions repository. I am using my ubuntu terminal to do this. I did clone and modified the Contributers.md.

While i execute the command, 'git push origin <branch>', it prompted me for username and password. It is not working when i provide my user name and password.

remote: Permission to firstcontributions/first-contributions.git denied to saravannann.
fata

[2018-10-23 11:52] mansoor96g opened #10819 "Resolving conflicts between add-mansoo96g and master"
i'm new to the github community. and i want to understand what this conflicts mean. and how to solve them
🐞 **Problem**
This branch has conflicts that must be resolved
Only those with write access to this repository can merge pull requests

🎯 **Goal**
i don't know if this is the right place to report my problem ... but if it's not let me know please

[2018-10-23 12:03] Roshanjossey commented on #10800
Hi @saravannann,

The problem is that you're not pushing your changes to your fork. I think you might've missed the fork step in the tutorial. I'm assuming this because I don't see first contributions in your repos.

Please delete the repo from your local and start from `Fork` step again.

This is a right place to ask this question. You can ask questions in your slack group too.

PS. Please don't

[2018-10-23 12:12] Roshanjossey commented on #10819
Hi @mansoor96g, read the 2 articles below to learn about merge conflicts and how to resolve them

https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/resolving-merge-conflicts.md

https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/keeping-your-fork-synced-with-this-repository.

[2018-10-23 12:20] Roshanjossey opened #10823 "Add documentation on the concepts and terms in the tutorial"
🐞 **Problem**
The tutorial follows a step by step approach that covers what to do. It doesn't go deep on why you're doing something or what's happening.

🎯 **Goal**

Provide users a better understanding of the processes, terms and the underlying principles that we touch in this tutorial.

💡 **Possible solutions**

We don't wanna bloat the main tutorial. This can be added to https://github.com/firs

[2018-10-23 14:35] terumiisobe commented on #10823
Hey! I'm gonna start working on this issue.

[2018-10-23 15:57] hugolomar commented on #7243
I'll fix some misspellings in Spanish translation (README.es.md).

[2018-10-24 02:34] strobelt commented on #10823
Let me know when you finish and I can translate it to Brazilian Portuguese

[2018-10-24 05:08] saravannann commented on #10800
Cool.. Yeah. I did not fork the repo. Thanks. I was able to commit.

[2018-10-24 08:56] praveenscience opened #10970 "Can we add Tamil Translations too?"
Hey, just a quick suggestion. There are a huge number of Tamil Devs available too. Can I volunteer to add Tamil Translation for the project? Thanks.

[2018-10-24 08:58] praveenscience commented on #7243
Shall I work on Tamil translation? 😃

[2018-10-24 09:29] Roshanjossey commented on #10970
Hi @praveenscience, sure, I'd love to have Tamil translation here.

We've had 2 pull requests to address this so far
https://github.com/firstcontributions/first-contributions/pull/8179
https://github.com/firstcontributions/first-contributions/pull/8246

Unfortunately, when I've not heard back from them after I asked for some changes.

I'll be happy to merge your changes if you submit a pull reques

[2018-10-24 13:35] Roshanjossey opened #11007 "Add documentation on why use of branches is encouraged"
🐞 Problem
One question I get often is why contributors should create branches to push their code.

🎯 Goal

Provide users a better understanding of how branching helps workflow in GitHub

💡 Possible solutions

We don't wanna bloat the main tutorial. This can be added to https://github.com/firstcontributions/first-contributions/blob/master/additional-material

📋 Steps to solve the problem

Comment b

[2018-10-24 13:36] #7438 closed

[2018-10-24 13:37] Roshanjossey opened #11008 "Remove links to other translations from Thai translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.th.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-24 13:38] #7439 closed

[2018-10-24 13:38] Roshanjossey opened #11009 "Remove links to other translations from Polish translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.pl.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-24 13:39] #7440 closed

[2018-10-24 13:40] Roshanjossey opened #11010 "Remove links to other translations from Greek translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.gr.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-24 13:41] #7446 closed

[2018-10-24 13:41] Roshanjossey opened #11011 "Remove links to other translations from Indonesian translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.id.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-24 13:41] Trshant commented on #11007
hi @Roshanjossey , i'd like to at least start on this one. i am not very experienced in git, but i have something to contribute.

[2018-10-24 13:42] #7442 closed

[2018-10-24 13:42] Roshanjossey opened #11012 "Remove links to other translations from Farsi translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from French translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.fa.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in

[2018-10-24 13:43] #7441 closed

[2018-10-24 13:44] Roshanjossey commented on #11007
@Trshant, sure. Go ahead.

You could learn about this while you're writing this up.

[2018-10-24 14:47] Trshant commented on #11007
@Roshanjossey , Please have a look.

[2018-10-24 14:54] dhruv-gupta14 commented on #11012
Hi,I would like to take it.

[2018-10-24 14:56] DzKaki commented on #11011
I'm working on it.

[2018-10-24 15:55] ARORACHAITANYA commented on #11009
i would like to work on this issue

[2018-10-24 16:18] praveenscience commented on #10970
I can do that then... 😃

[2018-10-24 16:21] praveenscience commented on #10970
Okay, should I start working on 8179 and look into what 8246 has to offer and merge both and then create the best out of them? 😃  I am in... Working on them.

[2018-10-24 16:41] Kristofelek commented on #11010
On it

[2018-10-24 17:16] lkreimann commented on #5584
Another idea to promote the repo: https://dev.to/ben/whos-looking-for-open-source-contributors-october-22nd-edition-44jb

[2018-10-24 18:07] brianabaker commented on #11008
I'll do this!

[2018-10-24 18:19] brianabaker commented on #11008
The Thai page doesn't seem to have links to any other translations!

[2018-10-24 21:20] dinaelhanan commented on #10823
I can translate to french once you're done! @terumiisobe

[2018-10-24 21:39] dhruv-gupta14 commented on #11012
Please review my pull request.

[2018-10-25 05:18] Tc2r1 commented on #11010
I'd like a shot at this please.

[2018-10-25 16:29] Roshanjossey commented on #5584
@lkreimann, I've commented on some posts on dev.to to the point where the authors reported that as spam and dev.to warned me not to do that 😂 🤦‍♀️ .

Then again, I've ran in to problems like that in different places. Even in GitHub 😅

[2018-10-25 18:53] terumiisobe commented on #10823
I finished editing the tutorial adding some additional content and explaining some git terms. I used mostly the info found in the git hub documentation.

[2018-10-25 19:56] #7436 closed

[2018-10-25 19:57] Roshanjossey opened #11249 "Remove links to other translations from Japanese translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from Japanese translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ja.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this i

[2018-10-25 19:58] #7450 closed

[2018-10-25 19:58] Roshanjossey opened #11251 "Remove links to other translations from Lithuanian translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from Lithuanian translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.lt.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this

[2018-10-25 19:59] brianabaker commented on #11008
Okay I see now I'll do it right away.

[2018-10-25 20:00] #7451 closed

[2018-10-25 20:01] Roshanjossey opened #11253 "Remove links to other translations from Urdu translation"
Links to other translations are not really relevant in translations.

💡 Possible solutions

Remove links to other translations from Urdu translation
https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ur.md

📋 Steps to solve the problem

Comment below about what you've started working on.
Add, commit, push your changes.
Submit a pull request and add this in co

[2018-10-25 20:37] izzy commented on #11249
PR'd the patch for this in #11257

Btw is there any group to mention for PR reviews or just single people? That wasn't quite clear, maybe an update to the Contributing guidelines would help for that.

[2018-10-25 20:42] #11249 closed

[2018-10-25 21:15] Ajuajmal commented on #11253
I found the link which is broken and need to be removed , So I removing that link and started working with this repo.

[2018-10-25 21:34] Wxia33 commented on #11251
Found broken link, updating README.md to remove the link.

[2018-10-25 21:48] Ajuajmal commented on #11253
#11281
please review my first pull request

[2018-10-25 21:57] Roshanjossey commented on #11249
I'd already merged that @izzy.

PR reviews are done by me and another collaborator. She's a little tied up at the moment.
We both get notifications and I check PRs regularly. So, there's no need to mention it anywhere.

[2018-10-26 12:06] ishakaranwal18 commented on #11007
Can I start working on this....?

[2018-10-27 19:32] Oluwasetemi opened #11737 "Can I fix the broken Links in the contributors.md file?"
Looking at a the possibility of cleaning up the contributors.md file to fix the broken links

🐞 **Problem**
Since a lot are new to writing Markdown the links were not properly written
if I may ask you ask then to fix the link before you do a PR?

🎯 **Goal**
To make everything look clean!!

💡 **Possible solutions**
Advice everyone to fix the Links before merging I thing.

[2018-10-28 08:51] Roshanjossey commented on #11737
Thank you for raising this issue @Oluwasetemi.

I understand your motivation. However, one of the biggest problem with this is that the pull requests addressing this  ends up with multiple merge conflicts so that it's hard to resolve and merge.

This doesn't make much difference in the experience of going through the tutorial.

At the end of the day, what we have in Contributors.md doesn't really

[2018-10-29 14:13] zecollokaris commented on #7243
@Roshanjossey Made pull request for Translations in Afrikaans (South Africa)|, zulu (South Africa)|, Igbo (Nigeria)|, Kiswahili (Kenya)|

[2018-10-29 16:46] dinaelhanan commented on #10823
I'll start working on translating this once it gets merged

[2018-10-30 21:55] TomerPacific commented on #10175
@Roshanjossey ,
maybe close this issue as it is no longer relevant?

Also, would you like me to go over current issues and see which ones can be closed?

[2018-10-31 06:41] ariesti opened #12471 "Cannot reproduce the intended result"
Following the First Contributions guide from the README.md has some mismatch.

🐞 **Problem**
Upon creating the pull request in pushing changes to GitHub, I encountered an error involving permission. The exact error message is "Permission to firstcontributions/first-contributions.git denied to" contributor.

🎯 **Goal**
I think it's important to clarify in the README.md how to obtain the required pe

[2018-10-31 06:51] Roshanjossey commented on #12471
Hi @ariesti, please read https://github.com/firstcontributions/first-contributions/issues/10800

[2018-10-31 06:51] #12471 closed

[2018-10-31 17:03] kunwar11 opened #12577 "Sync forks with base"
Sync forks with base

[2018-11-01 02:29] gordongab commented on #11007
Hey, can I help to add to this as well?

[2018-11-02 03:31] irhamdz commented on #11011
is this still open?

[2018-11-02 03:33] irhamdz commented on #10499
:+1:

[2018-11-02 06:41] TomerPacific opened #12690 "Hacktoberfest Cleanup"
After the Hacktoberfest bonanza, maybe it is a good idea to go over issues that are irrelevant/unnecessary/need to be closed.
🐞 **Problem**
There are a lot of open issues right now and some are not relevant.

🎯 **Goal**
Remove all the clutter from the issues so we can have a cleaner and more efficient issues panel.

💡 **Possible solutions**
Go over issues and flag them, either by label or by any o

[2018-11-04 16:55] #10175 closed

[2018-11-05 13:52] dinaelhanan commented on #12690
Working on it!

[2018-11-05 13:54] dinaelhanan commented on #10823
#12690 Since there are already pull requests like the above that solve this issue

[2018-11-05 13:55] dinaelhanan commented on #11007
#12690 above pull request solves this

[2018-11-05 13:56] dinaelhanan commented on #8602
#12690 already merged, this issue needs to be closed!

[2018-11-05 19:10] TomerPacific commented on #12690
@Roshanjossey ,
is there a way you can grant me the authority to label issues that can be removed?

[2018-11-06 08:35] zecollokaris commented on #7243
@Roshanjossey Added Translations for (Zulu - SouthAfrica, Igbo -Nigeria, Kiswahili - Kenya, and Afrikaans.) as previously mentioned you can check it out when you got time

Link -> https://github.com/firstcontributions/first-contributions/pull/11904

Thanks

[2018-11-07 02:48] dinaelhanan commented on #12690
@Roshanjossey @TomerPacific I would like that too, we can't label it for clean-up if we can't label at all! For now, I just referenced this issue on the other issues.

[2018-11-07 02:50] dinaelhanan commented on #10499
Where can I find the website? Not seeing it anywhere on the readme.

[2018-11-07 03:02] dinaelhanan commented on #4072
I can complete this! Is it ok to use a pre-existing tutorial and reference it?

[2018-11-09 00:38] gordongab commented on #11253
Went ahead and did this, please review

#12818

[2018-11-10 15:18] Roshanjossey commented on #5584
This is how we did in Hacktoberfest 2018

![image](https://user-images.githubusercontent.com/8488446/48302955-cec16200-e529-11e8-8ea6-75653880d84d.png)

Thank you @sara-02 for starting this discussion so early so that we could plan and execute this so well.

I'd also like to thank everybody else in this thread and all who helped out during hacktoberfest.

Closing.

[2018-11-10 15:18] #5584 closed

[2018-11-10 15:31] Roshanjossey commented on #12690
Hi @TomerPacific, @dinaelhanan,

Don't worry about labeling issues. I'll go through all of them and close as required soon. I need some help with reviewing pull requests and requesting reviews for translation changes though.

I'll make some changes to CONTRIBUTING.md and request for your help there. Please wait for those changes.

[2018-11-10 16:30] #10578 closed

[2018-11-10 16:30] #10038 closed

[2018-11-11 01:58] dinaelhanan commented on #12690
@Roshanjossey  Sounds good, looking forward to helping out :)

[2018-11-12 05:40] #11251 closed

[2018-11-12 05:42] #11253 closed

[2018-11-12 05:44] #11010 closed

[2018-11-12 05:45] #11009 closed

[2018-11-12 05:46] #11008 closed

[2018-11-12 05:47] #11737 closed

[2018-11-12 05:47] #10800 closed

[2018-11-12 05:47] #10970 closed

[2018-11-12 05:49] #8658 closed

[2018-11-12 05:49] #8604 closed

[2018-11-12 05:50] #8602 closed

[2018-11-12 05:51] #8581 closed

[2018-11-12 05:55] #8576 closed

[2018-11-12 05:55] #8573 closed

[2018-11-12 06:01] #11012 closed

[2018-11-12 06:01] #11011 closed

[2018-11-12 06:20] #7447 closed

[2018-11-12 06:20] #7898 closed

[2018-11-15 05:19] Roshanjossey commented on #10499
@dinaelhanan, here's a link to the webapp https://firstcontributions.github.io/

[2018-11-15 10:52] Ranjanas25 opened #12968 "sddfd"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2018-11-15 10:53] Ranjanas25 commented on #12968
I

[2018-11-15 10:53] #12968 closed

[2018-11-15 10:54] Ranjanas25 opened #12969 "I cann't build the pmd"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2018-11-15 10:55] Ranjanas25 commented on #12969
Help me how to do it.

[2018-11-15 12:08] Roshanjossey commented on #12969
@Ranjanas25, I'm not sure what pmd is. Could you give me more info?

[2018-11-16 02:00] dinaelhanan commented on #10499
Oh I see, it links to the github readme.

[2018-11-21 07:01] danielotieno commented on #7243
I would love to do translation in the Swahili language. Can I?

[2018-11-21 07:03] danielotieno commented on #7243
@zecollokaris  I can help you in the Swahili Translation if you don't mind

[2018-11-22 09:58] gusti-syahputera opened #13094 "Broken links in README.md"
It seems two links in [Where to go from here?](https://github.com/firstcontributions/first-contributions/blob/master/README.md#where-to-go-from-here) section are broken.

🐞 **Problem**
The broken links are:
1. https://roshanjossey.github.io/first-contributions/#social-share
2. https://roshanjossey.github.io/first-contributions/#project-list

The two links are linked to https://roshanjossey.github.

[2018-11-24 16:33] zecollokaris commented on #7243
@danielotieno yeah you can help. I pushed my changes so myb you can wait a while for @Roshanjossey to merge the changes or check out my contribution at -> https://github.com/firstcontributions/first-contributions/pull/11904. I will notify you immediately the merge is made since i knw there are additions that would be needed.

[2018-11-26 09:43] danielotieno commented on #7243
Awesome

[2018-11-26 10:53] Ifyokoh commented on #12690
@Roshanjossey do you still help with reviewing pull request?

[2018-11-26 10:55] Ifyokoh commented on #13094
Is this still open to work on? @Roshanjossey @gusti-syahputera

[2018-11-26 21:43] phaniChidella commented on #11007
I am working on this now. I will add a text which answers the question "why contributors should create branches to push their code".

[2018-12-09 23:53] kingokeke commented on #10499
I believe I have found the file responsible for the huge size of the repo. My clone of the repo resulted in a download of over 100MB. I'd not have gone through with it if I had known about the size of the repo before hand. The location of the errant file is in the ".git/objects/pack" folder as can be seen in the attached snapshot. I'm still a n00b as concerns the workings of Git and Github, but if

[2018-12-10 00:00] dinaelhanan commented on #10499
I'll look into it if I can, thanks @kingokeke for pointing that out!

[2018-12-10 05:12] CraftyDH commented on #10499
Since the actual files are small you could move at the end of each year the master branch to a new branch called 2018 and then do a git rebase from that branch the master branch therefore keeping the history and making it smaller.

[2018-12-10 13:59] dinaelhanan commented on #10499
@CraftyDH good idea. @Roshanjossey I think this is a good idea!

[2018-12-10 14:12] Roshanjossey commented on #13094
@Ifyokoh, thank you for your interest in taking it up, It's already resolved.

@gusti-syahputera, thank you for opening this issue and fixing this.

@elialvaradoo, thank you for your changes.

Closing as this has been resolved.

[2018-12-10 14:12] #13094 closed

[2018-12-11 19:54] Roshanjossey commented on #12969
Closing this as this as I can't understand this issue and there hasn't been any updates. Please comment to reopen of still keen on this.

[2018-12-11 19:54] #12969 closed

[2018-12-16 17:39] foo-dogsquared commented on #7243
I propose a translation of Tagalog version.

I've already started translation of the README into Tagalog (one of Philippine's languages). It's in #13496 if anyone wants to review.

[2018-12-19 08:00] kurshakuz commented on #7243
Hi! I have just translated README into Kazakh and made a PR #13592. Hope it will be reviewed soon)

[2018-12-30 11:09] C0derLint commented on #11007
Please close this issue as #13170 addresses it.

[2019-01-06 20:17] TomerPacific commented on #12690
@Roshanjossey, any update?

[2019-01-08 17:33] Roshanjossey commented on #12690
Hi @dinaelhanan, @Ifyokoh, @TomerPacific, I'm sorry I took so much time for this.

I've put together a list of people who'd be right to review translation changes.
https://github.com/firstcontributions/first-contributions/blob/77071642a8fce5d241ec4be5c9526ca3a91ea157/.github/CONTRIBUTING.md

Let's discuss and figure out a plan on how to move forward. :)

[2019-01-09 06:00] TaEduard opened #13955 "Add a guideline for creating good commit messages"
🐞 **Problem**
In my early days, I did find somewhat challenging the task of creating good commit messages and I can't find any information regarding this topic in the repo.

🎯 **Goal**
Thus by making this information easier to obtain by new devs as it would improve their first PRs merge rate and help them improve their skills.

💡 **Possible solutions**
1. Add to the README a reference to an articl

[2019-01-09 09:53] Roshanjossey commented on #13955
Thank you for opening this @TaEduard 🖖

I'm not in favour of linking this from the Readme as we wanna keep the material short and free from external links to provide a streamlined flow. Also, we tell users exactly what the commit message should be.

I think that this will add value to [additional materials](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/g

[2019-01-14 22:12] zecollokaris commented on #7243
Hi @danielotieno you had requested to do the Swahili translation. Go check it out now. I'm sure there are lots of improvements that could be done. https://github.com/firstcontributions/first-contributions/blob/master/translations/README.kws.md

[2019-01-15 15:46] Roshanjossey commented on #7243
Way to go @zecollokaris, @danielotieno, I appreciate how you people are collaborating here 🖖

[2019-01-15 20:08] zecollokaris commented on #7243
Thank you @Roshanjossey

[2019-01-16 15:23] krishnatangirala commented on #11007
@Roshanjossey I am assuming this issue is still open to contribution?

[2019-01-16 15:40] Roshanjossey commented on #11007
@krishnatangirala, No.

We have received multiple pull requests to address this issue. We are yet to merge one and close this issue.

[2019-01-16 21:06] smitgajjar opened #14113 "Provide a translation to Gujarati(a native language of India)"
Translate to Gujarati language

🐞 **Problem**
Native Gujaratis(residents of Gujarat, India) might not be able to interpret this tutorial thoroughly.

🎯 **Goal**
To expand the reach of this tutorial so that more and more people can contribute to Open Source Community.

💡 **Possible solutions**
Translation to Gujarati language

[2019-01-16 21:07] smitgajjar commented on #14113
Can I do this?

[2019-01-16 22:03] #14113 closed

[2019-01-16 22:06] smitgajjar commented on #7243
Hi @Roshanjossey , can I translate this tutorial to Gujarati language(a native language of India, which is widely spoken in western region of the country).

[2019-01-17 07:34] krishnatangirala commented on #11007
Thanks @Roshanjossey That's helpful to know

[2019-01-17 08:12] smitgajjar commented on #7243
Hi! I have translated the tutorial in Gujarati language and made a PR #14125. I hope it will be reviewed soon. I am eagerly waiting for the merge since it will be my first contribution to open source!

[2019-01-17 10:39] Roshanjossey opened #14130 "Point translation link from Indian flag emoji to Translations.md"
🐞 **Problem**

Currently it points only to the Hindi translation

🎯 **Goal**

Users clicking on Indian flag emoji should see a list of Indian language translations we have.

💡 **Possible solutions**

Point that link from Indian flag emoji to Translations.md

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a p

[2019-01-17 10:42] Roshanjossey commented on #14130
We could add Bengali with Indian flag as well.

Also, there is a Telungu translation that's not there in Translations.md ( I think ). Lets address those along with this pull request.

[2019-01-17 10:43] smitgajjar commented on #7243
Oh! That's great, Then I guess I didn't have to explain about whereabouts of the language😅 @Rohanjossey

[2019-01-17 10:43] Roshanjossey commented on #7243
@khusi-anu, you might be interested in #14130 . We had discussed this earlier in this thread.

[2019-01-21 00:06] sharmb9 commented on #14130
started working on the issue

[2019-01-25 03:05] mmelisew commented on #7243
Hello there! May I join and do translations in Amharic language (Ethiopian). However, I am new for open source. Is that okay?

[2019-01-25 20:00] masterbios commented on #14130
I have fixed this issue and changed the path of the file to Translations.md and submitted the pull request
please review changes

[2019-01-30 23:58] zzhzzhzzh opened #14441 "I am confused. Why don't you merge my PR?"
So sad

[2019-01-31 16:06] Roshanjossey commented on #14441
Hi @zzhzzhzzh, I apologize for taking so much time to merge your PR.

I've automated this process to make a bot do this for me but in the case of your PR, it didn't work.
I've merged it myself now.

Please don't feel down because of this. This might actually happen in open source world. But, you should understand this from the maintainers point of view. Most of us are doing this in our free time b

[2019-01-31 19:37] zzhzzhzzh commented on #14441
Hi Roshanjossey, Thank you for your job! I thought my PR did not get merged because I made mistakes in my work. I totally understand what's happening. I am very grateful to this project which gives me confidence and help me complete my first contribution. Thank you !

[2019-01-31 19:37] #14441 closed

[2019-02-01 21:21] lenoraporter commented on #14130
Started working on this issue.

[2019-02-02 14:08] Roshanjossey commented on #7243
@mmelisew, go ahead. This is the right place for people who are new to open source.

[2019-02-02 14:18] Roshanjossey commented on #14130
Closing this as this is fixed in #14317

[2019-02-02 14:18] #14130 closed

[2019-02-02 14:31] mmelisew commented on #7243
Dear Roshan,

Thank you so much for accepting me. Yes, I will work on it. However, could
you tell me where to start with? Any specific instructions?  Thank you!

~Melisew

On Feb 2, 2019 8:08 AM, "Roshan Jossy" <notifications@github.com> wrote:

[2019-02-02 14:37] Roshanjossey commented on #7243
@mmelisew, start with understanding the workflow first. Go through the tutorial. Do it. It'll help you translate this well.

Once you've done that, make another branch, read `Readme.md` and translate it to Amharic. Then, submit a pull request with your changes. I'll review it and suggest changes if required.

You'll have a better understanding of the whole process when you do the tutorial.

[2019-02-02 14:39] mmelisew commented on #7243
Thank you so much! I will do that.

~Melisew

On Feb 2, 2019 8:37 AM, "Roshan Jossy" <notifications@github.com> wrote:

[2019-02-06 04:38] srz2 opened #14578 "Create tutorial for atlassian sourcetree"
[Atlassian Sourcetree](https://www.sourcetreeapp.com/) is another popular git client tool and I think it should be represented here

🐞 **Problem**
There is not tutorial for [Atlassian Sourcetree](https://www.sourcetreeapp.com/)

🎯 **Goal**
[Sourcetree](https://www.sourcetreeapp.com/) is another tool to use to interact with git/github and having a tutorial here would benefit those who use it

💡 **P

[2019-02-06 04:46] srz2 commented on #14578
I also would like to say that I would love to do that as my first "real" contribution

[2019-02-06 11:05] Roshanjossey commented on #14578
@srz2, this is a much welcome contribution.

Please go ahead with your work on this.

Please submit a pull request once you have something to show. Let's start reviews at an early stage and keep feedback cycles tight. Happy contributing :)

[2019-02-07 21:24] joaniedavis commented on #13955
@Roshanjossey Could I take a stab at adding these guideline references into [additional materials](https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/additional-material.md)?

[2019-02-08 11:47] Roshanjossey commented on #13955
@joaniedavis, sure. Go ahead. Please make sure you go through the articles linked earlier. Also there has been more changes recently with semantic versioning coming in to picture.

[2019-02-08 19:34] co16353sidak commented on #4072
Hi, is anyone still working on this? Would like to create a simple step by step guide to using JetBrains(IntelliJ) IDEs.
@Roshanjossey  @arximughal ?

[2019-02-09 08:36] Roshanjossey commented on #4072
@co16353sidak, there hasn't been any updates for some time now.

Please go ahead. Submit a pull request when you have something. Let's start with reviews and feedbacks early on. Do ask if you need any help with this. :)

[2019-02-09 08:39] co16353sidak commented on #4072
Awesome Roshanjossey! Let me create a first draft and start discussions

[2019-02-11 06:01] co16353sidak commented on #4072
Have created a basic tutorial, please review. @Roshanjossey @sara-02

[2019-02-13 04:35] srz2 commented on #14578
@Roshanjossey would you be able to review this? Give me any suggestions if you think it needs work.

thank

[2019-02-18 20:42] srz2 commented on #14578
@Roshanjossey ?

[2019-02-20 06:20] sodaney commented on #7243
Hello. I am new to GitHub. I have been done with many small projects for first-contributor. Now I feel like it is time for me to take a step into a bigger project. I found this issue is kinda interesting. I am originally from Cambodia and my language is Khmer. I would like to add make a translation for Cambodian but to be honest I don't know what file should I edit for translation or do I have to

[2019-02-21 06:51] sodaney commented on #7243
I just added Khmer translation. #14976

[2019-02-25 19:14] kodemonster commented on #7243
@Roshanjossey hi, I am going to translate it to Urdu (Pakistani language).

[2019-03-13 14:27] ABGEO07 commented on #7243
Hello @Roshanjossey ,
I can translate first contributions tutorial in Georgian.

[2019-03-17 05:36] luckyreddy345 opened #15476 "Dude i have some doubt at cht repository can u plz help me?"
Help..!

[2019-03-20 20:19] biazigaskda commented on #7243
@Roshanjossey
I translated it to Georgian language

[2019-03-31 09:05] akshatra commented on #11007
In open-source community, branches are actually repository forks, so that project maintainers can lock down access to the master repository and can acquire integration through pull requests. This makes life much easier for the maintainers.
Also it becomes easier for the developers to revert back to their previous changes and contributors to make changes without actually affecting the master branch

[2019-04-04 10:56] sara-02 commented on #15476
@luckyreddy345 what is your doubt? Did you try asking your doubt on the first-contributors slack channel?

[2019-04-14 18:11] adityaprakash-bobby opened #16017 "Fix Slack Invite Link"
The slack invite link is broken in the README.

🐞 **Problem**

The slack invite link in the first-contributors repository is expired

💡 **Possible solutions**

Update the slack channel link

[2019-04-15 15:25] syakubov opened #16027 "Add a section in the README for syncing your fork, instead of constantly forking and deleting"
I believe this tutorial is incomplete, and can be made more comprehensive without necessarily becoming too complicated for beginners.

🐞 **Problem**

The tutorial should include the steps from the following pages:
https://help.github.com/en/articles/configuring-a-remote-for-a-fork
https://help.github.com/en/articles/syncing-a-fork

🎯 **Goal**

This would be helpful for people who would like to con

[2019-04-17 19:17] Rajat1999 commented on #16017
I would love to work on this..

[2019-04-17 19:51] Rajat1999 commented on #13955
Looks like its still open...let me know if I could help!

[2019-04-17 23:34] WillPaulRyan commented on #16017
@Rajat1999
I'd like to do it too but only people already in the Slack channel will be able to update the link.

[2019-04-19 07:16] earik87 commented on #16017
The issue is still there. Link does not exist anymore..

[2019-04-19 07:17] earik87 commented on #15476
Unfortunately, slack channel link in readme.md does not work. Needs to be fixed. #16017

[2019-04-19 14:05] puzuwe commented on #16017
Hi all, do anybody have the new slack Invite Link.

[2019-04-19 14:08] WillPaulRyan commented on #16017
Ask @Roshanjossey

[2019-04-20 07:32] TomasRoj commented on #7243
Hey @Roshanjossey currently working on translation to Czech.

[2019-04-20 16:13] TannerDolby commented on #13955
@Roshanjossey I just added the two mentioned articles to "additional materials". Good info on both of those links for more concise commit messages.

[2019-04-20 19:45] TomasRoj opened #16141 "Add me to contributors with write acces"
Hey,

It looks that you dont have pull requests under control 😂🔥👌. I know much things about github and i am glad contributor. Can you please give me write acces so i can merge pull request and help newbies?

Thanks,
Tom

[2019-04-21 11:24] adityaprakash-bobby commented on #16017
@Roshanjossey Can we add the invite link from any members' slack account?

[2019-04-30 19:31] jeffrey-hui commented on #11007
Kindly remove the help wanted tag to filter this out of the other issues that need help! :)

[2019-05-17 00:39] pawsys opened #16601 "Testing adding issue"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2019-05-17 00:39] #16601 closed

[2019-05-21 17:44] gabrielBusta commented on #7243
@Roshanjossey do you reckon it would be useful to add translations to the UI tools tutorials? (I can translate them into Spanish)

[2019-05-26 10:20] Niweera commented on #16017
Still not fixed the Slack invite link issue. Please consider it. @Roshanjossey

[2019-05-28 02:42] sudiptog81 opened #16789 "Broken links in translations of README.md and Visual Studio 2017 icon"
🐞 **Problem**

There are two major cases of broken links in this repository that I wish to address:
- Invalid relative links to the [GitHub Desktop](https://github.com/firstcontributions/first-contributions/blob/master/github-desktop-tutorial.md), [VS Code](https://github.com/firstcontributions/first-contributions/blob/master/github-windows-vs-code-tutorial.md), [GitKraken](https://github.com/firs

[2019-05-29 18:08] pateljal commented on #4072
I can work on it

[2019-06-04 06:08] LoganMugane commented on #11007
Could i work on this?

[2019-06-04 18:06] pateljal commented on #16789
I can work on this!

[2019-06-04 21:21] sudiptog81 commented on #16789
@pateljal See #16790 and then review what else is left.

[2019-06-10 20:15] charlygg commented on #4072
Could I work on this issue

[2019-06-10 20:16] charlygg commented on #14578
Could I work on this issue?

[2019-06-11 00:07] srz2 commented on #14578
I already have a pull request for this issue, @charlygg, they just need to approve it

[2019-06-16 05:16] kodeGenius commented on #14578
@Roshanjossey just want to check if by any chance you have been able to review @srz2 PR #14749.
I also have some contribution.

[2019-06-16 17:21] pgmolloy commented on #16017
Hi the slack link is not active, first time I have looked at this repo and thought that it is such a wonderful idea for helping anyone but then got totally disappointed that the first thing I tried was to click on the slack link. I guess there mustn't be much need for this repo if the issues stay open for such a small change. Is it worth joining this group to help out or is there another group tha

[2019-06-17 15:37] cryptographicfool opened #17183 "Weird behaviour when using Atom to edit Contributors.md"
🐞 **Problem**

I submitted a pull request by adding my name and GitHub profile link to the file Contributors.md, by editing the same in Atom editor.

However, if I check under "files changed" under pull request on GitHub, it shows that I changed multiple lines, shows many lines added and deleted (+23, -22). Why is this behavior happening if all I added was one line with the above mentioned details

[2019-06-17 15:46] cryptographicfool commented on #17183
Maybe the bot is ignoring many pull requests because of this? :(

[2019-06-17 17:30] cryptographicfool commented on #17183
deleted everything and stated from scratch. This time, I used nano on terminal instead of atom to edit the Contributors.md file and it got accepted and merged. So if someone is struggling they could try and use nano.

I still wonder why the weird behavior when using Atom.

[2019-06-18 21:58] danmulvey commented on #17183
I had the same problem using Visual Studio Code, deleted my branch and started over using sublime text to change the file and had no problem. I haven't had this problem with other files I've edited, not sure why it seems to be happening so much here.

[2019-06-19 13:55] Moto42 commented on #17183
I think Atom has a problem with 'large' files.
Scare quotes, because large for Atom seems to start earlier than most editors.

[2019-06-20 07:48] Balnabtch opened #17258 "This GitHub is wild"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2019-06-22 21:24] bariscanyilmaz commented on #16017
![invite](https://user-images.githubusercontent.com/30300440/59969040-383c3100-954d-11e9-9d37-6558d36aaaf2.PNG)

[2019-06-27 21:09] phongnguyen39 commented on #17258
I'd say it's a good way for a new-comer like myself to contribute for the first time.   Much better than reading dry documentation.

[2019-06-27 21:11] phongnguyen39 commented on #16017
Any of the maintainers of this repo on here.  Could that person give us an update on the Slack channel?  I'm interested in joining the channel too.

[2019-07-01 22:26] MatthewFallon commented on #17183
Hey just wanted to add in because I have seen that this issue seems to have created issues for various pull requests.

@cryptographicfool I believe that this is the pull request you closed earlier that's in question:
#17184

I noticed that the lines that get changed are actually the same ones for each person with the issue, and it might not actually be an issue for large files but with auto-format

[2019-07-01 23:25] cryptographicfool commented on #17183
@MatthewFallon  Indeed, it seems like Atom doing auto formatting to handle whitespaces.

The diff log shows that the space was removed and then added back. #17184 shows +24 - 22; 2 out of these are the two tries that I made to push via atom and the rest 22 are the trailing white spaces.

However, the fix was easy, re did the whole thing using `sudo nano` on the terminal.

[2019-07-01 23:28] cryptographicfool commented on #17183
I could open a pull request prompting users to check git diff if changes are not approved and a short guide to do so via terminal, but I am not sure if @Roshanjossey is around at the moment to merge it.

[2019-07-02 00:14] MatthewFallon commented on #17183
Sounds like a good idea, you can just make the pull request right now, and tag this issue to see if one of the maintainers will merge it, or I’ll do it myself later this evening :+1:

[2019-07-02 02:26] MatthewFallon commented on #17183
Added a quick pull request with demo output of the issue :+1:

[2019-07-02 08:01] cryptographicfool commented on #17183
Thanks @mathewfallon

[2019-07-23 07:07] prathmesh-bendal opened #17915 "little enhancement in tutorial"
How to locate files after git clone

🐞 **Problem**

🎯 **Goal**

For a beginner it is difficult to locate files after git clone

💡 **Possible solutions**

📋  **Steps to solve the problem**
git init projectname

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask

[2019-07-23 13:22] Roshanjossey commented on #16017
Hey people,

Sorry that I was out for a while. I'm trying to get back.

Here's a new link that I've generated. Please update it in all  the places required (translations, tutorial for other tools)

https://join.slack.com/t/firstcontributors/shared_invite/enQtNjkxNzQwNzA2MTMwLTVhMWJjNjg2ODRlNWZhNjIzYjgwNDIyZWYwZjhjYTQ4OTBjMWM0MmFhZDUxNzBiYzczMGNiYzcxNjkzZDZlMDM

Please comment below to let others k

[2019-07-23 13:27] Roshanjossey commented on #17258
Closing this.

Please open another issue explaining the problem if you feel that there's something to fix here.

[2019-07-23 13:27] #17258 closed

[2019-07-23 13:28] Roshanjossey commented on #17915
Do you have suggestions to solve this issue? Where are you getting stuck?

[2019-07-23 13:35] Roshanjossey commented on #16141
Hi Tom,

I really appreciate you offering your help.

Unfortunately, I can't give you write access without knowing you well. The maintainers here are people I know or who have contributed a lot here.

I hope you understand
Cheers

[2019-07-23 13:35] #16141 closed

[2019-07-23 13:38] Roshanjossey commented on #16027
We actually have that section in our additional materials

https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/keeping-your-fork-synced-with-this-repository.md.

We kept multiple things out of the tutorial because we wanted to keep it small and users can do this in  minutes.

I bet it'd help if it had more visibility. Do you have any sug

[2019-07-23 13:44] Roshanjossey commented on #15476
Closing this as there has been no update for a while

[2019-07-23 13:44] #15476 closed

[2019-07-24 12:36] Rajat1999 commented on #16017
I have fixed the issue! #17948

[2019-07-24 12:36] Roshanjossey commented on #14578
Hi @srz2 , I'm sorry I was out for a while. I've merged it now. Thank you so much

[2019-07-24 12:36] #14578 closed

[2019-07-24 12:38] Rajat1999 commented on #16017
@Roshanjossey you can check it out!

[2019-07-24 14:39] Roshanjossey commented on #16017
This has been fixed and I feel awesome.

I used to feel that the slack group was an absolute failure as we never managed to have any continuous work done there. It'd be awesome to see you people being active there.

Have a great day ahead. Closing

[2019-07-24 14:39] #16017 closed

[2019-07-29 13:02] jhasaurabh312 commented on #11007
@Roshanjossey is this issue still open for contribution?

[2019-07-29 16:34] Roshanjossey commented on #17183
Hi @cryptographicfool, @MatthewFallon, Thank you for raising this issue and contributing to address it. I'm sorry that I was not around for a long time now. I'm getting back and trying to sort things out.

I can confirm that the bot was not merging changes because the editors mentioned auto-formatted a bunch of lines.

Right now, I'm going through the pull requests and asking users to try it again

[2019-07-30 10:38] jhasaurabh312 commented on #11007
@Roshanjossey I have committed the code and sent a pr for the issue #11007.
Please go through the changes.

[2019-08-06 02:36] cynolycus commented on #16027
Hello, Roshan. I'm not the original issue contributor, but as it is my first time stumbling upon this repo, I feel qualified enough to comment.

The only "problem" is that the link to the Additional Resources stands alone and is easily overlooked at a glance. Even a one-line directive advertising how someone new to git can "go on to master more advanced features" or such would be enough to draw so

[2019-08-09 09:19] Roshanjossey commented on #16027
Hi @cynolycus, anybody can comment here.

Thank you for jumping in and submitting the pull request.

We're on the same page that that link needs more attention.

Still, I'd rather us chat about it and decide how we want to change it and how to word it rather than making the changes. For example, in your changes, I don't understand why we have to mention translations there.

[2019-08-09 10:49] cynolycus commented on #16027
Hello, Roshan! I may have jumped in prematurely.  There is certainly no need to keep the bit about translations, but I thought it may be a good opportunity to mention it.
I apologize, I may have misunderstood when I created the PR, but I saw an option for "Allow edits from maintainers", which I took to mean it would permit you to make any appropriate modifications before merging.

I don't mind rem

[2019-08-09 13:38] niftyy commented on #16789
I would like to work on this issue.

[2019-08-09 14:58] Roshanjossey commented on #16027
Hi @cynolycus, please don't apologize. You didn't do anything wrong.

Yes, I can make changes to the pull request before merging or make changes after merging. That is not an issue.

I'm just saying that it's better to discuss the wording in this thread. Not just for me to suggest changes but also for anybody else who might be interested in this to have a look at it and voice their opinions.

Prev

[2019-08-30 14:48] OnkarMulay opened #18758 "I have completely messed up the process: How to delete repo from local"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2019-08-30 15:11] OnkarMulay commented on #18758
On branch add-onkar
Changes not staged for commit:
  modified:   Contributors.md

[2019-09-04 00:31] jyothsnahariharan commented on #18758
Try the following steps:
Create a new workspace and clone your repository again to your local IDE
Now add your changes to the contributions.md file
Right click the file and select commit
Hope this should show your changes in your staged location.

[2019-09-10 02:02] Chovin opened #18949 "small spelling and grammar suggestions in VSC tutorial"
🐞 **Problem**
slight spelling grammatical problems

🎯 **Goal**
Make it a little easier for people to go through the tutorial, make it seem more professional and legitimate.

💡 **Possible solutions**
How are these?
#18950
#18952

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in co

[2019-09-15 08:56] GSKSan commented on #18949
Hello!Can i work on this?

[2019-09-15 09:45] Chovin commented on #18949
Certainly @GSKSan ! I’ve already suggested some changes in #18950 and #18952 , but feel free to add to those, suggest edits to them, or submit your own changes!

[2019-09-15 11:10] GSKSan commented on #18949
@Chovin I have made some changes. Could you please review it?

[2019-09-18 19:54] tiferet opened #19133 "Project list can link to repo /contribute page"
🐞 **Problem**

Not all projects use the same label to surface their beginner-friendly issues. This makes it hard to maintain the [project list](https://firstcontributions.github.io/#project-list) that is linked off the ["Where to go from here"](https://github.com/firstcontributions/first-contributions#where-to-go-from-here) section of the README, and means many good issues might be missed.

🎯 **Go

[2019-09-21 08:27] isa3bel commented on #19133
I'm interested in working on this!

[2019-09-22 01:16] isa3bel commented on #19133
just created a PR for this on the other repo

[2019-09-22 01:22] isa3bel commented on #19133
I just created a PR for this! let me know what you think

[2019-09-22 11:22] muktadirkhan889 opened #19192 "The Slack invite link in Readme.md is expired"
The Slack invite link in Readme.md is expired.

[2019-09-22 20:54] bsoyka commented on #19192
This seems to be resolved now, but the link on https://firstcontributions.github.io/ is expired.

[2019-09-22 21:05] bsoyka commented on #19192
I am working on making a PR to fix this on the web app.

[2019-09-23 00:10] colbyfayock opened #19199 "Contributor addition placement"
An alternative approach to pushing people towards placing their name in the middle might be to simply place it at the end. Reasoning, it's pretty common for newcomers to throw their additions to lists above others / at the top because the whole higher visibility. Could be a way to nudge people towards best practices.

🐞 **Problem**

Pure chaos! 😱

🎯 **Goal**
Helping guide new contributors to polit

[2019-09-23 09:24] #19192 closed

[2019-09-23 16:53] isa3bel commented on #19133
this issue is now closed.

[2019-09-23 23:07] tiferet commented on #19133
@isa3bel Hi Isabel 👋 . I don't see that the change has shipped. Has your PR been merged? Could you please post a link to the PR? Thanks!

[2019-09-24 03:46] isa3bel commented on #19133
https://github.com/firstcontributions/firstcontributions.github.io/pull/58

[2019-09-24 15:53] tiferet commented on #19133
@isa3bel When I click on "Go to project" on any of the projects in the [project list](https://firstcontributions.github.io/#social-share) it still takes me to the [old place](https://github.com/facebook/react/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). Do you know why?

[2019-09-24 16:21] isa3bel commented on #19133
hm that is strange. it was merged though. I'm new to open source, so does the project developer need to "ship" the new version with my changes, or is "merging" automatically going to update the page?

[2019-09-24 17:28] tiferet commented on #19133
OK, I see in the PR that it should hopefully be resolved soon 😄. Thank you for your work on this!

[2019-09-28 04:51] aaditkamat commented on #19133
@isa3bel, maybe you want to put a [comment in the PR to indicate that you have resolved the issue](https://help.github.com/en/articles/closing-issues-using-keywords)?

[2019-09-30 14:49] chukrobertson commented on #19199
If alphabetical, who reorders the current list? What about names containing numbers? Adding to the bottom of the list ###above some commented line### would probably help.

[2019-09-30 15:03] colbyfayock commented on #19199
just to be clear, wasn't recommending alphabetical sorting, but just as a "you should look what others are doing first and not throw yours on top" kind of guidance

[2019-09-30 20:01] kunwar97 opened #19434 "Hactoberfest'19"

[2019-10-01 06:15] #19434 closed

[2019-10-01 21:44] Ishaan28malik commented on #12690
Are there still any such issues left ? or are you adding some new issues this time for Hacktoberfest2019?

[2019-10-01 21:50] Ishaan28malik opened #19757 "Adding tutorials on AWS and Containers."
🐞 **Adding some cloud related tutorials**

🎯 **AWS and Containers since we have introduced many scripts, languages, tools and libraries , now it's time for some cloud related tutorials**

💡 **Tutorials on Docker, Kubernetes or AWS**

📋  **Providing some docs resources and how AWS certification can be obtained or how containers help**

*   I have already worked on AWS.
*   Celebrate your contributi

[2019-10-02 01:37] Atsoamazed commented on #19133
I am interested in helping with this. Is this still in Progress?

[2019-10-02 04:10] ajeyprasand commented on #11007
can I start working on  this?
since I am a beginner I need to explore more!!!

[2019-10-02 06:00] ajeyprasand commented on #18949
is this still in progress?

[2019-10-02 16:13] millbittencourt commented on #7243
I'll start working on translation to Portuguese.

[2019-10-03 17:29] dark-shadow7 commented on #11007
branches contains the modification done by you while if we use the master copy then modification will be done in original program which will disturb the original program

[2019-10-03 20:08] ucalyptus commented on #11007
@Roshanjossey merge this already?

[2019-10-04 01:17] SophieYoonseo commented on #7243
@Roshanjossey Hello! I read your issues. Can I contribute to your project? I wanna translate your tutorial into Korean. Please give me your answer :)

[2019-10-04 15:30] sk-ip commented on #19757
Hello @Ishaan28malik, I have worked with docker before, I can add Tutorials for Docker. I would like to know what should be the scope of the tutorials? Maybe a classic Hello world example in docker will be helpful, would like to know your thoughts on this.

[2019-10-04 17:46] Ishaan28malik commented on #19757
Yeas I suppose that will be a good start @sk-ip

[2019-10-05 08:26] TomerPacific commented on #18758
@OnkarMulay ,
did you manage to solve your problem?

If you want to delete your local branch, then you must move to a different branch in order to remove it.
To do so:

-  Type ```git checkout master`` to move to the master branch.
-  Then type ```git branch -d  add-onkar```

[2019-10-05 21:29] jpochetedmead commented on #18949
I started working on #18950

[2019-10-06 02:24] isa3bel commented on #19133
close #19133

[2019-10-06 02:27] isa3bel commented on #19133
@aaditkamat how does this work? I am having a hard time closing this issue

[2019-10-07 03:32] daya2940 commented on #13955
can I work on this?

[2019-10-07 05:25] Tsumagari commented on #7243
Hello! I have updated README.ja.md by adding the table of "tutorials using other tools". Could I submit a pull request?
One more, I noticed that some translated files of additional materials aren't linked by first README files of their languages. In addition, these files translated in different languages are in the same folder (/additional-materials/translations), so I want to organize these files

[2019-10-08 07:19] QQ-88 opened #20806 "Slack link in README is expired"
As the title says.

EDIT: Realized there are two, I am referring to the one at the end of it.

[2019-10-09 01:23] mayconsacht commented on #20806
Hello! I opened a new PR for this issue!

[2019-10-10 09:39] sara-02 commented on #20806
This should be fixed now. @mayconsacht @QQ-88, reopen if the issue persists.

[2019-10-10 09:39] #20806 closed

[2019-10-10 13:46] Roshanjossey commented on #7243
@sodaney , I've reviewed your PR please check the comments.

@kodemonster ,@ABGEO07, @TomasRoj, @SophieYoonseo,   we already have the translation you mentioned. Please check if it is up to date with English translation.

You'll find links to all translations here https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md

@Tsumagari , I'm in for the changes

[2019-10-10 13:50] Roshanjossey commented on #18758
@TomerPacific , I agree that we should close this issue as we don't know any updates and it's been open for some time now.

@OnkarMulay , Feel free to reach us on slack or comment again if you still need help

[2019-10-10 13:50] #18758 closed

[2019-10-10 14:14] Roshanjossey commented on #19133
Hi @tiferet , thank you for opening this issue. I believe it's best discussed in https://github.com/firstcontributions/firstcontributions.github.io.

The changes you suggested are deployed now. I'm closing this issue.

As a contributor, @gavv pointed out, this might not be what we want for all the projects listed. Let's have a discussion about it. I'll open an issue in `firstcontributions.github.i

[2019-10-10 14:14] #19133 closed

[2019-10-10 14:26] Roshanjossey commented on #19199
@colbyfayock , the names on the contributors file doesn't matter a lot. That's not the important bit.

The point of the whole thing is to learn how to contribute. Where you put it or how you format it or even if it is there at all doesn't really matter.

[2019-10-10 14:28] Roshanjossey commented on #19757
@Ishaan28malik, we're concentrating on contributing to open source here. Other things will be a distraction.

I'm closing this as it's not the direction we want to take.

[2019-10-10 14:28] #19757 closed

[2019-10-10 14:29] Roshanjossey commented on #17183
Closing this because of inactivity. If there are any concerns, comment below and we'll reopen and discuss about it.

[2019-10-10 14:29] #17183 closed

[2019-10-10 14:30] colbyfayock commented on #19199
@Roshanjossey yup understood, the only intent is to try to guide and encourage newcomers to use proper etiquette and check before adding their own additions to a list, as in other repos, that type of etiquette is not only encouraged, it's required.

for instance, if a repo has a list of community events for a product, it would be poor etiquette to put your own event at the top, rather than at the

[2019-10-10 14:30] Roshanjossey commented on #17915
Closing this as it's not clear what the issue is and it's inactive for a while

[2019-10-10 14:30] #17915 closed

[2019-10-10 14:36] Roshanjossey commented on #19199
I understand your intent but I'm not of the opinion of enforcing it here.

We also have a technical challenge if everybody adds lines at the end. We have a bot to merge pull requests here. It can't do it if there are merge conflicts. If everybody adds lines at end, we'll have a lot more merge conflicts. I'd like to avoid that. That's why there's a suggestion to add it at a random place.

[2019-10-10 18:28] Roshanjossey commented on #19757
@Ishaan28malik , would you like to remove `Self Promotion` section from all the places it's there now?

That's one change I was thinking about making recently

[2019-10-10 19:02] Roshanjossey opened #21159 "Find a better phrasing for `Additional materials`"
We have some documentation with some explanation about handling some scenarios with git in First contributons

https://github.com/firstcontributions/first-contributions/blob/master/additional-material/git_workflow_scenarios/additional-material.md

These are linked with a text `Additional materials` from our main tutorial.
The problem is that the phrase `Additional materials` is not very descriptiv

[2019-10-10 19:05] Roshanjossey commented on #21159
I also want to measure how many users are actually going to the link. So, could everyone react emojis for this comment? People who has gone to that page before seeing this issue, leave a :+1: . If you didn't notice it, leave a :-1:

[2019-10-11 02:09] Wandji69 commented on #21159
I have gone through the tutorial and I think it can be called
**Advanced Techniques or Information on Advance git techniques**

[2019-10-11 04:03] Ishaan28malik commented on #19757
@Roshanjossey sure.

[2019-10-11 04:49] Ishaan28malik commented on #19757
@Roshanjossey can you specify what `Self Promotion ` is needed to be removed , because I found everything is relevant in Readme.md.

[2019-10-11 09:20] Roshanjossey commented on #19757
![image](https://user-images.githubusercontent.com/8488446/66640317-085a8b80-ec19-11e9-8f88-79b605b07a54.png)

This bit. I removed it from `Readme.md`. It's still there on translations. It'd be cool to get them removed

[2019-10-11 11:07] Ishaan28malik commented on #19757
ok sure

[2019-10-11 12:00] Ishaan28malik commented on #19757
@Roshanjossey updated all the files by removing `self promotion`.

[2019-10-12 07:44] divya1509 commented on #7243
I am new to open source, can I begin by contributing to this project? I want to translate it into the Punjabi language.

[2019-10-12 13:26] trunganhwork opened #21384 "[Improvement] Rearrange translation list"
I think we should rearrange the list of translations in README.md and translations file in alphabet order.

🐞 **Problem**
The list now in README.md and translations file is kind of messy and mixup with a few typos.

🎯 **Goal**
Arrange the list in alphabet.

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push you

[2019-10-13 07:43] AndreaGon commented on #21384
Hello! I want to work on this.

[2019-10-13 16:06] B-kash commented on #7243
Hello, I see that there is already a Nepali translation but when I went through it, there were few places that needs some improvements... Can I work on this ?

[2019-10-14 08:12] Roshanjossey commented on #7243
@divya1509, go for Punjabi.

@B-kash , sure submit a pull request. Tag the previous contributor on the pull request so that they can review it.

[2019-10-14 14:37] leoramos182 commented on #21159
I think **Advanced Tips** or **More git tips** would be fine.

[2019-10-14 15:41] Roshanjossey commented on #21384
I don't understand what is alphabetical order is for the name of languages. How would you compare `മലയാളം` with `日本語`? Which would come first?

Personally, I don't think it's hard a language you're good at in the translation list. I'm not sure how changing the current order would improve users ability to find a particular language

[2019-10-16 05:08] Tsumagari opened #21761 "Organize translated files of additional-material"
🐞 **Problem**

Currently, there are many translated files of additional material, but most of them are not linked with other files.

🎯 **Goal**

* All translated files will be linked so that we can visit appropriate translated files.
* We need a good folder structure so that translators can add files easily.

💡 **Possible solutions**

Make folders of each language under `/additional-material/trans

[2019-10-16 10:18] bbborisk commented on #96
Hello! I was wondering, could I maybe add translation to Serbian language?

[2019-10-16 10:30] bbborisk commented on #7243
Hello! I would like to start working on translation to Serbian language. Here goes :)

[2019-10-16 12:56] sara-02 commented on #96
@bbborisk Sure! Feel free to send a PR :)

[2019-10-16 13:09] bbborisk commented on #96
@sara-02 Thanks! Added PR, but to an open issue #21778

Hope it is ok :)

[2019-10-16 13:28] sara-02 commented on #16789
Hey is this fixed in the main README.md?

[2019-10-16 14:09] Roshanjossey commented on #16789
@sara-02 , It looks good in main Readme. I disabled cache and did a hard refresh and the image is still loading fine.

[2019-10-16 16:21] sara-02 commented on #16789
Then I am closing this issue. Reopen if error surfaces again.

[2019-10-16 16:21] #16789 closed

[2019-10-16 20:03] lucascuani commented on #21761
I am working in the pt-br translations

[2019-10-17 01:17] Ajax-Light commented on #21761
Quick question, all i i need to do is to make a folder for each language and copy over the related languages' files into their respective folders, right? I believe that's what you meant by "linking" ?

[2019-10-17 04:50] Tsumagari commented on #21761
@Ajax-Light
I mean, each translated readme file (ex: README.ru.md) should have a link sentence [like this](https://github.com/firstcontributions/first-contributions/issues/21761) to the appropriate additional-material file. Some translated README files are linked, others are not. For instance, while additional-material.ru.md is exist, README.ru.md don't have the links to it.

[2019-10-17 10:01] Ajax-Light commented on #21159
How about Further-Reading?

[2019-10-17 18:18] raphaelminacio commented on #7243
Hello,
I noticed that are some portuguese translations missing for git_workflow-scenarios. Can I work on this? Thank you ;)

[2019-10-17 21:07] genosis commented on #21159
+1 on Advanced Git Techniques

[2019-10-18 05:13] Tsumagari commented on #21761
It is hard to say, I actually submitted #20692, but while I was doing that, I felt that this solution may be not good. This solution will force translators who adds many translation files to change many links in other existing files. Translators should be careful.
I want to ask you help. Is there any other solution which is translator-friendly?

[2019-10-18 11:01] Roshanjossey commented on #7243
@raphaelminacio , go ahead.

[2019-10-18 13:42] trunganhwork commented on #21384
Well, since the list is quite long, I think it will be a little hard to look for your language. By ordering it, you may not have to look through all the list to find a language, you just have to scroll to a part of it.

The list in the readme.md now is honestly quite difficult to look for a language. I suggest ordering it, and if you can use their own characters to write the language's name that m

[2019-10-18 15:23] Roshanjossey commented on #21384
I still don't understand what's the order you're suggesting.

[2019-10-18 19:34] gzine commented on #21384
I submitted a Pull Request to address this issue.

[2019-10-18 19:41] trunganhwork commented on #21384
Oh I mean, use a standard country code table and list the languages alphabetically: AD, AE, AF ... for Andora, UAE, Afganistan,... I think this one is nice: https://wiki.openstreetmap.org/wiki/Nominatim/Country_Codes

I think just use the country names or language codes for the order.

[2019-10-19 07:20] raksh07 commented on #18949
Can I work on this issue

[2019-10-19 17:39] ananyamgupta19 commented on #18949
hey i want to solve the problem

[2019-10-21 10:54] Roshanjossey commented on #21384
Fixed in #21434

[2019-10-21 10:54] #21384 closed

[2019-10-21 13:57] Ajax-Light commented on #21761
We could come up with a script which would automatically move the files and update the required links based on the language specified by the user.
I'm currently working on this to solve this issue...... I need a little more brainstorming before I can come up with a robust solution/

[2019-10-25 06:11] Mari234 commented on #21159
would it be possible to also change the name of the folder and have the additional-material.md as the readme? That way it would be faster to get there und you would immediatly see that there are many infomation concerning git. Mabye then people won't overlook it so easily

[2019-10-25 07:19] zerx commented on #7243
I'm working on Hungarian translations.

[2019-10-25 08:59] zerx commented on #7243
Finished hungarian translation: #22629

[2019-10-25 09:02] Roshanjossey commented on #21159
I'd disagree that having `additional-materials.md` as the main 'Readme` would be an improvement.

We want users who come here to go through the tutorial with as little friction as possible. If we put in a link, this is another step.

So, while this will improve visibility of additional materials, it comes at a cost of losing effectiveness of the project as a whole.

[2019-10-25 14:37] Mari234 commented on #21159
i didn't mean to use it as a main Readme, I think the main readme is good. I meant to use it as readme in the folder additional-material. Or is it impossible for a subfolder to have a readme? I am new at git. That way you could reach it through the folder structure and the link in the main read.me

[2019-10-26 03:49] snehit31 commented on #21159
Advanced Git Techniques

[2019-10-27 11:09] andika207 opened #22810 "issue"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2019-10-27 11:09] #22810 closed

[2019-10-27 13:45] caprica-Six commented on #21159
Git - Tips and Tricks!

[2019-10-29 07:29] zerx commented on #7243
Finished hungarian translation, fix src urls on pull request: #22629

[2019-10-29 09:18] sureshmangs commented on #21159
Dive deep into Git

[2019-10-29 09:30] snehit31 commented on #21159
That's really a good phrase.

[2019-11-02 16:11] sureshmangs commented on #21159
Thanks

[2019-11-07 10:03] Roshanjossey commented on #10499
Reopening this issue as we've had people reach out to us on slack that some text editors (Like Atom) is slow when opening `Contributors.md`.

The repository size is about 220MB now. In this, about 210MB is in `.git`.

Re initializing git will bring us down to about 20MB.

Reducing the entries in Contributors.md to about 1000 entries will help text editors too.

@CraftyDH , I don't understand how t

[2019-11-07 10:47] CraftyDH commented on #10499
@Roshanjossey a simpler option would be to simply have the clone code say that you can use the depth flag to download only the last 100 commits. For example:
git clone https://github.com/this-is-you/first-contributions.git --depth 100

[2019-11-07 10:52] Roshanjossey commented on #10499
@CraftyDH, Using depth will work for this project. But when the contributors works on other projects, they shouldn't do it.

This project should act like a tutorial/ playground for the best practices we follow in open source communities. Teaching something that's tailored for this repo is not a good way to proceed.

[2019-11-07 10:54] CraftyDH commented on #10499
I meant we should have a side note for people who the size is too large to download after all it is a usefull to know when working on large projects which are large themselves.

[2019-11-07 11:25] CraftyDH commented on #10499
@Roshanjossey for what I said earlier we create a branch called 2019 based on the first and tell everyone to commit to that branch as we are working on that at the end of the year, create a new branch called 2020 and squash merge 2019 into that.

git checkout 9dceaffe4654c2da4d54d9f9b4efd531e94cfefb // First commit
git checkout -b 2019 // Make branch 2019
git merge master --squash // Squash all co

[2019-11-07 11:26] Roshanjossey commented on #10499
Again, this would be something that open source community doesn't suggest you do.

Also, the repo size is still at 50 MB with `.git` taking up 40MB. I think we can do better.

[code]

[2019-11-07 11:45] CraftyDH commented on #10499
@Roshanjossey because each commit is a full [snapshot](https://willi.am/blog/2014/10/14/for-the-last-time-git-stores-snapshots-not-diffs/) of the whole repo not just a diff the only way to make it smaller is to download less commits.

[2019-11-07 13:19] Roshanjossey commented on #10499
This is not true (at least for this project)

Lets compare this repo to a fork of this repo

[code]

[code]

`this-is-you/first-contributions` has 16771 commits
`firstcontributions/first-contributions` has 45120 commit. So, 28349 commit ahead of `this-is-you/first-contributions`

If git had saved a snapshot object for all of these 28349 commits, this repo would be about

28349 * 5MB // I've taken

[2019-11-08 12:31] anowlcalledjosh commented on #10499
Each commit is _conceptually_ a snapshot of the whole repository, but git doesn't store duplicate copies of files – so if a file isn't changed by a commit, a new copy of that file won't be added.

Even copies of files which differ aren't stored in their entirety, though. If that was the case, then this repository would have grown far beyond a manageable size a long time ago; there are currently al

[2019-11-08 13:07] Roshanjossey commented on #10499
@anowlcalledjosh,

Yes, this is the problem we're trying to solve here. We used to have code for our web app here which was later moved to `firstcontributions/firstcontributions.github.io` with `git filter-branch`

Technically, we should be able to fix this by using `git gc`. [Stack Overflow reference](https://stackoverflow.com/questions/2116778/reduce-git-repository-size). I tried this and it wor

[2019-11-27 23:47] DXTkastb commented on #11007
I have tried to explain branching with the help of an example.

[2019-11-30 07:53] mubarak23 commented on #13955
I will love to add another link to a good resource on writing commit message, am free to create a pul request, actually this is my first time contributing to open source

[2019-12-08 01:41] Melanie-Harris commented on #18949
If this is still an open issue, I would like to dive in.

[2019-12-08 11:42] Opinion opened #23823 "Broken relative links and outdated tools sections in translations of README.md"
It looks like a lot of the translated files have incorrect links to other documents in the repository. The tools section isn't updated everywhere either.

I noticed issue #16789 but decided to make a new issue since this issue is focusing on translations of the README.md and possibly preventing these issues in the future.

🐞 **Problem**
The following links seem to be consistently broken across man

[2019-12-08 11:45] Opinion commented on #23823
I have started working on this over at #23820.

[2019-12-08 13:38] Opinion commented on #23823
I have finished my work on #23820 for now and waiting for review. It addresses broken relative links and updating of tools sections in translated files.

This is one of my first actual contributions so if you want me to do something differently, please let me know! 😄

The main `README.md` still uses relative links. If anyone is interested, you can make a pull request and mention this issue or leav

[2019-12-08 15:29] Opinion commented on #7243
@Roshanjossey, I translated the README.md to Norwegian #23819, waiting for review 😄

[2019-12-18 04:44] LukeSungukJung opened #23953 "question"
Can I add my name in Contributor.md  file?
Is that able to merge?

[2019-12-18 14:45] kaliomar commented on #23953
yeah please do it, if you don't know how, please read the READ.me after that if you find a problem please ask here :)

[2019-12-18 18:27] kaliomar opened #23964 "Enhance Arabic translate for ReadMe.md"
I think Arabic translation need some improvements.

🐞 **Problem**
Some words looks like it translated by google translation.

🎯 **Goal**
Changing some words to be more understandable for Arab.

[2019-12-19 10:17] LukeSungukJung commented on #23953
thanks for comments! I did it!

[2019-12-19 10:17] #23953 closed

[2019-12-22 08:26] suttonwilliamd opened #24015 "Translations for the GUI tools are also needed!"
Translations of the original ReadMe are fantastic, but our non-English speaking friends should have the GUI tools at their disposal too.

🐞 **Problem**
GUI tutorials are only in English :(

🎯 **Goal**
Every language represented in the ReadMe should also have a tutorial for each GUI tool.

💡 **Possible solutions**
Put the same flag based links from ReadMe into each GUI tutorial, linking to translat

[2019-12-23 16:10] agarwalBinay18 commented on #23964
i am contributing!!

[2019-12-25 17:09] Sibuscus commented on #24015
I'll start a Macedonian translation one. Is that okay? I already have a pull request for the main README.md without GUI tools

[2019-12-29 10:02] iqbalpb01 opened #24125 "HTML Veiw should be added"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2019-12-30 19:28] Mstava commented on #23964
Hi @kaliomar, I am Egyptian and speaking Arabic and I will contribute to edit the ReadMe.md.

just I want to know if @agarwalBinay18 is working on it or not?

[2019-12-31 02:01] agarwalBinay18 commented on #23964
No..i am not working on it!!!

On Tue, 31 Dec, 2019, 12:58 AM Mustafa Abdallah, <notifications@github.com>
wrote:

[2020-01-01 23:40] isa3bel commented on #24125
will you expand on this? I am down to take it, but I'm not sure what you're exactly asking here.. I'm new to open source

[2020-01-02 09:47] Roshanjossey commented on #23964
Hi @kaliomar, thank you for opening this issue. Could you please elaborate on which words needs to be improved?

@Mstava, We have an Arabic translations and a different Egyptian translation

https://github.com/firstcontributions/first-contributions/blob/master/translations/README.ar.md

https://github.com/firstcontributions/first-contributions/blob/master/translations/README.eg.md

They're slightl

[2020-01-07 19:08] justinas-marozas commented on #7243
Hi @Roshanjossey, can I add Lithuanian translation?

[2020-01-08 12:16] Roshanjossey commented on #7243
@justinas-marozas , we have a Lithuanian translation here https://github.com/firstcontributions/first-contributions/blob/master/translations/README.lt.md

[2020-01-10 23:47] Mstava commented on #23964
Hi @Roshanjossey, Yes I'd like to contribute, could you guide me on what to do?

[2020-01-10 23:54] Mstava commented on #23964
I have seen these translations and it sounds good @Roshanjossey

[2020-01-12 12:04] loia5tqd001 commented on #7243
The Vietnamese translation wasn't sound natural and the links in the markdown weren't also correct (broken links). I improved it at https://github.com/firstcontributions/first-contributions/pull/24328

[2020-01-21 08:26] Rop89 commented on #24125
Same here - new to open source - not sure what you are asking

[2020-01-24 01:07] travisricks opened #24578 "Grammar fixes in automated PR close message"
I've updated this message with US English grammar. If it conflicts with your style please disregard.

---

Hi  @user, I'm quite elated about your pull request. I want to evolve this project to address various problems faced by first-time contributors. I'd love to learn about your journey in the open source community, the problems, and pain points you've had etc.

Could you explain how you felt whi

[2020-01-24 14:37] Roshanjossey commented on #24578
Thank you for opening this issue.

I've been thinking of rewording this and improving the formatting for some time now.

Let's see if we can make this more interesting.

Comment down if you have suggestions on what changes we should make.

[2020-01-25 19:04] ron-huberfeld commented on #4072
I can work on it

[2020-01-25 19:09] sara-02 commented on #4072
@ron-huberfeld Kindly lookout if the PRs for the same exists or not. If not, you can add them.

[2020-01-29 01:19] soundarb commented on #24125
Same here too, new to open source contributions. Not sure about the ask, please elaborate.

[2020-02-05 23:51] rachael-smith commented on #24125
same

[2020-02-06 19:18] Abishek15592 commented on #21159
According to me, the better phrase for Additional material could be "Other Helpful Git commands". This would also induce other people to click the link on seeing the topic.

[2020-02-06 21:55] #4072 closed

[2020-02-11 11:55] KhanShaheb34 opened #24932 "Mistakes in the Bangla Translation"
There's a broken link and some missing sentences in the [BanglaTranslation](https://github.com/firstcontributions/first-contributions/blob/master/translations/README.bn.md)

🐞 **Problem**

* A mistake in a link in the Bangla translation of the README file.
* A missing sentence in the Bangla translation of the README file.

🎯 **Goal**

As the link is broken it will make people confused and it also

[2020-02-11 11:58] KhanShaheb34 commented on #24932
I already did a pull request ( #24931 ) to solve this problem. Please someone review and accept the PR.

[2020-02-13 16:09] andre4400 commented on #24125
Is there a download able file where we can actually see for a problem. Don't really get the description you just made.

[2020-02-17 19:58] Ruben80 commented on #24125
What is the problem?

[2020-02-18 12:59] Helderjfl commented on #10499
Because of the Contributors.md size, when there is a conflict, the online editor doesn't work to solve it.

[2020-02-19 08:11] mdrathik opened #25124 "Added Flags into translations/readme.bn.md PR #24923"
🐞 **Added Flags into translations/readme.bn.md**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*  Now Everyone can go to another language easily

[2020-02-29 01:33] chrisfoose commented on #12690
Anything that still needs to be done?

[2020-02-29 19:07] deehaz commented on #24125
Would love to work on this, if you can elaborate more on the task.

[2020-03-06 13:16] Roshanjossey commented on #24125
I'm closing this as the person who originally posted this issue hasn't replied to any of the questions and we're unsure what their intention was.

[2020-03-06 13:16] #24125 closed

[2020-03-06 13:18] #24932 closed

[2020-03-06 13:18] #25124 closed

[2020-03-06 17:28] raux opened #25572 "Software Engineering Survey on survey regarding newcomers onboarding and sustainability"
Hi Maintainers of First-contributors,

First thanks for the great work!

This is not really an issue so please close as soon as it reaches the right person. Basically, we wanted to announced that this is a great website and service you are doing and we would like to study it from a research perspective.

We have been circulating a survey just to your community, and only for those that are willing

[2020-03-08 06:26] krishnadevz commented on #10499
So after reading issue and possible solutions i think we can/you guys can create **first-contribution.github.io** site and user can have to update code in index.html otherwise create branches in repo then size can be spilted .

[2020-03-20 09:41] shinmem58 opened #25826 "Hebrew translation issue"
:beetle: Problem
Alignment issue in the hebrew translation in the "Fork this repository" section. The image of the action is not in the section.
In addition, found a few language fluency issues.

:dart: Goal
Have the fork image be in the fork section and fix language fluency issues.

:bulb: Possible solutions
Replace the non-fluent part with more accurate terms.
Fix alignment issue.

:clipboard: S

[2020-03-20 09:41] shinmem58 commented on #25826
I fixed those issues and made a pull request: Adress #25764

[2020-03-28 23:15] michaeldkebede opened #26001 "Link to Intellij guide non-existent from other guide pages"
🐞 **Link to Intellij guide non-existent**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this proje

[2020-03-29 21:11] fumiadeyemi commented on #18949
Is this still an issue?

[2020-04-03 11:06] ashwinraj-in opened #26102 "Difference between Commit and Contribution?"
What is the difference between commit, pull request and contributions?

[2020-04-03 16:14] aamirmir001 commented on #26102
To commit means to make changes to the master repo. You can commit changes once you decide to contribute whereas contribution is a general term that's means to contribute anything to an opensource project. You can contribute in many ways like modifying existing code add documentation, add more features ect

[2020-04-03 16:18] aamirmir001 commented on #24015
For those who do not speak English they can use the GitHub desktop app for that and carry out the process

[2020-04-07 18:41] ari-os310 opened #26198 "Spanish Translation README Has Extra English Paragraph"
🐞 **Problem**
Extra English paragraph about Forking that didn't get removed.

🎯 **Goal**
Best to keep the document in all Spanish as close as possible.

💡 **Possible solutions**
Removing the paragraph should do.

📋  **Steps to solve the problem**
Have removed paragraph on my local, will commit and push changes.

[2020-04-09 06:16] alexchoiweb commented on #26001
Added a link to Intellij in Kraken guide and created a pull request, not sure the best way to test though

[2020-04-11 02:23] Celestine4cpp commented on #10499
The cloning is making it a terrible experience for a newbie like me. This is an open issue since 2018 and yet it has not been fixed. Please veteran contributors, kindly look into this.

[2020-04-12 03:02] als1 opened #26281 "Broken liks in Translations.md: Bulgarian and Magyar"
On the translations page (other languages from the README), 2 of the language specific links seem to be broken: Bulgarian and Magyar because they have an extra "trasnlations/" prefix in the path.

To reproduce:

1. go to README

2. click on "other languages" above the flags

3. click on Bulgarian or Magyar - you get a 404

Fix is simply to remove the "translations/" prefix in the paths for these l

[2020-04-12 04:02] als1 opened #26283 "Hover text for flags on README page"
🐞 **Problem**

The flags on the README page are kind of small and some of them are fairly similar so it's hard to distinguish them. It would be nice to have a tooltip when you hover over a flag so you know if you are on the country/language you are looking for.

🎯 **Goal**

It would be easier to find the actual language you are looking for in the list of flags.

💡 **Possible solutions**

You could

[2020-04-12 04:22] als1 commented on #26281
Pull request #26282 added. Please review and merge to master.

[2020-04-12 04:24] als1 commented on #26283
Pull request #26284 added. Please review and merge.

[2020-04-20 18:23] VODINHCUONG commented on #26001
Tuy cap

[2020-04-20 23:10] jclocks commented on #7243
Hi @Roshanjossey, I'd like to start an Esperanto translation for the project, and will go ahead and get started if that's alright.

[2020-04-21 10:51] TaissyrSt commented on #10823
I can translate it to french.

[2020-04-22 11:57] kevinnls opened #26494 "Outdated README.fr.md"
🐞 **Problem**

* [README.md translation for French](../blob/master/translations/README.fr.md) is outdated
* Language improvements are possible
* Some links to images are broken

🎯 **Goal**

* Could benefit french-speaking beginners

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this i

[2020-04-22 11:58] kevinnls commented on #26494
I have started working on this [issue](#26494)

[2020-04-22 12:39] kevinnls commented on #26102
To elaborate on the comment above,

### commit
Git is a software to keep track of various **states** of all the project files in the repository. When you commit you are registering the current state of all the files. Each commit you make, is a new state of the project in the repository. No matter how you change a file, Git will not recognise the changes until you have committed the changes. This m

[2020-04-22 12:46] kevinnls commented on #21159
**Git Tips** sounds best. It's short and the words just flow together.
Git is a short name. And, I feel adding more words to an already short name would not give it a nice ring.

[2020-04-24 08:25] #26102 closed

[2020-04-24 16:07] TaissyrSt commented on #26494
Hi,
I can speak French, I can start working on this issue if possible.

[2020-04-25 14:12] Coruna opened #26564 "Question: How do you merge automatically?"
First of all: thanks for this repo! I made my first PR here and it made me confident to go further :clap:

After having GitHub understood a little bit better I am still curious about how you managed to merge the PRs automatically? I first thought you used GitHub Actions, but I don't see any YAML files.
Would be nice if you could give some insights how you managed to do this :pray:

[2020-04-25 18:12] kevinnls commented on #26494
hi @TaisyrST
Yes please.
1. Open my PR #26572
2. Click on `Files Changed`
3. Wherever you see possibilities for improvement, Click on the <kbd>+</kbd> next to the line number and drop a comment / suggestion :smile:

[2020-04-26 22:38] am-firnas opened #26600 "following the constant README pages when moving between 'tutorials using other tools'"
🐞 **Problem**
inconsistent icons on the bottom of README when moving between 'tutorials using other tools'
eg: intelliJIDEA icon is missing when we are in the sourceTree tutorials page
🎯 **Goal**
get rid off the confusion and reduce inconsistency in README file

💡 **Possible solutions**
go through available READMEs and consider every other possible remaining icon and put them

[2020-04-26 22:40] AMFIRNAS opened #26601 "include tamil as a language"
🐞 **Problem**
Tamil language readme is missing

🎯 **Goal**
enabling Tamil language in README file and provide the translation file

💡 **Possible solutions**
create the translation file and include in the project and also mention that **TA** tag in the README.md

[2020-04-26 22:41] am-firnas opened #26602 "icons for language mentions in README.md"
🐞 **Problem**
low user friendly

🎯 **Goal**
provide icons for each languages

💡 **Possible solutions**
looking for matching simple and easily guessing icons

[2020-04-29 00:50] decon-harsh commented on #10823
Hey I want to add a github work flow image in this documentation. It will be helpful in understanding github terms and what they are doing. Let me know if you want me to do this.

[2020-04-29 07:56] kevinnls commented on #26601
Hi @AMFIRNAS would you be able to provide the Tamil translation?
It would be very helpful.

[2020-04-29 09:47] AMFIRNAS commented on #26601
yes, I can work on it.

[2020-04-30 05:05] AMFIRNAS commented on #26601
Hi all,
this is done, could someone having 'write access' look into the PR, please?
thanks

[2020-04-30 20:43] arctdav commented on #26564
I think it's manual.

[2020-05-01 15:55] Coruna commented on #26564
I am pretty sure, it's not manually :smiley:
@Roshanjossey commented in #14441 that s/he uses a bot for the merging. Hence I am interested in how s/he is doing it?

[2020-05-02 21:31] Roshanjossey commented on #26564
Hi @Coruna, I've a bot that merges pull requests. It uses GitHub APIs, webhooks to do it.

I'll put the code for the bot when I get some time.

[2020-05-02 21:34] Roshanjossey commented on #26564
I should probably look into GitHub actions to see if it'd help me. Let me know if you're interested to work on that front.

Right now, my priority with respect to this project is to reduce the size of the repo so that more people can access it and do something about all the open pull requests

[2020-05-02 21:36] Roshanjossey commented on #10499
@Celestine4cpp , I understand the pain point. This is my first priority now. I've to do some clean up and I'll be ready to significantly reduce the size.

[2020-05-02 21:42] #26601 closed

[2020-05-03 11:58] Celestine4cpp commented on #10499
Thank you @Roshanjossey

[2020-05-04 11:30] Coruna commented on #26564
@Roshanjossey I am interested and might give it a try but I am not sure if my capabilities with GH Actions are sufficient :wink:
I guess the requirements are: merge all PRs concerning the file "Contributors.md" automatically if there are no conflicts?

[2020-05-04 12:17] Roshanjossey commented on #26564
@Coruna, don't doubt your capabilities. Give it a try. I'll try to help if you have questons.

You're right about the requirements. I have an additional check t see if the change made was only one line addition (because we don't want to merge changes that deletes everything or adds a lot of garbage data)

[2020-05-06 07:24] Coruna commented on #26564
Ok, I'll give it a try :+1:
the most difficult part will be the "one line change" I guess

[2020-05-06 18:10] #26564 closed

[2020-05-07 00:37] adeskmr opened #26846 "automerge_pr fail when adding contribution"
After pushing the code it says that I failed the automerge_pr. What is cause this failure for a few people?

🐞 **Problem**
When adding my name to the contributions list and add my fork to the pull request i get an error
`##[error]Parameter token or opts.auth is required`
Is this a normal issue?

🎯 **Goal**
This should be helpful to understand why this error occurs.

[2020-05-07 07:00] Roshanjossey commented on #26846
@adeskmr, we made some changes recently to use Github actions to merge pull requests. This is not working because of an auth problem. We're looking into solutions.

[2020-05-07 08:01] Coruna commented on #26846
@Roshanjossey ok, I try to find the solution. First guess: it's not the code, it's something in the settings area

[2020-05-07 08:09] Coruna commented on #26846
@Roshanjossey just a quick guess, you changed the code to
`repo-token: ${{secrets.MergeToken}}`

where I wrote:
`repo-token: ${{secrets.GITHUB_TOKEN}}`

The docs say:

So this might be the problem and changing it back could do the trick. I am doing a PR for testing my theory :)

[2020-05-09 15:05] Coruna commented on #26846
I think this issue can be closed because the failing workflow has been removed (see #26868)
@adeskmr
@Roshanjossey

[2020-05-09 15:36] #26846 closed

[2020-05-09 16:16] Roshanjossey commented on #10499
[code]

We've brought this down to 18MB now. Closing this.

[2020-05-09 16:16] #10499 closed

[2020-05-09 20:38] am-firnas commented on #26600
Issue #26001 is a sub of this (#26600) issue .

[2020-05-12 22:47] sidx8 commented on #26602
hi
I'm interested in this issue can I start working on it. I already made added some icons #27003

[2020-05-13 14:21] am-firnas commented on #26602
Hi @sidx8
it's glad you are interested, but actually it will be more meaningful if we add icons of languages instead of country flags.
That means to replace the text with icons of the first letter of each language.

[2020-05-13 14:29] am-firnas commented on #26602
Hi @sidx8
glad that you are interested, but actually it will be meaningful if we can have the icons of languages instead of icons of country flags.
That means icons may represent the first letter of each language or any sort of language representations.

[2020-05-13 14:37] am-firnas commented on #26602
Hi @sidx8
good that you are interested in. Yes, you can start working on this after #27003 is merged.

[2020-05-14 08:09] Roshanjossey commented on #26602
@am-firnas, @sidx8 submitted #27003. Let's wait for all icons to be there.

[2020-05-15 10:10] Roshanjossey commented on #7243
@jclocks, go ahead :vulcan_salute:

[2020-05-17 12:37] girishmm commented on #26602
I would like to point out something I believe is related to this issue. In the README file, along with the flag icons, a hyperlink titled 'GUJ' is present. I think 'GUJ' stands for Gujarati (an Indian language). If so, it would be better to add it to the [/translations/Translations.md](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md) as done for o

[2020-05-18 11:41] y-martinez commented on #26600
Pull request #27098 added, please review it

[2020-05-19 04:07] 9982108331 commented on #7243
@9982108331 nice one

[2020-05-19 04:11] 9982108331 opened #27174 "How To Search projects"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-05-20 07:35] #26600 closed

[2020-05-20 08:00] Roshanjossey commented on #26198
Hi @ari-os310, I'm sorry I couldn't merge your pull request because of the conflicts caused by a force push. I've removed the extra paragraph myself.

Thank you for your contribution.

[2020-05-20 08:00] #26198 closed

[2020-05-21 13:32] Roshanjossey commented on #26602
@girishmm, Fixed it

[2020-05-22 00:15] sara-02 commented on #27174
hey @9982108331 you can visit https://firstcontributions.github.io/

[2020-05-22 00:15] #27174 closed

[2020-05-22 00:17] sara-02 commented on #26281
@ais1 can you verfiy that this is fixed now? If yes, kindly close the issue :)

[2020-05-22 00:20] sara-02 commented on #18949
@Chovin Can you verify the new changes and close this issue if we are good?

[2020-05-22 00:41] als1 commented on #26281
@sara-02 doesn't look like this is fixed. Looks like the pull request was merged and closed, but my changes are not there. If you look at translations/Translations.md, Bulgarian and Magyar still have the extra "translation/" dir prefix, which causes a 404 when you click on these from the translations page. I also don't see my changes in the git history for translations/Translations.md. What do you

[2020-05-26 14:07] imhojang commented on #7243
Hello @Roshanjossey, I think the Korean translation could sound a little more natural than as it is now. Mind if I go ahead and make some improvements ? 😀

[2020-05-26 15:41] Roshanjossey commented on #7243
@imhojang, sure go ahead. Please request a review when you submit a pull request. Refer to https://github.com/firstcontributions/first-contributions/blob/master/.github/CONTRIBUTING.md for reviewers

[2020-05-27 09:31] Roshanjossey commented on #24578
I've made changes to the message.
You can find the new version here https://github.com/firstcontributions/merge-bot/blob/master/api/merge.js#L64.

Please create an issue in `merge-bot` project to suggest changes. Closing this for now.

[2020-05-27 09:31] #24578 closed

[2020-05-28 11:01] Roshanjossey commented on #26281
Hi als1, we recently reset this repository to reduce it's size and make it accessible to more users.

Because of this, #26282 couldn't be merged.
This was because of the force push I did. I apologize for the trouble it caused.

I've fixed the error in `Translations.md` now.

[2020-05-28 11:01] #26281 closed

[2020-05-29 19:24] dA505819 opened #27498 "Add tutorial to add description in pull request."
🐞 **Problem**

During code review of many pull requests in this repository, I found that first time contributors are not learning to describe the pull request they are opening and it can be a hurdle in their learning process because contributing open source. collaborating open source will require documentation of work properly.

🎯 **Goal**

Describing pull request is the an important step to get t

[2020-05-31 08:36] Harshad-droid commented on #26602
Hi, I want to work on this issue. Can I take this up?

[2020-05-31 10:13] Roshanjossey commented on #27498
I personally don't think that this is a problem worth addressing.

Title of the pull request can be used to describe what it's for. This is also why description is optional

[2020-05-31 13:46] dA505819 commented on #27498
@Roshanjossey You're right! Title of the pull request can be used to describe what it's for and description is optional by default by github also but teaching and getting the first time contributors to open source a habit to add description to important pull request in their future projects can be a good practice from our side.

[2020-06-01 21:25] iko1133 commented on #7243
Hey, @Roshanjossey , as I have seen, no one has yet added Georgian, can I start working on it?

[2020-06-04 07:42] swathi-krishna23 commented on #13955
can you assign this to me please. i will love to give it a shot as i am a person who took a tutorial on good commit messages

[2020-06-04 18:43] shubhidua commented on #27498
@dA505819 hello! i would like to work on this issue

[2020-06-06 02:50] NaveedAhmadHematmal opened #27691 "Pashto and Dari (Afghanistan) translation"
🐞 **Problem**
Readme files translation in Pashto and Dari languages should be added.

🎯 **Goal**
Open source first contributors who speaks Pashto and Dari will take benefit of this translation.

💡 **Possible solutions**
Add translation

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add th

[2020-06-06 02:51] NaveedAhmadHematmal commented on #27691
I'm interested in this issue can I start working on it.

[2020-06-08 01:51] d-stephenson opened #27738 "Flags are not displaying on readme on firefox 77.0 (64-bit)"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-06-08 01:54] dwewers opened #27739 "Flags don't show on my version of Chrome"
🐞 **Problem**
On the version of Chrome that I have (83.0.4103.97), the flags don't show on the readme. I would also like the New Zealand flag to be added if it hasn't already

🎯 **Goal**
I would like this fixed as it is a key part of the readme. I would benefit from this being fixed in increased satisfaction.

💡 **Possible solutions**
NA

📋  **Steps to solve the problem**
NA

[2020-06-08 02:04] Harprit-singh opened #27741 "I can't find punjabi language"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-06-08 02:11] astizm opened #27743 "Is the Maori flag, Tino Rangatiratanga, able to be shown? I cannot find it."
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-06-08 02:26] Frank-Schulz opened #27744 "Language list in README shows only 3 flags on Chrome Version 83.0.4103.97 (Official Build) (64-bit)"
In the language options list on the README.md shows only three flags on Chrome Version 83.0.4103.97 (Official Build) (64-bit). (Catalan, Galician and Pirate)

This list should be complete with flags, to provide better ease of use, especially since not all languages share the English alphabet. Currently this could make it harder for people to go to their preferred language.

Appropriate flags shoul

[2020-06-08 19:57] a2281888999 opened #27768 "Fb"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-06-09 00:37] OGALI commented on #27498
By conventien, I should s say that first put your branch name in brackets then describe.

[Branch-name] Fixing this issue...

or perhaps this is for branches that are actually on the upstream repo and not the fork?

[2020-06-09 03:28] juliana0101 commented on #27741
Posso traduzir todas as línguas.
Comprometo organizar e decifrar códigos
Addresses #<put issue number here>
Solicitação de retirada
🎉

[2020-06-09 03:37] juliana0101 commented on #7243
PHYTON TRADUZIDO EM ARÁBI PARA TORRE DE BABEL.
Addresses #<put issue number here>
README.md
🎉🎉🎉

[2020-06-09 03:40] juliana0101 commented on #26602
Mesclada para tradução
Língua universal da torre de BABEL

[2020-06-09 09:17] Roshanjossey commented on #27498
@OGALI , how does adding branch name in description help? Can't you see source and target branch on the pull request itself?

[2020-06-09 09:39] Roshanjossey commented on #27741
@Harprit-singh , you can't find it because it's not translated yet here. Would you like to do that?

[2020-06-09 09:40] Roshanjossey commented on #27768
I don't understand the issue from the title. Please describe

[2020-06-09 09:44] Roshanjossey commented on #27691
@NaveedAhmadHematmal , please go ahead.

[2020-06-09 09:45] Roshanjossey commented on #27743
That should mean that those translations don't exit in our project yet.

[2020-06-09 12:26] juliana0101 commented on #27741
Sim pode me enviar.

Enviada do Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Roshan Jossy <notifications@github.com>
Sent: Tuesday, June 9, 2020 6:40:07 AM
To: firstcontributions/first-contributions <first-contributions@noreply.github.com>
Cc: Juliana Barone <j.baronee@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [firstcontributions/first-contrib

[2020-06-09 20:55] juliana0101 commented on #27741
Estou entusiasmada para colaborar com você. Aguardo 🎉🌎🐜⚡

Enviada do Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Juliana Barone <j.baronee@hotmail.com>
Sent: Tuesday, June 9, 2020 9:26:00 AM
To: firstcontributions/first-contributions <first-contributions@noreply.github.com>; firstcontributions/first-contributions <reply@reply.github.com>
Cc: Comment <comment@norep

[2020-06-10 11:39] Roshanjossey commented on #27741
@juliana0101 , if you want to contribute, you can submit a pull request with your changes.

[2020-06-13 05:50] pateljannat commented on #10823
I would like to add documentation for having a .gitignore file. Can I start?

[2020-06-21 15:15] God-father1 commented on #27744
I would like to work on this issue.

[2020-06-22 09:17] #27768 closed

[2020-06-22 17:42] ImanMohi opened #28171 "Typo in the readme doc"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-06-23 08:08] Roshanjossey commented on #28171
@ImanMohi, could you please give us more details? What's the typo?

[2020-06-23 14:16] #28171 closed

[2020-06-25 13:48] Ujjwal3009 commented on #26494
I can start working on this issue if possible.
@kevinnls May I help you?

[2020-06-25 13:51] 04x21 commented on #26494
Yes I’ll be grateful if you can.

On Thu, Jun 25, 2020 at 14:49 Ujjwal3009 <notifications@github.com> wrote:

[2020-06-25 13:52] kevinnls commented on #26494
hey @Ujjwal3009 check out my PR #27782
and pop in any suggestions you have. would help a lot.
thanks!

[2020-06-26 16:19] #24015 closed

[2020-06-28 11:27] lievre95 opened #28353 "Problem with displaying the push."
Hi, I had to work with my study-project on these weekend from another host, and made two pushes. The first one on 26 and second one on 27 Juny. First one I made with help of drop-and-drop feathure provided form gihub. The second one made due to VCS's IntelliJ integrating. I entered my credentials, CNTR+K and CNTRL+SHIFT+K, ok, logs ok, but the green squard was nevertheless grey. I thouht that's la

[2020-06-28 13:39] BedrockCoder commented on #27744
I think I may have found a solutio

[2020-07-01 12:09] Roshanjossey commented on #28353
Hi @lievre95, I'm not really sure how I can help you here.

I'm assuming that in the different host you used, the git config might not be set.

[code]

In this case, GitHub might not associate your commit with your account.

There are ways to change the author of commits once it's made.
You can read these for more information
https://stackoverflow.com/questions/3042437/how-to-change-the-commit-aut

[2020-07-02 12:51] Roshanjossey commented on #27744
We have a discussion about the same in https://github.com/firstcontributions/first-contributions/issues/26602

[2020-07-02 12:51] #27744 closed

[2020-07-02 12:51] Roshanjossey commented on #27739
We have a discussion about the same issue in https://github.com/firstcontributions/first-contributions/issues/26602

[2020-07-02 12:51] #27739 closed

[2020-07-02 12:52] Roshanjossey commented on #27738
We have a discussion about the same in #26602

[2020-07-02 12:52] #27738 closed

[2020-07-02 18:56] lievre95 commented on #28353
Thank you for replying , I'll check configurations on my PC as soon as possible. Unfortunatelly, I haven't access now to it. Remarkable, that I did nothing specific on these hosts to change author of commit. The VCS "Log In" from these hosts was the same, but their behaivour is different.

[2020-07-08 10:46] aaaakshat opened #28608 "README.md phrasing clarification"
The README states that you should not add your name to the start or end of CONTRIBUTORS.md:

It isn't clear if this is just convention or if there is a particular reason behind it. If there are potential harmful side effects of adding your name to the start or end of the file, it might be beneficial to make it more clear.

Personally, I'm not sure why this is done, so if someone can tell me why I

[2020-07-10 13:11] Roshanjossey commented on #28608
Adding name to `Contributors.md` is something very specific to his project. It's something we suggest to simulate change that you will do in other projects Following that, the suggestion to add it somewhere in between is also specific to this tutorial. It's not relevant in other projects.

It's not a convention. It's not relevant outside this project.

**Reasoning behind it**
We use a bot to merge

[2020-07-11 15:31] aaaakshat commented on #28608
Understood. Thank you.

[2020-07-11 15:31] #28608 closed

[2020-07-17 19:19] Anirudhk07 commented on #28353
Is it a private repository ?
Private contributions are not shown by default and, when enabled, are completely anonymized to the general public because We think including your work in private repositories is a more accurate representation of your contributions, but your privacy is important too.

[2020-07-21 10:32] Vanshikagarg17 commented on #21159
**More about Git** sounds good!

[2020-07-22 10:01] darkRaspberry opened #29034 "Make the contributor list clear(Alphabetical and correct render of markdown)"
🐞 **Problem**

The contributor list contain unorganized names and incorrect markdown syntax

🎯 **Goal**

To make the contributor list clean so anyone can find any name by alphabetical order by name or by username.

💡 **Possible solutions**

Apply a nodejs sort script

📋  **Steps to solve the problem**

*   Readme should include a instruction that name should be added in correct markdown syntax
*

[2020-07-22 14:32] Anita-ihuman commented on #29034
I am on this task

[2020-07-22 14:36] pradeep1kumar commented on #27741
i want to work on this can you please allow me

[2020-07-22 14:52] darkRaspberry commented on #29034
YUP

[2020-07-23 05:52] JuMorcego commented on #27741
yes I want to participate and translate.
Addresses #<put issue number here>
thanks guys⚡

[2020-07-23 08:07] JuMorcego commented on #27741
npx create-react-app my-app

[2020-07-23 12:08] Roshanjossey commented on #29034
@darkRaspberry, I think we have different ideas about the content of `Contributors.md`. In my humble opinion, content in `Contributors.md` doesn't matter.

The purpose of this tutorial is to help people to learn how to do pull requests on GitHub. `Contributors.md` is merely there to simulate a change.

We won't keep the content in `Contributors.md` forever. When this file gets bigger and  new user

[2020-07-23 12:51] darkRaspberry commented on #29034
@Roshanjossey
I think this as a event so that people can remember this awesome event.
Like this is our first PULL REQUEST aka PR.

so people can share snippet as "See my first PR.
Like achievements.
In this case this sorting is great.

Although you can always close this issue. You are collaborator.

[2020-07-23 14:34] Roshanjossey commented on #29034
Pull requests and patches are saved by GitHub. It'll be easier to use GitHub's search to find it

![pull request](https://user-images.githubusercontent.com/8488446/88299001-27d32880-cd02-11ea-8bfa-d9f07af82c1c.gif)

This is the second pull request in this repo. Their name is not in Contributors.md, but the pull request is still there.

[2020-07-23 14:35] Roshanjossey commented on #29034
I'm not trying to close this issue. I'm trying to understand your point.

[2020-07-23 15:03] darkRaspberry commented on #29034
Thanks for the tutorial. I know search pull request.
As I stated. That's my only point. It just more appealing to see a sorted list and find your name in list.

OK I am just saying that 😊

[2020-07-23 15:36] Roshanjossey commented on #29034
Again, I think we have different understanding about the content of that file.

Think about it like this. Let's say you're starting to learn Javascript and start with

[code]

Here, the string `Hello world` doesn't really matter. It could be `I can code`, `hello` or 'hi` and it doesn't make a difference.
What you're learning is how to invoke a function or there is a `console` object and you're cal

[2020-07-23 15:47] darkRaspberry commented on #29034
YUP.

[2020-07-23 15:51] Roshanjossey commented on #29034
@darkRaspberry, If you don't mind, I'll keep this issue open. I had to reply to similar questions before and I think it make sense to get the opinion of other people on this issue. Maybe they have other perspectives.

[2020-07-23 22:45] lievre95 commented on #28353
It was a problem with pushing from Intellij after VCS integration, by default it was not-selecteed who pushes.

[2020-07-23 22:45] #28353 closed

[2020-07-24 09:02] darkRaspberry commented on #29034
Yup. 😊

[2020-07-25 20:24] Anita-ihuman commented on #29034
I am facing some issues with this.

I ran a script that fetches the contributors list from github and then write it to a `Contribution.md` file. The issue is is that the response from github returns only 420 contributors for the project

Below is the code

[code]

[2020-07-26 13:10] Roshanjossey commented on #29034
@Anita-ihuman, please go through the rest of the comments in this thread. We've decided not to address this issue.

Now to debug the script, check individual pages `https://api.github.com/repos/firstcontributions/first-contributions/contributors?per_page=100&page=5`, `https://api.github.com/repos/firstcontributions/first-contributions/contributors?per_page=100&page=6`

Also, GitHub will also rate

[2020-07-27 03:27] sonukushwaha403 opened #29197 "can not find nepali language translation"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-07-27 09:37] viveksahu26 commented on #29197
hi sir , i would like to work on this issue, can you please assign me this issue to sort it out..

[2020-07-27 09:44] sonukushwaha403 commented on #29197
yes ,you may proceed ,if u dont know nepali you can copy and paste it on google language translator .
best wishes

[2020-07-28 10:06] Roshanjossey commented on #29197
@sonukushwaha403 , We have Nepali translation of the tutorial here https://github.com/firstcontributions/first-contributions/blob/master/translations/README.np.md.

I think you're not talking about this, but nothing else.

@viveksahu26, Please call everybody here by their names or usernames. Let us figure out what we're missing here.

[2020-07-30 03:43] prateek-ml commented on #27741
@Harprit-singh You can yourself add your language here if you want

[2020-07-30 18:48] Visenna88 commented on #7243
@Roshanjossey, I have checked Ukrainian translation and I would like to make it more natural, as far it does not look nice. Will it be fine?

[2020-07-31 11:33] Roshanjossey commented on #7243
@Visenna88 , sure. Please go ahead.

[2020-07-31 18:33] Visenna88 commented on #7243
#29368 Guys who are Ukrainian-speaking, please review.

[2020-08-04 02:21] veerreshr opened #29461 "cant find kannada translation"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-08-04 14:14] Roshanjossey commented on #29461
Hi @veerreshr , you can't find it because we don't have it. If you're interested, you can submit a merge request and we'll review it.

For reference, checkout the pull requests referenced in this thread https://github.com/firstcontributions/first-contributions/issues/7243

[2020-08-04 14:18] #25826 closed

[2020-08-04 14:18] Roshanjossey commented on #12690
@TomerPacific, we cleaned up quite a bit. Closing this for now.

[2020-08-04 14:18] #12690 closed

[2020-08-04 14:19] Roshanjossey commented on #27743
Closing this as there was no update. Please reopen it if something needs to be addressed.

[2020-08-04 14:19] #27743 closed

[2020-08-04 14:20] Roshanjossey commented on #25572
@raux, can we close this now?

[2020-08-04 14:25] raux commented on #25572
Yes you can close. @Roshanjossey . Actually, we have some results of our survey that we would later share with those that participated. Thank you so much ;)

[2020-08-04 14:44] #25572 closed

[2020-08-05 03:29] qy9708 commented on #7243
Hi, can I do some minor updates for the Bahasa Melayu translation?

[2020-08-05 07:39] Roshanjossey commented on #25572
@raux, Could you please share a link to your results here? I'm quite interested in the results. I'm sure GitHub is also keen to learn how to improve their products.

[2020-08-05 07:42] Roshanjossey commented on #7243
@qy9708 , sure . Please submit a pull request with your changes.

[2020-08-05 23:29] raux commented on #25572
@Roshanjossey. We are preparing a web page soon and pre-print of our results. We have also acknowledge first-contributions and plan to also email all participants on the results. We plan to follow-up with full results in the next coming months as well.

Many thanks,
Raula

[2020-08-06 08:04] Roshanjossey commented on #25572
Awesome. Thank you for the update @raux :)

[2020-08-07 14:24] raux commented on #25572
@Roshanjossey Here is the preprint. https://arxiv.org/pdf/2008.02597.pdf. We will make a website soon and also email all the participants soon. Very excited.

[2020-08-07 14:28] Roshanjossey commented on #25572
@raux, great. Thank you for the link

[2020-08-09 18:33] jclocks commented on #7243
I apologize, not going to have the time to dedicate to an Esperanto translation after all, pulling off this so anyone else can give this a go that would be more capable.

[2020-08-09 18:49] hqrshguptq opened #29637 "Not able to compare branches"
🐞 **Problem**
Not able to compare branch, Gives an error saying "both are entirely different branches"

[2020-08-10 08:48] Roshanjossey commented on #29637
@hqrshguptq, I took a look at https://github.com/hqrshguptq/first-contributions and from what I can see, you forked this repo before two months. During this time, we reset this repo to reduce it's size. So, the commit history in this repo and your fork is completely different. That's why you're getting that error.

To fix this, I suggest you delete your fork of `first-contributions` and fork again

[2020-08-10 21:25] hqrshguptq commented on #27741
I want to become maintainers for German and Sanskrit :).
Happy Contributing!
Thanks

[2020-08-10 21:26] hqrshguptq commented on #29637
Yea, thanks 💯

[2020-08-10 21:28] hqrshguptq commented on #29637
Opened it again for someone who faces the same issue in future.
Happy Contributing! :)

[2020-08-11 07:46] Roshanjossey commented on #29637
@hqrshguptq, I don't think many people will have this problem in the future. Most users create a pull request very close to when they fork

[2020-08-12 06:11] kurshakuz opened #29706 "Inconsistency in links to translations"
Hello everyone,

as I have noticed there is a slight inconsistency in the available languages flags in the [readme other languages section](https://github.com/firstcontributions/first-contributions/blob/master/README.md#read-this-in-other-languages) and [Translations](https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md) table.

For example, some langu

[2020-08-12 14:37] Vinamra2009 commented on #7243
Hi, Can I add the translation in Kannada Language?

[2020-08-13 03:00] danrubberman opened #29739 "Myfirst"

[2020-08-13 07:17] Roshanjossey commented on #29739
I'm closing this assuming that this is was you trying out how to create issues. Please update and re-open if that's not the case.

[2020-08-13 07:17] #29739 closed

[2020-08-13 07:47] Roshanjossey commented on #29706
@kurshakuz, once you find the inconsistencies or when someone comments down here, could you keep a checklist of what's done and what needs to be done in the issue description above? That'll help with getting an overview of the issue.
Like the following
 - [ ] Link to https://github.com/firstcontributions/first-contributions/blob/master/translations/README.mx.md is missing in Translations
 - [ ]  L

[2020-08-13 09:30] #29637 closed

[2020-08-13 09:32] Roshanjossey commented on #29461
Closing this as @Vinamra2009 volunteered to take care of this. https://github.com/firstcontributions/first-contributions/issues/7243#issuecomment-672911026

[2020-08-13 09:32] #29461 closed

[2020-08-13 09:32] Roshanjossey commented on #7243
@Vinamra2009 , sure.

[2020-08-13 10:51] hqrshguptq commented on #27741
Hey @Roshanjossey
How could I become a maintainer for German and Sanskrit languages? :)
Happy Contributing!
Thanks

[2020-08-14 03:08] Vinamra2009 commented on #29706
Hey, @Roshanjossey I would like to take up this issue.

[2020-08-14 05:36] kurshakuz commented on #29706
@Vinamra2009 ok, looking forward to see your PR :)

[2020-08-14 09:56] Roshanjossey commented on #27741
@hqrshguptq, we already have a maintainer for German. I could also mention you in reviews if someone requests changes there.
We don't have Sanskrit language translation yet.

[2020-08-14 11:42] hqrshguptq commented on #27741
Cool, thanks for the response!

[2020-08-14 11:43] hqrshguptq commented on #27741
Cool, thanks for the response!
I will DM something on slack, please check.. :)

[2020-08-15 08:35] Coruna opened #29789 "[Enhancement] Using GH Actions for automerge (2nd try)"
GitHub completed a feature for triggering Actions out of a Fork (see https://github.com/github/roadmap/issues/75). So maybe we could give it a try (again)?

Topic was mentioned before in issue #26564 and PR #26826
@Roshanjossey

[2020-08-15 08:49] Coruna commented on #29034
I don't wanna add much to the discussion as I see it the way @Roshanjossey said.
For those who want to show their first PR as a kind of trophy I recommend https://firstpr.me/ :smile:

![Bildschirmfoto_2020-08-15_10-47-20](https://user-images.githubusercontent.com/51291572/90309020-d1ae6b00-dee4-11ea-9dca-201df327cc38.png)

[2020-08-15 17:34] Roshanjossey commented on #29789
Hi @Coruna, sure. Let's try again. Can we try the action on your fork first?

[2020-08-15 20:23] jishu-yadav commented on #26283
Hi!! I am very new to open source contributions ...so can anyone plz help and suggest how to proceed.

[2020-08-16 09:45] Coruna commented on #29789
@Roshanjossey: Ok, good idea I prepared my fork https://github.com/Coruna/first-contributions
Everyone is welcome to test it :test_tube:

[2020-08-16 18:29] AkshayaKulasekaran opened #29833 "Consistancy"
🐞 **Problem**
- Entries without bullet point
- Links that are not correctly rendered

🎯 **Goal**
- Fix previous entries
- Ensure new entries follow the pattern

💡 **Possible solutions**
- If possible, I'd like to deal with the previous entries
- Someone should create a four-line guideline in the comments at the top of the contributions page

[2020-08-17 03:31] Baibhab97 commented on #29706
Hi @kurshakuz , I would like to help with this issue if it isn't closed.

[2020-08-17 08:14] Roshanjossey commented on #29833
Hi @AkshayaKulasekaran, we're discussing about the significance of the entries in Contributors.md in https://github.com/firstcontributions/first-contributions/issues/29034. Please go through the discussion there. If you still feel strongly about this, please reopen this issue or add comments to #29034

[2020-08-17 08:14] #29833 closed

[2020-08-17 12:23] AsheeshMishra commented on #29706
Hey @kurshakuz  I would like to work on this issue

[2020-08-17 14:36] kurshakuz commented on #29706
Hi @AsheeshMishra !

Great! Please have a look at the above [PR](https://github.com/firstcontributions/first-contributions/pull/29843) and my comments there. Feel free to help out the Baibhab with noticing inconsistencies.

[2020-08-17 18:33] Roshanjossey commented on #29789
@Coruna, I tried it but didn't work https://github.com/Coruna/first-contributions/pull/3/checks?check_run_id=995005295

The error message doesn't give much infromation

[2020-08-17 20:23] shub-garg commented on #29706
I would like to contribute if the issue isn't closed.

[2020-08-20 07:32] HarshilShrivastava commented on #29706
great i also want to contribute

[2020-08-20 07:33] HarshilShrivastava opened #29927 "start"
how am i suppose to get started with contribution in open source projects like this

[2020-08-20 09:30] PrinceProjects commented on #29927
Read the README file, all the steps are explained in detail and its really simple to get started with this.

[2020-08-21 07:41] Roshanjossey commented on #29927
@HarshilShrivastava, the tutorial in this repo is aimed at giving you a hands-on experience on the workflow of contributing to open source.

As the next step, we suggest you projects to contribute to on our web app and provide you support on our slack community.

Does this answer your question? Was your expectation of getting started with contributions in open source entirely different? Then, we'd

[2020-08-26 08:02] kurshakuz commented on #29706
@HarshilShrivastava @shub-garg take a look at the last milestone. Looking forward to see your PRs

[2020-08-26 09:49] shub-garg commented on #29706
I added a PR updating the readme for a better look,  please review it. And I couldn't find any broken links for the translations in the English readme page. I will check for the missing translation links on other pages soon.

[2020-08-26 10:15] shub-garg commented on #29197
I don't think we are missing Nepali language translation. I can see it at least on the English Readme Page. @sonukushwaha403

[2020-08-26 17:57] prakharindoria commented on #29706
I would like to contribute on this issue,

[2020-08-28 06:45] Kerveyfelix commented on #10823
In the documentation tutorial, under "clone the repository section " there is a separate icon to clone and download. However, in the current GitHub webpage, there isn't separate clone and download button. Instead the clone URL is provided under code button. Thus I am would like to work on updating the documentation tutorial so that first-time contributors like me do not get confused.

[2020-08-29 01:00] DanielDeSouzaMelo opened #30171 "Add tutorial to show how to open up a .md file with a text editor of your choice."
🐞 **Problem**
When going through the tutorial, I found myself confused when it said to open up the file with a text editor because the tutorial didn't said how. It just said to do it.
🎯 **Goal**
Show how to open up files on Git, which could benefit new users.
💡 **Possible solutions**
Simple make an instruction showing the command to open up a .md file.

[2020-09-02 06:11] swapniljha001 commented on #18949
I think this issue was resolved last year, closing this issue will be good to avoid confusion.

[2020-09-02 06:12] swapniljha001 commented on #29034
Great find @Coruna.

[2020-09-06 11:29] Dev-Mehta opened #30428 "Improved Gujarati Readme"
🐞 **Problem**
Some of the words in README.guj.md were not proper according to regional translation of the words.

💡 **Possible solutions**
How about #30427

📋  **Steps to solve the problem**

* I have already submitted a pull request for that
* Waiting for your reviews

[2020-09-07 06:59] akshat-fsociety commented on #29706
@kurshakuz I would like to contribute if the issue isn't closed.

[2020-09-07 12:00] Roshanjossey commented on #29927
Closing this as there has been no updates for a while

[2020-09-07 12:00] #29927 closed

[2020-09-07 14:35] Roshanjossey commented on #27498
@dA505819, I'm closing this issue as the change suggested is not quite relevant to this project.

[2020-09-07 14:35] #27498 closed

[2020-09-07 14:42] Roshanjossey commented on #29034
I'm getting more pull requests about sorting contributors list alphabetically.

It could be that those contributors are only reading the title of this issue and not going through the comments to understand what we decided here. So, I'm closing this issue to avoid confusion for people who might do that.

[2020-09-07 14:42] #29034 closed

[2020-09-08 05:38] simranmahindrakar commented on #13955
Is this issue open to a PR?

[2020-09-09 10:03] YashvirSinghNathawat commented on #26283
Hey i am working on this issue..
I have one problem like some translations have no flags like Gujarati,Marathi and Hindi,etc all this are in India.
My suggestion:- A small icon with intials like GJ for Gujrati on a orange or any colour background.
Waiting for your decision

[2020-09-10 17:43] Roshanjossey commented on #30428
#30427 is merged now. Closing this.

[2020-09-10 17:43] #30428 closed

[2020-09-11 11:57] JWKelly29 opened #30564 "Broken link in README.md"
🐞 **Problem**
The link "Join slack team" is now broken in the #where-to-go-from-here section of README.md

![image](https://user-images.githubusercontent.com/21162252/92922729-339fb900-f42e-11ea-8d7c-3c3d65da130d.png)

🎯 **Goal**
Allow users to find the slack team.

💡 **Possible solutions**
If the working link is known, replace the current redirect link with the working one.

[2020-09-11 11:57] JWKelly29 opened #30565 "Broken link in README.md"
🐞 **Problem**
The link "Join slack team" is now broken in the #where-to-go-from-here section of README.md

![image](https://user-images.githubusercontent.com/21162252/92922729-339fb900-f42e-11ea-8d7c-3c3d65da130d.png)

🎯 **Goal**
Allow users to find the slack team.

💡 **Possible solutions**
If the working link is known, replace the current redirect link with the working one.

[2020-09-11 11:58] #30564 closed

[2020-09-13 05:05] mdsheraj123 opened #30606 "Make it easier to understand what we are doing when following the steps in README.md"
Resolution for a problem I faced when following [README.md](https://github.com/firstcontributions/first-contributions/blob/master/README.md)

🐞 **Problem**
This is my first time contributing to open source at GitHub. I read the [README.md](https://github.com/firstcontributions/first-contributions/blob/master/README.md) and the steps were understandable but I could not realize that what I had to do

[2020-09-14 18:11] KarenEfereyan commented on #30565
@JWKelly29 how do i get the working link

[2020-09-14 18:13] KarenEfereyan commented on #30606
Yes , I guess simplifying the readme will be helpful

[2020-09-15 08:00] Roshanjossey commented on #30565
I'll create a working link and post it here. Give me two days.

[2020-09-15 08:02] Roshanjossey commented on #30171
@DanielDeSouzaMelo , I'm closing this for now. If you feel strongly about this, please reopen it with a comment

[2020-09-15 08:02] #30171 closed

[2020-09-15 08:37] Roshanjossey commented on #26283
One decision we took for countries that have multiple official languages is to add a link from the flag to Translations.md. From there, users could read the name of  the language in the same language and navigate there. So, the title text for the flag could just be a list of all these translations we have.

[2020-09-15 13:27] KarenEfereyan commented on #30565
@Roshanjossey looking forward to it

[2020-09-15 18:14] Roshanjossey commented on #30606
@mdsheraj123, I don't quite understand the problem.

Is there a part of the Readme that suggested this?

```what's better than actually doing the stuff in a practice environment? If you are looking to make your first contribution, follow the steps below.```

Isn't it clear from the above lines that this is a walkthrough?

The point of following the tutorial here is not to become a contributor here

[2020-09-15 18:17] Roshanjossey commented on #30606
@KarenEfereyan, did you have the same confusion @mdsheraj123 did?

What were the sections that were complicated to you? What's your suggestion to make it simpler?

[2020-09-15 20:46] Roshanjossey commented on #30565
https://join.slack.com/t/firstcontributors/shared_invite/zt-hfcq788y-QaXzXT5clBBWukXQyBhH4w

Here's a link I generated now. It expires in 30 days.

[2020-09-15 21:30] KarenEfereyan commented on #30565
Ill fix the issue then

[2020-09-16 02:00] joshuaDclark commented on #30606
Great tutorial on getting started in open source. However I had an issue when trying to push, getting a 403 error code saying "Permission Denied". Not sure why, has anyone experienced this?

[2020-09-16 09:55] Roshanjossey commented on #30606
@joshuaDclark, I'm guessing that you might not have created a fork of this project and cloned that. Make sure that you forked https://github.com/joshuaDclark/first-contributions

[2020-09-16 13:39] KarenEfereyan opened #30734 "Pull Requests aren't reflecting my changes"
🐞 **Problem**

I have followed all the steps to making a contribution
-  Forked this repo
-  Cloned it to my system
-  Created a branch
-  Added my name in contributors file
- Committed my changes
-  Pushed the changes to my branch
- Created a PR(Here is where the problem lies)
- The comparison should be between the firstcontributions/firstcontributions repo and the master branch and KarenEfereyan

[2020-09-16 13:44] mdsheraj123 commented on #30606
My thought process when approaching this project was to somehow get a 'Hello World!!!' of Open source contribution at GitHub but could not get that here because the instructions seemed generic.
This project actually does give a 'Hello World!!!' which I later realized but it does not seem that it aims to do so. It's ok, but for someone going through the help it gives in the Readme, if it is clear t

[2020-09-16 17:02] Sheetal777 commented on #29706
Hello, I am new to GitHub and contribution. After viewing these issues, I think I can help with the content. So, if the issue is not closed yet, could I be assigned for the same?

[2020-09-16 23:12] joshuaDclark commented on #30606
Ah I see, I didn’t clone my fork. Thanks for that, I’ll give it another go.

Sent from my iPhone

[2020-09-17 08:10] Roshanjossey commented on #30606
@mdsheraj123, you're right. The tutorial doesn't aim to be a 'Hello world' even if it is one. I think that's a good thing. If you check the title of the section where we suggest users to add their name in Contributors.md, you can see that it's **[Make necessary changes and commit those changes](https://github.com/firstcontributions/first-contributions#make-necessary-changes-and-commit-those-change

[2020-09-17 08:46] mdsheraj123 commented on #30606
@Roshanjossey https://guides.github.com/activities/hello-world/ is for an introduction to GitHub not to open source. The difference is that you have to discuss with others in open source.
I have used GitHub but never contributed to open source as I had never been introduced to it.

[2020-09-17 10:53] Roshanjossey commented on #30734
@KarenEfereyan, I found the problem. You created the fork before April this year. After that we did a reset to reduce the size of the repo. Because of this, the commit history of this repo and your fork is different and can't compare branches.

To solve this problem, please delete your fork and fork it again

[2020-09-17 11:28] Roshanjossey commented on #30606
@mdsheraj123, I still don't see why `Here we will help you become a contributor just by adding your name!` is important.

I've tried to explain why it's not important in the comments above. Is there something you disagree with on that point? Is there something that needs more clarification?

[2020-09-17 13:41] KarenEfereyan commented on #30734
Will that solve it or do i need to delete the fork of the repo entirely?

[2020-09-17 14:19] Roshanjossey commented on #30734
Yes, that's what I suggested `please delete your fork and fork it again`

[2020-09-17 18:05] KarenEfereyan commented on #30734
Will do just that @Roshanjossey thank you

[2020-09-18 14:33] Sudhee-bsp commented on #30565
I have just updated the link with working slack link, waiting for merging for PR:)

[2020-09-18 14:34] KarenEfereyan commented on #30565
Waow

[2020-09-18 16:13] Roshanjossey commented on #30565
Merged. Closing this issue

[2020-09-18 16:13] #30565 closed

[2020-09-18 18:27] Roshanjossey commented on #29197
Closing this as we have a Nepali translation. Please reopen of this is not correct

[2020-09-18 18:27] #29197 closed

[2020-09-18 18:32] #16027 closed

[2020-09-19 13:58] Roshanjossey opened #30831 "FAQ / Common errors and how to resolve them."
This issue thread is to address common problems you might encounter while following this tutorial. If you don't find the problem you're facing in here, comment below.

1. when trying to push, getting a 403 error code saying "Permission Denied"

    You might not have cloned your fork of first-contributions. Make sure that you go to your fork and clone it from there.

1. Can't compare to create pul

[2020-09-19 14:00] Roshanjossey commented on #30734
I've created #30831 to collect common problems.

Closing this issue in favor of that one.

[2020-09-19 14:00] #30734 closed

[2020-09-21 12:51] MallikarjunHt opened #30902 "Auto merge"
🐞 **Problem**
just a feature request to add on automate merge

🎯 **Goal**
crawl across forked repo`s and auto merge if no conflict to new branch merge or dev

💡 **Possible solutions**
using actions we cam automate

📋  **Steps to solve the problem**
* Create a GitHub action to merge pull requests that meets certain conditions ([find conditions here](https://github.com/firstcontributions/merge-bot/b

[2020-09-22 07:33] garvitgupta13 commented on #26602
I am interested to solve this issue. I have already added a Bangladesh flag under pull request #30933. Can I start working on this

[2020-09-22 08:13] Roshanjossey commented on #26602
@garvitgupta13, Please read through the comments of https://github.com/firstcontributions/first-contributions/pull/27003. I'll update this issue as well.

Basically, we would like to use a spritesheet for this and the assets we use should be open source.

[2020-09-22 13:06] Roshanjossey commented on #30902
@mallikarjunht1997, we already have automation for merging with the help of webhooks and and GitHub APIs.
You can see that most pull requests in https://github.com/firstcontributions/first-contributions/pulls?q=is%3Apr+is%3Aclosed was merged automatically.

**Regarding GitHub actions**

We actually wanted to make this move so that I don't have to maintain a service for this.
However, when we tried

[2020-09-23 10:13] MallikarjunHt opened #30968 "Sort contributor.md"
🐞 **Problem**

Every time some one edits a `contributor.md` file names were not in order

🎯 **Goal**

as new users come they might not use the right syntax and the list is difficult to read

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Ad

[2020-09-23 10:34] mallikarjunht1997 commented on #29034
Learning to use *Github Actions* and thought this might be the right place to interact
Here is the preview **Happy To Learn**
![sortedlist](https://user-images.githubusercontent.com/40291553/94001572-4fa04480-fdb6-11ea-804f-f6a25a799a37.png)

[2020-09-23 11:57] Roshanjossey commented on #30968
@mallikarjunht1997, I read your comment on https://github.com/firstcontributions/first-contributions/issues/29034.
I don't think that's a good reason to have sorting in contributors.md.

I've wrote about my thoughts on why the content of `Contributors.md` is not important in https://github.com/firstcontributions/first-contributions/issues/29034#issuecomment-662969843 and https://github.com/firstco

[2020-09-23 12:31] Sergih28 opened #30973 "Improve Catalan Readme"
I was who created the Catalan readme a couple years ago and I can see some improvements can be done.

🐞 **Problem**
- Translation can be improved
- It has some broken links
- It's missing some "Tutorials using other tools" pages at the end of the file

🎯 **Goal**
Sync Catalan readme with the English one.

💡 **Possible solutions**
- Update some expressions
- Fix broken links
- Add missing "Tutorial

[2020-09-23 18:07] Shyamashrita commented on #30973
Check my pull merge

[2020-09-23 18:22] Sergih28 commented on #30973
I don't know what you're trying to do here #30983 @Shyamashrita :sweat_smile:

[2020-09-23 19:32] Roshanjossey commented on #30973
@Sergih28, I think it was a confusion. I've updated the issue statement to include a link to help anyone looking for the translation.

@Shyamashrita, this issue is not for changing the issue template but translations/Readme.ca.md.

[2020-09-24 10:02] #26602 closed

[2020-09-24 12:05] Roshanjossey commented on #26283
We've made some significant improvements in how we display flags for translation now. I think this is a good time to work on this issue and improve it further. I'll update the issue description with more details.

[2020-09-24 12:12] Roshanjossey commented on #30606
I'm closing this issue as there has been no further comments. Feel free to open it if we have to discuss this further.

[2020-09-24 12:12] #30606 closed

[2020-09-24 12:15] KarenEfereyan commented on #30606
Sure. Thanks

[2020-09-24 14:29] HarshishBedi commented on #29706
I would like to take this up as my first issue. This is my first repo.

[2020-09-24 19:14] Roshanjossey commented on #29706
@Sheetal777 , @HarshishBedi, If you haven't gone through the tutorial in the Readme file here, I'd recommend that you do that first. I'm not sure what else needs to be done to address this issue.

I've updated the issue description with what is yet to be done on this front.

[2020-09-25 03:05] SAY-droid427 opened #31046 "I can't find Bengali language in translation"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-09-25 08:30] Roshanjossey commented on #31046
@SAY-droid427, This is our Bengali translation https://github.com/firstcontributions/first-contributions/blob/master/translations/README.bn.md

Can you check if you can find a link to it on https://github.com/firstcontributions/first-contributions/blob/master/translations/Translations.md?

[2020-09-25 09:53] Roshanjossey commented on #21159
How about

### Learn more

Simple, short.

[2020-09-27 10:55] abideen305 commented on #30831
If you have issue with pushing when you fork a repository, it probably means that the url you copied is the origin repository which you don't have access to. You will need to copy the url from your own repository.

[2020-09-28 08:54] Roshanjossey commented on #30968
@MallikarjunHt, I'm closing this as there hasn't been any further discussion on this issue. Feel free to open this if you feel something was not addressed.

[2020-09-28 08:54] #30968 closed

[2020-09-29 04:55] genesisgabiola opened #31274 "Organize Contributors List Alphabetically"
🐞 **Problem**

Hard to find names because they are put randomly, and it's ugly to see.

🎯 **Goal**

Users can easily find the list of names that are organized properly. New users can easily add their names if there is a pattern to follow.

💡 **Possible solutions**

List all the names in alphabetical manner, and add a table of contents for the alphabets to easily link to the corresponding letter.

[2020-09-29 07:00] genesisgabiola commented on #31274
Made a PR #31277

[2020-09-29 07:00] genesisgabiola commented on #31274
Addresses #31277

[2020-09-29 10:01] Roshanjossey commented on #31274
@genesisgabiola, please read through the comments in https://github.com/firstcontributions/first-contributions/issues/29034

If you have any disagreements or different points that we haven't discussed, I'm open to discuss it.

[2020-09-29 10:51] genesisgabiola commented on #31274
@Roshanjossey, thanks for responding.
I read and understood the discussion about sorting it alphabetically, however my PR not just only sort them alphabetically but also added a table of contents for alphabets.
This repo is good for beginners and it will be better if they can follow the sorting pattern.
I believe that doing a simple PR is already enough as a first contribution, but displaying it i

[2020-09-29 11:32] Roshanjossey commented on #31274
Do you also agree with the points I made there? My main point is that the contents of `Contributors.md` is not important.

But why is it better? Do the people going through our tutorial learn anything new about open source or the workflow of contributing to projects by adhering to a rule we put on the content of that file?

Let me try to see this from my perspective. Forget about the aspect of how

[2020-09-29 12:31] genesisgabiola commented on #31274
I agree, since the reason why this repo was created is for beginners to start contributing for the first time.
If contributing just for the sake of contributing, then its fine.
Thank you for this discussion.

[2020-09-29 12:55] Roshanjossey commented on #31274
Cool cool cool

Yes. This repository is like a sandbox. A place where people can practice without fear.

[2020-09-29 12:55] #31274 closed

[2020-09-29 12:57] Roshanjossey commented on #29706
The last two changes required has been fixed in https://github.com/firstcontributions/first-contributions/pull/31294

[2020-09-29 12:57] #29706 closed

[2020-09-29 13:04] Roshanjossey commented on #31046
Closing this as the question has been answered.

[2020-09-29 13:04] #31046 closed

[2020-09-29 16:12] garvitgupta13 commented on #26283
@Roshanjossey can I work on this issue

[2020-09-29 17:31] kurshakuz commented on #29706
Thank you, @deekshalala !

[2020-09-29 18:48] Roshanjossey commented on #26283
@garvitgupta13, sure go ahead

[2020-09-30 19:49] TomerPacific commented on #26283
@Roshanjossey , do you need help with this issue?

[2020-09-30 21:12] 2tanayk commented on #26283
@Roshanjossey can I work on this issue?

[2020-09-30 21:49] Bose400 opened #31493 "**problems **"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this  project
✍

[2020-09-30 21:54] Bose400 commented on #31493
,{close issue}

[2020-09-30 21:56] Bose400 commented on #31493
< open issue >

[2020-10-01 02:12] Kerveyfelix commented on #26283
@Roshanjossey  Can I work on this issue?

[2020-10-01 07:40] btlin1213 commented on #30973
Hi, can I work on this one?

[2020-10-01 08:26] endrose commented on #30831
1. cant push maybe in windows credential  get problem.
![image](https://user-images.githubusercontent.com/24805619/94785428-d201b780-03f9-11eb-97f2-bce1ca2777b8.png)
trying remove, and set config again " git config --global user.email and git config --global user.name  "

[2020-10-01 08:37] Roshanjossey commented on #26283
Updates on this issue:

We have two pull requests to address this issue now.
https://github.com/firstcontributions/first-contributions/pull/31427
https://github.com/firstcontributions/first-contributions/pull/31648

There are some changes required in these pull requests, so, I'll add a review to them.
@TomerPacific, @2tanayk, @Kerveyfelix, it would also be good if you can also take a look at the c

[2020-10-01 08:41] Roshanjossey commented on #31493
Hi @Bose400, as there's no description about the issue, I'm closing this assuming that you're practicing how to create issues here.

[2020-10-01 08:41] #31493 closed

[2020-10-01 10:02] Drzaln commented on #7243
Hi, can i add transalation for Indonesian language?

[2020-10-01 10:04] Drzaln commented on #7243
Hi, can i add some minor update for Indonesian language?

[2020-10-01 10:35] Roshanjossey commented on #7243
@Drzaln, go ahead.

[2020-10-01 11:25] 2tanayk commented on #26283
@Roshanjossey  yes having a look at this issue and changes reqd. ,do you need any help from me with this issue?

[2020-10-01 12:23] Roshanjossey commented on #26283
Fixed with #31648 and #31427. Closing.

@2tanayk, this issue is fixed. Please look at other issues and see if you're interested to work on them.

[2020-10-01 12:23] #26283 closed

[2020-10-01 18:24] carlos1103 commented on #30973
Bona vesprada els links vols dir cambiarlos per els que estan en angles o com? Com podria ajudar? Gracies

[2020-10-02 09:17] Roshanjossey opened #32256 "Copy assets to assets repository"
This will be an issue to track the changes required to move all the assets in this repository to https://github.com/firstcontributions/assets

🐞 **Problem**
The size of this repository is around 34MB now. This will keep on increasing. The assets in this repository is about 10MB big. If we move them to another repository, we can reduce size of this repository and the rate at which it increases.

🎯

[2020-10-02 14:42] Sergih28 commented on #30973
I only changed 1 link, I thought there were more incorrect links. It's pending to merge from that PR.

@carlos1103
La meva intenció era mirar les normes de traducció de softcatala i canviar alguna cosa, però si t'hi vols posar tu, endavant.

There's only left to do the part to improve the translations ("Update some expressions")

[2020-10-02 15:27] MeerHamza1421 commented on #32256
Hey 👋, can I contribute on it for hacktober fest by solving this issue??

[2020-10-03 06:26] coolbrett commented on #32256
I would like to contribute this

[2020-10-03 07:16] Aryan-Abhishek commented on #1721
Hello guys, Can I add something now I am new to open source, looking forward to learning from everyone.

[2020-10-03 08:27] rahmat-st commented on #32256
Hello sir @Roshanjossey, I have tried to fix the second problem, this my PR https://github.com/firstcontributions/assets/pull/7

[2020-10-03 11:42] Roshanjossey commented on #32256
@rahmat-st, I've merged your PR. Also, please call everybody here by their names. You don't have to call anybody 'sir'. You can call me Roshan.

@coolbrett, @MeerHamza1421, I've added more issues.

[2020-10-03 16:39] OverthinkersArea opened #32675 "Pls add #hactoberfest2020,#hactoberfest in topics to opt-in this project for hactoberfest"

[2020-10-03 19:34] Roshanjossey commented on #32675
I think we shouldn't add `hacktoberfest` topic for this repository.

My main reasoning is that this repo doesn't comply with the rules `Hacktoberfest` has set for the event.
You can find it in https://hacktoberfest.digitalocean.com/details#spam

This repository is a learning tool for new contributors.

I understand that there are contributors who have made meaningful contributions here. If there w

[2020-10-04 12:13] NamanPatidar commented on #7243
Can i add hindi translation.

[2020-10-04 14:57] sara-02 commented on #32675
I second with @Roshanjossey here. We should keep this repo as a learning tool and not have people use it to spam their Hacktoberfest PRs.
While documentation and translations form an integral part of this repo, and many a contributions have made that possible, I do not see a way of separately add hacktoberfest topics for some issues/PRs and not others, AFAIK that works on a repo level.

[2020-10-04 18:47] Roshanjossey commented on #32675
Thank you for sharing your thoughts @sara-02.
To be clear, I'm not worried about spam. We can dealt with that. My point is that we shouldn't participate in Hacktoberfest when we can't follow the event rules.

True. They are discussing about labels that we could apply at PR level. So that's something to hope for.

[2020-10-05 01:29] friendofdog opened #32832 "Invalid invite to "Join slack group" in pull request autoreply"
Upon making a pull request, firstcontributions-bot gives an auto-reply with a "Join slack group" link. The Slack invite associated with this link is invalid.

📋  **Steps to solve the problem**

1. Follow first contributions tutorial all the way to creating a pull request
2. Upon creating pull request, firstcontributions-bot makes a comment containing link in question
3. Click on the link, page dis

[2020-10-05 08:17] Roshanjossey commented on #32832
I'll fix this. Give me some time.

[2020-10-05 11:11] lukeocodes commented on #32675
Just my 2c. This project encourages small low-effort PRs, with steps on how to do it. As a guide, it's fantastic and great for open source.

In the context of Hacktoberfest, is it used to reach 4 PRs with low-effort. It should not add the `hacktoberfest` topic, for fear of it being flagged as spam to the moderators.

Translations to this project are **hugely valuable** contributions to the open-so

[2020-10-05 15:52] Jonesey712 commented on #32832
I submitted a pull request last night with a possible fix

[2020-10-05 16:05] nitish-awasthi opened #32913 "Add Nitish-Awasthi"

[2020-10-05 16:06] #32913 closed

[2020-10-05 16:09] Roshanjossey commented on #32832
@Jonesey712, https://github.com/firstcontributions/first-contributions/pull/32840 doesn't fix it. @friendofdog is not talking about the link in Readme. That's working. It's about the link in reply to merged pull requets.

[2020-10-05 16:44] lukeocodes commented on #32675
Tada 🎉

@sara-02 that update has just been released ☝️

Updated as of 10/05/2020 15:00 UTC - https://hacktoberfest.digitalocean.com/hacktoberfest-update

So now you don't need to add the ‘hacktoberfest’ repository topic, but meaningful contributions to this amazing project can still count towards Hhacktoberfest by using the ‘hacktoberfest-accepted’ label on the PR  🎉 🎉 🎉

[2020-10-05 19:03] sara-02 commented on #32675
Yes, this good news for us and the project as well.

[2020-10-06 07:52] sara-02 commented on #32675
@ OverthinkersArea I hope this resolves your query, we will be moving ahead with PR based tag for this repo. And any meaningful PR(mainly other than contributors.md) will be open for evaluation :smiley:

[2020-10-06 08:11] Roshanjossey commented on #32675
@sara-02, let's keep this issue open for anybody who might have a question on how we're handling this.

[2020-10-06 08:42] sara-02 commented on #32675
@Roshanjossey But we may have to clean up the PRs  a bit so that eligible PRs are tracked on time and not missed.

[2020-10-06 09:00] Roshanjossey commented on #32675
I'm trying to clean up about 70 pull requests per day. I feel burned out after that and stop. I'll try to get help.

[2020-10-06 12:48] harichandana1406 commented on #1721
Hello, I'm new to open source. Can any one mentor me or help me to contribute?

[2020-10-06 12:53] sara-02 commented on #32675
I see what is preventing from auto-merge from happening? I was under the assumption that we have that set up already.

[2020-10-06 13:21] Roshanjossey commented on #32675
Merge conflicts. @firstcontributions-bot is doing a great job at auto merging. But, it can't handle merge conflicts.

We had more than 1400 pull requests in the first six days of Hacktoberfest. https://github.com/firstcontributions/first-contributions/search?q=repo%3Afirstcontributions%2Ffirst-contributions+is%3Apr+created%3A2020-10-01..2020-10-06&type=issues

about 1000 got auto merged. I've to t

[2020-10-06 13:23] sara-02 commented on #32675
Got it, will dig in the PRs myself, and at-least mark them, I was thinking we add a new documentation label to our documentation PRs,

[2020-10-06 13:26] Prathyusha2210 commented on #32256
I would like to contribute to this issue. @Roshanjossey

[2020-10-06 13:28] Roshanjossey commented on #32675
Cool. Thank you. Yeah, go for it.

[2020-10-06 14:08] #7243 closed

[2020-10-07 11:23] Roshanjossey commented on #32256
Added two more issues.

[2020-10-07 13:24] Roshanjossey commented on #30902
For anybody interested in this, GitHub has something like this in their roadmap. https://github.com/github/roadmap/issues/107

Let's see where it goes.

[2020-10-07 13:56] harsha14581 commented on #32256
Hi @Roshanjossey, i have created a PR request for this issue.
My PR request https://github.com/firstcontributions/assets/pull/21

[2020-10-08 14:26] puerdon opened #33225 "is "adding 'upstream' remote" a necessary step as mentioned by another tutorials?"
Not sure if it is appropriate to post a question here.

My question is that, in another tutorials (such as [this](https://www.dataschool.io/how-to-contribute-on-github/)), there are three more steps that were not mentioned in this tutorial, which are:

(for these steps' title and description please refer to the link above)

1. Step 5: Check that your fork is the "origin" remote
2. Step 6: Add the

[2020-10-08 15:40] JuanfPuebla opened #33228 "Hola"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-10-08 17:35] Roshanjossey commented on #33225
Hi @puerdon,

These steps are not necessary.

We had them in main tutorial before. We removed it to make the tutorial shorter and easier. This worked for us.

[2020-10-08 17:35] Roshanjossey commented on #33228
Hola Amigo

[2020-10-08 17:35] #33228 closed

[2020-10-08 19:10] sachin-duhan26 opened #33243 "Missing Links and logos💡"
🐞 **Problem**

- Wrong image URL or invalid project contribution links.

🎯 **Goal**

- Adding updated logos and links to the projects on the website.

📋  **Steps to solve the problem**
*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in the commen

[2020-10-08 19:13] Roshanjossey commented on #33243
@sachin-duhan26, please open this issue on https://github.com/firstcontributions/firstcontributions.github.io.

Also add as much information as you can. Let's not leave anything to doubt.

Like give exact details on which URLs are wrong. We shouldn't keep asking ourselves if this issue is fixed.

[2020-10-08 19:13] #33243 closed

[2020-10-08 23:54] LoisGitStuff commented on #33225
I was wondering about that "upstream remote" step, too. Thanks for answering!

[2020-10-09 08:17] puerdon commented on #33225
Thanks for your quick reply!

Please correct me, if I understand the main purpose of these additional steps wrongly.
I understand the step 6 and 7 as doing a safe check so as to prevent the case that the original author have updated his repository just after I clone the forked repo to local side. Without checking it first, I might have run into the problem of contributing to an outdated and unupda

[2020-10-11 11:28] kevinnls opened #33422 "[discussion] restructuring the guide for better clarity"
a discussion to improve structure of the guide by mapping out the objectives of the guide at the beginning and at the end, linking explanations of all steps undertaken in README.md, etc.
***
🐞 **Problem**

- the guide is on point about steps to follow
- however
  - does not provide a clear idea of objectives
  - does not explain `whatthegitjusthappened` i.e. what happened with each git/GH command

[2020-10-11 13:12] kevinnls commented on #33422
@Roshanjossey and community, please take a look

[2020-10-11 18:32] abhishekmangla commented on #33225
Your forked repo's master branch can be out of date so once you make a PR against the upstream repo with your proposed changes, you might not be able to immediately merge. Steps 6/7 help in that case.

You will have to
`git checkout master; git pull upstream master` and then
`git checkout dev-branch; git rebase master`

Now your changes will be on top of the most up-to-date code in the upstream re

[2020-10-12 03:29] ayush-wilfred commented on #33422
I completely agree to what you just stated.
Even I was too confused what's the purpose of these commands.

[2020-10-14 17:31] Roshanjossey commented on #32832
I've updated the link now. Made a few other changes to improve the message. Let me know if you liked it

- Continue contributing: If you're looking for projects to contribute to, checkout our [<img src="https://avatars0.githubusercontent.com/u/65761570?s=88&u=640f39b808c75c6b86460aa907dd030bcca2f3c7&v=4" width="22" title="web app" /> webapp](https://firstcontributions.github.io).
- Join our slack

[2020-10-14 19:49] Roshanjossey commented on #33422
Thank you for creating this issue @kevinnls.

I'll share some thoughts about **Problem** and have a discussion then talk about solutions.

I don't think this is a problem. I think the tutorial is short enough not to have an overview. The 6 steps (fork, clone, branch, change, push, submit) is already short. I don't think a lot of people are confused about the objectives and adding an overview would

[2020-10-15 02:10] kevinnls commented on #33422
i could try asking some friends who haven't contributed to OSS yet and are at varied levels of git expertise to try the guide and add their comments here. would that work for now?

[2020-10-15 03:38] #30902 closed

[2020-10-15 07:45] Roshanjossey commented on #33422
Would it be possible for them to have us on a video call while going through the tutorial or record it.

We haven't done any user testing for almost four years. The closest to that we had recently was https://www.youtube.com/watch?v=ZJy_fIDrVmQ

[2020-10-15 12:47] kevinnls commented on #33422
Discord sound good?

[2020-10-15 14:10] Roshanjossey commented on #33422
Sure, works for me

[2020-10-16 18:53] chnuessli opened #33742 "Link to your Slack channel not valid"
🐞 **Problem**
No valid slack link on the github page

🎯 **Goal**
A valid Slack link.

💡 **Possible solutions**
Enter a valid slack link in the README.md

THANK YOU 👍🏼  amazing page..

[2020-10-19 11:52] ghanender-chauhan commented on #32256
assign me this issue @Roshanjossey

[2020-10-20 03:24] Suraj1199 opened #33973 "Repository not under 'Hactoberfest' topic"
This repository is not under the topic 'hactoberfest', hence PRs contributed here won't be counted valid for Hactoberfest 2020. I would ask the maintainers to put this repo under the 'hactoberfest' topic or at least label the PRs as 'hactoberfest-accepted'.

[2020-10-20 13:46] Roshanjossey commented on #32675
@547y4m, please call me Roshan. Bot doesn't add labels. We add it ourselves if your pull request improves our documentation. Please share a link to your pull request. I'll check.

[2020-10-20 15:22] 547y4m commented on #32675
@Roshanjossey here is my PR #33928 please label it as "hacktoberfest-accepted".

[2020-10-20 15:29] Roshanjossey commented on #33973
Duplicate of #32675.

Please go through the comments there. If you have any questions, you can ask there.

[2020-10-20 15:29] #33973 closed

[2020-10-20 15:31] Roshanjossey commented on #32675
@547y4m, I checked that pull request. The changes in that pull request is only in `Contributors.md`. Please read the comments above to understand how we decide on labeling `hacktoberfest-accepted`

[2020-10-20 15:50] 547y4m commented on #32675
@Roshanjossey I didn't understand how to contribute then? I just followed the steps of Readme.md file and it's my first time participating in hacktober-fest so, please pardon me.

[2020-10-20 16:22] Roshanjossey commented on #32675
@547y4m, no worries.

Steps in the Readme is a tutorial. It helps you understand how to contribute to open source projects.
Find issues to contribute to and make necessary changes to contribute to projects. Let us know if you have any questions regarding it.

[2020-10-22 09:49] eashl003 commented on #13955
May I be assigned to this issue?

[2020-10-22 13:19] Rhitabrat opened #34075 "Inconsistency in the images used in readme files of different langauges other than English"
The images used in the readme files of languages other than English are inconsitent.

🐞 **Problem**
-  The first image (fork.png) has shadow while the other two images (clone.png and copy-to-clipboard.png) do not have shadows.
- The source urls for these images are not the same as the ones used in "README.md".

🎯 **Goal**
- Consistency in images used throughout the repo

💡 **Possible solutions**
-

[2020-10-23 08:17] kevinnls commented on #33422
hi @sarveshh thank you very much for making the PR
but this is actually still a discussion, we have not yet decided which parts of it to implement, but we'll definitely use at least some (if not all) of the work from your PR after we've decided on how to go about the whole thing, so please hold on until then :)

PS: @roshanjossey or @sara-02, could you please add the discussion label?

[2020-10-23 10:11] kevinnls commented on #33422
@agashvaran and @Mckenz31 thank you for participating in the user review last week. on the basis of your experience following the guide, do you have anything to refute / support / add to in the [changes proposed](33422#issue-718815889)?

your contributions are welcomed!

[2020-10-23 23:51] #13955 closed

[2020-10-24 03:10] JiriJAdam commented on #30973
Hello, can I work on this one?

[2020-10-24 03:10] JiriJAdam commented on #10823
Hello can I work on this one?

[2020-10-24 05:27] akshaychaudhari opened #34170 "Add `hacktoberfest` topic/label to the repo."
🐞 **Problem**
Missing label 'hackctoberfest'.

🎯 **Goal**
Users can use PRs in this repo towards hackctoberfest contribution.
It would be great to add a hacktoberfest label to the repo so that it appears on https://hacktoberfest.digitalocean.com/

💡 **Possible solutions**
To add `hacktoberfest` topic/label to the repo.

📋  **Steps to solve the problem**
Add `hacktoberfest` topic/label to the repo.

[2020-10-24 07:27] Roshanjossey commented on #34170
Please read the discussion on #32675. add a comments there if you have anything to add to it.

[2020-10-24 07:27] #34170 closed

[2020-10-25 18:00] jubaan commented on #33742
To complement the issue.

![image](https://user-images.githubusercontent.com/25774518/97114993-8b7e4080-16b9-11eb-9a8e-533bb7aceb4a.png)

[2020-10-27 06:02] badushaebrahim commented on #33742
Yep the error still persists it's causes of the broken link or the pink is either time sensitive or so os simpley add the new working link

[2020-10-27 22:02] JayantGoel001 opened #34301 "Join The Organization"
Hi, I am Jayant. I wanted to know is there any method to join this organization?
I would to love to be part of @firstcontributions.

[2020-10-29 08:39] dr0017 opened #34353 "I can't able to pull the request in this. How can I fix it ?"
🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments section of pull request.
*   Celebrate your contribution to this project. 🎉

[2020-10-29 12:20] Ayush-Kaushik opened #34357 "Add Punjabi Translation"
No translation in Punjabi

🐞 **Problem**
Hi, I noticed that that the translations page didn't have a Punjabi translation. With roughly 122 million native speakers, It is the 10th most widely spoken language in the world. (source: https://www.unitedlanguagegroup.com/blog/six-surprising-facts-about-punjabi-translation)

🎯 **Goal**
I think by adding translation in Punjabi, we'll encourage users who h

[2020-10-29 12:30] Ayush-Kaushik commented on #34357
Hello fellow first-contribution members 👋
  I would really appreciate it if you could review and merge my pull request.
thanks!

[2020-10-29 12:39] Ayush-Kaushik commented on #27741
Hi, I have already translated the page to Punjabi. Here are my issue number and corresponding pull request. I would really appreciate it if you guys could review it: https://github.com/firstcontributions/first-contributions/issues/34357

[2020-10-30 15:01] sanidhyag1 commented on #33742
The link is still not working. Can someone please update the link, i would love to be a part of this community.

[2020-10-31 14:55] BHAKTA-VARUN commented on #32256
please can i contribute in it .@Roshanjossey

[2020-11-04 04:26] SARVESHKHANDELWAL commented on #34301
Same
Hi, I am Sarvesh Khandelwal. I wanted to know is there any method to join this organization?
I would to love to be part of @firstcontributions.

[2020-11-04 04:28] SARVESHKHANDELWAL commented on #33742
Can it contribute ?

[2020-11-04 04:56] SARVESHKHANDELWAL opened #34515 "Adding Dark Mode to the website ."
**Adding Dark Mode to the website is the good to have a different look in website which make the website look more amazing and attractive.**

🎯 **Goal**
 Adding dark made will make the user to a have choose to have different mode according to them.

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull reque

[2020-11-04 06:01] chnuessli commented on #33742
Do you know the right link?

[2020-11-04 06:54] Dhairya3124 commented on #34515
Can you assign this issue to me?

[2020-11-07 22:17] Roshanjossey commented on #34357
The pull request referenced is merged. Closing.

Thank you @Ayush-Kaushik

[2020-11-07 22:17] #34357 closed

[2020-11-07 22:17] Roshanjossey commented on #27741
Punjabi translation is merged now. Closing.

[2020-11-07 22:17] #27741 closed

[2020-11-07 22:31] Roshanjossey commented on #34353
@dr0017, could you give us more details?

[2020-11-07 22:33] Roshanjossey commented on #34301
@JayantGoel001 , @SARVESHKHANDELWAL I've sent invitations for both of you.

[2020-11-07 22:33] #34301 closed

[2020-11-07 22:35] Roshanjossey commented on #34515
Hi @SARVESHKHANDELWAL, could you please open this issue in https://github.com/firstcontributions/firstcontributions.github.io/issues as that's the repo for website?

Also, if you're interested in taking it up, add details on what needs to be done and how to achieve it.

[2020-11-07 22:35] #34515 closed

[2020-11-08 14:21] Roshanjossey commented on #33225
@puerdon, it's not just a safety check. Sometimes you need to sync your fork with with parent to get the latest changes.

yes. That's correct.

I'm closing this issue as it's a question and we don't have to make any changes.

[2020-11-08 14:21] #33225 closed

[2020-11-08 14:23] Roshanjossey commented on #32675
Now that this year's Hacktoberfest is over, I'm closing this issue.

If next year's Hacktoberfest also has same rules as now, let's reopen this issue to answer any questions that might arise then and to have discussions.

[2020-11-08 14:23] #32675 closed

[2020-11-08 15:51] lukeocodes commented on #32675
Great job @Roshanjossey :)

[2020-11-08 19:02] Roshanjossey opened #34612 "Use assets from assets repository"
With https://github.com/firstcontributions/first-contributions/issues/32256, We've moved assets we need in our tutorials to https://github.com/firstcontributions/assets. Now we should use them.

🎯 **Goal**
Replace usage of assets in this repository to assets repository to reduce the size of this repo.

💡 **Possible solutions**

Following the files in which you have to change asset URLs

- [ ] http

[2020-11-08 19:08] Roshanjossey commented on #32256
We've copied the necessary assets to assets repository in #34612.

Next step is to change URLs.

Closing this.

[2020-11-08 19:08] #32256 closed

[2020-11-10 02:39] EugeneGohh opened #34662 "Review back Malay translation"
* Broken image on Malay translation (README.my.md)

![Broken-image](https://user-images.githubusercontent.com/64187129/98620932-355bff00-2341-11eb-8669-a7b79a11d59f.png)

@RezaPurut

[2020-11-10 12:00] quentincaffeino opened #34676 "Flags in official github mobile android app are giant and causing device to lag."
![Screenshot_20201110-125851.jpg](https://user-images.githubusercontent.com/2855777/98671431-87f2e680-2354-11eb-8d97-370a21ec3023.jpg)

[2020-11-10 12:08] Roshanjossey commented on #34676
Oh, no!

I'll look in to this.

[2020-11-10 15:53] PranavBhattarai commented on #4123
@sara-02 What's wrong with mine?!
![Screenshot from 2020-11-10 21-34-13](https://user-images.githubusercontent.com/32763112/98697391-fb204b00-239c-11eb-80a6-d0a8925f6541.png)

[2020-11-10 18:19] satyabansahoo2000 opened #34688 "Add Odia translation"
Adding one more Indian Language(Odia)

🐞 **Problem**

🎯 **Goal**

💡 **Possible solutions**

I will translate the readme to my native language (Odia)
📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in comments se

[2020-11-11 07:34] RezaPurut commented on #34662
I have created a PR for this. #34712

[2020-11-11 10:39] BIGALTHUMPER commented on #34688
Translation

[2020-11-11 10:41] BIGALTHUMPER commented on #34688
Pull request

[2020-11-11 11:03] BIGALTHUMPER opened #34722 "> One star, one female one male all brought into the cosmos with only one Goal . A tale of one’s journey to find the truth, base on the real life of BIGALTUMPER. With all the usual and some not usual character. Kings and Queens, Princess and Pesrnts And demons and Angels nights of golden shield. Stage takes place here and not but everywhere."
BIGALTHUMPER Peasant author

_Originally posted by @BIGALTHUMPER in https://github.com/firstcontributions/first-contributions/pull/32819#issuecomment-725357794_

[2020-11-11 11:26] EugeneGohh commented on #34662
Thank you, I will try and work it out and solve the problems.

[2020-11-11 12:06] Roshanjossey commented on #34722
Not sure what's going on here.

Closing this assuming it as spam

[2020-11-11 12:06] #34722 closed

[2020-11-11 12:07] Roshanjossey commented on #34688
@BIGALTHUMPER, please don't spam here. If you continue it, we'll have to ban you from here.

[2020-11-11 12:09] Roshanjossey commented on #33742
I've created an updated link https://join.slack.com/t/firstcontributors/shared_invite/zt-iywfifau-_aMtdwTjBoMzQqzW8~YUUA

[2020-11-11 12:49] omsali commented on #34612
Hey I'm newbie can anybody assist me

[2020-11-11 12:51] omsali commented on #34612
I'm desperate to learn about open source project and all related.

[2020-11-11 12:56] fuadop commented on #34612
Can I work on this?

[2020-11-11 13:21] chnuessli commented on #33742
https://github.com/firstcontributions/first-contributions/pull/34729

Created a PR on the README.md

At github.io this link isn't fixed.

[2020-11-11 13:24] Roshanjossey commented on #34612
@omsali, would you like to work on this issue? Do you understand what are the changes we need here?

Can you tell me what you know, what you don't know and where you need help?

[2020-11-11 13:24] Roshanjossey commented on #34612
@fuadop, sure. Go ahead.

[2020-11-11 13:29] Roshanjossey commented on #33742
#34729 is merged. Thank you @chnuessli. Could you fix it for firstcontributions.github.io as well?

[2020-11-11 13:36] chnuessli commented on #33742
@Roshanjossey Thank you, yes i will do.

[2020-11-11 14:41] fuadop commented on #34612
@Roshanjossey, thanks. I will make a PR soon.

[2020-11-11 15:33] chnuessli commented on #33742
@Roshanjossey https://github.com/firstcontributions/firstcontributions.github.io/pull/160 created.

[2020-11-11 15:50] Roshanjossey commented on #33742
Merged. Thank you @chnuessli

[2020-11-11 16:06] chnuessli commented on #33742
Issue is fixed with #34729 and firstcontributions/firstcontributions.github.io#160

[2020-11-11 16:06] #33742 closed

[2020-11-11 16:29] DEATHLIGHTxxx opened #34735 "Deathlight"

[2020-11-11 18:18] Roshanjossey commented on #34735
Okay

Closing

[2020-11-11 18:18] #34735 closed

[2020-11-12 06:15] omsali commented on #34612
@Roshanjossey ,Yes I would love to work on this issue.
But how would I start .
I'm known with git , a c++ programming language.

[2020-11-12 08:51] Roshanjossey commented on #34676
I've written to `mobilefeedback+android@github.com` about this bug.

[2020-11-12 10:23] Roshanjossey commented on #34612
@omsali,

1. Go through the tutorial in the Readme of this repository and learn how to create pull requests.
2. Read the description of this issue again and try to understand it.
3. Tell me what you understand about what needs to be done.
4. Tell me if there is something blocking you at that point or if there's something you don't understand.

Can you do that?

[2020-11-12 15:00] naumanarif21 opened #34776 "Flags are causing issue in content consumption."
Using GitHub mobile app and flags are making it difficult to scroll to the content.
Small sized flags would be better.

[2020-11-12 15:27] Roshanjossey commented on #34776
Duplicate of https://github.com/firstcontributions/first-contributions/issues/34676

[2020-11-12 15:27] #34776 closed

[2020-11-12 15:31] Roshanjossey commented on #34676
More detail on this.

We're using `<img title="Shqip" alt="Shqip" src="https://cdn.staticaly.com/gh/hjnilsson/country-flags/master/svg/al.svg" width="22">`

to render flags. Looks like GitHub Mobile app doesn't work well with `width` attribute of `img` tag. As the images are SVGs, they take up maximum width.

GitHub mobile is still in it's early days. We can hope that they'll fix this issue soon.

[2020-11-12 16:58] Savagemikey92 opened #34781 "Savage"
MIT License Copyright (c) [2020] [MichaelMiller] Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons

[2020-11-12 18:51] omsali commented on #34612
@Roshanjossey
Thankyou sir.
 I will try my best.

[2020-11-12 19:44] Roshanjossey commented on #34612
Please call me Roshan. You don't have to call anyone 'sir' here

[2020-11-12 20:48] Roshanjossey commented on #34781
Closing as spam

[2020-11-12 20:48] #34781 closed

[2020-11-12 21:59] brianlovin commented on #34676
I've flagged this for our engineering team, thanks for the prompt report to our support email!

[2020-11-13 05:07] akshitagupta15june opened #34793 "Request for joining the organisation"
I would like to contribute in the organisation.
Would be happy to join the organisation.

[2020-11-13 07:49] #34662 closed

[2020-11-13 10:23] Roshanjossey commented on #34676
Awesome. Thank you @brianlovin :heart:

[2020-11-13 10:27] Roshanjossey commented on #34793
I've sent you an invite

[2020-11-13 10:27] #34793 closed

[2020-11-13 21:39] DanielleInkster commented on #34612
I had a go at this. I changed the compare-and-pull and submit-pull-request from the main ReadMe and made a pull request. @Roshanjossey, can you please confirm if I've done it correctly?

[2020-11-14 13:54] SoloNoah opened #34826 "Refine README.hb (Hebrew)"
🐞 **Problem**

- README.hb could use some improvements and change the wording here and there.
-

🎯 **Goal**

- Make it easier for Hebrew speaking beginners with understanding how to contribute.

💡 **Possible solutions**

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments -

[2020-11-14 13:54] SoloNoah commented on #34826
I've started working on this issue (#34826).
Would love to get reviewed by hebrew speaking once I'm done.

[2020-11-15 21:30] Roshanjossey commented on #34612
@DanielleInkster, yes. I've merged your pull request.

[2020-11-16 09:22] Roshanjossey commented on #34353
Closing this as there hasn't been any updates. Feel free to open again with comments explaining the problem

[2020-11-16 09:47] #34353 closed

[2020-11-16 13:15] riturajjain2000 opened #34861 "Request for joining the Organization"
Hello, my name is Rituraj. I am from India.
I would like to join this organization.
I love to contribute to open source and will love to contribute to this organization.
Please add me to your organization.

[2020-11-16 13:55] sara-02 commented on #4123
Hey @PranavBhattarai Did you make some changes on the GitHub edits itself before you made changes offline?
A rebase with your origin(which should point to your fork should solve the issue.)

[2020-11-16 18:46] Roshanjossey commented on #34861
I've sent you an invite.

[2020-11-16 18:46] #34861 closed

[2020-11-20 03:59] An-prog-hub opened #34934 "Add me to the organization"

[2020-11-20 11:51] An-prog-hub commented on #34934
Is someone is here ??????

[2020-11-20 12:34] Roshanjossey commented on #34934
I've sent you an invite

[2020-11-20 12:34] #34934 closed

[2020-11-20 22:25] george-21 commented on #34612
I tried to replace 2 links. @Roshanjossey please review my PR # 34955

[2020-11-21 20:21] Roshanjossey commented on #34612
Thanks to #34612 by @DanielleInkster, most of the asset URLs are replaced. Thank you.

I think the rest of the assets that needs to be updated are in tutorials with GUI tools.

@george-21, I see that in #34955, you worked on changing assets for a  GUI tutorial. Did you have trouble finding other asset URLs?

[2020-11-22 17:39] jbryan11 commented on #34612
@Roshanjossey can I work on this too?

[2020-11-23 04:21] Devedunkey opened #34997 "Edit README.ko.md"
🐞 **Problem**
Image tag does not render because alt in Korean is added.

🎯 **Goal**
Bug fix

💡 **Possible solutions**
change its alt from Korean to English

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `Addresses #<put issue number here>`
*   Ask for reviews in com

[2020-11-23 10:40] george-21 commented on #34612
@Roshanjossey no I did only two links just to try out the whole PR procedure since I am new in Git

[2020-11-23 12:02] Roshanjossey commented on #34612
@jbryan11, I've left comments on your pull request.

[2020-11-25 11:37] Matcheryt opened #35042 "README.pt-pt.md fork image not displaying correctly"
🐞 **Problem**
Fork image isn't displaying correctly

🎯 **Goal**

Make image display correctly

💡 **Possible solutions**

Add a space between src and alt, also add two <br> tags so the image stays below the title line

📋  **Steps to solve the problem**

*   Comment below about what you've started working on.
*   Add, commit, push your changes.
*   Submit a pull request and add this in comments - `A

[2020-11-25 12:05] #35042 closed

[2020-11-25 14:48] Lokesh-Jawale commented on #34612
I am new to open source can anyone please tell me
how to work on this?
can i work on this or not ?

[2020-11-25 14:57] Roshanjossey commented on #34612
From what you read so far, what do you understand? What don't you understand?

You can work on this.

[2020-11-25 16:48] Lokesh-Jawale commented on #34612
@Roshanjossey I have changed the urls and generated a pull request
Can you please review it.

[2020-11-25 17:02] Lokesh-Jawale commented on #34612
[https://github.com/firstcontributions/first-contributions/pull/35051](Addresses #35051)

[2020-11-25 17:03] Lokesh-Jawale commented on #34612
[Addresses #35051 ](https://github.com/firstcontributions/first-contributions/pull/35051)

[2020-11-25 17:20] thiagu89 opened #35054 "Add the step for the 'git remote add'"
🐞 **Problem**
When we do a push command , we need to do a "git remote add <>" otherwise this will fail. This is missing in the "Readme.md"

🎯 **Goal**
This will benefit the user who performs the first contribution

💡 **Possible solutions**
Modify the "Readme.md"

[2020-11-25 17:31] Roshanjossey commented on #35054
When you clone, remote origin gets set with the cloned URL. You don't have to add in again.

[code]

[2020-11-25 18:09] thiagu89 commented on #35054
Hi,
It was not actually working for me, then done
_"$ git remote add orgin https://github.com/thiagu89/first-contributions.git"_

[2020-11-25 18:29] Roshanjossey commented on #35054
Did you get any error while cloning?
Do you have any config about remotes?
Can you try again to see if you can reproduce this error?
Does it happen to other repos?

[2020-11-27 06:40] mancku commented on #30973
Hi @Sergih28,

Can I help in here? Ja vaig fer algunes petites correccions al readme.ca, però podria anar més enllà si tinguès clar amb quin estil ha d'estar el text. A les meves correccions vaig fer servir el plural, perquè era com estava fet el document (disposeu, feu, cloneu...) però els títols no. Potser podria unificar-ho tot, per exemple.

Thanks!

[2020-11-28 15:46] anirudh123456197 commented on #10823
hey can I work on this?

[2020-11-30 04:44] tstariqul commented on #34997
Can I do this work?

[2020-11-30 04:52] dilipkn007 commented on #34075
I am a newbie. I understood the solution to this issue. But don't know how to proceed from here.

### 👇 these are my questions
- In which branch I should commit.
- how these issues work.

[2020-11-30 06:39] Devedunkey commented on #34997
It was merged. Thanks.

[2020-11-30 06:39] #34997 closed

[2020-11-30 06:40] Devedunkey commented on #34997
It was merged 👍 Thank you though.

[2020-11-30 10:15] Roshanjossey commented on #34075
As a part of https://github.com/firstcontributions/first-contributions/issues/34612, most of the images were updated. So, this issue might be solved. @Rhitabrat, could you confirm?

@dilipkn007, as your questions are general and would apply to all issues, I'll answer here.

Create a new branch yourself when working on your changes. `git checkout -b branch-name`

Could you rephrase the question or

[2020-11-30 10:58] Rhitabrat commented on #34075
Yes, `src` for all the images on readme files are updated with [https://github.com/firstcontributions/assets](new repo).
However, @dilipkn007 may change those images because all those images do not have the same shadowing and they are of low quality.

[2020-11-30 11:22] Roshanjossey commented on #34075
@Rhitabrat, could you be more specific of which images you're referring to? I'm assuming that it's not all of them.

[2020-11-30 11:50] Rhitabrat commented on #34075
@Roshanjossey
Images with shadows on four sides:

1. [submit-pull-request.png](https://github.com/firstcontributions/assets/blob/master/Readme/submit-pull-request.png) `poor quality`
2. [compare-and-pull.png](https://github.com/firstcontributions/assets/blob/master/Readme/compare-and-pull.png) `poor quality`

Images with shadows on three sides:
1. [fork.png](https://github.com/firstcontributions/a

[2020-11-30 12:20] Roshanjossey commented on #34075
This is not a problem for the images mentioned. The idea of shadows is for the assets to stand out from the background. For the images with shadows on three sides, I took inspiration from material design. I think it looks good and does stand out from the background.

[2020-12-02 13:33] Varuns77 commented on #34612
hey, I am a newbie
I want to work on this issue
Can anyone assist me?

so far what I understand is I have to change the src of the given links, right?

[2020-12-02 17:31] shadabk92 commented on #34612
@Roshanjossey this issue #34865 is resolved completely by me and I have created a pull request

[2020-12-02 18:13] Roshanjossey commented on #34612
@Varuns77,

Yes, that's correct. Read through the comments in this thread again. Go to the pull requests, look at the changes, see my review comments. You'll learn more there.

Ask us if you have questions.

[2020-12-03 20:36] Varuns77 commented on #34612
@Roshanjossey
what changes you want me to look at, can you explain me in detail?

[2020-12-04 05:20] anirudh123456197 commented on #34612
hi i am a newbie , i understand that v must reduce the size of the repo by using common codes where ever repeated
can I work on this?

[2020-12-04 09:45] Roshanjossey commented on #10823
Sure, go ahead :)

[2020-12-04 09:55] Roshanjossey commented on #34612
@Varuns77, I'm gonna give you an exercise. You'll have to learn some concepts on your own. I think it'll help you understand things better than me going in detail and explaining because I still don't know how much you know and what you don't know.

Follow the steps below
1. Go through the tutorial in the Readme of this project. Do it. Whenever you see terms that you don't know, search for it and t

[2020-12-04 09:57] Roshanjossey commented on #34612
@anirudh123456197 ,

That's incorrect. It's about changing image URLs we use in our tutorials.

[2020-12-04 13:01] Jens-Schoenegger opened #35228 "timed out slack group invites"
- The provided slack group invite link from the firstcontributions-bot is timed out
- The provided slack group invite link referenced at the README.md join-slack-team.png is timed out

the provided invite link in the "Where to go from here?" section works

🐞 **Problem**
the slack group is not easily accessible.

remember to use incognito mode in your browser to reproduce the issue, once you joined

[2020-12-04 20:09] Varuns77 commented on #34612
@Roshanjossey
Thank you for this explanation. I will do my best

P.S - step 1 completed :)

[2020-12-07 17:16] ChinmayMhatre commented on #35054
I would like to contribute

[2020-12-07 17:24] Roshanjossey commented on #35054
@thiagu89, I'm closing this as there was no update. Feel free to open if you have any concern.

[2020-12-07 18:33] dilipkn007 commented on #34612
Is this issue cleared?

[2020-12-07 19:44] dilipkn007 commented on #34612
@Roshanjossey
can you review my pr

[2020-12-08 04:20] SANAZDANESHVAR commented on #35228
#35228
 #35228
 I have fixed slack link in  readme.md file  Addresses #<32228>
i made a pull request please review it

[2020-12-10 20:06] sara-02 commented on #11007
@Roshanjossey Do we still need this to be open?

[2020-12-11 18:15] nikhilreddyx commented on #35054
@Roshanjossey  anyway adding one step of adding remote will be beneficial to new contributors.
i want to fix this issue. how do i get access.

[2020-12-12 08:06] BobinMathew opened #35399 "A quick tip to find name after contribution for beginners"
🐞 **Problem**
Finding your name after contribution might be a little bit time consuming for some beginners.

🎯 **Goal**
To find name in Contributors.md quickly.

💡 **Solution**
A quick tip to find name after contribution in the Contributors.md
- click ctrl+f
- type name in search bar.

[2020-12-12 08:17] YosephKS opened #35400 "Adding tutorials for managing PR through GitHub CLI"
🐞 **Problem**

After GitHub released GitHub CLI, it is becoming much easier and seamless for developer to work with GitHub without needing to access the website. In the future, it is expected that GitHub CLI will be used by more developers to not only do basic repositories management, but possibly some automation. Therefore, it is important to include a brief documentation for first contributors t

[2020-12-12 08:19] YosephKS commented on #35400
P.S. For the maintainers of this repository, you can add me as an assignee for this issue. I am a first time contributor for this repository and I believe the changes I proposed will benefit first time open source contributors in the long run.